[2018-08-11 18:20] #406 closed, assigned to mikepenz

[2018-08-11 18:30] mikepenz commented on #408
will be in the next release, sorry did not make it into this one

[2018-08-11 18:30] #408 closed

[2018-08-12 11:26] devgianlu opened #409 "Library `appintro` appears 3 times"
## About this issue

I'm using the library [apl-devs/AppIntro](https://github.com/apl-devs/AppIntro), but it is listed 3 times in the about libraries list.

![s80812-132655](https://user-images.githubusercontent.com/14827249/44001508-c37801f2-9e33-11e8-9abb-cdc08a0ccf2e.jpg)

[code]

` #withExcludedLibraries()` is called passing an empty array in this case.

## Details
- AboutLibraries 2.3.0
- And

[2018-08-12 18:27] devgianlu commented on #409
I created an helper class that I use on some of my projects. Actually, it is open source: https://github.com/devgianlu/CommonUtils/blob/master/utils/src/main/java/com/gianlu/commonutils/Preferences/BasePreferenceActivity.java [here around line 180](https://github.com/devgianlu/CommonUtils/blob/master/utils/src/main/java/com/gianlu/commonutils/Preferences/BasePreferenceActivity.java)

[2018-08-13 11:53] akallabeth opened #410 "LibraryVersion from BuildConfig"
## About this issue
Currently the library version is read from a resource string in an XML file.
Would be nice to read it from the `BuildConfig` of the library itself, as that is always up to date.

[2018-08-18 14:51] mikepenz commented on #409
Oh wait. I just saw it. you use aboutlibraries `2.3.0`?

Tried this with the latest version of the aboutLibraries and everything works perfectly.

Please update to the latest release to get all the newest bugfixes

[2018-08-18 14:51] #409 closed

[2018-08-18 14:56] mikepenz commented on #410
Interesting idea for an enhancement.

This will require though that the reflection automatically finds the `BuildConfig` which might not work as we don't necessarily know the `applicationId` we could adjust the definition files, but that would result every single file to be adjusted.

I would still hope that we can figure out a compile time approach, which would detect included libs based on the g

[2018-08-19 08:40] devgianlu commented on #409
Somehow, I've written it wrong, I'm using version 6.1.1.

[2018-08-19 08:42] mikepenz commented on #409
Hmm I tried with the latest version including that lib and couldn't
reproduce it in the sample.

Not sure. Could you modify the sample to showcase the issue please?

On Sun, Aug 19, 2018, 10:40 AM Gianlu <notifications@github.com> wrote:

--
Mike Penz
__________________________________________
*Mike Penz*
Android | Backend | Open Source
mikepenz.com

[2018-08-28 08:14] pawegio opened #412 "Crash during pre-launch report on license description click"
## About this issue

I've just received latest Google Play pre-launch report resulting with crash on license description click. I was unable to reproduce it on my test devices. Any thoughts?

[code]

The way I use `LibsBuilder`:

[code]

## Affected devices:
1. Moto G4 Play (6.0.1)
2. Pixel 2 (9.0)

## Details
- Used library version: 6.1.1
- Used support library version: 27.1.1
- Used gradle build

[2018-08-28 08:17] mikepenz commented on #412
@pawegio seems to me like the generic check in the play pre-launch report has some sort of bug, trying to click something in the recyclerview which is not where it expects it :D

[2018-10-16 11:13] jpstotz opened #416 "Insecure HTTP URLs in definition files"
A large number of libraries AboutLibraries includes definition files contain insecure HTTP links instead of HTTPS even to targets like github.com or github.io which are known to support HTTPS.

Please update those files as HTTP links are insecure and can be abused by an attacker e.g. to perform a Phishing attack or may be even to compromise the Android device.

Furthermore I would recommend to cre

[2018-10-25 08:28] athkalia opened #418 "Providing a bit more customization on the default activity"
Hello, I am wondering if it would be possible to customize the following in the default activity of the library:

a) The activity title colour
b) The shadows of the card views
c) Having round edges in the cards

Please let me know of your thoughts!

Thanks,
Sakis

[2018-10-27 10:29] mikepenz commented on #416
I have updated the 2 def files with non secure github links and updated the def file builder.
I can't update all other urls though as it would require to check every single page if the https link would resolve.

I will keep an eye on new definition files for the future to ensure the links are https

[2018-10-27 10:29] #416 closed

[2018-10-27 10:29] mikepenz commented on #416
Thank you very much for the issue

[2018-10-27 10:32] mikepenz commented on #418
@athkalia you can theoretically use the `Libs` class directly and build your own fully custom UI, which will give you all the control.

Right now the default style can be adjusted for the activity.
You can use `withActivityTheme()`
https://github.com/mikepenz/AboutLibraries/blob/develop/app/src/main/java/com/mikepenz/aboutlibraries/sample/ExtendActivity.java#L19
https://github.com/mikepenz/AboutLi

[2018-10-27 11:02] jpstotz commented on #416
I am sorry but just replacing github links is not what I had in mind. You even missed most of the github links as you have not changed github.io links.

Therefore I am a bit dissatisfied with your response. I extracted the http urls from the XML files and tested them with a little script for https availability for each url.

The following URLs are available via HTTPS and therefore should be update

[2018-10-27 11:08] mikepenz commented on #416
I'm always happy to merge any PR to further improve this.

I did a search and replace for GitHub links if it missed some, I'm sorry.
Seems the ide fooled me in that case.

On Sat, Oct 27, 2018, 1:02 PM Jan S. <notifications@github.com> wrote:

--
Mike Penz
__________________________________________
*Mike Penz*
Android | Backend | Open Source
mikepenz.com

[2018-10-27 11:38] jpstotz commented on #416
You wrote:

I solved this problem for you. IMHO it is now up to you - I already prepared everything for you for fixing this vulnerability.

[2018-10-27 12:06] mikepenz commented on #416
Don't take me wrong. I appreciate that you used your script to provide https links.

After all, this is an open source project. Feel free to open a PR to improve things. I am more than happy to merge, great additions. If you do not like the project itself you can also always fork and have your own fork with your own changes.

I do this all in my freetime. It takes a lot of time and effort to suppo

[2018-10-29 17:57] athkalia commented on #418
Hi @mikepenz , I can set the activity theme but i can't customize the card theme cause the card has no default style set. If you set a custom style for the card view then I can override it I guess.

[2018-10-29 17:57] athkalia commented on #418
I was only able to set the toolbar title text colour via `android:textColorPrimary`

[2018-11-23 10:04] mikepenz commented on #418
I'd be happy to take a PR to improve this. Perhaps having proper styles for the different components which can then be changed in people's themes.

Sorry for the late answer

[2019-01-02 20:48] Aulioparedes opened #420 "Celular"
## About this issue

- Briefly describe the issue
- How can the issue be reproduced / sample code

## Details
- [ ] Used library version
- [ ] Used support library version
- [ ] Used gradle build tools version
- [ ] Used tooling / Android Studio version
- [ ] Other used libraries, potential conflicting libraries

## Checklist

- [ ] Searched for [similar issues](https://github.com/mikepenz/AboutLi

[2019-01-02 22:19] #420 closed

[2019-01-12 08:53] fei0316 opened #421 "Autodetect not working (?)"
Working on my first ever Android app, super sorry for silly mistakes...

I wanted the fragment to show the name and licenses for all libraries I have used in my app, which Google's `OssLicensesMenuActivity` is able to do. I don't really mind to have no description or other details. I used this code to generate the fragment and is included in an activity:
`LibsFragment fragment = new LibsBuilder()

[2019-01-12 13:20] mikepenz commented on #421
The one from google uses the maven POM description info during compile time, and will generate a file which then shows up. in the past tests it missed a lot of libraries. But they do great progress so at some point it might replace this lib.

Well some libraries might not have the classPath defined, as such it can not try to find it.
Also if you have proguard it won't be able to find them.

Which

[2019-01-12 14:59] fei0316 commented on #421
If all libraries referenced in gradle should appear, then floating action button, material number picker, Android switch date time picker, as well as some more AOSP libraries are missing, despite some of them being defined in the xmls. Only material tap target and your libraries show up.

Proguard is disabled (minify not enabled, and I'm building debug apks)

What could be the problem? Also how do

[2019-01-16 06:00] fei0316 commented on #421
A little update... I found out what you mean by "id" and it worked by manually including the missing ones, but only when it's included in `AboutLibraries`. So I have to create my own if some libraries I used are not included?
Also, I still don't have a clue as to what happened to autodetect...

[2019-01-16 12:20] mikepenz commented on #421
If a library is not available in the definitions a PR would be highly appreciated to add the details.

Yeah as mentioned auto detect works only if it can detect the class file at runtime, anything which makes the class file being named differently, or a change in it, or missing definition of it will result in auto detection not able to detect it.

Also another thing which sometimes happens: The `R

[2019-01-18 22:57] fei0316 commented on #421
Found the problem...
One included definition file for a library is old and does not include a classpath, therefore it cannot be updated. My custom-made definition files and included ones with classpath worked flawlessly.
Thank you very much for your help, turned out there is nothing wrong with the library.
I will be making a PR for my custom files.

[2019-01-18 22:57] #421 closed

[2019-01-18 23:11] mikepenz commented on #421
Thank you so much :)

Sorry for the difficulties.

[2019-01-24 21:17] mbiebl opened #426 "missing library definitions for gpl 2/3"
I was looking for library definitions for gpl 3.0 and gpl 2.1 but it seems AboutLibraries is missing those.
Would be nice if those were added by default.

[2019-01-24 21:22] mbiebl opened #427 "library and author names are shortened too aggressively"
I was trying to add a section like this:
[code]
(cert4android is gpl 3.0, but see #426, so for testing purposes I chose lgpl_3_0)

The result is the attached screenshot:
![screenshot_1548364538](https://user-images.githubusercontent.com/3609611/51709294-45003b80-2026-11e9-8f30-250fba8c9b78.png)

As you can see both the name of the main author: "Bernhard Stockmann" is shortened to "Bernhard" for no

[2019-01-24 21:43] mikepenz commented on #426
you can open a PR to add them similar to the LGPL license which are already provided: https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/license_lgpl_2_1_strings.xml

[2019-01-24 21:50] mikepenz commented on #427
Right now there is a a 70% area for the title and a 30% area for the right part
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/listitem_opensource.xml#L32

and 50:50 for the bottom:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/listitem_opensource.xml#L89

[2019-01-25 07:44] mbiebl commented on #426
will do. thanks for the quick reply

[2019-02-03 16:32] mbiebl commented on #426
Anyway, thanks for still being open to accept a fix for it.
I'm a bit undecided what to do about the license name wrt #427.
I see a couple of options here
a/ Set licenseName to `GPL 3.0` instead of spelling it out
b/ Introduce a shortLicenseName field (which would require a more elaborate code change
c/ Don't shorten the license name to 50% but give it all available space

Wdyt?

[2019-02-03 16:35] mikepenz commented on #426
I can reopen if you prefer.

Hmmm well it highly depends on the configuration. theoretically 100% are available if the version is not shown. it always depends on the configuration in the end :/

[2019-02-03 16:48] mbiebl commented on #426
Would a layout like this be an option?
-----------------------------
library name (*)
-----------------------------
authors
-----------------------------
description
-----------------------------
license
-----------------------------

*) If a library version has been set, it's added in brackets, all fields span 100%

[2019-02-03 16:53] mbiebl commented on #426
That said, discussing the specific UI changes should probably move over to #427

I just wanted to know which route I should take when preparing the PR, i.e. use a shortened license name like `GPL 3.0` or spell it out and hope #427 get's fixed one way or another.

[2019-02-03 17:00] mikepenz commented on #426
@mbiebl I am not sure if the layout would look good with so many sections under each other. also it will make them a lot higher than before.

But yes you are right. the ui discussion should be on the other ticket.

I suppose using `GPL 3.0` would be in general better. if clicked and the full description is opened that would show the full name then I guess.

[2019-02-08 19:56] #426 closed

[2019-02-08 20:04] mikepenz commented on #427
btw. you can also just overwrite the `listitem_opensource.xml` layout (this works still, at some point in the future the build tooling will prevent overwriting for resources (but at that time I will need to introduce an API to do so))

So you could for example put the creator under the libraryName. have it 2 lined. and change horizontal of the container to vertical

[2019-02-08 23:27] mbiebl commented on #427
Thanks for that information. Still, I somehow think that AboutLibraries should by default make better use of the available space. In the example above, there would be more then enough space to list both names in full.

[2019-02-11 10:56] tariqul-islam1 commented on #409
Hey @devgianlu, can you please write how you resolved the issue? I have exactly the same issue.

[2019-02-11 13:12] devgianlu commented on #409
I've did nothing. It fixed itself after some time.

[2019-04-14 11:58] johnjohndoe opened #431 "Clarify support library version in release notes"
## About this issue
- I figured that the release notes can be a bit clearer about when the support library version on which your library depends on is raised.

## Details
- I was about to integrate your library in my project while still depending on support library 26+. Therefore, I looked into your release notes to find out which is the maximum version of _AboutLibraries_ which has been released

[2019-04-14 12:01] johnjohndoe commented on #55
@mikepenz Did you implement auto detection meanwhile? I ask because the [ProGuard section](https://github.com/mikepenz/AboutLibraries#proguard) of your README.md mentions "...  enable the libraries auto detection".

[2019-04-14 13:18] mikepenz commented on #55
I started looking into doing it during compile time based on the dependency, but I could not resolve the problem with transitive dependencies.. https://discuss.gradle.org/t/resolve-transitive-dependencies/30534

[2019-05-06 19:59] ComanderKai77 opened #432 "Prevent orientation change"
Is there a way to force the activity to stay in portrait mode?

[2019-05-06 20:02] mikepenz commented on #432
@ComanderKai77 you could define that by setting the activity in your manifest and defining its screen orientation

[2019-05-06 20:06] ComanderKai77 commented on #432
`<activity
            android:name=".Activity"
            android:screenOrientation="portrait" />`
I have to specify it for every activity, because the name attribute is mandatory.
So what should I use as activity name?

[2019-05-06 20:07] mikepenz commented on #432
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/AndroidManifest.xml

[2019-05-06 20:13] ComanderKai77 commented on #432
That worked. Thank you so much.

[2019-05-06 20:13] #432 closed

[2019-06-08 18:43] mikepenz commented on #431
Yes I really understand this.

The whole situation is now a bit different luckily due to androidX.

What I highly suggest always is to have a resolution strategy and have the version you require specified in your app to ensure only this one you require is used.

https://github.com/mikepenz/AboutLibraries/blob/develop/app/build.gradle#L87

I will outline the dependent androidX dependencies in the R

[2019-06-08 18:44] mikepenz commented on #427
Thank you so much for the feedback. I think for the standard it is ok so far. I will potentially revisit this in the future.

[2019-06-08 18:44] #427 closed

[2019-06-08 18:45] mikepenz commented on #418
Closing as no further communication. Please still consider a PR to improve things like this :)

Thanks a lot

[2019-06-08 18:45] #418 closed

[2019-06-08 18:47] mikepenz commented on #410
I was trying to look into a compile time approach via a gradle plugin. Sadly I came to a blocker:
https://discuss.gradle.org/t/resolve-transitive-dependencies/30534

Closing this ticket as the Buildconfig approach will most likely not be used.

Will still investigate further though to somehow be able to collect all the dependencies at dependency resolution time in gradle which should make it a lot

[2019-06-08 18:47] #410 closed

[2019-06-10 21:08] johnjohndoe commented on #431
Thank you for your response. You linked to the HEAD of the repository when you wrote your comment. Since then the build.gradle file has been modified. I believe you were linking to this [`configuration` block](https://github.com/mikepenz/AboutLibraries/blob/fbd8dcbe5c61cd7f60dc9f6184c3ccbda28b6798/app/build.gradle#L87-L96) (?).

I however disagree with your suggestion to force a certain support li

[2019-06-10 22:22] mikepenz commented on #431
Yes I meant this block.

I guess with the new semantic versioning, it would be rather save to say to specify the major version which is needed, but minor and patch versions should not matter.

So I guess I should update this:

[code]

to

[code]

and if the readme specifies it like this you can jump to that particular readme state to see what major versions were required.

Oh you meant to adjust f

[2019-06-15 13:15] mikepenz commented on #431
Ok I won't add dependencies moving backwards. So for this case please just go to the tag and see which versions are specified in the root build.gradle.

But moving forward I will specify the major required version in the README and in the release notes to hopefully simplify and prevent conflicts

[2019-06-15 13:15] #431 closed

[2019-06-22 21:46] mueller-ma opened #433 "Build with version 7.0.0 failing"
## About this issue

When bumping this lib to 7.0.0 (https://github.com/openhab/openhab-android/pull/1391/files), the build fails with the following error:
https://travis-ci.org/openhab/openhab-android/builds/548876276#L1901

[code]

## Details
- [ ] Used library version: 7.0.0
- [ ] Used support library version
[code]
- [ ] Used gradle build tools version
- [ ] Used tooling / Android Studio versi

[2019-06-22 22:32] mikepenz commented on #433
I am not sure it sounds like something which happens when compiling with kotlin.

[code]

Should fix it

[2019-06-23 10:13] mueller-ma commented on #433
Thanks, that works. Can you add this to the library? Otherwise this must be fixed in every app that uses AboutLibraries.

[2019-06-23 19:44] mikepenz commented on #433
I don't think it will make a difference to add this line to the library. I can try though for the next update.

[2019-06-24 14:01] maniac103 opened #434 "Build warnings: 'string too large to encode using UTF-8...'"
## About this issue

As the title says, when building an app using this library the Android Gradle plugin emits the following warning:
`string too large to encode using UTF-8 written instead as 'STRING_TOO_LARGE'`

When checking the APK using the following command:
`aapt dump --values resources <PATH_TO_BUILT_APK> | grep -B 1 'STRING_TOO_LARGE'`
it looks like the culprit are the license texts ship

[2019-06-24 21:55] johnjohndoe commented on #431
Thanks for adding details to the README. I guess people can figure it out somewhat easier this way.

[2019-07-06 11:45] #433 closed

[2019-07-06 12:50] #434 closed

[2019-07-21 15:00] kaushalyap opened #436 "Update Wiki to have Kotlin version"
I am trying [this in wiki](https://github.com/mikepenz/AboutLibraries/wiki/HOWTO:-Custom)

I am having difficult time translating it to Kotlin

[code]
error: `Unresolved reference toStringArray`

casting also not successful

`var libs = Libs(applicationContext, R.string::class.java!!.fields as Array<String>)`

Please update the Wiki to have Kotlin version also

[2019-07-25 07:40] janwelocampo commented on #436
Hi,  you could try this code for Kotlin.

`val libs = Libs(this).prepareLibraries(this, emptyArray(), emptyArray(), true, true, true)`

I don't know if the current wiki is the latest one but based on what I read on the code, that should work.

[2019-07-26 04:31] kaushalyap commented on #436
Thanks for reaching out. code even list the libraries that I am not using. I think this uses some repo to get info. I think its better to do things manually, since there is not much to add.

[2019-07-26 04:31] #436 closed

[2019-07-26 04:35] kaushalyap commented on #436
Other than that I have to add following to app.gradle
[code]
to run the project which distort my fab colors

[2019-08-01 18:51] AlanInsam opened #437 "Please add https://github.com/GrenderG/Toastyand the corresponding LGPL license"
## About this issue
Please add the library
- Briefly describe the issue
- How can the issue be reproduced / sample code

## Details
- [ ] Used library version
- [ ] Used support library version
- [ ] Used gradle build tools version
- [ ] Used tooling / Android Studio version
- [ ] Other used libraries, potential conflicting libraries

## Checklist

- [ x] Searched for [similar issues](https://gith

[2019-08-01 19:02] AlanInsam commented on #437
License is LGPL 3.0 after including it manually, license text doesn't show up

[2019-08-09 14:47] kuhnroyal commented on #394
I am using something like this:
[code]
And use the `LibsBuilder` to set the argument.
It would be good if the provided fragments would be an `open class` so one can extend them.

[2019-08-09 14:55] kuhnroyal opened #438 "Add androidx/kotlin definitions"
Since this library is now based on AndroidX and Kotlin, it would probably be useful to include these definitions. Right now, not even the used/required AndroidX libs by the sample app are detected.

[2019-08-10 07:46] mikepenz commented on #437
Please follow the proper format to report an issue.

The identifiers for LGPL are either:
`lgpl_3_0` or `lgpl_2_1`

[2019-08-10 07:46] #437 closed

[2019-08-10 07:47] mikepenz commented on #438
I am more than happy to take a PR to add new definition files to the library :)

[2019-08-24 10:32] michalstodolny opened #439 "More than one file was found with OS independent path"
## About this issue
Given:
`implementation "com.mikepenz:aboutlibraries:7.0.2"`

When:
`./gradlew :app:transformResourcesWithMergeJavaResForDebug`

Then:
Exception is thrown:

Also, tried to exclude the file explicitely from packaging but then Material Drawer crashes in runtime:

    packagingOptions {
       exclude 'META-INF/library-core_release.kotlin_module'
    }
}

## Details
- Used library

[2019-08-24 14:50] motorro commented on #439
[Here](https://stackoverflow.com/questions/44509608/duplicate-files-copied-in-apk-meta-inf-library-release-kotlin-module) is the potential solution to the issue. The thing is kotlin compiler names it's metadata using the gradle module name. Thus having two libraries that were built from `library` folder in the same project may lead to conflict. I suggest to put something like this to `android` sec

[2019-08-26 07:09] mikepenz commented on #439
@motorro thank you. I will look into this

[2019-08-26 22:10] michalstodolny commented on #439
@motorro thank you for the solution proposal. I tried it but without success. Although now the file name is correctly prefixed upon packaging, the issue still persists. I can see it's caused by `AboutLibrary`'s dependencies:

- `com.mikepenz:iconics-core:4.0.0`
- `com.mikepenz:fastadapter:4.0.1`

![kotlin-module-issue](https://user-images.githubusercontent.com/10180716/63726834-b1624800-c85e-11e9-

[2019-08-27 05:25] motorro commented on #439
@michalstodolny, yes. That's the same issue since both libraries you mention have `library-core` modules. I wish kotlin had more sophisticated way to name their metadata by default but AFAIK there is no other way to overcome this other than:
1. Including the above mentioned option in a library project
2. Naming library modules in a `more unique way`

[2019-09-01 10:24] mikepenz commented on #439
@michalstodolny @motorro

I have updated the libs and published them with a more unique (POM-ID) kotlin-module name. so those conflicts should no longer happen.

[2019-09-01 10:24] mikepenz commented on #439
this is included in v7.0.3

Iconics 4.0.1-b02
FastAdapter 4.1.0-b02
(and will do the same for materialdrawer)

[2019-09-01 10:25] #439 closed

[2019-09-15 01:49] AllanWang opened #442 "LibsBuilder design"
After migrating to post 7.0.0, I have a lot of questions on the design.

Functions like extracting libs from fields seem to be internal now, and wrapped in `LibsBuilder`.

While there is a major rewrite, lots of functions within `LibsBuilder` look like legacy code. Is there a reason to add the `with` functions when most of the configs are already public and mutable?

Getting the items also seems t

[2019-09-15 02:37] AllanWang opened #444 "Add formatter"
Like FastAdapter, it would be nice to have consistent code formatting. Currently there are some very long lines that are not formatted

[2019-09-30 03:52] vlad-roid opened #445 "Library incompatible with Material Components 1.0.0 by default"
This library shouldn't be using non-stable Google libraries. Adding it broke all my colors and it took me a while to find out that the material:1.1.0-alpha is the culprit, which involves major theming related changes. The latest stable Material Components version is 1.0.0 while AppCompat is 1.1.0, which should be used here to prevent undesirable consequences.
Temporary solution if anyone else enco

[2019-09-30 07:03] mikepenz commented on #445
The changelog for v7.0.1 mentions that a v1.1.x version of the MDC is used:

https://github.com/mikepenz/AboutLibraries/releases/tag/v7.0.1

This is intended. Your workaround should be fine for this project. note for you or other uses. the MaterialDrawer v7.x requires MDC 1.1.x

[2019-09-30 07:03] #445 closed

[2019-09-30 07:09] vlad-roid commented on #445
I see, I suggest adding this to the readme, so new users like me can see it too :)

[2019-10-04 21:59] barnhill opened #447 "JDK7 dependency"
## About this issue
The build.gradle specifies source and target compatibility as Java 8 and this is one of the dependencies `implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk7:${versions.kotlin}"`

This should be changed to implementation `"org.jetbrains.kotlin:kotlin-stdlib-jdk8:${versions.kotlin}"`

https://github.com/mikepenz/AboutLibraries/blob/develop/library/build.gradle#L61

[2019-10-14 09:12] choryuidentify opened #448 "Weird scroll bug on Lollipop device"
## About this issue

I'm testing my application on Samsung Galaxy S4 Active, Lollipop.
When scrolling down and up, Randomly CardView getting padding.
I'm trying turn off Version and License, nothing changed. (.withVersionShown(false).withLicenseShown(false))

Video -> https://youtu.be/9TnfrEgZ_oo

## Details
- [ ] Used library version
    7.0.3
- [ ] Used support library version
    implementation

[2019-10-18 16:06] mikepenz commented on #448
hmmm I don't really know what could cause this :/

[2019-10-18 16:09] #447 closed

[2019-10-18 16:10] mikepenz commented on #442
yeah those `with` functions are mainly legacy code and face as backwards compatbility tools for java users.

You can also use directly the `Libs` class to get the data so that cas eis covered

[2019-10-18 16:54] mikepenz commented on #444
just checked. only 1 file has formatting issues according to the default code formatter in Android Studio (with a little bit longer line length)

Couldn't find more problems in the source code when applying doing format on all the classes

[2019-10-19 01:45] AllanWang commented on #442
I'll take a look again, but I think something was missing that prevented me from updating. I needed a function that takes in the r class and returned the lib models.

[2019-10-20 05:02] AllanWang opened #449 "Kotlin functions seem to be broken"
About Library v7.0.4.

I'm not sure how to explain it, but a bunch of kotlin features seem to be broken. I suspect that the files are somehow being linked to the java classes rather than the kotlin ones, given that each file has jvm file name specified.

For two examples:

`Libs.classFields` cannot be found even though it is in the source. The constants can be correctly referenced, though they can

[2019-10-20 05:13] AllanWang commented on #442
I guess the question was why it was kept here, whereas in FastAdapter things were fully refactored. As for the data models, Libs does fulfill my needs. For the sake of compatibility I guess there's no need to change it, but I believe returning fast adapter item lists would be better in the future than returning a new fast adapter.

[2019-10-20 05:13] #442 closed

[2019-10-26 03:25] tu-trankilo opened #450 "cc"
## About this issue

- Briefly describe the issue
- How can the issue be reproduced / sample code

## Details
- [ ] Used library version
- [ ] Used support library version
- [ ] Used gradle build tools version
- [ ] Used tooling / Android Studio version
- [ ] Other used libraries, potential conflicting libraries

## Checklist

- [ ] Searched for [similar issues](https://github.com/mikepenz/AboutLi

[2019-10-26 09:49] #450 closed

[2019-10-26 14:47] mikepenz commented on #449
hmmmm I have not seen this. sounds weird though. as no obfuscation is applied

[2019-11-03 18:32] mikepenz commented on #448
I can not seem to get it behave like this. Does it happen on other devices for you too?

[2019-11-03 18:33] mikepenz commented on #449
have you found anything regarding this?

[2019-11-04 09:21] choryuidentify commented on #448
Not really. I have Xiaomi Redmi Note 5 Pro (Android 9), and this device is ok.

Test it on Android Emulator and report back later!

[2019-11-05 09:26] choryuidentify commented on #448
Hmm... same behavior on emulator. I test the code on Genymotion 5.0.0 Lollipop device.

My code is
[code]

[2019-11-10 14:00] capoune86 opened #452 "Hmm... same behavior on emulator. I test the code on Genymotion 5.0.0 Lollipop device."
Hmm... same behavior on emulator. I test the code on Genymotion 5.0.0 Lollipop device.

My code is
[code]

![2019-11-05 18_26_53-Genymotion for personal use - Custom Phone (768x1280, 320dpi) - 192 168 205 101](https://user-images.githubusercontent.com/14815572/68195274-eaa2fb00-fff9-11e9-9f76-b46cbaafdb53.png)

_Originally posted by @choryuidentify in https://github.com/mikepenz/AboutLibraries/iss

[2019-11-10 14:01] #452 closed

[2019-11-10 14:02] capoune86 commented on #452
readme-edits

[2019-11-10 14:03] mikepenz commented on #448
I anybody has any clue why this might happen. I got none at the moment :/

[2019-11-10 14:04] mikepenz commented on #448
The item is a default constraint layout

https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/listitem_opensource.xml

[2019-11-10 14:07] capoune86 opened #453 "Backflash"
## About this issue

- Briefly describe the issue
- How can the issue be reproduced / sample code

## Details
- [ ] Used library version
- [ ] Used support library version
- [ ] Used gradle build tools version
- [ ] Used tooling / Android Studio version
- [ ] Other used libraries, potential conflicting libraries

## Checklist

- [x] Searched for [similar issues](https://github.com/mikepenz/AboutLi

[2019-11-10 14:09] capoune86 commented on #453
Duplicate of #

[2019-11-10 14:19] mikepenz commented on #453
Please follow the issue template

[2019-11-10 14:19] #453 closed

[2019-12-09 00:22] AllanWang opened #455 "Split project into non ui and ui elements"
It seems like about libraries can be used without the ui components, for those who wish to build it themselves. This also means that that section won't need to depend on appcompat, material, etc. If this is a matter of moving the non ui elements to library-core, perhaps we can look into that?

[2019-12-09 08:28] mikepenz commented on #455
Sounds like a great idea to me. Absolutely something we can and should do.

[2019-12-23 12:01] mikepenz commented on #449
Closing this due to inactivity.

I am still curious though if you found out anything regarding this, as I have not seen it nor do I have a clue what might cause this (the meta data is still there in the library just named differently)

[2019-12-23 12:01] #449 closed

[2019-12-23 12:18] #444 closed

[2019-12-23 12:19] mikepenz commented on #448
I am sorry but. could never find out this problem. nor reproduce :/

Most likely some problem in the RV or any other libryary

[2019-12-23 12:19] #448 closed

[2019-12-23 12:40] #455 closed

[2019-12-24 21:28] loko1389 commented on #438
Someone alludas me I still don't have much knowledge

[2019-12-24 21:29] loko1389 commented on #438
Please I would greatly appreciate it

[2019-12-26 23:38] AllanWang commented on #438
Fyi, assuming this is for the androidx "support version":

https://github.com/mikepenz/AboutLibraries/blob/b22abe6798960f4cdbd16d6a2243b40c5b74de98/library/build.gradle#L16

perhaps this should be replaced with `versions.appcompat`? There isn't a single androidx version

[2019-12-31 11:17] mikepenz commented on #438
Will be fixed with v8 :)

[2019-12-31 11:17] #438 closed

[2020-01-01 22:28] koral-- opened #458 "Library License not recognized"
## About this issue

License of `pl.droidsonroids.foqa:deviceinfo` is not recognized by AboutLibraries. Some other libraries e.g. Dagger are recognized properly.

On maven central both license name and url works correctly:
https://search.maven.org/artifact/pl.droidsonroids.foqa/deviceinfo

Usage:
[code]
Actual result:
![image](https://user-images.githubusercontent.com/3340954/71646889-2272aa00-2ce

[2020-01-01 22:58] koral-- opened #459 "Broken character encoding of library author name"
If default java character encoding during build is set to something else than UTF-8 then About Libraries displays my name as Karol Wr?tniak instead of Karol Wrótniak.
If it is set to UTF-8 then there is no issue.

It looks like system default character encoding is used by gradle task.
I expect that character encoding of author's name in this case is taken from POM. If encoding is not explicitly se

[2020-01-02 08:02] mikepenz commented on #458
@koral-- thanks for the report about the not yet recognized MIT license. I am working to get support for all, but couldn't yet find POM files with all informations.

Regarding your comment with `Dagger` being not properly recognized, can you point out a bit more specific what you mean by that? I see dagger showing up in your screenshot.
With all the information they specified in their POM file: ht

[2020-01-02 08:29] mikepenz commented on #459
Published v8.0.0-a03 with a fix
Please also note that the plugin id changed because I am trying to get it included in the gradle plugin portal and that ones requires a full identifier

[2020-01-02 08:29] mikepenz commented on #458
Published v8.0.0-a03 with a fix
Please also note that the plugin id changed because I am trying to get it included in the gradle plugin portal and that ones requires a full identifier

[2020-01-02 09:47] koral-- commented on #458
Thanks for the quick response.

I said the opposite ;)

[2020-01-02 10:09] mikepenz commented on #458
Oh oops :D sorry read it wrong.

Thanks a lot for the report :)

If you got any libraries with licenses other than MIT or Apache 2.0 license please let me know I wish I can get a sample one for all the supported once prior to a final release with the plugin :)

[2020-01-02 10:09] #458 closed

[2020-01-02 10:56] koral-- opened #460 "Some licenses are not recognized"
Follow-up of https://github.com/mikepenz/AboutLibraries/issues/458
Steps to reproduce and configuration is the same except for About Libraries version which is now `8.0.0-a03`

Libs which I've found not working:
* `com.github.piasy:BigImageViewer:1.6.2` https://github.com/Piasy/BigImageViewer
* `com.github.piasy:GlidImageLoader:1.6.2` https://github.com/Piasy/BigImageViewer
* `com.google.auto.valu

[2020-01-02 11:00] mikepenz commented on #460
thank you so much. :) I will have a look at those libs and see to get them handled too

[2020-01-02 11:07] koral-- opened #461 "Some library metadata is not recognized or is 'null'"
Follow-up of https://github.com/mikepenz/AboutLibraries/issues/460#issue-544532388 for cases when more than license is missing. Environment is the same.

Some data like author, group, description is either missing or shown as literal `null`.
Some of them may be caused by no data provided by authors.

Affected libraries:
* https://github.com/tommybuonomo/dotsindicator
* https://github.com/zxing/zxi

[2020-01-02 11:10] mikepenz commented on #461
fun fact:

![image](https://user-images.githubusercontent.com/1476232/71664321-e1fc4600-2d58-11ea-9563-5bd8de6a5630.png)

That is their "official" description

[2020-01-02 11:14] mikepenz commented on #461
Not sure if this is currently blocking you in a real world scenario (I suppose so)

There is (in a03) actually already a feature which allows you to "enchant" libraries.

First use the task to get the identifier for the library not being fully supported (due to lacking POM details)

[code]

and then find the definition file of the library here:
https://github.com/mikepenz/AboutLibraries/tree/featu

[2020-01-02 11:15] mikepenz commented on #461
But it definitely sounds like we need to build up a more advanced mapping for enchanting

[2020-01-02 11:31] koral-- commented on #461
OK, maybe my intent wasn't so clear.
It is not blocking me and I knew that I can add such info manually. However, I don't want to go that way. It is hard to maintain, eg. if I remove that dependency or something gets changed by the library update I would need to also change resources manually.

I would rather fill issues and expect authors to add/fix relevant metadata.

I haven't deeply checked wh

[2020-01-02 11:42] mikepenz commented on #461
Oh no no I just wanted to ensure in case if you were not aware and it was blocking then this would have been a possible route.

But it is definitely on my todo to enhance the situation by adding information which we already have present right now as definition file.

Or establish a proper way of having whitelists/blacklists for libraries which seem to not fully set the POM information :D

The site

[2020-01-02 12:18] koral-- commented on #461
OK, Cool.

For reference here are first issues/PRs reported upstream:
* https://github.com/square/okhttp/issues/5683
* https://github.com/ChuckerTeam/chucker/pull/171

[2020-01-02 12:33] mikepenz commented on #461
thanks a ton :)

[2020-01-02 12:35] mikepenz commented on #461
I might introduce a fallback for the description in case it is null or empty or so.

Perhaps the URL to the repository, or something like that

[2020-01-02 13:31] koral-- commented on #461
👍 Sounds good.

Next part of investigation:
* opentest4j has proper name in POM: https://search.maven.org/artifact/org.opentest4j/opentest4j/1.2.0/jar so invisible name seem to be caused by UI issue in About Libraries. There are a lot of authors and perhaps no space for library name and only padding is visible or something like that.

[2020-01-02 17:18] mikepenz commented on #460
https://jcenter.bintray.com/com/tbuonomo/andrui/viewpagerdotsindicator/4.1.2/ has no license at all specified :/

[2020-01-02 17:28] koral-- commented on #460
In repo there is Apache v2: https://github.com/tommybuonomo/dotsindicator/blob/master/LICENSE
it is sent also to bintray: https://github.com/tommybuonomo/dotsindicator/blob/master/viewpagerdotsindicator/deploy.gradle#L33
but does not seem to be added to POM: https://github.com/tommybuonomo/dotsindicator/blob/ad9b4c4759bf1744914895ff6d05cb115fb2b448/viewpagerdotsindicator/deploy.gradle#L40

PR or i

[2020-01-02 18:11] mikepenz commented on #460
I made the experience in most cases those issues will not lead to any proper resolution.
for that matter I will construct a flexible way to have available information be possible to inject.

a property file for:
license
library name
library description

and a property file to map:
available_custom_definition_file with the resolved information from the pom

this will still happen automatically behi

[2020-01-02 20:34] mikepenz commented on #460
This should be fixed now at least for most parts :)

[2020-01-02 20:35] mikepenz commented on #461
Partially fixed the long names :)

Will work more on the feature to add fallback descriptions via the already existing definition files :)

[2020-01-02 23:54] koral-- commented on #461
In case of zxing-core its POM does not contain license directly. However, it has reference to parent, which contains license and group id.
It looks like gradle plugin should parse `<parent>` tag and take relevant inherited fields from it, maybe even recursively :thinking:

Chucker has approved my PR.

`dotsindicator` is also mentioned in #460 so I'll comment on it there.

[2020-01-03 00:20] koral-- commented on #460
I've added an issue to https://github.com/tommybuonomo/dotsindicator (linked above).
Autovalue has license defined in parent POM (the same case with another library is also in #461).

Rest of the cases seems to be covered by recent changes, so this issue may be probably closed.

[2020-01-03 08:01] mikepenz commented on #461
@koral-- not sure if it is possible to access the parents data. I will have to see. the POM is retrieved from gradle directly for that matter it is not downloaded but directly resolved from the local caches which makes it blazing fast.
and I am not sure if the parent pom is also retrieved by it.

Awesome news! :D

ok :)

[2020-01-03 08:16] #460 closed

[2020-01-03 12:51] mikepenz commented on #461
@koral-- so I tried to look into resolving the parent POM. apparently there are kind of 'hacky' approaches to it, but I am not able to make it run.
In case you are curious a try on it can be found here: https://github.com/mikepenz/AboutLibraries/tree/feature/try_resolve_parent_pom
including the exception which is thrown.

Not sure if it is incompatiblity with Gradle 6.1.0 or something else

[2020-01-03 13:07] koral-- commented on #461
OK, I'll take a look.

[2020-01-03 13:23] mikepenz commented on #461
ok I think I have a working concept.

Please give me 30 minutes to try it out a bit more :)

[2020-01-03 14:47] mikepenz commented on #461
@koral-- released 8.0.0-a05 with parent pom resolval logic and some other minor fixes.

[2020-01-03 16:37] koral-- commented on #461
I've just checked that version and the following issues left:
* gson is missing version and description
`version` tag is nested in `parent`: https://github.com/google/gson/blob/master/gson/pom.xml
description is located in parent POM: https://github.com/google/gson/blob/master/pom.xml
* junit5 artifacts are missing licenses
It seems that they uses EPL:
[code]
* fabric/crashlytics artifacts are mis

[2020-01-03 19:01] mikepenz commented on #461
I think the next step is also to move the licenses away from the core and only include the licenses which are actually used, as the licenses also have quite some size, and no need to include some which won't be shown

[2020-01-03 19:04] mikepenz commented on #461
btw. I released v8.0.0-a06 with the added new licenses as you noted above. also with supporting the parent version and parent description in case the child does not have it

[2020-01-03 19:44] koral-- commented on #461
Yeah, it is impossible to keep and maintain every single type of license in core.

I haven't checked deeply how everything works now under the hood and what exactly is already done.

IMHO (I might be wrong) when gradle plugin is used it should discover all the licenses and generate XML files with strings (possibly even download content from `<url>` tag, or output link if license type is unknown).

[2020-01-03 19:50] mikepenz commented on #461
What I have in mind, have those libraries in the definitions dependency, and include them in the plugin, so they will only be included in the project if actually needed by the project.

If you got some more experience with the input and output annotations though, I am happy about any improvements to it.

[2020-01-06 20:29] koral-- commented on #461
OK, I'll try to look at that and create a PR or separate.

It seems that this one may be closed after `com.crashlytics.sdk.android:answers` case is resolved.

[2020-01-07 17:11] mikepenz commented on #461
Ok `8.0.0-a08` is now released too which now also has all licenses in the definition module.

As such, only licenses which are used will be included.
Also potential library enchanting is now offered too

[2020-01-07 17:11] #461 closed

[2020-01-07 23:25] koral-- opened #462 "Invalid raw resource filename generated"
8.0.0-a08 with dependency to Fabric Answers causes the following error
[code]
Moreover, that file contains only `null`.

[2020-01-08 10:51] #462 closed

[2020-01-08 12:05] koral-- opened #463 "define_plu_com_squareup_okio__okio resource is generated twice"
Environment is the same as in previous issues except that I've removed dependency on BigImageViewer and GlideImageLoader.
About libraries version is now 8.0.0-b01 but issue also occurs in a06-a08.

`aboutlibraries.xml` contains 2 strings with the same id:
[code]

[2020-01-08 12:42] koral-- commented on #463
It looks like each other string resource related to okio, apart from that one is duplicated (not empty) I've checked few ones.
Here are my quick workarounds: https://github.com/DroidsOnRoids/AboutLibraries/commits/feature/aboutlibs_next_gen
Proper solution needs to be cleaner.

[2020-01-08 13:13] mikepenz commented on #463
hmmm I will have to investigate.

do you have the dependency which causes this? theoretically it should be impossible that you h ave the same dependency twice

[2020-01-08 14:07] mikepenz commented on #463
I'd love to try to reproduce it as equal as possible

[2020-01-08 14:22] koral-- commented on #463
It's a multi-module project with dozens of dependencies.
Here are fragments of dependency graph containing okio:
[code]
[code]
[code]

[2020-01-08 15:40] mikepenz commented on #463
@koral-- hmmm that doesn't seem to be it. could it be that you have 2 different build variants?

[2020-01-08 15:46] mikepenz commented on #463
Just adding those dependencies does not result in the problem

[2020-01-08 15:51] koral-- commented on #463
Yes, I have 3 build types (and 0 flavors) so 3 varinats.
Chucker is only dependency in 2 of them.
Leakcanary in 1 of 2 above.

[2020-01-08 15:52] mikepenz commented on #463
I have the feeling that this is the problem. and that version is different in those 2 variants. as such the componentIdentifier does not match

[2020-01-08 15:54] koral-- commented on #463
Yep, they depend on different okio versions: `com.squareup.okio:okio:1.15.0 -> 2.2.2 (*)`

[2020-01-08 16:06] mikepenz commented on #463
Your fix seems to be fine though. based on the fact that we require the xml parsing first to get the proper unique ID (which is without the version)

Will do a b02 and then slow down with updates again :D

[2020-01-08 16:20] #463 closed

[2020-01-08 23:17] koral-- opened #464 "Gradle plugin 8.0.0-b2 is not available on jcenter"
https://jcenter.bintray.com/com/mikepenz/aboutlibraries/plugin/aboutlibraries-plugin/8.0.0-b02/aboutlibraries-plugin-8.0.0-b02.pom returns
[code]
https://jcenter.bintray.com/com/mikepenz/aboutlibraries/plugin/aboutlibraries-plugin/ contains versions up to b01

[2020-01-09 08:01] mikepenz commented on #464
Oh sorry. forgot to press the publish button.

Should be available in the next few minutes

[2020-01-09 08:01] #464 closed

[2020-01-19 01:40] koral-- opened #465 "Gradle deprecation warnings"
Library 8.0.0-b02
Gradle 6.1

[code]

[2020-01-19 09:07] mikepenz commented on #465
interesting why would we have to annotate inner properties :/

May you know what the replacement for `InputDirectory` will be?

[2020-01-19 12:35] koral-- commented on #465
Added possible fix in #466

[2020-01-19 17:25] mikepenz commented on #465
Thank you so much

[2020-01-19 17:25] #465 closed

[2020-01-21 20:35] koral-- opened #467 "prepareLibraryDefinitions fails with AGP 4.0.0-alpha09"
About Libraries 8.0.0-b03
Gradle 6.1
AGP 4.0.0-alpha09
[code]

[2020-01-21 21:38] mikepenz commented on #467
That may be an actual big problem for the whole new feature :/

[2020-01-22 18:19] #467 closed

[2020-01-22 18:20] mikepenz commented on #467
I tried to fix this in b04

[2020-01-25 17:41] claudiodegio opened #468 "Unable to user gradle plugin with joda time library"
Hi when include joda time library in my project i cant build the application due invalid string resources

## Details

I have used the versione 8.0.0-b04 when i include the lib

` implementation 'joda-time:joda-time:2.10.5'
`
After the compilation

Android resource compilation failed
/Users/claudio/progetti/test/easy/expensediary_2/app/build/generated/aboutlibraries/res/values/aboutlibraries.xml:6

[2020-01-25 18:06] mikepenz commented on #468
Thanks for the report. We'll fix it in the next update. Looks like this particular library pre escapes the string and we'll escape it again.

[2020-01-26 09:25] #468 closed

[2020-01-26 09:25] mikepenz commented on #468
Released v8.0.0-b05 with a fix

[2020-01-26 09:32] claudiodegio commented on #468
Thank You very much

Il dom 26 gen 2020, 10:25 Mike Penz <notifications@github.com> ha scritto:

[2020-01-28 21:18] claudiodegio commented on #468
It's works thank you for support

[2020-01-29 10:30] adrianlandborn opened #469 "Copyright YEAR is not handled correctly"
## About this issue

- Briefly describe the issue
In all Licence and Copyright dialogs the year isn't properly parsed and only shows up as **YEAR**.
Eg. "Copyright (c) **YEAR**, AOSP" or  "Copyright (c) **YEAR**, Mike Penz"

- How can the issue be reproduced / sample code
Also repruducible here https://play.google.com/store/apps/details?id=com.mikepenz.aboutlibraries.sample but in this version **O

[2020-01-29 10:56] mikepenz commented on #469
@adrianlandborn so the main issue with v8 is that the POM nor any information we have offers the year as information
I could replace it with the current year if available but that seems kind of wrong too :/

Currently there would be no other source than doing this manually

[2020-01-29 12:55] adrianlandborn commented on #469
Thanks for your answer! Yes, I also saw this, that "year" is not part of the POM specification. This is a bit tricky and for me current year seems wrong.

[2020-01-29 13:04] mikepenz commented on #469
for the automatic detection it seems to be impossible unless the poms would start to list the year which is most likely not gonna happen.

So either keep the unknown year, replace with current year. Or you can specify it manually if you want to ensure you specify the year.

Basically by modifying the various library you use.

If you have better suggestions I'd love to discuss any :)

[2020-01-29 15:03] adrianlandborn commented on #469
Btw, I might have found another issue. License mapping do not work in all cases. Eg.
mit <-> MIT
Apache-2 <-> apache_2_0

[2020-01-29 15:10] mikepenz commented on #469
Thanks for reporting these.

We try to map licenses as flexible as possible but sadly repos tend to not follow the standards so they slip through.

Will add those variations :)

[code]

[2020-01-30 13:54] adrianlandborn opened #470 "License text(s) incorrect?"
## About this issue
- Briefly describe the issue
I'm not completely sure but shouldnt the license text for Eg. Apache 2.0 license also include these rows. Because the 'License' should/must include version and year/date of original Apache license and not only the lib Copyright year and owner.

[code]
(source https://www.apache.org/licenses/LICENSE-2.0 and https://www.apache.org/licenses/LICENSE-2.0

[2020-01-30 14:39] mikepenz commented on #470
@adrianlandborn I fear that this information is even less available than the year of copyright. this is definitely not available in any datasets I am aware of.

I suppose for apache it is always 2004.
https://github.com/mikepenz/FastAdapter/blob/develop/LICENSE#L1-L4

[2020-01-30 17:58] adrianlandborn commented on #470
@mikepenz yes, it is a bit tricky but Apache 2.0 is always 2004 (until they update it but in that case they will probably be 2.0+ or 3.X). I any case I am not sure that it is valid (from a legal point of view) if the year is not added? I have a collegue that has a bit more knowledge about this than me.

[2020-01-30 18:05] mikepenz commented on #470
@adrianlandborn I would definitely love to hear about the legal aspect regarding the date.

In any case I suppose it will most likely go to the single solution of this potentially be required to be provided manually if expected?
The library offers the APIs to "enchant" data when data is not up 2 date.

We made the experience that even if open source, people tend not to help with keeping those vers

[2020-01-31 10:23] adrianlandborn commented on #470
@mikepenz I am sure you have already seen this but is a nice read, even though I have to admit that I haven't read through avery part. Anyway there seems to be some Licences that could be added to https://github.com/mikepenz/AboutLibraries/tree/develop/library-definitions/src/main/res/raw

https://help.github.com/en/github/creating-cloning-and-archiving-repositories/licensing-a-repository

And her

[2020-01-31 14:09] mikepenz commented on #470
So based on the POM spec the year is not relevant it seems:
https://maven.apache.org/pom.html#Licenses (otherwise they would have added it. right?)

As a second note. I believe I will adjust the code to identify licenses by the recommended spdx name or id: https://spdx.org/licenses/

and only make an exception for MIT and apache (to have better identification)

Alternative we may be able to actual

[2020-01-31 14:14] mikepenz commented on #470
It's actually interesting how little licenses: https://developers.google.com/android/guides/opensource is able to detect.

Not sure if it can detect any open source licenses for you, but for me it fails to find any. It would be good to figure what they display for name / year

[2020-02-01 20:29] mikepenz commented on #469
I believe with b06 I did the improvements currently the best.

Improved matching for MIT and apache, added theoretical support for all SPDX identifiers.

Also added a way for you to provide the license years for libraries you include. I would still love to automate this somehow, but right now I am in the believe this is out of scope.

We might have an API(?) which scrapes the license info and trie

[2020-02-01 20:30] mikepenz commented on #469
Apply a custom mapping with the year for the licenseId per line:
https://github.com/mikepenz/AboutLibraries/blob/develop/config/custom_license_year_mappings.prop

config the path to the configs:
https://github.com/mikepenz/AboutLibraries/blob/develop/app/build.gradle#L64-L66

get all libraryIds as in your project:

[code]

[2020-02-01 20:30] #469 closed

[2020-02-01 20:30] mikepenz commented on #470
With b06 I did the improvements to the license. If the full license information is there, the short header should be obsolete I believe.

[2020-02-02 12:43] adrianlandborn commented on #470
Great. I have gone through some of your commits and they look good. Will try out the new relelease tomorrow at work. Hopefully it will resolve som of the issues we have. We have 123 dependancies in our project (most if them apache 2.0) so the date header is a nice addition.

One thing I came to think of with b05 is that since we only hade one lib under MIT licence which didn't match then the licen

[2020-02-02 13:05] mikepenz commented on #470
I am glad that things look good. Really hope that we can work towards the most appropriate solution possible, to ensure it will get a lot easier for people to give proper attribution. (One thing I had in my head though is that it will be necessary a bit to re-brand the libraries README as now with the gradle plugin it is no longer only about the UI the library offers, but in general about the libr

[2020-02-03 13:18] adrianlandborn commented on #470
I do not really follow what you mean with the README changes.

===============================

Where am i supposed to put the "custom_license_mappings.prop" to make it work? Putting it in a raw folder in my on project doesn't trigger the changes.
My current solution is this (and it is not good but i works)

_Problem_:
 **Apache-2** does not map to **apache_2_0**

_Solution_:
Create a local xml fi

[2020-02-03 13:51] mikepenz commented on #470
I'm currently not around a computer. But I'll come back to you as soon as possible.

[2020-02-03 13:54] adrianlandborn commented on #470
FYI
These files are spelled wrong. But I assume that wont cause any errors?
licen**c**e -> licen**s**e
[code]

[2020-02-03 14:14] adrianlandborn commented on #470
Managed to solve this now

[2020-02-03 15:24] mikepenz commented on #470
@adrianlandborn the spelling won't cause errors, but we should fix it before going stable :D

----------

Currently the README is focused around the UI the AboutLibraries provide, but with v8 it is more than that, as it will also be super useful if you just want to display the information, even though if you choose to use your own UI.

----------

The `custom_license_mappings.prop` is a configurat

[2020-02-04 07:37] mutagene opened #471 "With gradle plugin enabled, unable to include external libs for e.g. c++ dependencies"
## About this issue

I have used the external libs to declare c++ dependencies. When I enabled the gradle plugin, this manually entered data is completely ignored. Checking AboutLibraries (Libs.kt:106), I see:
[code]

So clearly this is by design. However, given that the gradle plugin can never gather data on c++ libraries, it seems necessary that there be some mechanism for user added data.

## D

[2020-02-04 09:26] mikepenz commented on #471
@mutagene thanks for the report.

It depends. if the c++ dependency is provided as a *.so file bundled into a *.jar or *.aar and shipped via maven central it should work exactly the same as for other libs.
You are right though if you manually copy paste (or it is an in-house) library that it won't be found right now.

As of now there is basically still the "old" approach possible (at least it shou

[2020-02-04 11:29] mutagene commented on #471
I tried using `withLibraries`, but it seems that any libraries added this way area also excluded by the `foundPluginLibraryIdentifiers.isEmpty()` exclusion above, unless I am doing something wrong? It seems the only way I can get my definition files to be displayed is to prefix with `define_plu_` - but this does not seem correct. Maybe a harmless workaround, though?

[2020-02-04 11:47] mikepenz commented on #471
I will have a look at this one. May have restricted it too much in that case :/

It is definitely harmless :) but shouldn't be necessary.

Will investigate. Thank you so much for the report

[2020-02-04 14:02] mutagene commented on #471
Thanks. The `define_plu` works fine for me, in any case. Thanks for your work on the library.

[2020-02-06 15:42] mikepenz commented on #471
Thank you so much.

So I looked further into this, I believe we should make `define_plu` the new rule for adding custom libraries. as it will just tell the lib to just display it and trust the data.

Will still be a bit of a task to ensure proper documentation everywhere :)

Thanks again so much for the report!

[2020-02-06 15:42] #471 closed

[2020-02-06 15:43] mikepenz commented on #470
@adrianlandborn are all the concerns (as far as possible) resolved with the latest beta?

If yes we ma be able to close this one :)

[2020-02-07 14:00] adrianlandborn commented on #470
Yeah, I am satisfied with changes! Thanks for doing this. You can close the issue. :)

[2020-02-07 14:00] #470 closed

[2020-02-17 12:10] Nekromancer opened #472 "[WINDOWS] Question marks in owner/author"
Using gradle plugin in 8.0.0-rc01 version i cannot build app.

Build crashes with error:
[code]
Fragment of generated aboutlibraries.xml. Those 2 lines with `???` are giving me compile error
[code]

[2020-02-17 12:19] mikepenz commented on #472
@Nekromancer thanks for the report. Will have to see what the pom specifies for those texts. :/

[2020-02-17 13:03] Nekromancer opened #473 "Using default activity with AppCompat Theme"
I have pretty old app that have AppCompat style like `<style name="AppTheme" parent="Theme.AppCompat.NoActionBar">`. I tried changing it to material based one, but it went horribly wrong - current UI is too much rooted in AppCompat.

When i try to display activity like
[code]

I get an exception:
[code]

Is there anything i can do to bypass this issue?

[2020-02-17 13:09] Nekromancer commented on #473
using `parent="Theme.MaterialComponents.NoActionBar.Bridge"` helped here

[2020-02-17 13:09] #473 closed

[2020-02-17 14:27] mikepenz commented on #472
Hmmm it works perfectly fine on a mac :/

can you please look into the following file:

[code]

and see what is written there? Maybe the gradle build / build environment has issues with chinese characters?

if it is already broken at this state then we wrote it wrong, but if it is alright then the build may need to be configured to support UTF-8 (not sure though, got no windows to try with)

[2020-02-17 15:02] koral-- commented on #472
`Hmmm it works perfectly fine on a mac :/`
It seems that your default encoding is set to something using UTF-8 unlike on the OP's machine.

@Nekromancer
Is that issue reproducible if you invoke gradle task with `-Dfile.encoding=UTF-8` parameter?

[2020-02-18 07:05] Nekromancer commented on #472
I can confirm that this parameter fixes issue

[2020-02-19 09:46] mikepenz commented on #472
@koral-- any idea how this could be made default?
I suppose this would be a general issue for all cases on android.

[2020-02-19 17:16] koral-- commented on #472
It seems that somewhere in the code, when reading and/or writing some file, the encoding is not specified explicitly so default system encoding is used implicitly.
For example here: https://github.com/mikepenz/AboutLibraries/blob/develop/plugin/src/main/groovy/com/mikepenz/aboutlibraries/plugin/AboutLibrariesTask.groovy#L52 `FileWriter` uses system-default encoding.

[2020-02-19 17:17] mikepenz commented on #472
ok let's see if it is fixed by adding in more places :)

[2020-02-19 17:32] mikepenz commented on #472
I hope this fixes the problem: https://github.com/mikepenz/AboutLibraries/commit/b31a5b537c32a57b75dc11cbfed7bbb4b25446b8

`FileWriter` doesn't allow to provide the charset

[2020-02-27 15:52] vitorhugods commented on #472
I'm facing _probably_ the same issue. But I cannot reproduce it easily.

[code]

During CI/CD pipelines, running Jenkins in a Linux machine.

[2020-02-27 18:14] ar-g opened #474 "Licenses are missing in multi-module/multi-flavor project"
## About this issue

Some of the licenses are missing in our multi-module/multi-flavor project.

I've run this code:

[code]
and got:

[code]
I've also checked generated xml, for example for okhttp:

[code]

[2020-02-27 18:46] mikepenz commented on #474
@ar-g which version of the library do you use? how did you set it up?

Libraries are generally merged from all the different flavors, and should also cover all transitive dependencies.

Do you have by coincidence the whole xml generated?

okhttp is a known special case as there is some topic with their POM file.

[2020-02-28 09:57] adrianlandborn commented on #474
I can add my input on this matter. Yes, there are lots of libs that are missing since POM files are incomplete and does not follow the standards. I am not running a multi-flavor setup by these are the ones missing on my side.

- Android SDK Answers
- fbjni
- SoLoader
- SoLoader
- SoLoader
- Stetho
- AutoValue Annotations
- Commons CLI
- reactive-streams
- ThreeTen back port

No, maybe it is not th

[2020-02-28 10:05] mikepenz commented on #474
For `okhttp3` we already have a proper patching applied, will add okhttp to the list

Note for only patching the licenses we maintain a list to allow patching these, so if you may provide the list of identifiers for those libraries we could enhance the list:

https://github.com/mikepenz/AboutLibraries/blob/develop/library-definitions/src/main/res/raw/custom_license_mappings.prop

Btw it is also po

[2020-02-28 10:17] mikepenz commented on #472
Released rc02 with the utf8 fix. Please let me know if things behave better now

@vitorhugods @Nekromancer

[2020-02-28 10:17] #472 closed

[2020-02-28 12:01] ar-g commented on #474
The plugin is applied to the app module.

This one included into root Gradle file:
[code]

[2020-02-28 15:12] mikepenz commented on #474
@ar-g please see @adrianlandborn and my answer. so it looks like parts of your libraries simply do not have their POM file incomplete in the providing repositories. meaning that for these the only approach is a manual one.

you can add missing information as noted above.

but you may also provide a list with all libraries and their licenses so we can look into it:

[code]

will output the info in

[2020-03-02 17:27] ar-g commented on #474
I was only able to add license through
[code]
[code]
Gradle Plugin config didn't work for me.

I'm going to add all those 42 licenses manually to the xml file and config.

[2020-03-02 17:56] alan-insam opened #475 "Gradle plugin not working in JAVA"
## About this issue

Gradle plugin only working with Kotlin? I used this library for months now, all my code is written in Java. I implemented the library WITHOUT the gradle plugin which looks like it is not recommended anymore as seen in the README. I used version 7.0.1 and included some libraries manually in xml files.

When migrating, I followed your guide and used version v8.0.0-rc02 for the l

[2020-03-02 20:19] mikepenz commented on #475
The AboutLibraries v8 is only targeted towards kotlin users. Whereas it may be used from java users, it will bring kotlin with it.

Old versions still can be used as is, but beside bugfixes those won't get any more changes.

The gradle plugin is not and won't be supported in previous versions.

[2020-03-02 20:19] #475 closed

[2020-03-02 20:22] mikepenz commented on #474
What did you try via the gradle plugin config? @ar-g I'd be curious to perhaps see if we can improve something here

[2020-03-03 07:16] beeline09 opened #476 "Execution failed for task ':app:prepareLibraryDefinitions'."
Android Studio Canary 4.1
Gradle wrapper version: 6.2.1-all
Build gradle version: 4.1.0-alpha01
AboutLibs Version: 8.0.0-rc02

When i add apply plugin: 'com.mikepenz.aboutlibraries.plugin' to app build.gradle, a get error:

':app:prepareLibraryDefinitions'.
Could not find matching constructor for: com.android.build.gradle.internal.scope.VariantScopeImpl(com.android.build.gradle.internal.scope.Glob

[2020-03-03 08:06] mikepenz commented on #476
Seems they changed this API again in `4.1.0-alpha01` so it is currently not supporting that version

[2020-03-06 23:28] ar-g commented on #474
@mikepenz I just copied library definitions, modified okhttp to point apache_2_0 license and turned on configuration for the AboutLibraries gradle plugin.

[2020-03-06 23:31] ar-g commented on #474
Now I have another, issue. This is how the generated folder looks like
![Screenshot 2020-03-06 at 23 24 30](https://user-images.githubusercontent.com/3674446/76130343-6346b200-6002-11ea-8e19-eaa52b49d82d.png)

The problem is that there is no license description, and XML file with license looks like this:
[code]

[2020-03-08 14:01] mikepenz commented on #474
@ar-g not sure if it is too much to ask. but perhaps it would be possible if you could remove all the application code and just keep the dependencies and the adjustments you made so that I can try and see why the apache license may no longer be used from the plugin but instead from the auto generated spec according to the spdx list

[2020-03-08 16:24] mikepenz commented on #476
I looked in the API changes for those internal APIs and it seems with all those changes we won't be able to do it via this approach anymore.

I am not yet sure what may allow us to add support again. but for now only 3.x and 4.0.x is supported

[2020-03-08 16:59] manuelarte opened #477 "Possibility to add youtube channel, instagram, etc"
## About this issue
I think it could be a nice feature to being able to add social media links
- Briefly describe the issue
- How can the issue be reproduced / sample code

## Details
- [ ] Used library version
- [ ] Used support library version
- [ ] Used gradle build tools version
- [ ] Used tooling / Android Studio version
- [ ] Other used libraries, potential conflicting libraries

## Checklis

[2020-03-09 08:22] mikepenz commented on #477
@manuelarte if you want to change the UI from what is offered, just use the core library and use the information provided by the library inside your own UI :)

there are currently no plans to adjust beyond the very minimalistic `About this app` screen integrated.

[2020-03-09 17:13] ar-g commented on #474
I'm using a standard configuration of Gradle plugin:

[code]
I'm wondering how to debug this plugin 🤔

[2020-03-09 21:59] mikepenz commented on #474
@ar-g so usually I use `uploadArchives` to publish it to my local maven (with a new version number) and then try to use it from the sample app.

(upload archives is available within the plugin sub project)

Debugging itself.. I tent to put log outputs and check the good old fashioned way. if there is a muc better way to get debugging and stuff working in AS I would be happy as it could speed up ad

[2020-03-11 10:55] ar-g commented on #474
I was able to do a bit of progress with debugging plugin.

Basically, I was running
```gradle clean && gradle prepareLibraryDefinitions```

When I was running latest published rc-02 version, the output was
[code]
Then I've made some changes to the gradle plugin, mainly commented part of it:

[code]
Now the license file is generated propperly when run
```gradle clean && gradle prepareLibraryDefinit

[2020-03-15 11:28] binarynoise opened #478 "Generated strings spam the translations editor"
## About this issue

Generated strings spam the translations editor so that it is hard to find my own strings
It would be great if you marked the generated Strings as untranslatable so they could easily be excluded

## Details

 - Used library version 8.0.0-rc2
 - Used gradle build tools version 3.5.3
 - Used tooling / Android Studio version IntelliJ IDEA 2019.3.3 (Community Edition)
 - other libs

[2020-03-15 13:34] binarynoise commented on #478
I just found a temporary solution:
If you double click on the Resource Folder column header you can sort it and then my own strings appear on top

[2020-03-15 19:09] arekolek commented on #461
So in 8.0.0-rc02 okhttp3, zxing, gson should be resolved properly? Because for me it doesn't work apparently and I get:

[code]

Here's the gradle build scan if you wanted to take a look at the dependencies or full console output or whatever https://scans.gradle.com/s/ajunnawughf6q

[2020-03-16 13:53] mikepenz commented on #461
thanks for the report @arekolek we will look into those and see to add them to the set of libraries we have to manually improve :/

[2020-03-21 15:34] #478 closed

[2020-03-21 16:34] mikepenz commented on #461
@arekolek v8.0.0-rc03 should bring some improvements.

Answers TOS won't be supported out of the box right now. as (as far as I am aware of, got discontinued in favor of firebase)

please provide a new export with rc03 to see what may now be missing

[2020-03-21 16:35] mikepenz commented on #478
I hope the definition in the header of the file works, because adding it to every single entry sounds overkill

[2020-03-21 16:36] mikepenz commented on #474
I believe with v8.0.0-rc03 I may have been able to fix various problems.

Not sure about the task problem you were seeing, as this seems to not occur in the projects I have.

I have though added a new task for your usecase to directly execute the generation to circumstance the code you commented out

[code]

I think with v8.0.0-rc03 the main issue should be resolved and we can close this.
If not p

[2020-03-21 16:36] #474 closed

[2020-03-21 16:37] mikepenz commented on #476
removed usage of internal APIs so all versions should now work.

please update to v8.0.0-rc03

[2020-03-21 16:37] #476 closed

[2020-03-21 16:37] #477 closed

[2020-03-21 16:39] mikepenz commented on #477
Btw. theoretically if you do not want special there are APIs and ways to also modify the header provided.

copy the xml for the header from the org project, and modify it (make sure original layouts and IDs stay the same)

You can also look into the `LibsConfiguration` which allows to intercept various aspects of the provided UI and modify things for your usecase

[2020-03-21 17:51] binarynoise commented on #478
Nope, that doesn't work. You need to apply it to every single string
And it should be without the `tools:` namespace. `translatable="false"` is enough

[2020-03-21 19:24] mikepenz commented on #478
Ok done in v8.0.0-rc04

[2020-03-23 10:07] manuelarte commented on #477
Thanks @mikepenz

[2020-03-23 16:16] Direwolfik opened #481 "Unable to load class 'org.gradle.internal.deprecation.DeprecatableConfiguration'."
## About this issue

As of version 8.0.0-rc03 gradle build **with plugin** crashes with:
`Unable to load class 'org.gradle.internal.deprecation.DeprecatableConfiguration'.`

8.0.0-rc02 builds ok. Without plugin it builds ok too.

## Details
- Used library version 8.0.0 (happens since 8.0.0-rc03)
-  Used support library version androidx 1.1.0
- Used gradle build tools version 3.6.1 with gradle wrap

[2020-03-23 17:14] mikepenz commented on #481
could you please try with a gradle 6.x version?

[2020-03-23 17:14] mikepenz commented on #481
https://github.com/mikepenz/AboutLibraries/blob/919ff4d4c9cea8f9e3574cd2bc322817aaa0d596/plugin/src/main/kotlin/com/mikepenz/aboutlibraries/plugin/DependencyCollector.kt#L68-L81

[2020-03-23 18:54] Direwolfik commented on #481
I confirm that it works with gradle 6.2.x

I suppose it would be great to mention it in README tho, because gradle 5.6.4 seems to be baseline for current gradle plugin 3.6.0+ (https://developer.android.com/studio/releases/gradle-plugin).

Thank you for your response!

[2020-03-23 19:01] mikepenz commented on #481
Oh yeah I was not aware myself that it would be breaking with gradle 5.6.
I changed it away from a different API used before which would not work with gadle 4.1.0 and hoped the new approach would not be using anything gradle version specific.

gradle loves to change their APIs

Will see if I can somehow figure out a way to do it with gradle 5.6

[2020-03-26 18:28] binarynoise commented on #481
Would it be possible to use a gradle version check just like in Android (`if (Build.VERSION.SDK_INT >= 29) ...`) ?

[2020-03-27 19:28] binarynoise commented on #478
Thanks. This helps me a lot!
Still missing the flag are the following strings:
[code]

[2020-03-28 13:17] #481 closed

[2020-03-28 13:26] mikepenz commented on #478
I added it to all license files now too @binarynoise try out v8.0.1
the config will left over I believe :D

[2020-03-28 13:30] mikepenz commented on #478
v8.0.2 will handle this last one too :D

[2020-03-31 17:31] ar-g opened #484 "After building with R8 library stops returning licenses"
Release build doesn't return licenses, code for the library:

[code]

Tried proguard rules:

[code]
Module structure:

[code]

The interesting part is that release apk contains all the strings and resources 🤔

[2020-03-31 18:44] mikepenz commented on #484
Hmmm usually this is the case if the resources can not be retrieved. This may be due to a different package name, resources being stripped, ...

See here:
https://github.com/mikepenz/AboutLibraries#fragment

Try this:

[code]

[2020-04-01 15:59] koral-- opened #485 "Gradle plugin 8.1.0 is not available"
Not sure if this is intended or not.
According to releases, there are no changes in plugin in 8.1.0: https://github.com/mikepenz/AboutLibraries/releases
Does it mean that I have to use plugin 8.0.2 and library 8.1.0?
[code]

[2020-04-01 16:02] mikepenz commented on #485
Ooops my mistake. forgot to press the publish button on bintray:

![image](https://user-images.githubusercontent.com/1476232/78159560-009ad780-7443-11ea-9063-f57930686caa.png)

[2020-04-01 16:02] #485 closed

[2020-04-01 16:03] mikepenz commented on #485
pressed it now :D

[2020-04-01 16:03] mikepenz commented on #485
And yeah it was a mistake. I always publish the plugin in parallel with the library version otherwise it's to confusing

[2020-04-01 16:04] mikepenz commented on #484
@ar-g have you had a chance to pass the fields? did it solve your problem?

[2020-04-02 00:33] friederbluemle commented on #279
Depending on the size and number of components of an app, requiring a global override/change of the app theme may be a bit risky..

I was able to fix this exception by just adding this to `AndroidManifest.xml`:

[code]

[2020-04-02 09:26] ar-g commented on #484
[code]

This code only gathers libraries from the specific package, in this case, we only receive AboutLibrary. We can't reference from `features/licenses` module `app` module.

But proguard rules started working, perhaps configuration mistake, I'm trying to get minimal proguard rules currently.

[2020-04-02 09:41] mikepenz commented on #484
so there are 2 things to the topic.

the aboutLibraries retrieves the strings from the R fields via their well known naming scheme.
Strings because I believe generating a ton of classes, ... is not necessary and strings have the advantage of being theoretically translateable if wished.

this whole thing tries to be kind of smart.

So in most cases people can provide the string fields so we don't h

[2020-04-02 09:41] mikepenz commented on #484
I hope this resolves your problem :)

[2020-04-02 09:41] #484 closed

[2020-04-04 12:07] systemallica opened #487 "How to migrate from 7.x.x to 8.x.x"
## About this issue

- I cannot find detailed documentation on how to upgrade.
- I get an error `unresolved reference: withActivityStyle`. It seems that this method is not available anymore.

[code]

## Details

Used UI and plugin version: 8.1.0

## Checklist

- [x] Searched for [similar issues](https://github.com/mikepenz/AboutLibraries/issues)
- [x] Checked out the [sample application](https://g

[2020-04-04 13:46] mikepenz commented on #487
@systemallica this is correct `withActivityStyle` does no longer exist, `withAutoDetect` should also be removed as the gradle plugin is not the preferred approach to detect dependencies.

If you want to style your aboutLibraries have a look at the styling section: https://github.com/mikepenz/AboutLibraries#style-the-aboutlibraries-%EF%B8%8F

[2020-04-04 18:48] systemallica commented on #487
Alright thanks

[2020-04-04 18:48] #487 closed

[2020-04-08 08:14] tkirshboim opened #488 "Execution failed for task ':app:findLibraries' in demo project"
I am new to using this great library, so please excuse me if I'm missing something obvious. I thought to report this, since it seems like a bug to me.

## About this issue

- Briefly describe the issue:
`findLibraries` gradle task fails on demo project.

- How can the issue be reproduced:
1. Check out the repository ([this](https://github.com/mikepenz/AboutLibraries/tree/919805c4c94de36cec8ccae0ff

[2020-04-08 08:50] mikepenz commented on #488
@tkirshboim thanks for the report. I will have a look.

[2020-04-11 10:24] #488 closed

[2020-04-11 10:25] mikepenz commented on #488
Thanks for the report. this got fixed in v8.1.1

[2020-04-12 11:57] rubengees opened #490 "Problems with new Gradle Plugin"
## About this issue

I am in the process of migrate my app to latest `materialdrawer`, `iconics` and `aboutlibrares`. The new Gradle Plugin works great, but produces some odd things which I wanted to report.

| `okhttp-brotli` | `iconics` | `LeakCanary`
| -- | -- | -- |
| ![Screenshot_20200412-134318](https://user-images.githubusercontent.com/8021265/79068052-37cf7b00-7cc4-11ea-8bc7-3508921ca47a.j

[2020-04-13 07:43] mikepenz commented on #490
@rubengees fun fact: it actually solves correctly https://github.com/google/brotli/blob/master/java/org/brotli/pom.xml#L10
We will have to overwrite this one manually.

Yeah the plugin does not make a difference about parent and child as there is no chance for the lib to detect if it is actually 2 different libraries or just the same with different modules. I suppose there may be great if we could

[2020-04-13 12:52] koral-- opened #491 "Consider adding MPL to okhttp"
## About this issue

okhtp is itself Apache-licensed however it contains MPL-licensed list of public suffices https://github.com/square/okhttp/blob/master/okhttp/src/main/resources/okhttp3/internal/publicsuffix/NOTICE
Since okhttp is widely used I think it is worth considering adding an entry about public suffix list automatically by AboutLibraries when okhttp is used.

## Details
- Used library v

[2020-04-14 21:26] rubengees commented on #490
Hmm, interesting. I'll report an issue in the brotli repository (I thought all the time this was `okhttp-brotli` and not `brotli` itself).

Yes, some merging or deduplication would be great! :)

I do not have Leak Canary in the `release` variant. I'm not sure which dependency container the plugin looks into, on `releaseRuntimeClasspath` it's not at least. Could that be an issue?

[2020-04-15 07:04] mikepenz commented on #490
luckily we are prepared for such cases with: https://github.com/mikepenz/AboutLibraries/blob/develop/library-definitions/src/main/res/raw/custom_name_mappings.prop :D
you can also provide your own custom mappings as noted in the docs :) this will allow you to resolve it until there's an update.

but that would be a manual process :D

the screenshots above, where they from the release build?

[2020-04-16 08:15] imranbaigshortcut opened #493 "Android.view.InflateException: Binary XML file line #46 in :layout/listheader_opensource:"
## About this issue

I am continuously getting  Android.view.InflateException: Binary XML file line #46 in :layout/listheader_opensource on runtime although my project includes
    **implementation "com.google.android.material:material:1.0.0"**

**Exception**
android.view.InflateException: Binary XML file line #46 in
<xxxx app package>:layout/listheader_opensource:

Binary XML file line #46 in <xx

[2020-04-16 08:19] mikepenz commented on #493
Please try material 1.1.0. Also make sure your activity uses the material theme as parent

[2020-04-16 08:52] imranbaigshortcut commented on #493
setting the activity theme to this solved the issue
android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"

[2020-04-16 09:03] #493 closed

[2020-04-16 22:32] Zardozz opened #494 "Auto Detection skipping libraries with no name"
## About this issue

- Auto Detection skips Libraries with no name even if they have a valid license to report.
The `Name` attribute is not consider basic information according to https://maven.apache.org/pom.html

A Default sensible fallback `Name` should be used if no name is found, quite often the name is the same as the `artifactId` or if you want more unique a combination of `groupID` and `ar

[2020-04-17 07:04] mikepenz commented on #494
@Zardozz thank you so much for this report. it is great. I will have a look at this and have hopefully an update this weekend

[2020-04-17 14:04] Zardozz commented on #494
It should be a very simple change to change the test at https://github.com/mikepenz/AboutLibraries/blob/develop/plugin/src/main/groovy/com/mikepenz/aboutlibraries/plugin/AboutLibrariesProcessor.groovy#L225

From
[code]

To something like
[code]

[2020-04-19 13:08] mikepenz commented on #491
Not sure how we should resolve this :/ based on the current setup a library usually only has 1 license. :/

theoretically the whole element should handled as a full standalone dependency.

but I have yet to see a single project which actually notes this MPL element of okhttp :/

[2020-04-19 13:16] #494 closed

[2020-04-19 20:23] Zardozz opened #495 "Gradle Plugin Info Documentation improvement about over/under detection of licenses"
## About this issue

I've migrated from the previous 7.x library to 8.1.1 and the number of Licenses identified has grown massively and a lot were not reproduced and distributed in my App.

While these are all Apache 2 license and not harmful, it just might be a shock to some and questions might be raised about the validity of the plugin.  For example I wondered why it showed the License for ` Sup

[2020-04-20 01:15] koral-- commented on #491
According to the POM specification it can contain multiple licenses: https://maven.apache.org/pom.html#Licenses

So it seems that AboutLibraries should be able to handle such cases perhaps. Currently only the first one seem to be taken into account. So regardless this particular okhttp case it may be a good idea to support multiple licenses for a single artifact.

Indeed I have no exact idea how t

[2020-04-20 07:52] mikepenz commented on #495
@Zardozz I believe that being over inclusive is important. especially as if a library is used in your build pipeline code ends up in the project and that's what makes you require to give attribution.
It does not really matter if used in the end, if a piece of it's code is in the app attribution is required, and that's usually the case if the dependency is linked as a sub dependency :)

The latest

[2020-04-20 09:53] Zardozz commented on #495
This was not a request to change the behaviour of possible over inclusion just really to a request to highlight in documentation that auto detection by the plugin could possibly not be 100% correct for various reasons and really the result should be manually reviewed.

The arguments on whether the attribution is required if you referenced it at the start of the build pipeline but it never made it

[2020-04-20 10:03] mikepenz commented on #495
@Zardozz makes absolute sense :)

Beside the clarifications I still wonder about:

I think this should not be the case, and I wonder if there is a bug or a problem in the configuration / something how gradle builds the dependency tree

[2020-04-20 11:07] Zardozz commented on #495
I don't think there is a bug about the "Debug builds will also include Licenses from packages identified as "testImplementation" and "androidTestImplementation".

This type of tooling tends to "overload" the information compilers/build tool chain needs to do it's job to come up with a good starting point for what should be Attributed (I've not checked the code to see exactly how it is done in abou

[2020-04-21 03:34] Testator opened #496 "8.1.1 clashes with cardviews in coordinatorlayout"
## About this issue

Updating to the new version 8.1.1 makes my cardview that is in a coordinatorlayout disappear
- How can the issue be reproduced / sample code

## Details
- [ ] Used library version
- [ ] Used support library version
- [ ] Used gradle build tools version
- [ ] Used tooling / Android Studio version
- [ ] Other used libraries, potential conflicting libraries

## Checklist

- [ ] S

[2020-04-21 06:53] mikepenz commented on #496
Please follow the issue template. the provided information is not enough to look into this.

this library does not have any cardviews. nor does it use a coordinatorlayout

I suppose you may need to adjust how you added the `DrawerLayout` to your project.

v8 of this library will no longer manage the root view automatically and that is now fully in your control

[2020-04-21 06:53] #496 closed

[2020-04-22 11:06] marcauberer commented on #459
I'm using version 8.1.2 (latest) of your lib and the bug still appears.
![Screenshot_20200422-125544](https://user-images.githubusercontent.com/59527509/79974623-f3996300-8499-11ea-9678-026550c23e4b.png)

Btw: Funny that this issue was opened by this developer ;)

[2020-04-22 11:08] mikepenz commented on #459
@marcauberer do you have the wrong encoding already in the strings.xml?

[2020-04-22 11:12] marcauberer commented on #459
Yes. Looks like this:
`<string name="library_pl_droidsonroids_gif__android_gif_drawable_author" translatable="false">Karol WrÃ³tniak</string>`

Btw: The name in the license dialog is also affected.

[2020-04-22 11:15] mikepenz commented on #459
Oh well I think this time it is not an issue of AboutLibraries, but actually the meta data of that library on maven central:

https://search.maven.org/artifact/pl.droidsonroids.gif/android-gif-drawable/1.2.19/jar

[2020-04-22 11:15] mikepenz commented on #459
![image](https://user-images.githubusercontent.com/1476232/79975479-5808f200-849b-11ea-8e96-118e237e76a5.png)

you may overwrite the info manually but I would suggest you report this on the respective project instead: https://github.com/koral--/android-gif-drawable

[2020-04-22 11:15] #459 closed

[2020-04-22 11:16] marcauberer commented on #459
Okay thanks! I'll do that.

[2020-04-24 09:49] rfc2822 commented on #490
I can confirm the brotli thing for 8.1.2, see https://forums.bitfire.at/post/12856

And thanks for all your efforts :)

[2020-04-24 10:01] mikepenz commented on #490
@rfc2822 Btw. for the meantime you can for example overwrite the name of brotli doing this:

https://github.com/mikepenz/AboutLibraries/blob/develop/app/src/main/java/com/mikepenz/aboutlibraries/sample/FragmentActivity.kt#L175

Just use its identifier created by the gradle plugin. (you can get it via the `findLibraries` task)

Hope this helps.

Beste Grüße.

[2020-04-24 16:05] rubengees commented on #490
Regarding deduplication: When using the Gradle plugin and if an entry is found for a library that also has an internal definition one of the definitions can be safely omitted, can't it?

For dependencies which have the same content (not sure if that's the case for the leakcanary dependencies), only one can be shown I guess?

You are right, that was a debug build and leakcanary is on the classpath

[2020-04-24 17:00] mikepenz commented on #490
The entries are not duplicated because of internal definitions. those are no longer showing up anyways :) they are basically deprecated and most likely I plan to remove them at some point.

From legal perspective all dependencies have to be shown. So I am not sure how accurate it is to "magically" merge similar ones.

[2020-04-29 14:57] rubengees commented on #490
Ah great, you are right!

I investigated the LeakCanary case further and found that these are indeed various submodules with slightly different names. Couldn't see that because of the truncated titles, but I also remember you said that showing the title multiline is no option somewhere so I guess there is nothing to be done here.

[2020-04-29 15:03] mikepenz commented on #490
hmmm the latest version offers a new minimal UI which is not as verbose. but regardless. I will have to think of a "clever" way to merge libraries some way.

or at least link them in some way. also having multi license support.

but that is something for v9 :D

[2020-04-29 15:03] #490 closed

[2020-05-09 14:57] #495 closed

[2020-05-09 14:58] mikepenz commented on #495
Added a disclaimer section to the README which hopefully clarifies potential questions regarding this.

Thank you again for bringing this issue up. Any improvement to simplify and correct giving credits is always appreciated

[2020-05-20 13:55] daberni commented on #279
Imho it should be stated somewhere in the Readme, that a `NoActionBar` theme is necessary and has to be configured like @friederbluemle did

[2020-05-20 14:04] mikepenz commented on #279
@daberni I always appreciate if people contribute to enhance documentation.

I actually am surprised that people still use `ActionBar`s, those things are super old :D.

[2020-05-20 14:17] daberni commented on #279
I guess I will find some time the next days ;)

Yeah, just like the app we are maintaining is super old :D

[2020-05-20 14:18] daberni commented on #279
Any reason why you dropped `.withActivityTheme(...)`?

[2020-05-20 14:25] mikepenz commented on #279
In favor of offering a lot more flexibility by defining theme based styles which will then accordingly apply to the UI: https://github.com/mikepenz/AboutLibraries#style-the-aboutlibraries-%EF%B8%8F

The activity offered around the `AboutLibraries` UI is actually only a super thin wrapper.
The UI itself is the fragment which you could directly commit in the app and then we can't really have the par

[2020-05-22 06:07] Nekromancer opened #497 "UninitializedPropertyAccessException on LibsFragmentCompat"
## About this issue

- I have this crash from Crashlytics, only on Nexus 5X device. I don't have this physical device to try and reproduce the problem.
- I'm not sure how this can be reproduced, i have no logs what user did to come to this state

## Details
- Library version: 8.1.2
- Newest stable: androidx.fragment:fragment-ktx:1.2.4 androidx.core:core-ktx:1.2.0 androidx.appcompat:appcompat:1.1.0

[2020-05-22 06:14] mikepenz commented on #497
Hmmm seems it creates the view without the arguments on that phone :O
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsFragmentCompat.kt#L51-L52

and then we don't verify here if the builder got initialized:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsFragmentCompat.kt#L10

[2020-05-22 06:18] Nekromancer commented on #497
Yea, i probably have to get this device just to check what the heck is going on there :)

[2020-05-22 06:21] mikepenz commented on #497
what version of android is it running? perhaps it's somehow related to this?

[2020-05-22 06:24] Nekromancer commented on #497
8.1.0

[2020-05-22 11:06] mikepenz commented on #497
Hmmm very strange. anyways I will push an update with the late init protection.
I also tried the "Don't keep activities" which was my only guess, but wouldn't crash on me either :/

[2020-05-22 11:12] mikepenz commented on #497
v8.1.3 has the initialized check so it won't crash but yeah :/

[2020-05-25 08:57] mikepenz commented on #497
I hope 8.1.3 could help? if you have any more information I'd really appreciate it.
Close the issue until we are getting any additional details?

[2020-05-25 09:08] Nekromancer commented on #497
Yes, nothing we can do more until i get the device

[2020-05-25 09:08] #497 closed

[2020-05-26 22:51] koral-- opened #498 "Duplicate entry: META-INF/gradle-plugins/com.mikepenz.aboutlibraries.plugin.properties on Gradle 6.5"
## About this issue

[code]

## Details
- [x] Used gradle version: 6.5-milestone-2
- [x] Used tooling / Android Studio version: 4.1.0-alpha10

## Checklist

- [x] Searched for [similar issues](https://github.com/mikepenz/AboutLibraries/issues)
- [x] Checked out the [sample application](https://github.com/mikepenz/AboutLibraries/tree/develop/app)
- [x] Read the [README](https://github.com/mikepenz/

[2020-05-26 22:56] koral-- commented on #498
Indeed JAR on maven central repo contains duplicate files:
[code]

[2020-05-27 06:20] mikepenz commented on #498
how's that even possible :D

[2020-05-27 06:46] Nekromancer commented on #497
I wasn't able to get the device itself, but i confirmed that this application was sideloaded from another device. APK on that another device was dynamically created from AppBundle. No native libraries were found, since that was missmatch in architecture between devices. Problem with AboutLibraries was only one of maaaany others, so i guess this bug occurence is nothing but anomaly :)

[2020-05-27 06:48] mikepenz commented on #497
Thank you so much for reporting back. that's actually quite interesting :D

[2020-05-27 14:49] koral-- commented on #498
At a glance I guess that one of the files may be generated automatically probably by `plugindev`: https://github.com/mikepenz/AboutLibraries/blob/develop/plugin/build.gradle#L21 and next one is present explicitly in sources: https://github.com/mikepenz/AboutLibraries/blob/develop/plugin/src/main/resources/META-INF/gradle-plugins/com.mikepenz.aboutlibraries.plugin.properties

I'm not familiar with

[2020-05-30 08:15] #498 closed

[2020-05-30 14:54] marcauberer opened #500 "No right window insets on landscape mode"
## About this issue
If the edgeToEdgeMode and the landscape mode are enabled, it looks like this:

![Screenshot](https://user-images.githubusercontent.com/59527509/83331351-0a4f8880-a296-11ea-8d44-cfe6fb5ac550.png)

I don't think, this should be this way. The right side gets cropped off.

## Details
- [X] Used library version: 8.1.3
- [X] Device: Google Pixel 3a
- [X] Gradle plugin version: 4.0.0

[2020-05-31 15:12] #500 closed

[2020-05-31 15:14] marcauberer commented on #500
Thanks for fixing!

[2020-05-31 15:14] mikepenz commented on #500
uploading v8.1.6 right now.

Thanks for reporting.

[2020-05-31 21:42] koral-- opened #501 "Some dependencies not detected"
## About this issue

UPDATE:
see https://github.com/mikepenz/AboutLibraries/issues/501#issuecomment-637460667

Multi-module project layout as follows:
[code]

dependency2 is declared only in some library modules (not in the app module directly) using `implementation` configuration.
It is not present in output of `findLibraries` nor `exportLibraries` tasks.
AboutLibraries gradle plugin is applied t

[2020-06-01 06:28] mikepenz commented on #501
@koral-- I believe that this changed with us stopping to use internal APIs which break with every single change of the android plugin to the proper available APIs from gradle which will stay more stable.

We need to setup a sample and look at it. but I believe I tested it with a newer version in one of the SDKs I help in and it worked also on sub dependencies. so not sure yet what it may be.

some

[2020-06-01 09:48] koral-- commented on #501
OK. I'll try to create a sample which reproduces this issue.

Regarding `implementation` vs `api` as I wrote in 1st post, currently there is an `implementation` and it has not changed.
It starts working again if I add the same dependency with `implementation` scope to app module.

[2020-06-01 10:33] koral-- opened #502 "POM-only dependencies not displayed"
## About this issue
I'm working now on fix PoC for issues like #491. It consist of creating dependency without the jar. There is only a POM with license, author etc.
So basically if some dependency which is not a maven artifact is used (not only PSL) then you may just add something like that to buildscript:
`implementation "com.github.DroidsOnRoids:public-suffix-mpl:6c840d4014"`

This "library" is

[2020-06-02 09:58] markush473 opened #503 "overwrite License owner"
## About this issue

First of all: Thank you, for this useful library/plugin.

Is there a way to overwrite the owner of a license?
Currently some only state "OWNER", and I would like to correct that.
Can this be done per mapping file, similar to "year"(custom_license_year_mappings.prop)?

## Details
- [8.1.2] Used library version
- [8.1.2 ] Used support library version

## Checklist

- [x] Searche

[2020-06-02 10:59] koral-- commented on #501
@mikepenz I was able to reproduce the same issue even without transitive dependency. Reason seem to be different.

Steps to reproduce:
* add this dependency to app module in the sample app on current develop: `implementation group: 'com.google.zxing', name: 'core', version: '3.4.0'`

`ZXing Core (3.4.0) -> com_google_zxing__core` is printed to the console when running `findLibraries` task. However

[2020-06-02 11:59] mikepenz commented on #503
@markush473 currently there is no file for the owner, but you could "enchant" the ones programmatically.

When you launch you can define various things to overwrite:
https://github.com/mikepenz/AboutLibraries/blob/develop/app/src/main/java/com/mikepenz/aboutlibraries/sample/FragmentActivity.kt#L175

You need the identifier for the libs (you can get it via the gradle task) and then `LibraryFields.A

[2020-06-02 12:05] mikepenz commented on #501
that's interesting. thanks for your additional investigation.

I'll need to debug that to see what may goes on. but I believe this info will already greatly help

[2020-06-02 12:34] markush473 commented on #503
@mikepenz Thank you, for the fast response, but this only changes the author's name.

I want to overwrite the owner, that is displayed in the copyright notice at the top of the licence text (Apache Version 2.0)

It currenty says:
Copyright © 2020, OWNER
All rights reserved
...

[2020-06-02 12:48] mikepenz commented on #503
do you have by any chance a library which misses the owner?
theoretically the author should be used from the pom file for this

[2020-06-02 13:10] markush473 commented on #503
This problem seems to only appear with some libraries.
Some of them are:
javax.inject 1
Okio 1.15.0
transport-backend-cct 2.2.1
Gson 2.8.4
firebase-installations 16.2.1
firebase-crashlytics 17.0.0

[2020-06-03 13:47] virgil85 opened #504 "FragmentManager / Databinding Issue"
## About this issue

When adding classpath("com.mikepenz.aboutlibraries.plugin:aboutlibraries-plugin:8.1.6") to my build.gradle (root level) dependencies and applying the plugin in the app level - the application will build just fine but during runtime it does crash with an NullPointerException.

Executing  ./gradlew exportLibraries works fine. I did not try adding the bundled activity.

[code]

I

[2020-06-03 15:06] mikepenz commented on #504
@virgil85 could it be that you exceed the multidex limit?

if you do not apply the plugin but only use the dependency will it work?

Do you potentially have different versions of major libs like material components, or similar?

[2020-06-04 07:58] virgil85 commented on #504
@mikepenz since I have
`multiDexEnabled = true`
I guess the multidex limit should not affect me.

If I don't apply the plugin but only use the dependency I get the same runtime errors as before.

Yes, I'm using a lot of major libs (material components in version 1.1.0-beta01). Is there an easy way to list them all?

[2020-06-04 11:46] mikepenz commented on #504
./gradlew app:dependencies gives you all dependencies and their version.

It looks like the plugin is not the cause. And if it is only adding the library that indicates:

- multidex issue
- conflict of library versions

:)

[2020-06-06 12:50] mikepenz commented on #502
@koral-- it seems to not show up for me if I use `findLibraries` :/

[2020-06-06 12:59] mikepenz commented on #502
How did you include it in the app?

[code]

seems to not do the job if I try it

[2020-06-06 13:01] mikepenz commented on #502
If I look directly for `./gradlew app:dependencies` (so the official gradle task) it will show:

![image](https://user-images.githubusercontent.com/1476232/83944797-90278280-a806-11ea-9cf6-d6935b1bb9f6.png)

[2020-06-06 13:04] mikepenz commented on #501
Hmmm are you sure?

If I add it to the sample app it works for me :/
Some caching issue? did you do a clean build?

[2020-06-06 13:04] mikepenz commented on #501
![image](https://user-images.githubusercontent.com/1476232/83944877-0cba6100-a807-11ea-83cb-c7181a5ea78c.png)

[2020-06-06 20:07] koral-- commented on #501
Indeed it looks like cache/daemon issue in case of zxing (on clean build it shows up). However, is still reproducible also on clean build. I'll try to isolate a minimal sample which reproduces the issue.

[2020-06-06 22:08] koral-- commented on #502
It seems that you have not added jitpack repo:
`maven { url "https://www.jitpack.io/" }`
for me `:app:dependencies` gives no error:
`+--- com.github.DroidsOnRoids:public-suffix-mpl:6c840d4014`

[2020-06-06 22:54] koral-- commented on #501
@mikepenz branch linked above reproduces this issue for me. Even on clean build.
Dependency is added using implementation scope to library module.

[2020-06-07 18:02] mikepenz commented on #502
Oh in that case it actually works already :D I guess it is also a caching topic I assume:

![photo_2020-06-07 20 02 00](https://user-images.githubusercontent.com/1476232/83976360-c1cd4600-a8f9-11ea-8025-70d7b290e8c4.jpeg)

[2020-06-07 18:35] mikepenz commented on #501
I think I found what this behavior was caused by v8.2.0 should fix this :)

[2020-06-07 18:35] #501 closed

[2020-06-07 18:35] #503 closed

[2020-06-07 18:39] mikepenz commented on #503
v8.2.0 allows for overwriting the library owner with the same approach as the year mappings :)

[2020-06-07 18:40] mikepenz commented on #502
Can you please have a look again (perhaps with v8.2.0) if it is displayed?

[2020-06-07 19:59] koral-- commented on #502
It works correctly on 8.2.0. Thanks for the quick update.

[2020-06-07 19:59] #502 closed

[2020-06-07 21:02] koral-- commented on #491
The initial issue (like with public suffix list) seems to be fixable by pseudo-libraries like https://github.com/DroidsOnRoids/public-suffix-mpl.

Not sure what about supporting multiple licenses. Maybe we should close this issue and create a new one for that case?

[2020-06-08 07:53] mikepenz commented on #491
Yes I think it makes sense to open a feature request to allow for multiple licenses for a library.

Additionally I still would love at some point to provide some form of "library-merging" if we for example talk about the same library but just different modules of itself

[2020-06-08 11:23] markush473 commented on #503
Thank you very much! That is awesome! :)

[2020-06-08 23:48] koral-- opened #505 "Gradle deprecation warnings on AboutLibrariesTask"
## About this issue

[code]

## Details
- [ ] Used library version 8.2.0
- [ ] Used gradle build tools version 6.5-milestone-1
- [ ] Used tooling / Android Studio version AGP 4.1.0-alpha10

## Checklist

- [x] Searched for [similar issues](https://github.com/mikepenz/AboutLibraries/issues)
- [x] Checked out the [sample application](https://github.com/mikepenz/AboutLibraries/tree/develop/app)
- [x]

[2020-06-08 23:50] koral-- opened #506 "Add support for multiple licenses per single library"
Follow-up of #491

According to the POM specification it can contain multiple licenses: https://maven.apache.org/pom.html#Licenses

So it seems that AboutLibraries should be able to handle such cases perhaps. Currently only the first one seem to be taken into account (https://github.com/mikepenz/AboutLibraries/blob/c550624d1340f022c23a973567b4cd84ac9cc1cd/plugin/src/main/groovy/com/mikepenz/aboutl

[2020-06-08 23:51] #491 closed

[2020-06-09 06:41] mikepenz commented on #506
In the "simple" viewer it will be easier as the license is displayed when you press. but for the one which tries to show everything at once it may get a little bit limiting :D

[2020-06-09 11:25] virgil85 commented on #504
I just updated all library versions that I use to the same version as they are used in AboutLibraries.

So there should be no library conflicts regarding those libraries:
`androidX
appcompat
constraintLayout
kotlin
coreKtx
material
`

It will still crash during runtime while inflating a layout (in my case a fragment with activated data binding).

I understand that this is probably not a bug of the

[2020-06-09 11:35] mikepenz commented on #504
the underlaying exception is here:

[code]

not sure what gmm tires to do here :D

[2020-06-10 03:00] Renealpha commented on #504
El mar., 9 de jun. de 2020 6:35 a. m., Mike Penz <notifications@github.com>
escribió:

[2020-06-10 03:08] Renealpha commented on #504
El jue., 4 de jun. de 2020 6:47 a. m., Mike Penz <notifications@github.com>
escribió:

[2020-06-10 10:30] virgil85 commented on #504
Ok - I found the issue(s):

First I removed

`packagingOptions {
        exclude("lib/arm64-v8a/libgmm-jni.so")
 }`

which I had because when I wrote the app the first time it was a quick fix.

After solving that I got the error, that some inline code was compiled jvm6 and not jvm8 so I added this to all the modules that threw the error:

`compileOptions {
        sourceCompatibility = JavaVersion

[2020-06-10 10:30] #504 closed

[2020-06-10 11:47] mikepenz commented on #504
Thanks for adding the details. Glad you were able to resolve the problem

[2020-06-15 12:10] marcqtan opened #508 "[Question][Android] Toolbar back arrow and title color"
Hello, how can we be able to customize the title and back arrow color of the toolbar? I'm using this
`       .withActivityStyle(Libs.ActivityStyle.LIGHT_DARK_TOOLBAR)`

but the toolbar text is White. I want to change it to my apps' primary color

I'm using: implementation "com.mikepenz:aboutlibraries:6.2.3"

Fullcode:

[code]

Thanks!

[2020-06-15 12:14] mikepenz commented on #508
You want to change only the color for AboutLibraries?

Beside changing the general theme you can also adjust more theme colors for the `LibsActivity`

https://github.com/mikepenz/AboutLibraries/blob/v6.2.3/app/src/main/res/values/styles.xml#L3

As you can see it uses genera theme attributes from your apps theme: https://github.com/mikepenz/AboutLibraries/blob/v6.2.3/library/src/main/res/layout/act

[2020-06-15 12:23] marcqtan commented on #508
I want to change the text to another color (e.g yellow)

<img width="209" alt="Screen Shot 2020-06-15 at 8 20 03 PM" src="https://user-images.githubusercontent.com/66229352/84656701-af7c8900-af45-11ea-8551-0acbe5c33a23.png">

[2020-06-15 12:24] mikepenz commented on #508
If you want full custom style I'd suggest to use the fragment API and embed it in an activity with your own custom toolbar :)

[2020-06-15 12:25] marcqtan commented on #508
I just want to change the text color only. :D

[2020-06-15 12:27] mikepenz commented on #508
usually this is done by themes. you define the theme which will then be used by the Toolbar component. this is nothing special to this library :)

you can also copy paste the activity layout from above to your project (keep the same name) and modify the colors

[2020-06-15 16:40] mgray88 opened #509 "`aboutLibrariesWindowBackground` not being applied"
## About this issue

`aboutLibrariesWindowBackground` not being applied. Using a fragment. Frankly I've search through the code and I don't even see where this attribute is applied

## Details
- [ ] Used library version: 8.2.0
- [ ] Used support library version
- [ ] Used gradle build tools version: 4.0.0
- [ ] Used tooling / Android Studio version: 4.0.0
- [ ] Other used libraries, potential conf

[2020-06-15 16:44] mikepenz commented on #509
@mgray88 there is a high chance I missed to remove this one after upgrading to v8 which refactored the styling portion of the lib.

I'll have a look and remove it. thanks for the report

[2020-06-15 16:50] #509 closed

[2020-06-15 19:34] mgray88 commented on #509
Also the README
https://github.com/mikepenz/AboutLibraries/blob/develop/README.md#L156

[2020-06-16 09:04] marcqtan commented on #508
Thanks. It's working now using customized styles attribute. :D

[2020-06-16 09:04] #508 closed

[2020-06-16 12:19] mgray88 opened #510 "Combine dependencies?"
## About this issue

Is there a way to combine dependencies? The only thing I see is `shouldSkip(uniqueId)` but that is very specific to your library.

If this isn't implemented anywhere my thoughts were have another config file that maps ids to a new id. Maybe simpler would be use the name mappings, where if multiple libraries map to the same name, they are consolidated to the same entry?

My par

[2020-06-16 14:40] mikepenz commented on #510
@mgray88 thanks for the report. currently we do not yet have a feature which would merge together libraries.

But that is actually something on our roadmap as more libraries have a huge set of libraries in different modules

[2020-06-16 14:42] mgray88 commented on #510
I was actually just about to fork and see if I could implement something that would work for me. If I can get something working and submit a PR is there a direction you suggest I go in?

[2020-06-16 14:46] mikepenz commented on #510
@mgray88 sounds great.

I am not yet 100% sure if this is solely a feature which would only be for the gradle plugin or if we should do it in the kotlin library code.

Advantages in the kotlin library code is that it will also apply for other libraries passed in manually and I suppose configurations would be better fitted and allow for greater flexibility

the main question is if it would be mainl

[2020-06-16 15:25] mgray88 commented on #510
I can see arguments for both gradle and kotlin. I'm thinking one way might be include all by default in the core library, but in the ui library, use the `libraryComparator` to unique the list of libraries (custom user comparator with regex?). For the plugin, potentially another config file? An idea I haven't fully fleshed out yet. Or maybe a gradle plugin setting that modifies how already existing

[2020-06-20 14:21] #505 closed

[2020-06-20 14:21] #506 closed

[2020-06-20 14:23] mikepenz commented on #510
Thanks again for your PR :) Your changes are part of v8.3.0

[2020-06-20 14:23] #510 closed

[2020-06-29 16:28] mueller-ma opened #512 "Outdated docs"
## About this issue

In #507 @mikepenz wrote:

However the docs still say that a definition file is required: https://github.com/mikepenz/AboutLibraries/wiki/HOWTODEV:-Include-in-your-library

## Checklist

- [X] Searched for [similar issues](https://github.com/mikepenz/AboutLibraries/issues)
- [X] Checked out the [sample application](https://github.com/mikepenz/AboutLibraries/tree/develop/app)
-

[2020-06-29 21:31] mikepenz commented on #512
I have added a note that it is deprecated and no longer needed for v8

[2020-06-30 08:23] mikepenz commented on #512
Thanks for the report :)

[2020-06-30 08:23] #512 closed

[2020-07-08 18:09] cyb3rko opened #513 "Adding help for creating POM information"
## About this issue

Referring to #512:
Maybe you could also briefly include an explanation, how to include information about own libraries in a POM file, so that AboutLibraries can detect those information.

## Checklist

- [x] Searched for [similar issues](https://github.com/mikepenz/AboutLibraries/issues)
- [x] Checked out the [sample application](https://github.com/mikepenz/AboutLibraries/tree

[2020-07-10 15:23] mikepenz commented on #513
@cyb3rko so in this regards. basically if you create a library, it is suggested that you make use of the POM specification and fill as much information as possible. E.g. author, name, license, ...
And the plugin will automatically pick it up

https://maven.apache.org/pom.html

Also look into the spec on data like licenses:
https://maven.apache.org/pom.html#Licenses

[2020-07-10 15:26] cyb3rko commented on #513
Oh ok, thanks.
I asked because I want to add information via POM to an existing library.
I hope I can find it now, thanks!

[2020-07-10 15:31] mikepenz commented on #513
If it is not your library and you want to add information to your project that is a bit of a different topic.

Usually information from maven should be sufficient. but in some cases that's sadly not the case.

so for these you can still do the library definition file (as linked above, the old approach) and then "enchant" a library with this information.

There are various files to add information

[2020-07-10 15:37] cyb3rko commented on #513
I think you missunderstood me, the library owner asked me to implement the information to his open source library by opening a new PR, so I think it is not that hard.

[2020-07-10 17:06] cyb3rko commented on #513
I want to improve the library by directly coding IN the library code.
Where exactly do I include all the things that are listed on the [site you sent](https://maven.apache.org/pom.html)?

And where did you include them e.g. in this library here? Do they belong in the gradle.properties (because if you search for "POM" in this library here in the gradle.properties you can find that you included some

[2020-07-10 17:12] mikepenz commented on #513
Well that really depends on the setup of that library. there are many ways for a dev to set that up.

I usually have the infos in the gradle.properties. but I also had projects where I did it within gradle

https://github.com/mikepenz/FastAdapter/blob/develop/library-core/gradle.properties
https://github.com/mikepenz/FastAdapter/blob/develop/gradle.properties

[2020-07-10 17:25] cyb3rko commented on #513
Ok, thanks a lot!

[2020-07-10 17:25] #513 closed

[2020-07-10 18:14] kylec0231 opened #514 "Customizing toolbar color and background color"
## About this issue
I followed ReadMe and successfully applied custom to aboutlibraries attributes but I would like to know more customs on these below.

Question
- how to customize toolbar color and background color
![image](https://user-images.githubusercontent.com/44420319/87185334-3146a480-c2af-11ea-8c25-21bc0429295e.png)
yellow - (assuming) Toolbar
blue - (assuming) background
green - (assumi

[2020-07-14 06:14] mikepenz commented on #514
The toolbar uses the normal toolbarStyle: https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/activity_opensource.xml#L10

and blue and green are the same background

[2020-07-16 22:24] cyb3rko opened #518 "No proper library name shown"
## About this issue

I implemented my own library (which is still in development), and I recently added information via POM:

[code]

<br/>

I think I did everything in the correct way but why is the name of the library shown as following:

<img src="https://user-images.githubusercontent.com/46033730/87727128-abe85600-c7c0-11ea-94ff-9bc828ed437e.jpg" width="350">

I really don't understand what I

[2020-07-17 07:32] mikepenz commented on #518
how does the published pom look like? Couldn't find the lib on maven central or bintray

See the name here in the fastadapter pom: https://repo1.maven.org/maven2/com/mikepenz/fastadapter/5.2.1/fastadapter-5.2.1.pom

perhaps you got somewhere a different property where the name is not yet set properly

[2020-07-17 07:40] cyb3rko commented on #518
Oh I see the problem.
Here's the POM: https://jitpack.io/com/github/cyb3rko/about-icons/70c2a0c/about-icons-70c2a0c.pom

There the wrong name is shown, so how do I change it?
Is `POM_NAME=About Icons Library` in the gradle.properties not working?

[2020-07-17 07:46] cyb3rko commented on #518
Oh, you have set the `POM_NAME=...` in the gradle.properties in the library folder.
Is this the solution?

[2020-07-17 07:51] mikepenz commented on #518
possibly. really always depends on your setup :) there are many ways to have publishing to maven configured.

[2020-07-17 23:37] cyb3rko commented on #518
What do you mean with "setup"?

I tested everything now and nothing changes the library name.
(For further information: I just publish my project to GitHub and let Jitpack do the rest; I think that's what you call "setup")

[2020-07-18 13:47] mikepenz commented on #518
Well there are many ways of releasing libraries. via gradle plugins, via scripts, ...

But that's not part of this libraries concern :)

If you publish your library so it defines the name you want to display. AboutLibraries will pick it up :)

It does right now too, just sadly the different value which is not the expected one.

[2020-07-18 13:47] #518 closed

[2020-07-18 13:48] mikepenz commented on #514
I hope this link helped :)

[2020-07-18 13:48] #514 closed

[2020-07-18 13:58] cyb3rko commented on #518
Yeah you're right. You have shown, that the problem is not oart of this library.

Thanls for your help.

[2020-07-18 14:01] mikepenz commented on #518
I am sure you can figure it out :)

Sadly I also don't really know much about jitpack so perhaps it's its problem.

I prefer to have bintray or maven central anyways as it allows me to sign the packages so people can verify that it is really built by me

[2020-07-19 00:41] AllanWang opened #520 "Better select useful dependencies to list during plugin generation"
Not exactly a bug report so I'm removing the template. Applies to v8.3.0. I have been on 7.x.x until today

Related issues: #510

We should be more selective when generating the plugin list instead of just displaying every single dependency.

Looking at the readme screenshot, we see listings like Activity, Arch-Common, etc. Those won't really be useful for others, and seems to dilute the list. I w

[2020-07-19 01:05] AllanWang commented on #490
What was the fix for deduplication exactly? I've updated a library I'm using to use the plugin, and I'm keeping my main app with a manual include list as the list gets too populated (#520). I'm getting duplicated cards for libraries used in both projects.

Is the main fix to migrate my main app to use the plugin? I'm looking for more of a whitelist filter as opposed to a blacklist one

[2020-07-19 16:41] cyb3rko commented on #518
Btw, i figured out that this behaviour I described is normal for jitpack packages.
It seems like you can't change the name, it's always the same syntax: "authorname/artifactid".
Those libraries using jitpack then are all shown in the same way by your library :neutral_face:, I think it is not just mine.

I found example packages by jitpack on GitHub and your library also shows "jitpack/examplename"

[2020-07-20 06:30] mikepenz commented on #490
For now the approach was via the exclusion list which was deeper included in the plugin so you can have a simple list there to drop libs.

I am still thinking of a good approach to introduce a intelligent "merge" mechanism which would be an optional choice.

Note neither excluding nor a specific allow list is generally suggested as all libs should retrieve their attribution.

[2020-07-20 06:35] mikepenz commented on #520
@AllanWang I understand the request and see the ideas behind it.

Generally speaking I prefer and I believe that every single library and it's license should be included for the complete attribution of your project. if a lib is not included in the attribution the lib may should be removed from the project alltogether

That being said. I believe that you are not the only one who'd love to have a me

[2020-07-20 06:37] AllanWang commented on #490
I think that's fair, but currently a lot of the entries are not really dependencies, but subcomponents of a main dependency. I'm also not sure if it's pulling all dependencies in the project or just the ones added by the project

[2020-07-20 06:38] mikepenz commented on #490
On that note, I am still curious about the "I'm getting duplicated cards for libraries used in both projects." As this kind of seems strange to me. the plugin will generate the same resource Ids so they overwrite each other.

Could it be that it's possibly a bug due to your manual inclusion list?

[2020-07-20 06:40] AllanWang commented on #490
My main project uses the old method where I define the Libs + packages. I'm guessing that isn't the supported method and I'd be fine with switching over, but the alternative lists way too many libraries. It's not that I don't want to give credit to everything, but I believe that the list of that size makes it harder for other developers to identify the direct dependencies I'm using. Looking at it

[2020-07-20 06:45] AllanWang commented on #520
How are you resolving the URLs for each dependency? That might be a good place to start, given that dependencies with the same license and URL (and maybe description) don't really offer any more attribution

[2020-07-20 06:45] mikepenz commented on #490
@AllanWang yes the library lists all dependencies. E.g. things which are getting pulled into your project and are required for your project to compile.

MaterialDrawer for example uses FastAdapter. MaterialDrawer won't work without FastAdapter so both get credits.
(In the past it also required Iconics but I removed that in v8, also Materialize is removed)

But similar principle for all the jetpack

[2020-07-20 06:46] AllanWang commented on #520
I also see entries (like Material Dialogs) that don't have a license nor an associated URL. Does it still make sense to list it at that point? Perhaps that would need some kind of lookup where it trims off sections of the dependency until we have a useful entry

[2020-07-20 06:49] mikepenz commented on #520
Oh url may be a good idea, I still guess though it will fail badly possibly for jetpack libs.
Not sure how the merge strategy would look like there. But that's a good idea to try

-----

[code]
there's actually the gradle task which lists libraries with missing information, so you can easily then add the information to one of the config lists.

Possibly even to the libraries included overwrite mec

[2020-07-20 06:50] AllanWang commented on #520
With regards to figuring out which dependencies are referenced, I'm not sure if it should be using every dependency in the project. Libraries are supposed to provide licenses that respect their own dependency, so referencing the immediate dependencies should suffice. Libraries should use `implementation` anyways, so direct usage to an inherited library needs to be declared.

This probably won't be

[2020-07-20 07:00] AllanWang commented on #520
Another interesting thing:

https://github.com/AllanWang/KAU/search?q=%22dependencies.fastadapter%22&unscoped_q=%22dependencies.fastadapter%22

My project only uses FastAdapter's `utils` and `diff` extensions, yet the entries list `diff`, `drag`, `expandable`, `swipe`, and `utils`.

This is probably something I need to investigate since I don't think any of my dependencies should be using the extr

[2020-07-20 07:06] mikepenz commented on #520
The plan to support those cases of not going to the transitive dependencies sounds good, but would make the default the current behavior and allow an option to change the behavior. First we'd have to see first if we get the "level" of a dependency though.

From a "giving credits" side, generally it would be beneficial to include the whole tree though, as none would function without it's sub depend

[2020-07-21 12:47] blundell opened #521 "Type 'AboutLibrariesTask': setter method 'setDependencies()' should not be annotated with: @InputFiles. This behaviour has been deprecated and is scheduled to be removed in Gradle 7.0."
## About this issue

Run gradle with `--warning-mode all`

And you get this warning:

Type 'AboutLibrariesTask': setter method 'setDependencies()' should not be annotated with: @InputFiles. This behaviour has been deprecated and is scheduled to be removed in Gradle 7.0.

## Details
- [ ] Used library version
- [ ] Used support library version
- [ ] Used gradle build tools version
- [ ] Used toolin

[2020-07-21 12:49] blundell commented on #521
Fixed here https://github.com/mikepenz/AboutLibraries/issues/505 ;-) TY!

[2020-07-21 12:49] #521 closed

[2020-08-06 15:00] ZeeOne opened #523 "Potential Missing Dependencies"
Hi there! Thank you for this awesome library!

I was wondering if the issue described here: https://github.com/mikepenz/AboutLibraries/issues/501
might also be an issue for the AndroidX/Java version (6.2.3). As an extra test, I also added the zxing dependency, but it does not show up. I might be doing something weird though, since this is my first time trying out this library.

This is what my gra

[2020-08-06 15:02] mikepenz commented on #523
@ZeeOne how did you configure the gradle plugin?

[2020-08-06 15:02] mikepenz commented on #523
I fail to find it in your shared one above:

https://github.com/mikepenz/AboutLibraries#gradle-plugin

[2020-08-06 15:11] ZeeOne commented on #523
That was the quickest response in the history of humanity!

Ok, I didn't set up the plugin, since I incorrectly assume I should use the 6.2.3 version there - and then thought I set it up incorrectly when it did not work.

I have now set it up like so:
root:
[code]

and then in the app gradle: added apply plugin: 'com.mikepenz.aboutlibraries.plugin' to the top.

It still behaves the same as describ

[2020-08-06 15:15] mikepenz commented on #523
Oh I am actually sorry I totally missed that you are on a very old version of the library.

So v6.x is no longer maintained. it used provided definition files to fill the UI with the dependencies. with that approach libraries may be missing as they were not added yet.

With v8 we finally made a new approach which retrieves the information via maven (the pom files) which will now catch all the libr

[2020-08-06 15:25] ZeeOne commented on #523
Its working!! Thank you so much! Sorry, this is totally my fault - I was under the impression that one has to use V6.2.3 for AndroidX/Java. I updated everything to the latest and greatest version, and now it works perfectly. It looks SO nice. Sorry for wasting your time with silly mistakes, and thank you again for your effort!

[2020-08-06 15:30] #523 closed

[2020-08-06 16:14] mikepenz commented on #523
Happy to be able to help :)

[2020-08-09 00:07] CarlosEsco opened #524 "Does not seem to be working on build.gradle.kts files"
I have the appropriate section in the classpath of the app gradle.kts  , and the plugins for section for the project gradle.kts

I run my application. i open the about library.  No libraries show.

[2020-08-10 06:29] mikepenz commented on #524
which version of the library are you using?

please list the configuration for both gradle files you do.

[2020-08-10 12:04] CarlosEsco commented on #524
build.gradle.kts for project
[code]
build.gradle.kts for app
[code]
as stated above.  the LibsBuild  start works.  But no libraries are actually populated

[2020-08-10 12:10] mikepenz commented on #524
What's the output you see if you do:

[code]

or

[code]

?

if you look into the generated sources will you see the information generated?

[2020-08-11 00:50] CarlosEsco commented on #524
exportLibraries and FindLibraries seem to be working fine  a few libraries that error but the task completes and they list libraries in the console.  Though i can't find a csv file from exportLibraries.

as for generated sources it was there also.  I checked logs again and saw this

AboutLibraries: Have you missed to call withFields(R.string.class.getFields())? - autoDetect won't work - https://gi

[2020-08-11 00:50] #524 closed

[2020-08-12 16:17] Leepee opened #525 "Is there a way to use the withAboutSpecial to create a web link?"
Is there a possibility to make a special link directly to a web page? Or any other way to make a clickable weblink with the library?

Thanks a lot for all the work :)

[2020-08-12 16:18] mikepenz commented on #525
Do you mean for every single library? or a top level button action?

[2020-08-12 16:21] Leepee commented on #525
Apologies - a button at the top I can use to go to a web URL - where I can give more detail about my project on my own website.

Thanks for the prompt reply!

[2020-08-12 16:29] mikepenz commented on #525
So you'd enable the special button by setting it's name:
https://github.com/mikepenz/AboutLibraries/blob/bb3eb47a2f5a7358a6b7ffe8a616833c682ec378/library/src/main/java/com/mikepenz/aboutlibraries/LibsBuilder.kt#L294

and then you'd set the special button listener here:
https://github.com/mikepenz/AboutLibraries/blob/bb3eb47a2f5a7358a6b7ffe8a616833c682ec378/library/src/main/java/com/mikepenz/aboutl

[2020-08-12 20:35] Leepee commented on #525
King. I'll look into this tomorrow, thanks a ton for the help :)

[2020-08-13 10:59] Leepee commented on #525
Perfect, cracked it.

Huge thanks for this man, it's a fantastic library, especially for a newb codemonkey like me!

[2020-08-13 10:59] #525 closed

[2020-08-13 11:21] mikepenz commented on #525
you are welcome :) glad it works

[2020-09-14 11:51] corootine opened #527 "Custom library entry with a custom license"
## About this issue

I'm using a library that has another library embedded into it and therefore is part of the original source code.
However, we're required to include the license for this embedded library as well. Naturally, this one does not get auto detected.
Is there a possibility to define a custom library entry, preferably through some configuration file rather than source code.
Additionall

[2020-09-14 12:23] mikepenz commented on #527
Hey.

Sure that's possible, you can do this solely by providing the meta information you want to show. consisting of:

- library
- license
- license description

You can find a dummy setup I pushed for you here:
https://github.com/mikepenz/AboutLibraries/commit/b38e6803c17a7033fc0921dd6755ae01bd44036e

[2020-09-14 13:00] corootine commented on #527
Hey, thanks for the reply! I manged to figure it out in the meantime by inspecting and debugging the code. I think it would be worthy to put this information in the README.md. What do you think? Something along the lines:

`
You can provide custom entries for libraries and licenses through string resources. In order to define a library, you have to add following identifiers:

  <string name="defin

[2020-09-18 11:56] mikepenz commented on #527
@corootine more than happy to take a PR to enhance the README for this :)

[2020-09-23 11:19] vernazza opened #528 "Libs(context).libraries is empty"
## About this issue

I tried to use the library without the UI component, as I'm going to use my own UX
I added the classpath, applied the plugin and added the core-module through the implementation
then, from my activity, I call
` Libs(context).libraries`
anyway, libraries returns an empty list.
It seems that the toStringArray() functions filters out every field, so the init constructor doesn't f

[2020-09-23 11:24] mikepenz commented on #528
@vernazza please also call `prepareLibraries` to make it read in the libs

[2020-09-23 12:13] vernazza commented on #528
No, nothing changes.
I tried both with

`Libs(context).prepareLibraries(context)`
and with
`Libs(context).also{it.prepareLibraries(context)}.libraries`

Same empty result

[2020-09-23 12:20] mikepenz commented on #528
@vernazza do you have some custom package id or use obfuscation or so?

E.g. could it be that it can't find the R class?

E.g. could it require you to provide the fields? `R.string::class.java.fields`

[2020-09-23 13:56] vernazza commented on #528
I use obfuscation but only on release. Now I'm in debug, so that should not be the problem.
It can find the R class: if I step in with the debugger here:

[code]

I can see that
`resolveRClass(packageName)?.fields`
returns a lot of fields, but `toStringArray` filters them out for the filter `it.contains(Libs.DEFINE_EXT) `

Running the ./gradlew exportLibraries command gives me 240 entries.

[2020-09-23 14:15] vernazza commented on #528
I found the problem.
The package id of the manifest was different from the applicationId in the gradle.
I changed the manifest one, and now the libraries can be found.

[2020-09-23 14:18] mikepenz commented on #528
@vernazza I think if you pass in the fields manually via the API it should also solve this problem :) Sadly the reflection approach is not picking them up nicely

Glad it works now :)

[2020-09-23 14:18] #528 closed

[2020-10-01 07:18] yashx opened #530 "What is the recommended way to use this library with Jetpack navigation?"
## About this issue
What is the recommended way to use this library with Jetpack navigation? I couldn't find anything about it on the README.

## Checklist

- [x] Searched for [similar issues](https://github.com/mikepenz/AboutLibraries/issues)
- [x] Checked out the [sample application](https://github.com/mikepenz/AboutLibraries/tree/develop/app)
- [x] Read the [README](https://github.com/mikepenz/

[2020-10-01 07:55] mikepenz commented on #530
Generally it's meant to be launched via the builder as Activity or you get the fragment and put this in your fragment manager.

The builder set's itself as serializeable data into the `Bundle` of the fragment. So I believe if you use the safe-args plugin you can use the fragment this library offers as a target to navigate to.

https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/mai

[2020-10-01 09:43] yashx commented on #530
What you suggested works. By adding this to the nav graph and passing a LibsBuilder object.
[code]
Tbh I think this destination should be self-contained.
Maybe a subclass of LibsSupportFragment that would work similarly to a DialogFragment. Basically, people can subclass it and define the LibsBuilder inside it and set that as a destination. Should I send a PR for this or do you prefer the first ap

[2020-10-01 09:48] mikepenz commented on #530
@yashx totally agree with it making a lot of sense to be self contained. `LibsSupportFragment` should be open so extending it should already work.

Wouldn't hurt to showcase the usage of it in the sample though :). So if you like to showcase how it can be done, more than happy to include it in the sample

Thank you!

[2020-10-01 10:12] koral-- commented on #530
BTW `com.mikepenz.aboutlibraries.LibsBuilder` must not be renamed during obfuscation. At least ~AGP-4.2.0-alpha09 was not smart enough to generate R8 rules for nav args classes.

[2020-10-01 10:16] mikepenz commented on #530
@koral-- great point

[2020-10-01 11:21] corootine commented on #527
I'll take it up sometime this week. :)

[2020-10-01 15:13] #527 closed

[2020-10-02 10:00] OliverCulleyDeLange opened #532 "StackOverflowError when running findLibraries task"
## About this issue
[code]
## Details
- [8.3.1 ] Used library version
- [androidx.legacy:legacy-support-v4:1.0.0 ] Used support library version
- [4.0.1 ] Used gradle build tools version
- [4.0.1 AS ] Used tooling / Android Studio version
- [sooooo many ] Other used libraries, potential conflicting libraries

## Checklist

- [ Y] Searched for [similar issues](https://github.com/mikepenz/AboutLibra

[2020-10-02 12:17] mikepenz commented on #532
@OliverCulleyDeLange could you please provide a sample app which allows us to reproduce this issue?

This problem seems to not be reproducible on our end.

Can you potentially also provide the gradle version you use?

[2020-10-02 13:13] OliverCulleyDeLange commented on #532
Sure.
https://github.com/OliverCulleyDeLange/bugs/tree/about-libraries-soe

[2020-10-02 13:50] mikepenz commented on #532
I don't know yet why but it seems to be related to:

[code]

If you remove those. it will work

[2020-10-02 15:00] mikepenz commented on #532
Ok I think I found the problem. And will have a new update available soon.

(The problem seems to be an infinite loop with the child dependencies in gradle, applying a patch to catch this)
(additionally one of those dependencies references a *.pom file which has a invalid xml file, applying a patch to this too)

[2020-10-02 15:01] #532 closed

[2020-10-02 15:59] OliverCulleyDeLange commented on #532
Great, thanks for the library 👍

[2020-10-02 16:00] mikepenz commented on #532
I need to fix something with the plugin publishing. But I hope the update is ready in a few hours.

Thanks for the report. And thank you for the sample app. That helped a lot

[2020-10-02 18:16] mikepenz commented on #532
Ok it will take a bit longer as gradle has to approve the update:

![image](https://user-images.githubusercontent.com/1476232/94956219-12d9f900-04ec-11eb-94dc-251ef25776a6.png)

As I moved to only host it on gradle plugin portal. let's hope this goes through soon. :)

[2020-10-03 06:29] mikepenz opened #535 "2020.4.0 Plugin release"
## About this issue

![image](https://user-images.githubusercontent.com/1476232/94984992-7991fd80-0552-11eb-9126-4a75fa81e8ac.png)

## Details
- /

## Checklist

- /

[2020-10-04 11:20] #530 closed

[2020-10-06 07:31] #535 closed

[2020-10-06 07:48] mikepenz commented on #532
v8.4.2 is now available with the fixes for the above issue :)

[2020-10-07 16:11] profriemke opened #538 "LibsBuilder().start(this) builds an overview without license Information"
## About this issue
LibsBuilder().start(this) builds an overview as in the screenshots but without license Information (expected to be shown in the right bottom corner). All other information is included, also clicks opens browser.
Manual programmatic approach delivers all information as expected.

## Details
- Used library version: 8.3.0 (others are not available through Android Studio)
- Gradle

[2020-10-07 17:31] mikepenz commented on #538
@profriemke do you have the plugin configured in your build?

Have you tried a clean build?

[2020-10-07 18:28] profriemke commented on #538
Yes I have and also did clean builds. The strange thing is that the cards are generated and everything is working fine, only the license is missing on the cards.

Doing this manually like

val libraries = Libs(this.requireContext()).libraries
 for (lib in libraries) {
Log.e("AboutLibraries", lib.licenses)
}
delivers information.

[2020-10-07 19:03] profriemke commented on #538
Solution:
LibsBuilder().withLicenseShown(true).start(this)
It was not quite clear from the docs that this is neccessary to get the result.

[btw thank you for your work on this project!]

[2020-10-07 19:03] #538 closed

[2020-10-07 19:07] mikepenz commented on #538
can you reproduce this if you remove `.withLicenseShown(true)` again? it shouldn't be required :/

[2020-10-07 19:10] profriemke commented on #538
Yes, it's gone on the card when I remove it.

[2020-10-07 19:12] mikepenz commented on #538
@profriemke oh sorry I think I missunderstood the issue then. You were not meaning no libraries show up in the list, but you miss the UI section in the card.

Yes you are correct that this can be toggled with that flag. If you have time at your hand I'd appreciate a PR on the README to put that more into spotlight so future users have an easier time to find it :)

thanks so much for reporting bakc

[2020-10-07 19:53] profriemke commented on #538
I try to find some time :-)

[2020-10-22 09:49] awoisoak opened #543 "Custom licenses not displayed since 8.3.0"
## About this issue

Since 8.3.0 the [custom licenses](https://github.com/mikepenz/AboutLibraries#custom-licenses) are not being displayed. Downgrading to 8.2.0 fixes the issue.
(I checked 8.4.2 but the issue is still there)

[2020-10-22 10:59] mikepenz commented on #543
can you please showcase in a sample app what you do and what is not working?

I know that for various users it's working

[2020-10-25 15:17] ryul6445 opened #544 "README"
## About this issue

- Briefly describe the issue
- How can the issue be reproduced / sample code

## Details
- [ ] Used library version
- [ ] Used support library version
- [ ] Used gradle build tools version
- [ ] Used tooling / Android Studio version
- [ ] Other used libraries, potential conflicting libraries

## Checklist

- [x] Searched for [similar issues](https://github.com/mikepenz/AboutLi

[2020-10-25 15:19] ryul6445 commented on #544
update

[2020-10-25 16:56] #544 closed

[2020-10-26 07:27] awoisoak commented on #543
Thanks for the quick answer, I uploaded a sample app [here](https://github.com/awoisoak/AboutLibrariesTest) with a single personalized library called _Bunch_ that uses a custom license (see [res/values/about_libraries.xml](https://github.com/awoisoak/AboutLibrariesTest/blob/master/app/src/main/res/values/about_libraries.xml)).
I setup version [8.2.0](https://github.com/awoisoak/AboutLibrariesTest/

[2020-10-26 12:58] mikepenz commented on #543
Thank you. I'll try it out as soon as possible and let you know what's up

[2020-10-27 11:15] mikepenz commented on #543
@awoisoak the change to support multiple licenses changed the specification from:

Please change
[code]

To:
[code]

Also please consider using the latest release of the library v8.4.2.
I will have a look and possibly adjust it to fallback to the `licenseId` if no `licenseIds` is specified

[2020-10-27 11:27] #543 closed

[2020-10-28 02:10] awoisoak commented on #543
Thank you!

[2020-11-05 03:35] illabo opened #549 "Missing plugin version 8.4.3."
Latest downloadable release is 8.3.1 when root project `build.gradle` repositories are set to
[code]
Had to add `maven { url "https://plugins.gradle.org/m2/" }`.
[code]
I believe you just forgot to publish it?

[2020-11-05 07:53] mikepenz commented on #549
Due to complications with bintray publish the plugin is now only available via the officiale gradle plugin portal:

https://plugins.gradle.org/plugin/com.mikepenz.aboutlibraries.plugin

I'll add the info in regards to the plugin hosting to the README. thanks for the report

[2020-11-05 07:54] #549 closed

[2020-11-05 22:59] rpavlik opened #550 "Inconsistent results with manual libraries and bundled licenses?"
## About this issue

- I'm using this for an Android app with a native component, which means I'm adding resources for native libraries. Other deps appear mainly to be Apache 2.0, but license on native code varies: some are BSL-1.0 (for which I added a custom license, which worked fine), some are MIT. The MIT ones don't have the license field show up in the GUI, perhaps in part because there is a

[2020-11-06 07:46] mikepenz commented on #550
@rpavlik that's actually anticipated behaviour of the plugin to not fill your apps resources with non discovered libraries / licenses. As the library solely functions based on gradle dependencies and not being aware of any other app resources, it sadly fails to understand that in your case you have a native lib which requires the `mit` license.

The best solution for this usecase would be to inclu

[2020-11-06 12:45] illabo opened #551 "No view in fragment"
## About this issue

I'm trying to add  the `LibsSupportFragment` as a child fragment inside another fragment or replace a layout element of a parent fragment with it.
[code]
The `child_fragment_container` is a ConstraintLayout.
And boom! I'm getting such an output in run log:
[code]
For obvious reason adding fragment's view to `ViewGroup` is also impossible.

It looks same to lines 170—180 in `Fr

[2020-11-06 14:09] illabo commented on #551
Ok, finally found #530 and was able to accomplish what I wanted. To tie up the shards of information together was a challenge, though.

[2020-11-06 14:09] #551 closed

[2020-11-06 15:09] rpavlik commented on #550
Got it, so it's not actually parsing the resources at gradle time, only deciding libraries to include based on the gradle-discovered deps. (I traced most of the source code but not all of it.)

So, if I understand correctly, this is as-expected then (cJSON and Eigen are both native libraries I added stuff for manually, but that use MIT and MPL2, respectively)

![image](https://user-images.githubus

[2020-11-06 15:49] mikepenz commented on #550
@rpavlik I chose not to parse any resources of the project, as this may be a security concern for some, additionally that would require significant knowledge about the different places resources may originate from (different languages, ...) so choosing to only parse the gradle dependencies seemed to be a better more future proof approach.

yes exactly. the current approach would be to include the

[2020-11-06 15:51] mikepenz commented on #551
@illabo great to hear that you were able to resolve your issue. If you'd love to improve the documentation, or enhance sections which may not be clear, don't hesitate to open a PR. We'd really appreciate all the things improving the library!

[2020-11-07 14:20] #550 closed

[2020-11-09 16:41] bbourbon opened #557 "ExportLibraries fails using gradle CLI"
## About this issue

- Briefly describe the issue
ExplorLibraries task using gradlew commandLine fails

- How can the issue be reproduced / sample code
Create an Android Blank project using Android Studio 4.1 (Java)
Modify project build.gradle to include AboutLibraries Gradle Plug-in (classpath / maven url) 8.4.5
Modify app build.gradle to include the plugin and the dependencies;

Add a button to

[2020-11-09 17:03] mikepenz commented on #557
@bbourbon thank you for the report, there will be a new release fixing this soon

[2020-11-09 17:09] #557 closed

[2020-11-09 17:52] mikepenz commented on #557
@bbourbon please try v8.5.0

[2020-11-09 23:26] bbourbon commented on #557
Thank you show much Mike. I will test as soon as possible.

Best Regards.

[2020-11-24 13:21] StuStirling opened #564 "Generated aboutlibraries.xml Contains { in Resource Name. Build Failure"
## About this issue

When creating a release build of my app I'm getting the following error:

`.../app/build/generated/aboutlibraries/Release/res/values/aboutlibraries.xml: Resource and asset merger: '{' is not a valid resource name character`

Looking at the generated file I can see the following resources are defined.

[code]

Glassfish is included in multiple different modules of my app but he

[2020-11-24 14:17] mikepenz commented on #564
@StuStirling this seems to be invalid information inside the `*.pom` file of the dependency:

https://repo1.maven.org/maven2/org/glassfish/javax.annotation/10.0-b28/javax.annotation-10.0-b28.pom

[code]

It's interesting as it seems to work with properties and placeholders. I'll investigate this particular one and see if we can build a common solution for those situations

[2020-11-24 14:27] StuStirling commented on #564
Thanks. I'll look into overriding this specific one for now. FYI I was using an 8.0.0 release candidate prior to this which worked ok

[2020-11-24 14:46] StuStirling commented on #564
@mikepenz sorry, struggling to exclude this library to then allow it to work.

I've tried to follow the same format as in your sample `app` module's config file.

Here is the exclusion id I'm using: `org_glassfish__javax_annotation`.

I am then referencing this within a config directory at my project's root, like you're doing in the sample.

That right?

[2020-11-24 14:57] mikepenz commented on #564
I think ultimately that one is super tricky because due to the invalid chars in the identifier various pieces wont' work out.

Locally I have the code working to apply those placeholders to artifactId, name and description.

Should be able to provide you an update with this working in around 30-60 minutes

[2020-11-24 15:00] mikepenz commented on #564
If you want to exclude it with the current version you may want to try to provide a `custom_exclusion_list.prop` via the config folder

with `org_glassfish__${extension_name}` as content

[2020-11-24 15:15] mikepenz commented on #564
Please wait another 30 minutes until I was able to wrap up the release

[2020-11-24 15:30] mikepenz commented on #564
When this build finishes things should be ready to go :) https://github.com/mikepenz/AboutLibraries/runs/1448519858?check_suite_focus=true

[2020-11-24 16:28] StuStirling commented on #564
Great, thanks for such a quick turnaround. I can confirm that #565 has enabled the project to build again and provides the output.

[code]

May want to sort the placeholder in the `libraryArtifactId`? I guess it comes down to how far you want to go to fix someone else's bug!

Massive thanks for sorting this. Keep up the outstanding work

[2020-11-24 16:34] mikepenz commented on #564
Will consider filling more placeholders tomorrow 😉

Thanks for the update. Glad it compile again

[2020-11-25 08:10] #564 closed

[2020-11-25 08:46] mikepenz commented on #564
Released v8.6.2 with the remaining outlined problem.

Thanks again for the report

[2020-12-04 17:58] iainism opened #571 "Possible enhancement: Increase touch-target size"
I have recently submitted an app that uses AboutLibraries via the Google Play console.  The pre-launch report has flagged some (minor) accessibility issues, e.g. in relation to touch-target size for the link to library sources.  As an enhancement, would it be possible to have an (optional?) item layout available that provides the minimum recommended touch-target size of 48dp by 48dp?  (I think thi

[2020-12-04 19:05] mikepenz commented on #571
@iainism if you'd love to adjust layouts used by the UI you can thanks to the flexible android build system overwrite them :)

Copy paste this to your project:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/listitem_opensource.xml

and modify the sizes you would love to be different.

[2020-12-05 16:21] fourofspades opened #572 "Using with AndroidX navigation."
Hopefully this is just a documentation task.  I am using gradle plugin 8.6.2 (latest)  and looking at the issue tracker, it should be possible to use this using AndroidX navigation.  However I couldn't find any documentation on the wiki, or sample code.

I am using this XML:

`	<fragment
		android:id="@+id/nav_about"
		android:name="com.mikepenz.aboutlibraries.ui.LibsSupportFragment"
		android:lab

[2020-12-05 16:55] mikepenz commented on #572
There's a sample implementation of a fragment making it compatible with the `Navigation` library:

https://github.com/mikepenz/AboutLibraries/pull/531/files#diff-d63c8456e793a2f644e6d36c804b7904baea2c5df547c67b78925e5ce1333858R11

The `Fragment` requires the `LibsBuilder` as input (which configures it)

[2020-12-05 18:56] fourofspades commented on #572
Still really confused, in the sample code, NavHostDestinationFragment isn't referenced anywhere.  There is no navigation XML.

What I have done, I have created a new fragment class that extends LibsSupportFragment

`
public class NavHostDestinationFragment extends LibsSupportFragment
{
	@Override
	public View onCreateView( LayoutInflater inflater, ViewGroup container,Bundle savedInstanceState )
	{

[2020-12-05 19:02] mikepenz commented on #572
I can see and think of a way to provide out of the box addition for it. And
check if a target could be provided by default. Or to showcase usage with
it.
Stay tuned.

That being said. With the provided sample fragment implementation no config
is needed and that fragment can be directly used via navigation. It was an
addition by a user who's using navigation already successfully.

On Sat, Dec 5, 20

[2020-12-06 09:58] #572 closed

[2020-12-06 19:30] fourofspades commented on #572
Perfect, thanks. It's now really easy to have a basic about page than you can control with the strings.xml and navigation,.xml alone without writing a single line of code 👍

[2020-12-10 09:38] kassim commented on #528
Hi. This still seems to be an issue.  I don't think it should be closed.
Is there no solution when you have an application ID that doesn't match the manifest? (e.g. changed at build time)

[2020-12-10 09:45] mikepenz commented on #528
@kassim please see in the README. for those cases you should pass in the R class having the strings
https://github.com/mikepenz/AboutLibraries#fragment

[2020-12-10 10:20] kassim commented on #528
yeah, that's done, the thing is the generated string keys aren't part of `R.string` – though all my other string keys are present there (checked in debugger), and I see the `/app/build/generated/aboutlibraries/stagingEnvDebug/res/values/aboutlibraries.xml` file generated has everything it should have – but I guess at build time the resources aren't properly merged

[2020-12-11 12:03] kassim commented on #528
ah ok, so actually you need to ensure the R class is the one for the package name in the AndroidManifest of the module with the plugin

so if your `app` module's build.gradle config has the package `com.example.sampleapp` but the AndroidManifest.xml has `com.example.sampleapp.app` > the R file should be `com.example.sampleapp.app.R`

[2020-12-18 10:12] mikepenz commented on #571
I hope you were able to resolve the issue with the provided information

[2020-12-18 10:12] #571 closed

[2020-12-18 11:38] iainism commented on #571
Yes - sorry for the delay following up!

[2021-01-06 13:41] akiller opened #576 "Missing license when defining custom library"
Hi,

I need to manually include an embedded libraries license (ffmpeg) which is LGPL 2.1. No matter what I do I can't seem to get AboutLibraries to display the license name.

This can be reproduced with the demo app from this repository. I add to strings.xml the following:

[code]

And as you can see it doesn't reference the LGPL license:

![image](https://user-images.githubusercontent.com/63985/1

[2021-01-06 14:35] mikepenz commented on #576
Yes your investigation is correct. the license is not added to the data as the plugin itself will not parse through all your xml files, and as this library does not exist it will not include the license in your app.

There's an API as a result of this issue: https://github.com/mikepenz/AboutLibraries/issues/550 which allows you to force it to include additional licesnes:

See it in action here: ht

[2021-01-07 14:40] andrewreeman opened #577 "Cannot modify librarys with same prefix"
## About this issue

We use the Permissions Dispatcher library found [here](https://github.com/permissions-dispatcher/PermissionsDispatcher).
This includes the main library with an id of: org_permissionsdispatcher__permissionsdispatcher
and their annotation library with an id of: org_permissionsdispatcher__permissionsdispatcher_annotation

The main library license information is not displaying aut

[2021-01-07 14:48] mikepenz commented on #577
@andrewreeman thank you very much for the ticket details.

Have you had the look at the potential of providing custom id to license mapping for the gradle plugin via:

https://github.com/mikepenz/AboutLibraries/blob/develop/library-definitions/src/main/res/raw/custom_license_mappings.prop

If provided via a configured config folder like: https://github.com/mikepenz/AboutLibraries/tree/develop/conf

[2021-01-07 15:28] akiller commented on #576
Ahh thank you. I did search for an answer and didn't find that issue, sorry. Also for anyone who comes across this issue I needed to use `LGPL_2_1_or_later` (CaSe SenSiTiVE) not `LGPL_2_1 `for it to work, in both my string and gradle definitions,  e.g.:

[code]

[code]

---

In this situation where it can't find the license and displays a blank field, would it not be better to list the raw license

[2021-01-07 15:44] andrewreeman commented on #577
Thanks Mike, I was expecting the modifications to strictly compare the ids but can see the advantage of the current setup.

I just tried the config option now but it does not seem to be working.
I believe it could either be me doing it wrong or be a slight bug in the `collectMappingDetails` method in AboutLibrariesProcessor.groovy.

The first instance of `customMappingText` inside if(configFolder

[2021-01-07 16:00] mikepenz commented on #577
@andrewreeman I will jump deeper into the above problem and will hopefully have a chance to try on the weekend to check it and reproduce your report.

That would be great if you could please open a new issue for this, or if you maybe want to open a PR for it that would also be very great.

Thank you so much. Really appreciate your kind words.

[2021-01-07 16:07] andrewreeman opened #578 "Configuring a config folder fails with silent error"
## About this issue
I just tried the config option now but it does not seem to be working.
I believe it could either be me doing it wrong or be a slight bug in the collectMappingDetails method in AboutLibrariesProcessor.groovy.

The first instance of customMappingText inside if(configFolder != null) does not start with a def.
When I copy this function into our project and run it then it throws an

[2021-01-07 16:07] andrewreeman commented on #577
Thanks, I've raised an issue in #578 and will provide a pull request shortly

[2021-01-07 17:03] #578 closed

[2021-01-07 18:25] mikepenz commented on #577
@andrewreeman thanks again for the PR. I went ahead and do a small bugfix release for this one bug. will follow up on the other topic hopefully this weekend

[2021-01-07 18:29] andrewreeman commented on #577
Thanks for the quick release and responses. Much appreciated.

[2021-01-08 09:34] jp-andr opened #582 "Custom config is ignored"
## About this issue

I'd like to adjust the "year", "owner" and "license" for some libraries, but I have some difficulties.
I added in the app `build.gradle`:
[code]

On project level I added the config-direction with these configurations:
[code]

For example I added inside `custom_license_year_mappings.prop`:
`com_mikepenz__aboutlibraries_core:2021`

When I build the app it still shows YEAR inste

[2021-01-08 09:35] mikepenz commented on #582
@jp-andr can you please try with v8.6.4

[2021-01-08 09:48] jp-andr commented on #582
@mikepenz Unfortunately it does not work with v8.6.4 either. DoI need to add something somewhere else or is the configPath wrong?

[2021-01-08 09:51] mikepenz commented on #582
Could you please specify your project structure a bit more?

so you have configured

[code]

or you do something like

[code]

in the case of the later you will have to configure

[code]

[2021-01-08 09:57] jp-andr commented on #582
My project structure is:
[code]
Inside the app `build.gradle` I added:
[code]
And the `custom_license_year_mappings.prop` currently looks like:
[code]

[2021-01-08 10:12] mikepenz commented on #582
![image](https://user-images.githubusercontent.com/1476232/104003160-59518a80-51a2-11eb-89ae-cb17b219b5c4.png)

Just verified with dev. and it works. Could you please ensure you did a gradle sync and a full project clean to ensure caches are deleted?

[2021-01-08 10:19] mikepenz commented on #576
This would be something to consider, but it may result in different non anticipated display. Will check about that.

Will have a look and see in how far we can be non case sensitive.

You can find all license mappings here: https://github.com/mikepenz/AboutLibraries/blob/develop/plugin-build/plugin/src/main/kotlin/com/mikepenz/aboutlibraries/plugin/mapping/License.kt Those match the identifiers ac

[2021-01-08 10:28] jp-andr commented on #582
Thanks, invalidating the caches and rebuilding the whole project worked. Only cleaning and rebuilding the project and a gradle clean did not work, the caches were apparently the problem.

[2021-01-08 10:28] #582 closed

[2021-01-08 15:41] #576 closed

[2021-01-08 15:58] #577 closed

[2021-01-08 16:06] mikepenz commented on #577
@andrewreeman in the process of publishing another update which will prefer equal id matches over finding elements via the searchterm. it should resolve the problems you had been seeing whereas the contains was not allowing for the exact element to be modified.

[2021-01-08 16:06] mikepenz commented on #577
Thank you os much again for the great input

[2021-01-08 16:53] akiller commented on #576
Sorry was just about to reply when you closed this.

That makes sense, thanks for clearing it up.

I did have one thought for those of us who don't mind the extra bulk of including all the licenses. Adding a new property alongside additionalLicenses called includeAllLicenses (which defaults to false). It could be used to avoid having to explicitly list the extra licenses you need.

[code]

I've ha

[2021-01-08 17:47] andrewreeman commented on #577
Yes this is great. So in the case where you set the limit to 1 it uses equality and above that it uses contains. That's fantastic. Thanks for the help!

[2021-01-09 14:59] mikepenz commented on #577
You are welcome. Glad we were able to improve it

[2021-01-09 15:04] mikepenz commented on #576
@akiller that's an interesting proposal. I am just wondering how often this is needed. ultimately I would assume you will only have around 5 different licenses max in your project. it is very uncommon to have much more than that. Especially Android libs most of the time are either Apache 2.0 or MIT.

One thing which is a strong argument against including all is that those resources which will be i

[2021-01-09 15:05] mikepenz commented on #576
I am curious though how many licenses you usually have in average and if you see problems by having only specific listed?

[2021-01-13 20:23] akiller commented on #576
Sorry the weekend got in the way of my reply.

Very rarely I hope.

That's a good point. It's definitely a special case to want to include them all.

Perhaps by including all the license information it _may_ allow more flexibility for the consumer (the app using your library) to filter out the strings they don't need (via Proguard rules etc). I wonder if it might even allow libraries like mine to

[2021-01-14 07:58] mikepenz commented on #576
Sadly I don't think that's possible. e.g. the effort would exceed the effort of just defining the licenses needed in the first place.
It's a more rare situation already where sadly gradle / the pom files won't be of much use as native libs are rarely shipped as such (which is a pity)

Haha yeah. That's one idea to not require users of this lib to use the UI provided. the `Libs` and `LibsBuilder` c

[2021-01-14 08:20] fourofspades opened #589 "Enhancement - Disable Hyperlinks"
The Google play store automation spends a very long time in the about libraries fragment, opening browsers and even embedded youtube videos rather than testing the app. . This is not a real world use use.  I think it would be useful to have a property that disables hyperlinks.  My users, I'm sure don't care or want a link to the library page, they mostly don't care about the list of libraries, and

[2021-01-14 08:43] mikepenz commented on #589
This library is meant to give the proper attribution and visibility to the work library creators do to help developers build their work. As such providing links to their work is very important.

There are no plans to remove this behaviour from the full detailed UI as it is the least we can do in our apps to appreciate the free work all those people do.

--------

That being said. If you want to wo

[2021-01-14 16:35] mikepenz opened #590 "maven central sync not working"
## About this issue

- when trying to publish the latest release, syncing to maven central freezes. as such the release is not yet done.

## Details
- /

[2021-01-15 08:08] fourofspades commented on #589
Thanks, the minimal design was the trick.  My apps now passes automated testing on the Google Play store, even on low memory devices and doesn't go off down long alleyways of webviews and embedded youtube Jetpack tutorials!  They now test the actual app.

[2021-01-15 08:08] #589 closed

[2021-01-15 08:43] mikepenz commented on #590
![image](https://user-images.githubusercontent.com/1476232/104702338-26654480-5716-11eb-96ae-f1a1ceec47b5.png)

[2021-01-18 08:22] #590 closed

[2021-01-26 20:06] tinder-levonpetrosyan opened #598 "Feature Request: exclude libraries by prefix"
Hi Mike, is it possible to add functionality to exclude libraries by passing a prefix? I want to use the library in a multi-module project and my main module depends on a couple of dozens of modules from my project, and I do not want to display any information about them.
This feature can be also helpful for excluding libraries from the same group, without worrying about newly added sublibraries.

[2021-01-26 20:34] mikepenz commented on #598
Hi @tinder-levonpetrosyan thank you very much for the feature report.

It sounds like this will make sense to exclude sub modules or make it easier to exclude such.
Would it be sufficient to exclude them by their identifier? or would it require a different indicator for this?

Ultimately this should already handled by the gradle plugin so there's no runtime penalty.

[2021-01-26 21:40] tinder-levonpetrosyan commented on #598
I think it should be sufficient to exclude by their identifier, seem like the project libraries share the same prefix for `definedName` - `com_myrpoject_` and `libraryArtifactId`-`com.myrpoject.`

[2021-01-27 12:51] mikepenz commented on #598
Thanks for the details. will have a look on that hopefully already this week

[2021-01-27 18:48] tinder-levonpetrosyan commented on #598
Thanks a lot

[2021-01-28 13:54] #598 closed

[2021-01-28 13:58] mikepenz commented on #598
Currently in the release process. Thanks again for the feature request

[2021-02-04 13:51] arkon opened #613 "FYI: Bintray is shutting down on May 1st, 2020"
This is just a heads up since I noticed that you're using Bintray to sync to Maven Central.

cf. https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-02-04 15:12] mikepenz commented on #613
Yes :)

I sync to maven central. just that maven central loves to be non stable 🙃

![image](https://user-images.githubusercontent.com/1476232/106912892-c73a9480-6703-11eb-9ef9-b0727c1ae2c1.png)

Thanks for the info too :)

[2021-02-04 15:12] #613 closed

[2021-02-04 17:46] arkon commented on #613
To be clear, I'm letting you know that you'll need to adjust your workflow to publish to Maven Central directly at some point, since Bintray is shutting down.

Thanks for the library!

[2021-02-04 17:47] mikepenz commented on #613
Yep :) planning to do so over the weekend. thank you very much!

[2021-02-04 19:40] Aguilar296 commented on #613
I know 0 of that! Nothing, I don't know what that is, and if I did is
because of all the bs around me, I trust no one

On Thu, Feb 4, 2021, 11:48 AM Mike Penz <notifications@github.com> wrote:

[2021-02-04 19:41] Aguilar296 commented on #613
I work for my money, I thought someone was trying to get to my bank

On Thu, Feb 4, 2021, 1:40 PM G.D. Aguilar <gaguilar296@gmail.com> wrote:

[2021-02-26 12:32] Mas7erMind opened #622 "SampleApp code"
Hello, thanks for this awesome library. Do you have the SampleApp code somewhere to use as a starting point?

Thanks!

[2021-02-26 12:47] mikepenz commented on #622
You can find it under `app` in this repo

https://github.com/mikepenz/AboutLibraries/tree/develop/app :)

It has a bunch of different variants on using the library.

[2021-02-26 12:50] Mas7erMind commented on #622
Oh sorry, I missed it while looking at the codebase. Thanks!

[2021-02-26 12:50] #622 closed

[2021-02-26 14:39] Mas7erMind opened #623 "aboutLibrariesStyle not recognized"
Hello! Any idea why `aboutLibrariesStyle` is not recognized in my style sheet?

![image](https://user-images.githubusercontent.com/35771256/109313635-6b50c080-7816-11eb-8f24-63faddab68b5.png)

[2021-02-26 15:57] mikepenz commented on #623
Which version of the library are you using?

You can see it in action in the sample app implementation: https://github.com/mikepenz/AboutLibraries/blob/develop/app/src/main/res/values/themes.xml#L10

[2021-02-26 16:09] Mas7erMind commented on #623
Yes, I've looked at the sample app, but I can't find what I'm missing.

I'm using version 6.1.1 for compatibility with AppCompat but I've also tried with 6.2.3 with no luck.

`   implementation "com.mikepenz:aboutlibraries:6.1.1"
    implementation "androidx.cardview:cardview:1.0.0"
    implementation "androidx.recyclerview:recyclerview:1.1.0"`

[2021-02-26 17:09] Mas7erMind commented on #623
Thanks, I downloaded the sample app for this version (6.2.3) and I figured out how it works :)

[2021-02-26 17:10] #623 closed

[2021-03-04 23:40] Faierbel opened #624 "Empty license strings since 8.8.1 version"
As of version 8.8.1, libraries downloaded using `Libs(contex).libraries` have empty strings in the `licenseDescription` and `licenseShortDescription` fields.

The only solution is to use version 8.8.0

[2021-03-05 07:04] mikepenz commented on #624
@Faierbel the main difference between those 2 versions would be the publishing to maven. Which is interesting.

may you please try if it is related to the plugin or the library code?

(use 8.8.0 in library code but 8.8.1 plugin, and in reverse)
Please clean in-between just to make sure.

[2021-03-05 12:11] Faierbel commented on #624
Thanks for the quick reply

8.8.0 plugin, 8.8.1 library -> strings aren't empty
8.8.1 plugin, 8.8.0 library -> strings are empty

It looks like the problem is the plugin

[2021-03-05 15:37] mikepenz commented on #624
I assume you also tried with the newest version 8.8.3 already before?

[2021-03-05 15:39] mikepenz commented on #624
Could you by coincidence please also add the info which libraries lost the license string?

[2021-03-05 15:41] mikepenz commented on #624
Found the issue fill release an update as quick as possible

[2021-03-05 15:51] #624 closed

[2021-03-05 16:02] mikepenz commented on #624
The fix will be released with v8.8.4 within the next few minutes (~30-60 minutes until it's on maven central)

Sorry for the inconvenience, and thank you so much for reporting the issue!

[2021-03-07 12:45] Faierbel commented on #624
Thank you so much for fixing this problem so quickly. :)

[2021-04-01 16:42] Zardozz opened #629 "Better Documentation for use in Java"
## About this issue

- Briefly describe the issue
The Documentation gives details for Kotlin only

This is related to #484 and the ProGuard item in the Readme.md https://github.com/mikepenz/AboutLibraries#proguard

`.withFields(R.string::class.java.fields)` is specific to Kotlin and gives a Lint error and won't compile when trying to use this option from a Java based App.

The correct value for a

[2021-04-01 16:47] mikepenz commented on #629
@Zardozz Java is no longer officially supported. While it may work we don't plan to provide documentation for it.

I would highly recommend that you have a look into Kotlin as it will significantly improve your work.

The last version which was officially targeting Java was v6.2.3 which can be found here: https://github.com/mikepenz/AboutLibraries/tree/v6.2.3

Beware that this old version lacks a

[2021-04-01 16:47] #629 closed

[2021-04-01 16:58] Zardozz commented on #629
I have looked in to Kotlin, it is more work than is worth it, it's a shame that you limit the usability of your library artificially and if other library developer took a similar attitude then by moving to Kotlin I would just get a bigger problem is reverse.

[2021-04-07 22:06] arkon opened #631 "Fails with Gradle 7"
## About this issue

The following exception is thrown when using `gradle-7.0-rc-1` (currently the minimum version required for Android Studio Canary):

[code]

## Details
- Used library version: 8.8.4
- Used support library version: N/A
- Used gradle build tools version: 7.0-rc-1
- Used tooling / Android Studio version: Android Studio Arctic Fox | 2020.3.1 Canary 14
- Other used libraries, potent

[2021-04-09 09:22] mikepenz commented on #631
@arkon thanks for the report! :)

[2021-04-09 09:30] #631 closed

[2021-05-03 09:49] rahul-119966 opened #636 "How to use this in java"
v6.2.3 is throwing errors while syncing. Version can not be found.
I tried with v8.8.5 and it worked but now LibsBuilder() is not coming.
I can only use Libs.Companion for now.

How to resolve this?

P.S. - I've imported all UI libraries that are required

[2021-05-03 09:53] mikepenz commented on #636
@rahul-119966 the latest version is not targeted to be used via Java anymore. While it may work, it is not officially supported.

Highly encourage you to update to Kotlin as this is the way to go moving forward in the Android world.

[2021-05-03 09:54] mikepenz commented on #636
v6 is (I believe) only available from jcenter.

https://github.com/mikepenz/AboutLibraries/tree/v6.2.3

[2021-05-03 15:54] rahul-119966 commented on #636
ok thanks

[2021-05-03 15:54] #636 closed

[2021-05-14 12:01] carstenhag commented on #631
`exportLibraries` seems to be broken with gradle 7. I will create a new issue.

[2021-05-14 12:04] carstenhag opened #637 "exportLibraries task not working with Gradle 7"
## About this issue

- Briefly describe the issue
exportLibraries` task does not work with Gradle 7. `findLibraries` does work.
- How can the issue be reproduced / sample code
Any android project with Gradle 7 configured, I'm guessing.

## Details
- [x] Used library version - 8.8.5
- [x] Used support library version - fairly recent AndroidX versions
- [x] Used gradle build tools version: AGP 4.1.3

[2021-05-14 12:07] carstenhag commented on #637
With 6.8.3 it works fine :)

[2021-05-14 12:28] carstenhag opened #638 "Mapbox (BSD) license not detected"
## About this issue

- Briefly describe the issue
`exportLibraries` doesnt know what to do with the BSD license of mapbox dependencies.
[code]

- How can the issue be reproduced / sample code
According to one of the .pom files it's the 2-clause BSD license. Would be cool if the lib could automatically detect it, without us having to define it :)
https://repo1.maven.org/maven2/com/mapbox/navigation

[2021-05-14 12:31] carstenhag opened #639 "Hamcrest BSC License 3 not detected"
## About this issue

- Briefly describe the issue

`exportLibraries` says:
[code]

- How can the issue be reproduced / sample code

Import `testImplementation "org.hamcrest:hamcrest:2.2"`

## Details
- [x] Used library version: 8.8.5

## Checklist

- [x] Searched for [similar issues](https://github.com/mikepenz/AboutLibraries/issues)

[2021-05-14 12:33] carstenhag opened #640 "The JSON license is not detected"
## About this issue

- Briefly describe the issue

`exportLibraries` says:
[code]

- How can the issue be reproduced / sample code

Import `implementation 'org.json:json:20171018'`

## Details
- [x] Used library version: 8.8.5

## Checklist

- [x] Searched for [similar issues](https://github.com/mikepenz/AboutLibraries/issues)

[2021-05-15 17:20] mikepenz commented on #637
Are you really on the latest version? we had updated things to rc02 back here: https://github.com/mikepenz/AboutLibraries/pull/633 So that seems very interesting

[2021-05-15 17:55] carstenhag commented on #637
If 8.8.5 is the latest one, then yes :P. Or was the fix not released yet, being only in the branch?

[2021-05-16 15:11] mikepenz commented on #638
@carstenhag would you please be so kind to provide the pom.xml of this library?

[2021-05-16 15:14] mikepenz commented on #639
This one is not matched because that lib does not use the specific spdx identifier. `BSD-3-Clause`

As this seems to be more common though, will expand the matching to the license url

[2021-05-16 15:21] #637 closed

[2021-05-16 15:21] #639 closed

[2021-05-16 15:21] carstenhag commented on #639
Thanks! Yeah, I figured that the bsd ones sometimes have different names

[2021-05-16 15:26] #640 closed

[2021-05-16 15:39] carstenhag commented on #638
For `com.mapbox.common:logger:0.4.0`: https://repo1.maven.org/maven2/com/mapbox/common/logger/0.4.0/logger-0.4.0.pom

For an older version of `com.mapbox.navigation`, which I do not sure: https://repo1.maven.org/maven2/com/mapbox/navigation/core/1.0.0-beta.1/core-1.0.0-beta.1.pom

[2021-05-16 16:25] ts65 opened #645 "Jetpack navigation and XML configuration"
I included your excellent library in my project using Jetpack navigation as described in https://github.com/mikepenz/AboutLibraries#jetpack-navigation which worked nicely. When I want to configure what is shown on the fragment using the XML part of https://github.com/mikepenz/AboutLibraries#about-this-app-ui I cannot change any boolean values. The XML is used in the sample app too and only certain

[2021-05-16 16:42] mikepenz commented on #638
Oh that sadly didn't make it into the update :( should cover in the next version at some point.

Until that please provide a custom mapping

[2021-05-16 20:55] carstenhag commented on #637
Thanks!

[2021-05-17 07:59] mikepenz commented on #637
Thank you so much for reporting the problem

On Sun, May 16, 2021, 10:55 PM Carsten Hagemann ***@***.***>
wrote:

[2021-05-17 13:30] #638 closed

[2021-05-17 16:20] DDihanov opened #647 "Usage in a multi module project gives 0 libraries"
Hey!

Trying to use this lib in a multi module project, and I am always getting 0 libraries in a module. The module I am using it has no relation to the app module - they are fully decoupled. Am I doing something wrong?

[2021-05-17 16:49] mikepenz commented on #647
Thank you for the report @DDihanov

The action has been mainly targeted for application modules, and there may be some impacts when using it on a library module.

This sounds like a great enhancement though and something to investigate.

do you by coincidence have a sample app to test this on? otherwise it's something we will look into within the sample project.

[2021-05-17 17:16] DDihanov commented on #647
Thanks for the quick answer.

My project layout is the following:
One main app module where the Application class is situated. It includes dependencies to all other modules. I am not using this module for anything else other than wiring DI(so it only has this one class). When I run the app and check out the libraries ```Libs(this).libraries``` in the Application ```onCreate``` they are 0.

All oth

[2021-05-17 17:34] fourofspades commented on #637
Has something changed?  My working 885 is not broken on 886.

Execution failed for task ':app:prepareLibraryDefinitionsDebug'.

[2021-05-17 17:58] mikepenz commented on #637
@fourofspades / @mueller-ma  I suppose that could be due to: https://github.com/mikepenz/AboutLibraries/compare/v8.8.5...v8.8.6#diff-e6a7317f36842898d8b7503d337e6c868886a1d08ddd7c79048aa73b883efa7bR42

But even that seems odd as the stacktrace points to a different location.
Please open a new issue for that

[2021-05-18 16:37] rpavlik opened #648 "Trouble since upgrade in a project with product flavors?"
## About this issue

We've been happily using AboutLibraries 8.5.0 in Monado  https://gitlab.freedesktop.org/monado/monado for some time. I was recently prompted to update to 8.8.6, and despite not seeing anything related in the changelog, I now get an error. I'm blaming product flavors, since that's what I was messing with when I upgraded, and I don't know why else this would start happening. **8

[2021-05-18 20:04] mikepenz commented on #648
Thank you so much @rpavlik nothing particular to that was changed indeed. We will have to investigate if it may be some issue with stable gradle 7.0.2

https://github.com/mikepenz/AboutLibraries/issues/637#issuecomment-842520907

[2021-05-18 20:19] rpavlik commented on #648
Note that here I am using Gradle 6.8.3 - I haven't dared upgrade to 7 yet.

[2021-05-21 06:06] ebc81 opened #649 "Build failed for my project"
Hello,
Try to implement AboutLibraries to my project.

**Execution failed for task ':app:prepareLibraryDefinitionsDebug'.

My build.gradle
[code]

**My build gradle app**

[code]

**My call in mainactivity**

[code]

[2021-05-22 18:53] RobbWatershed commented on #649
Same here : using `com.android.tools.build:gradle:4.2.1` and `gradle-6.7.1`

[code]

[2021-05-24 06:24] mikepenz commented on #649
This looks to be the same error as reported here: https://github.com/mikepenz/AboutLibraries/issues/648

[2021-05-24 06:24] #649 closed

[2021-05-25 14:52] eygraber opened #651 "Register tasks lazily"
A build scan of my project highlights that the following 3 tasks from this plugin aren't created lazily:

[code]

I think that all that would be required is to replace the call to `create` with a call to `register`, but I'm not sure if there is anything that will be affected by that.

[2021-05-25 16:21] fourofspades commented on #649
Same problem here.  Gradle 6.7.1  plugin 4.2.1

[2021-05-26 20:17] mikepenz commented on #651
Thank you very much @eygraber for the suggestion.

It's something we can try and see how it behaves

[2021-05-28 08:48] mikepenz commented on #645
@ts65 thank you so much for the report. I'll have a look

[2021-05-28 09:17] #648 closed

[2021-05-28 09:21] mikepenz commented on #647
Sorry for the late answer.

Could you maybe also look on the generated files in the build folder. Are those generated or missing?
<img width="268" alt="Screenshot 2021-05-28 at 11 19 33" src="https://user-images.githubusercontent.com/1476232/119961645-94fcbd80-bfa6-11eb-84fe-672d7c953eb1.png">

Also please adjust the approach you use to retrieve the libraries.

It's suggested to provide the fields

[2021-05-28 09:38] #651 closed

[2021-05-28 09:57] #645 closed

[2021-05-28 19:30] eygraber commented on #648
I was using 8.8.6 with Gradle 7+ and it worked fine.

[2021-05-28 23:59] eygraber opened #657 "Build fails with configuration cache"
Using v 8.9.0

[code]

[2021-05-29 13:12] rpavlik commented on #648
Yeah it wasn't working with Gradle 6.8.3

[2021-05-29 19:27] ts65 commented on #645
Thank you so much, it works nicely with the latest version. Would you be willing to expand it to support showLicence in XML/LibsFragmentCompat too?

[2021-05-30 06:36] eygraber commented on #657
Maybe related to https://github.com/gradle/gradle/issues/12871

[2021-05-31 06:54] mikepenz commented on #648
I think it would have only worked with v7.x.

Downgraded to v6.x for the plugin with the new release which should solve it.
Sadly couldn't find if I could change something in the plugin so to stay with v7.

[2021-06-02 12:06] ts65 commented on #645
Thank you!

[2021-06-02 12:07] mikepenz commented on #645
@ts65 the changes for the additional feature are not yet published, will be in a future version. thank you for the issue and the suggestions :)

[2021-07-11 23:01] JulianJB commented on #571
Hi @mikepenz, I came across this thread because I wanted to fix the same accessibility issues reported by the auto-generated pre-launch report on Google Play Console, so I tried your solution, and indeed it does work but wouldn't this be a manual "hard-coded" fix? What I mean is if you change some properties of the XML files in future updates of the library, would I need to re-apply the previous c

[2021-07-16 08:23] mikepenz commented on #571
@JulianJB currently there are no significant changes planned to the UI. That may change if we start to provide a compose based UI.

So you should be rather safe updating the xml files. also we wouldn't change this on surprise.

[2021-07-28 10:56] FireLord opened #665 "Error in gradle sync"
im getting this error
A problem occurred configuring root project 'Weathering'.

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/mikepenz/aboutlibraries/plugin/aboutlibraries-plugin/8.9.1/aboutlibraries-plugin-8.9.1.pom
       - https://repo.maven.apache.org/maven2/com/mikepenz/aboutlibraries/plugin/aboutlibraries-plugin/8.9.1/aboutlibraries-plugin-8.

[2021-07-28 10:59] FireLord commented on #665
fixed by adding
maven {
      url "https://plugins.gradle.org/m2/"
    }

[2021-07-28 10:59] #665 closed

[2021-08-25 06:51] loyalman opened #666 "Export to CSV seems to be not working"
`./gradlew exportLibraries` does not create CSV file anywhere

`./gradlew exportLibraries` shows a list of libraries in terminal but does not create CSV file anywhere.
The only setting applied is
`aboutLibraries {
    configPath = "config"
}`
It doesn't show any error in the terminal.
The config path is empty after running this command.

AboutLibraries v 8.9.1 included by Gradle Plugin (without UI

[2021-08-25 07:09] mikepenz commented on #666
The `exportLibraries` will export as a CSV format, in the output of the task, it does currently not write it to a file.

Do you have some more details around the usecase you are looking into?

[2021-08-25 07:24] loyalman commented on #666
Oh, my wrong.
I wanted to use this in order to collect all the dependencies with names, versions, authors, licenses and descriptions just before app release to check the things out.
And I thought this command get me everything in one place.
Definitely I can copy-paste from the output to some file by myself.

[2021-08-25 07:26] loyalman commented on #666
So for now I can't find the way to add some fields to `exportLibraries` output

[2021-08-25 07:32] mikepenz commented on #666
@loyalman if you require the information exported to a CSV file for compliance reasons you can use the `exportComplianceLibraries` task.

Both these tasks are designed to get an overview of the included libs + libraries and licenses not covered (helpful for debugging purposes)

They are not meant to fully dump all information the library collects, as the primary way of consumption and display is v

[2021-09-05 11:07] mikepenz commented on #647
The action is now also applied to libraries: https://github.com/mikepenz/AboutLibraries/commit/ea8a03884cae10af2ff3c886b12d1845e4f5af16

[2021-09-05 11:07] #647 closed

[2021-09-05 11:08] mikepenz commented on #657
Is this still the case?

[2021-09-05 18:41] eygraber commented on #657
As far as I know, yes.

I'm currently planning on using my own solution for this, because I managed to collect dependencies in a way that works with configuration caching. It's not the most performant (because some of the collection happens outside of the task), but it's not bad - https://gist.github.com/eygraber/482e9942d5812e9efa5ace016aac4197

(I haven't updated the gist yet, but some things di

[2021-09-07 03:00] iadcialim opened #667 "Not include Android dependencies"
Question:
Is there a way to exclude dependencies that are related to Android?
Im thinking of not including them so that my list is not that too long and just focus on other 3rd parties other than Android.

[2021-09-07 06:04] mikepenz commented on #667
Please have a look here: https://github.com/mikepenz/AboutLibraries#exclude-libraries

[2021-09-07 06:04] #667 closed

[2021-09-12 15:08] Patol85 opened #668 "Mr"
## About this issue

- Briefly describe the issue
- How can the issue be reproduced / sample code

## Details
- [ ] Used library version
- [ ] Used support library version
- [ ] Used gradle build tools version
- [ ] Used tooling / Android Studio version
- [ ] Other used libraries, potential conflicting libraries

## Checklist

- [ ] Searched for [similar issues](https://github.com/mikepenz/AboutLi

[2021-09-12 15:50] #668 closed

[2021-09-25 18:08] Hussienfahmy opened #669 "Manifest merger failed when using Deep Link"
## About this issue
Am using the library and it's working well, but a problem happened when I implemented a deep link to one of app destination

## How Am using the library

I Followed the [instructions](https://developer.android.com/guide/navigation/navigation-deep-link#implicit) to add and implicit deep link
and the problem is in this line `<nav-graph android:value="@navigation/nav_graph" />` in

[2021-09-25 19:34] mikepenz commented on #669
That's interesting.

The file is there in the library: https://github.com/mikepenz/AboutLibraries/blob/develop/aboutlibraries/src/main/res/navigation/aboutlibs_navigation.xml
also matching the identifier you used

[2021-09-25 19:41] Hussienfahmy commented on #669
So is there any issue with my implementation, or there is something I can do ?

[2021-09-27 06:18] mikepenz commented on #669
@Hussienfahmy can you reproduce this in the sample app?

Maybe you could also try to include the `aboutlibs_navigation.xml` in your project, perhaps the compiler expects it not as part of a library

[2021-09-28 19:39] samsarg commented on #669
As a workaround you can re-declare it in you manifest file and specify the exported flag.
[code]

[2021-09-30 19:54] mikepenz commented on #669
@samsarg is your report matching the issue from this ticket?
Or are you maybe targeting Android 12 already?

[2021-10-01 01:53] Hussienfahmy commented on #669
@mikepenz am very sorry for replying late, Sir
I managed to reproduce the error in the sample app by
1- removing all local libraries
2- add it externally
3- then add navigation dependency
4- include the aboultLibrarires graph
5- add nav-graph tag in app manifest file

I can make a pull request with this changes if you want

Note: there is no error when the library is a module in the same project,

[2021-10-01 06:50] mikepenz commented on #669
I use the AboutLibraries via the nav graph in the sample app for the `MaterialDrawer`.

https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/java/com/mikepenz/materialdrawer/app/NavControllerActivity.kt#L41
https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/res/navigation/navigation.xml#L64

And there I can't reproduce this compilation issue.

Will it work for you

[2021-10-01 07:16] mikepenz commented on #666
For now I think the `./gradlew app:exportComplianceLibraries{Release/Type}` command matches the needs.

Please report if there's something missing in that csv export not matching the needs.

[2021-10-01 07:16] #666 closed

[2021-10-01 11:35] Hussienfahmy commented on #669
The error should be produced by adding `<nav-graph android:value="@navigation/nav_graph" />` to activity tag in the manifest file here:
https://github.com/mikepenz/MaterialDrawer/blob/d8be36b7c6ccc3a4f764affbd3ee2fa35d8c73c3/app/src/main/AndroidManifest.xml#L26

the error doesn't happens if I didn't do the `implicit deep link `
navigation version: 2.3.5

[2021-10-02 05:28] mikepenz commented on #669
@Hussienfahmy this looks to be a requirement / specifics of the navigation compiler plugin. And I don't believe this is something we can fix from within the library.

You can try to add the following,
<img width="1068" alt="Screenshot 2021-10-02 at 07 27 08" src="https://user-images.githubusercontent.com/1476232/135704797-a02e7418-6bdb-4724-a3c9-6f10aa25dc93.png">

Or include the `LibsSupportFragm

[2021-10-02 10:16] #669 closed

[2021-10-03 04:30] iadcialim commented on #667
hi @mikepenz Thanks  fort his but
I tried
[code]
But this code
[code]

still returns the the libs from  AOSP like `androidx.activity:activity:1.2.3`
Same for the LibsBuilder, the list still includes the excluded library.

[2021-10-03 07:51] mikepenz commented on #667
@iadcialim thank you for the report. will be fixed in v8.9.3.

[2021-10-05 10:05] zoltish opened #674 "A licenses year field is always "YEAR""
## About this issue

- Each license description only includes a placeholder YEAR label instead of the actual year; e.g. Copyright © YEAR, AOSP.

## Details
- [8.9.3] Used library version
- [-] Used support library version
- [7.1.0-alpha03] Used gradle build tools version
- [Android Studio Arctic Fox | 2020.3.1 Patch 2] Used tooling / Android Studio version
- [-] Other used libraries, potential con

[2021-10-05 12:13] mikepenz commented on #674
Sadly the library can not automatically resolve the year as it is not part of the `*.pom` file on maven (See the spec for POM files: https://maven.apache.org/pom.html#Licenses)
The library can't just assume the latest year as this may not be the accurate information.

What's offered by the library though is that you can provide the year for different libraries:
https://github.com/mikepenz/AboutLib

[2021-10-05 13:46] zoltish commented on #674
Gotcha, thanks for clearing that up for me!

Do you have any insight into how [Google](https://developers.google.com/android/guides/opensource) manages to include the year in its licenses? Its by no means perfect, sometimes the date is in the header, sometimes part of the copyright text near the end - but its pretty much always there.

[2021-10-05 13:59] mikepenz commented on #674
Sadly the pom won't contain it: https://maven.google.com/androidx/lifecycle/lifecycle-livedata/2.4.0-rc01/lifecycle-livedata-2.4.0-rc01.pom

Sadly there is also no `LICENSE` file included in the aar.

It could be that they may do some clever parsing of the `AndroidManifest.xml`

Or maybe they follow the repo on github and check if there's a `LICENSE` file located.

Some reverse engineering of the

[2021-10-05 14:05] mikepenz commented on #674
[third_party_license_metadata.txt](https://github.com/mikepenz/AboutLibraries/files/7286492/third_party_license_metadata.txt)
[third_party_licenses.txt](https://github.com/mikepenz/AboutLibraries/files/7286493/third_party_licenses.txt)

That's for example the output of googles plugin

[2021-10-05 14:14] mikepenz commented on #674
You can read their source here: https://github.com/google/play-services-plugins/blob/master/oss-licenses-plugin/src/main/groovy/com/google/android/gms/oss/licenses/plugin/LicensesTask.groovy#L86-L101

They do some special handling for their own libraries (with some special license artifact).

For other libraries, they will just download the LIBRARY spec as found on the defined URL in the *.pom fil

[2021-10-05 14:21] zoltish commented on #674
Thats interesting. Ive dug into their plugin several times but Im all too unfamiliar with groovy to understand the inner workings of it; what youre saying makes sense though. I appreciate all the fast responses! 👍🏾

[2021-10-05 17:35] koral-- commented on #674
There is an `inceptionYear` POM property.

https://maven.apache.org/archives/maven-1.x/reference/maven-model/3.0.2/maven.html#project

Not 100% sure if this is a right source of the year for license purposes.
"copyright notices" seems to be a similar thing.

[2021-10-05 19:38] mikepenz commented on #674
@koral-- usually the `inceptionYear` indicates the introduction of the library. Often this sadly does not match the actual current license year.

I would wish they had the `licenseYear` in the spec

[2021-10-08 12:33] mikepenz commented on #674
Created a super early prototype of the next major release for `AboutLibraries`. This will contain:
- loading licenses from the github repository (if LICENSE available and project is open source)
  - otherwise will load license specification from SPDX
  - Curious if there are alternative resolution strategies possible
- store the library information in a new JSON format
  - no more string resources

[2021-10-14 14:07] Berki2021 opened #676 "Question: How to convert "-" in dependency name into groovy syntax?"
## About this issue

I would like to exclude dependencies from my list which contain a "-" in their name.

I know that for example "com.google.firebase:firebase" would change to "com_google_firebase__firebase", but what about "com-google-firebase-firebase"?

## Details
- [8.9.3] Used library version
- [-] Used support library version
- [7.0.3] Used gradle build tools version
- [Android Studio Arct

[2021-10-14 15:01] mikepenz commented on #657
Created a a02 of a new version which would move the `project` usage out of the task execution. Some feedback would be highly appreciated. Thank you so much

https://github.com/mikepenz/AboutLibraries/pull/677

[2021-10-14 22:08] #676 closed, assigned to mikepenz

[2021-10-15 11:44] Berki2021 opened #678 "Question: How to add custom mapping for an .aar library?"
## About this issue

I would like to add a custom license but even after adding the strings, it does not show. Furthermore, I do not understand this sentence:

What exactly is meant with "in your mappings"? Could you provide an example? Here is how I've done it:

[code]

When only adding the above, nothing changed and the dependency was not recognized. I had to furthermore add the following:

[cod

[2021-10-15 13:11] mikepenz commented on #678
@Berki2021 you are already very close. The plugin/library can not automatically detect licenses to match a dependency.

For manual mapping of a library to a license you can use the `config` files. You can see all relevant changes for this for example here:

https://github.com/mikepenz/AboutLibraries/commit/e43d7530f4cc907d6d7d6a6d62a514e23c87fd9a

For demo app showcase purposes I assigned the lice

[2021-10-15 13:55] Berki2021 commented on #678
Okay, now it is shown, but I am a bit confused: What is the need of the "raw:file" when the card is opening a website?