[2014-07-07 17:05] vernazza opened #6 "Add dynamically generated licenses"
Google Play Services generates the license text directly through the library, so to get the license you have to call
`GooglePlayServicesUtil.getOpenSourceSoftwareLicenseInfo(this);`
AboutLibraries should be able to get the license text directly from the GPS library or should be able to receive the license text in the bundle.

[2014-07-15 15:19] #6 closed, assigned to nobody

[2014-07-18 10:25] thedumbtechguy opened #7 "Overlayed ActionBar"
Hi, first of all thanks for an awesome library.

In my app, I use an overlayed actionbar. Then I set the top padding of the root view to the actionbar size like this

`android:paddingTop="?attr/actionBarSize"`

If I use the Lib Activity, the top of the activity is hidden. Is it possible to add a bundle param to handle this case?

[2014-07-18 18:08] #7 closed, assigned to nobody

[2014-08-07 16:02] scottyab opened #8 "Duplicate entries"
Supplying the following BUNDLE_LIBS to the intent to launch the libs activity.
"eventbus", "androidviewpagerindicator", "picasso","roundedimageview", "okhttp","gson", "calligraphy", "discreetapprate", "appmsg", "scribe", "listviewanimations"

Some the libs I've added the resources for manually are repeated: appmsg ,calligraphy, scribe, listviewanimations.

Any ideas why?

Great library btw,  thank

[2014-08-13 17:37] krossovochkin opened #9 "Seems "style" doesn't change view's colors"
With
`i.putExtra(Libs.BUNDLE_THEME, R.style.AppTheme);`
I can set theme for AboutLib.
My `AppTheme` is `android:Theme.Holo.NoActionBar`
And AboutLib activity starts with no action bar as expected.
If I change `AppTheme` to `android.Theme.Holo`, then Action bar is shown.
So, styling seems working.

But seems like styling not affects views themselves.
Seems views (which describes libs) are of `andro

[2014-08-13 17:51] krossovochkin opened #10 "Long project name issue"
If project name is too long (for example I used project with name 'Circular Progress Button') then it "eats" space from "author".
I tested on 480x800 screen.
For ViewPagerIndicator author name shown in 2 lines.
But for Circular Progress Button author name not shown at all (because it is out of screen, I think).

I have two solutions for this:
1) Ellipsize project name, so that author name still ca

[2014-08-15 12:06] #8 closed, assigned to mikepenz

[2014-08-15 15:24] #9 closed, assigned to nobody

[2014-08-22 17:14] #10 closed, assigned to nobody

[2014-09-07 15:46] davidvavra opened #14 "AutoDetect libraries"
How about autodetecting which libraries are used without specifying them at all?

It can be done using Java Reflection - every library definition file will contain one classname for testing the library (preferably some important part of public API which will not change often)

[2014-09-09 16:00] #14 closed, assigned to nobody

[2014-09-09 20:12] mikepenz opened #15 "Placeholder are replaced"
If no custom variable is set, the License placeholders are still replaced and are shown as ">>"

[2014-09-09 20:36] #15 closed, assigned to mikepenz

[2014-10-06 14:04] kashban opened #18 "AboutLibraries' androidBackup=true collides with app's androidBackup=false"
When including AboutLibraries in my App I get this error message on gradle build:

[code]

A Library should never set androidBackup=true in it's manifest, please fix.

Thanks and best regards,
 Kash

[2014-10-06 15:58] #18 closed, assigned to nobody

[2014-10-14 07:50] kashban opened #22 "Can't get definition of androidannotations from maven central"
Hi Mike,

I pulled V3.0.3 from maven central but the definitions for AndroidAnnotations (my Pull Request) do seem to miss. I checked the values.xml in the package and indeed, it's missing.

Any chance to get a V 3.0.4 where this is included?

Best regards,
Kash

[2014-10-14 19:12] #22 closed, assigned to nobody

[2014-10-24 00:18] mwinters-stuff opened #23 "Allow programatically setting aboutAppDescription"
I would like to sert the aboutAppDescription from within code, I have in the past built it from multiple strings and a build year which comes from the build scripts..

eg. the following would be handy.

[code]

Good work by the way, great idea..

[2014-10-24 20:32] mikepenz opened #24 "Can't set theme"
It's not possible to overwrite the theme set in the Android Manifest

[2014-10-24 21:07] #23 closed, assigned to mikepenz

[2014-10-24 21:07] #24 closed, assigned to mikepenz

[2014-10-24 21:20] mikepenz opened #25 "Wiki is outdated"
Update all descriptions in the wiki
Update the included app list in the wiki

[2014-10-28 22:50] mikepenz opened #27 "OnClick feedback not shown"
Enable the onClick feedback on an AboutLibraries Card for the whole card.

Right now the onClick listener consumes the touch event and so the ripple (v21+) or the click statelist drawable aren't shown.

[2014-10-28 23:11] mikepenz opened #28 "Update Screenshots"
Screenshots need to be updated

[2014-10-29 20:01] #28 closed, assigned to mikepenz

[2014-11-09 14:01] ThomasdenH opened #29 "Create a way to add libraries on runtime"
Some libraries, like the Google Play Services, require the app to load the licence on runtime. Defining an own XML file to include it therefor isn't possible. It would be great if there could be a way to add to the bundle/extras a certain class or data set to define a new library.

[2014-11-11 15:18] ThomasdenH opened #30 "High minSdkVersion?"
Correct me if I'm wrong, but I think the min SDK version is higher than it could be. I think the library can have a minSdkVersion of 7, and the sample one of 11, due to the CardsUI.

[2014-11-11 19:09] #29 closed, assigned to mikepenz

[2014-11-11 19:09] #30 closed, assigned to mikepenz

[2014-11-11 19:26] #25 closed, assigned to mikepenz

[2014-11-15 08:15] intrications opened #31 "Crashes unless CardView is added to Gradle dependencies"
My code crashes with:

[code]

unless I add

[code]

to my Gradle dependencies.

https://github.com/mikepenz/AboutLibraries/blob/master/library/build.gradle contains this dependency so I'm not sure why it isn't transferring from the library to my main project.

[2014-11-15 12:12] #31 closed, assigned to mikepenz

[2014-11-20 09:06] yoavst opened #33 "Update compatible list"
In my commit there were some new libraries.

[2014-11-20 14:11] johnjohndoe opened #35 "Sync tags, README.md and Maven Central"
There are deviating information about the version of this library on Maven Central ([4.3.6](http://search.maven.org/#search|ga|1|g%3A%22com.mikepenz.aboutlibraries%22)), in GitHub releases ([4.2.1](https://github.com/mikepenz/AboutLibraries/releases)) and in the README ([4.3.7](https://github.com/mikepenz/AboutLibraries/blob/master/README.md)). Please make sure that they all reflect the same tags.

[2014-11-20 15:04] johnjohndoe opened #36 "Support for SDK version 20"
I am running a project which still targets SDK version 20. I noticed that you depend on the support libraries in their latest version.

![AboutLibraries
 dependencies](https://cloud.githubusercontent.com/assets/144518/5126646/d27df5c6-70ce-11e4-971c-251503157fed.png)

Are you planning to maintain the 3.x.x release of your library to support projects that cannot update instantaneously? I saw you re

[2014-11-20 19:02] #35 closed, assigned to mikepenz

[2014-11-20 19:25] #33 closed, assigned to nobody

[2014-11-24 11:35] johnjohndoe opened #38 "List "supported since" version for supported libraries"
Can you please add the version of AboutLibraries for each [supported library](https://github.com/mikepenz/AboutLibraries/wiki/Compatible-Libs)? Since a library is added at a certain point in time it has not been available in a previously released version of the library. A good place to document this would be to add another "Supported since" column to the tables in the wiki page for [compatible lib

[2014-11-24 13:17] johnjohndoe opened #39 "Improve naming for bundle keys"
As a new user of the library I find it quite difficult to understand the meaning and usage of the various bundle keys. I think by renaming some of them you could also remove a lot of the [comments which describe their function](https://github.com/mikepenz/AboutLibraries/wiki/HOWTO:-Activity).
Mostly, it is obvious - you can just re-use the variable names from the Java code. **Do not shorten bundle

[2014-11-24 14:46] johnjohndoe opened #40 "AndroidAnnotations listed by default"
I added [v.3.0.4 of the library](http://search.maven.org/#artifactdetails|com.tundem.aboutlibraries|library|3.0.4|aar) ([d8eb6](https://github.com/mikepenz/AboutLibraries/commit/d8eb686b8d9d8aa5b19089caa541484a7c828284)) to a project ...

[code]

... with the following configuration:

[code]

When I open the Activity I am quite surprised: There are two libraries listed:
- [AboutLibraries](https://

[2014-11-24 17:59] #38 closed, assigned to mikepenz

[2014-11-24 18:00] #36 closed, assigned to mikepenz

[2014-11-24 18:29] #40 closed, assigned to nobody

[2014-11-25 10:29] johnjohndoe opened #43 "Wrong website URL returned for library defined via XML"
I am using [v.3.0.5 of the library](http://search.maven.org/#artifactdetails|com.tundem.aboutlibraries|library|3.0.5|aar) with the following setup:

[code]

I added [Jackson](http://wiki.fasterxml.com/JacksonHome) as an additional library via the following definition file:

[code]

All libraries are listed in my app as expected.

When I tap the _Jackson_ item nothing happens. Then I leave the Acti

[2014-11-25 18:35] #43 closed, assigned to nobody

[2014-11-26 09:21] johnjohndoe opened #46 "Repository link not being used"
I noticed that some library items are clickable and others are not. Then I saw that the URL used for the `OnClickListener` of the library description is the [libraryWebsite](https://github.com/mikepenz/AboutLibraries/blob/v4.4.0/library/src/main/java/com/mikepenz/aboutlibraries/ui/adapter/LibsRecyclerViewAdapter.java#L143). I did not specify a website URL for all items. But I specified a repositor

[2014-11-26 10:56] #46 closed, assigned to nobody

[2014-12-03 15:18] johnjohndoe opened #47 "ActivityNotFoundException when using LibsCompatActivity"
I use [version 3.1.0 of the library](https://github.com/mikepenz/AboutLibraries/tree/v3.1.0) in my project.

I am trying to change my implementation after running into this exception on Android 2.3.5:

According to this [exception in `LibsActivity.onCreate`](https://github.com/mikepenz/AboutLibraries/blob/v3.1.0/library/src/main/java/com/tundem/aboutlibraries/ui/LibsActivity.java#L31) I use `LibsC

[2014-12-06 21:14] #47 closed, assigned to mikepenz

[2014-12-09 12:33] yoavst opened #48 "don't show for defentions that in my project"
I've put
![img](http://i.imgur.com/ljMo4tY.png)
in my project, and sent their name to BUNDLE_LIBS, but it doesn't show them. why?

[2014-12-11 10:17] johnjohndoe opened #49 "Use speaking artifact name"
I suggest to change the name of the ouput files which is `library-x.y.z.*` at the moment. This is not very self explanatory when I have a list of dependencies such as on [VersionEye](https://www.versioneye.com). To change the name just define the following property in the `build.gradle` of the library module:

[code]

This will the produce the following output files:

[code]
The Gradle dependency

[2014-12-11 15:42] #48 closed, assigned to mikepenz

[2014-12-18 22:16] mikepenz opened #50 "Simplify SetUp"
Add new helper class to create a AboutLibraries activity or fragment with a builder pattern.

Something like this:

new AboutLibraries.Builder().withRessources(R.string...).withLibs("adfasdf", "adfsfd").showLicenses(true).start() / .build()

[2014-12-22 13:26] mikepenz opened #51 "Clean up documentation / REAME.MD"
Just cleanup the intro README.MD and move custom stuff and unnecessary items to the wiki

[2014-12-22 13:48] #50 closed, assigned to mikepenz

[2014-12-22 13:48] #51 closed, assigned to mikepenz

[2014-12-22 18:41] yoavst opened #52 "Library as Adapter"
I'm using the library as view in my app and I thought it will be very useful.
It is easier then subfragment or fragment, and you can use it internally.
![img](http://i.imgur.com/Yd7IzFfl.png)

The source is here - https://github.com/yoavst/quickapps/blob/master/app/src/main/java/com/yoavst/quickapps/AboutLibsView.java (it uses BackgroundExecutor which is part of AndroidAnnotations, so you have to

[2014-12-24 19:09] Shajeel-Afzal opened #53 "How to use in Eclipse?"
Hi!

After the latest pull i am unable to use it in the Eclipse.

My project is looking weird, please check the attached picture.

Thanks.
![capture](https://cloud.githubusercontent.com/assets/3718283/5550571/4f0010b8-8b5d-11e4-971c-7ede9163a102.PNG)

[2015-01-10 23:01] #53 closed

[2015-01-15 15:21] johnjohndoe opened #55 "Autodetect library versions"
Please correct me if I am wrong but I think with the current implementation all library version are hard-coded in either the supplied library XML or the library XML which people generated and manually added to their application projects.

I would love to see that the library version is parsed from `build.gradle` so no-one has to maintain this any longer. I like to mention [Gradle-License-Report](h

[2015-01-15 18:27] mikepenz commented on #55
@johnjohndoe yeah you are right, right now i had no idea how to get the real version number during runtime. once i thought it would be great to get it from the AndroidManifest, but all my tries failed.

I've seen this repository (i saw that you contributed to it so i stared it) and it's really interesting. And you are right it would be great if those versions are fetched either from the build.grad

[2015-01-16 09:44] johnjohndoe commented on #55
I would highly suggest that you parse the version numbers from `build.gradle` at **compile time** instead of run time. Nobody wants to slow down her app when this can be handled beforehand.

Another project which deals with evaluating dependencies is [Gradle View](http://plugins.jetbrains.com/plugin/7150). Please have a look.

[2015-01-17 11:41] mikepenz commented on #55
@johnjohndoe yeah you are right, this would be the best solution. I'll take a look at it in the next few days. Would be awesome if i can get it working this way.

Thanks

[2015-02-04 07:49] Rainer-Lang opened #56 "about-view: links don't work"
Links are not clickable within application description on top.

[2015-02-04 07:50] Rainer-Lang opened #57 "show app name below icon"
PLease make it also possible to show the app name like the icon and the versioninfo of the app.

[2015-02-04 07:55] Rainer-Lang opened #58 "the font color should use styleguide definition"
The font color for primary text is 87% of black: #de000000
BUT why not adjustable? -> .setDescriptionFontColor(R.color.xyz)

[2015-02-04 07:58] Rainer-Lang opened #59 "eula integration"
I suggest to make it possible to pass the eula: .setEula(R.string.xyz)
If passed then show an eula-button, maybe at the bottom of a also passed description but at top of the cards.
Please make it also possible to set the text of the eula-btn:
in English: "EULA"
in German: "Endbenutzerlizenzvereinbarung" ;-) --- a bit long :-(

[2015-02-04 11:04] Rainer-Lang opened #60 "VersionName and VersionCode"
Please make it customizable:
For me I don't want the VersionCode to be shown.
VersionName and VersionCode are for me same.

[2015-02-04 12:43] mikepenz commented on #58
@Rainer-Lang right now the colors can be configured by adding a colors.xml to your application and set the different colors to custom values:

[code]

[2015-02-04 13:44] Rainer-Lang commented on #58
Is it possible to add this in the README? ;-)

[2015-02-04 14:45] tehfonsi commented on #56
two possible solution:

textView.setMovementMethod(LinkMovementMethod.getInstance());
or
android:autoLink="web"

depends if you want to set it in your code or in xml.

cheers

[2015-02-04 16:48] mikepenz commented on #58
The original colors are from here: http://www.materialpalette.com/blue/pink

[2015-02-04 16:51] mikepenz commented on #58
It's now in the wiki ;)

https://github.com/mikepenz/AboutLibraries/wiki/HOWTO:-Style

[2015-02-04 16:51] #58 closed

[2015-02-04 16:51] #56 closed

[2015-02-04 16:51] #60 closed

[2015-02-04 17:08] #57 closed

[2015-02-04 17:23] #52 closed

[2015-02-06 16:18] tehfonsi opened #61 "Wrong version in README"
Version in README is 4.4.5, current version on maven central is 4.4.2.

[2015-02-06 16:48] mikepenz commented on #61
I forgot to release the newest v4.5.5 on maven. this is done now. Should be live soon.

[2015-02-06 16:48] #61 closed

[2015-02-06 17:12] tehfonsi commented on #61
sweet :)

[2015-02-13 09:03] yoavst opened #62 "Site to upload new libraries"
instead of forking, commiting and send pull request, can you make a simple form where we can upload new libraries?

Or integration with android-arsenal at compile time ;)

[2015-02-13 13:14] mikepenz commented on #62
you can send an e-mail with the xml too :D
or copy and pasting it as issue.

[2015-02-13 14:28] yoavst commented on #62
[code]
[code]

[code]

[code]

[2015-02-13 16:04] mikepenz commented on #62
thanks i'll add them ;)

[2015-02-13 16:36] #62 closed

[2015-02-23 21:23] mikepenz commented on #59
Fixed in v4.5.6

[2015-02-23 21:23] #59 closed

[2015-02-24 14:18] Rainer-Lang opened #65 "withAboutSpecial1Description"
[code]
the "\n" is ignored

[2015-02-24 18:21] mikepenz commented on #65
because it's html ;)

try ```<br />```

[2015-02-24 18:21] #65 closed

[2015-02-24 18:52] Rainer-Lang commented on #65
.replace("\n", "<br />");
Doesn't work for me.

[2015-02-24 18:57] mikepenz commented on #65
You've set your content as resource?

[2015-02-24 18:59] Rainer-Lang commented on #65
From resource and then i have some replace.
=> i use a string

Am 24. Feb. 2015 19:57, um 19:57, Mike Penz <notifications@github.com> schrieb:

[2015-02-24 19:01] mikepenz commented on #65
You've wrapped the whole thing within a CDATA tag?

[code]

[2015-02-24 19:03] Rainer-Lang commented on #65
No it's only a string.

Am 24. Feb. 2015 20:01, um 20:01, Mike Penz <notifications@github.com> schrieb:

[2015-02-24 19:43] Rainer-Lang opened #66 "define other color for withAboutSpecialX-Button and also other size for text in the dialog"
I want to set another color for the buttons. How can this be done?
I also want to define the text size in the dialog.

[2015-02-26 19:14] Rainer-Lang commented on #66
Please make separate methods to set color for the buttons. Thanks. ;-)

[2015-02-26 19:29] mikepenz commented on #66
@Rainer-Lang changing the text-size within the dialog would require you to change the AlertDialog style for the theme you use with the AboutLibraries library

[2015-02-26 19:37] Rainer-Lang commented on #66
@mikepenz OK. Thanks for the info.

[2015-03-04 10:25] Rainer-Lang opened #67 "make all methodes with ResId"
Like in your MaterialDrawer lib. :-)
You made "withName(ResId)", could you also make
- withActivityTitle
- withAboutAppName
- with AboutDescription
- withAboutSpecial1-3
...
In this great lib?

[2015-03-06 20:28] tprochazka commented on #55
This plugin
https://github.com/ben-manes/gradle-versions-plugin
is able to detect latest version of all dependencies directly from the maven repos.

So the same mechanism can be used to detect libraries version.

But. I don't understand why this library should do this. I think that version of the library is irrelevant.
Name if the lib, author, web, licence name and url to licence is enough I think

[2015-03-21 10:07] Rainer-Lang opened #68 "Dialogs for special buttons are dark with white text."
Maybe this is because I use Light.DarkToolbar. I'm using the theme of MaterialDrawer.

[2015-03-21 10:08] Rainer-Lang opened #69 "Dialog for special buttons should have a close button."
The dialogs should have a close button - the text should also be customizable.

[2015-03-21 10:10] Rainer-Lang opened #70 "Special buttons: Please look at the guidelines."
http://www.google.com/design/spec/components/buttons.html#buttons-usage
or here: http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7OU9vRGtPQkhwMHM/components_buttons_usage5.png

Maybe you decide to make also the button background color customizable. :-)

[2015-03-22 08:39] Shajeel-Afzal opened #71 "http://def-builder.mikepenz.com/ link is broken"
Hi!

Please update the link. I want to include libraries that are not currently supported by default by you. I am not finding a way to do so.

Thanks.

[2015-03-22 08:55] Shajeel-Afzal opened #72 "Library not excluded from the list after i removed the .jar file"
Hi!

I first ran the app and came to know that Picasso.jar was auto detected in the list which is nice, but after that i deleted it from the the libs folder and also updated the build path because i was no longer using it in the project.

But even after that i can see Picasso listed in the libraries. I think the on first run of the app it generates necessary files to indicate libraries used but it

[2015-03-22 19:19] jkane001 opened #73 "Library seems to be incompatible with Android Studio 1.2"
I cannot add AboutLibraries to my project in AS 1.2 - it syncs Gradle fine, but fails to build the project with the error "Error:Execution failed for task ':bluetoothdetection:dexTrialDebug'.

I've reproduced this 2 different times this week - all is well until I add compile('com.mikepenz.aboutlibraries:library:4.5.9@aar') { transitive = true }, and then it breaks again. Removing that dependency r

[2015-03-23 04:59] jkane001 commented on #73
This turns out to be a problem with my app - too many methods (http://developer.android.com/tools/building/multidex.html).

I've taken care of that, and now I can add AboutLibraries successfully.

[2015-03-23 04:59] #73 closed

[2015-03-23 19:25] mikepenz commented on #68
@Rainer-Lang i use the default theme here. so this is used from the style you use. if you need a different style here please try to overwrite the dialog theme.

[2015-03-23 19:25] #68 closed

[2015-03-23 19:28] mikepenz commented on #70
@Rainer-Lang oh i see ;).

[2015-03-23 19:28] mikepenz commented on #71
@Shajeel-Afzal i can open the site. still not working for you?

[2015-03-23 19:30] Shajeel-Afzal commented on #71
Sorry not sure what is wrong but it is not opening for me :(. Thanks.

[2015-03-23 19:30] mikepenz commented on #72
@Shajeel-Afzal no it does not generate any files. the libraries are detected by their definition files, or if the lib can detect a class which is in the classpath. i assume there is still any reference to the picasso lib. perhaps a library is using picasso as dependency?

[2015-03-23 19:30] mikepenz commented on #73
@jkane001 thanks ;)

[2015-03-23 19:31] mikepenz commented on #71
@Shajeel-Afzal strange. you can use the source which is in teh github repo too :D it's a simple html site with javascript:

https://github.com/mikepenz/AboutLibraries/tree/master/DEV/definition-file-builder

[2015-03-23 19:31] #71 closed

[2015-03-23 19:32] Shajeel-Afzal commented on #72
@mikepenz i will check. But can you please tell me how can i add new libraries? I am assuming that the solution is avaialbe on http://def-builder.mikepenz.com/ but since it is not opening atleast in my country, can you please give the solution here?

[2015-03-23 19:48] mikepenz commented on #72
@Shajeel-Afzal the def-builder is just a helper creating definition files. you can then do a pull-request here.

[2015-03-23 19:48] mikepenz commented on #72
@Shajeel-Afzal the wiki has some more information about this topic

[2015-04-05 18:53] theenderer opened #75 "Fragment has a background"
The fragment returned by AboutLibraries has a set background. Is it not a better idea not to set a background? This reduces overdraw and fits in with the current theme of the user's app.

This relates to:
https://github.com/mikepenz/AboutLibraries/blob/master/library/src/main/res/layout/fragment_opensource.xml

[2015-04-06 15:50] mikepenz commented on #75
@theenderer yea thos would probably be a good idea. thanks

[2015-04-08 14:33] johnjohndoe commented on #55
Any progress on this?

[2015-04-08 14:40] mikepenz commented on #55
@johnjohndoe not yet

[2015-04-08 15:33] RobertFischer commented on #55
Hey there. I'm the author for Gradle Versions plugin. I wrote it because we needed that information for legal at $BIGCORP. Pretty much everything you need is in the pom file, assuming it's well-written. If it's not, a quick look inside jars for various well-known license file is easy to do. Theoretically, you could check for the license files at runtime, and parse out what you can from the jar fil

[2015-04-09 14:07] johnjohndoe commented on #35
Some of the releases do not have any changelog summary. It would be nice if you could add them.

[2015-04-16 06:28] alorma opened #77 "Cards doesn't have feedback"
Adding ```android:foreground="?android:selectableItemBackground"``` it's probably a good idea :)

[2015-04-16 20:20] mikepenz commented on #77
@alorma will be fixed in the next version ;)

[2015-04-16 20:22] #72 closed

[2015-04-17 07:05] theenderer opened #78 "Libraries lost with minifyEnabled true"
I enable obfuscation in my app to reduce the size.
I guess the strings are accessed via reflection and thus removed by proguard because they seem unused.

Does anyone else experience this problem?

Any easy -keep statements to keep this library working with obfuscation?

[2015-04-17 14:30] mikepenz commented on #78
@theenderer what happens? it will stop to auto-detect. This is because the classpaths of the libs are changing. so i can't autodetect. You should still be able to just manually set the used libraries in the builder.

`.withLibraries("activeandroid", "caldroid")` should do the trick

[2015-04-17 14:31] theenderer commented on #78
Thanks, will give it a try.

[2015-04-20 17:08] mikepenz commented on #67
@Rainer-Lang please just use context.getString()

[2015-04-20 17:08] #67 closed

[2015-04-20 17:08] mikepenz commented on #78
@theenderer any luck?

[2015-04-20 17:18] #77 closed

[2015-04-20 17:19] #75 closed

[2015-04-20 17:19] #70 closed

[2015-04-20 17:19] #66 closed

[2015-04-20 17:29] mikepenz commented on #69
@Rainer-Lang is this really required?

[2015-04-20 17:39] Rainer-Lang commented on #69
I would make a button at bottom "close".

[2015-04-20 17:57] theenderer commented on #78
Stating it manually works well thanks. Was hoping there was some kind of
Proguard rule to keep the information for automatic detection.
On 20 Apr 2015 7:09 PM, "Mike Penz" <notifications@github.com> wrote:

[2015-04-20 17:58] mikepenz commented on #78
@theenderer you will have to exclude each single lib so proguard would not change their package names. but i think this is unnecessary.

[2015-04-20 17:58] #78 closed

[2015-04-20 18:41] theenderer commented on #78
Yea would not be worth it. Thanks for the responses, and the awesome
library.
On 20 Apr 2015 8:37 PM, "Mike Penz" <notifications@github.com> wrote:

[2015-04-21 06:38] Rainer-Lang opened #80 "Button "CHANGELOG" in sample app without "G""
I use a Nexus5 and the button "CHANGELOG" only shows "CHANGELO" :-(

[2015-04-21 06:51] mikepenz commented on #80
@Rainer-Lang because the text is to long :/ and it will show 2 lines. no idea how to change this

[2015-04-21 07:01] Rainer-Lang commented on #80
You have free space to the border at the left and the right. Maybe make the buttons wider.
The cards below are using more width.

[2015-04-21 07:03] Rainer-Lang commented on #69
I would really prefer to have this button.

[2015-04-22 07:10] wintersandroid opened #81 "Crash when using supportLibrary 22.1.0"
Updated my app to support library 22.1.0 and now opening the activity crashes.

Callstack
[code]

I have the following in gradle.
[code]

And launch, with cusom libraries specified in xml files.
[code]

[2015-04-22 07:31] mikepenz commented on #81
@wintersandroid i have to update all the libs for the new support libraries because they have changed many things, please use the previous version for now, until i was able to update.

[2015-04-22 08:46] #81 closed

[2015-04-26 12:39] alorma opened #83 "App icon clickable"
Hey.

In the about libs screen, can you make the icon clickable, and open it in high res? (if is available)

[2015-04-26 12:57] Gordey opened #84 "getActionBar() - java.lang.NullPointerException"
After dependecy librarie and start SettingsActivity activity with extends PreferenceActivity, have error NullPointerException.
Code where error:
[code]

[2015-04-26 14:51] mikepenz commented on #84
@Gordey this is not AboutLibraries specific. I also assume that you should use getSupportActionBar() Not sure which PreferenceActivity you use. (I think there's also an support version)

[2015-04-26 15:49] #84 closed

[2015-04-28 14:40] ppamorim opened #86 "Failed to resolve: com.mikepenz.aboutlibraries:library:4.7.1"

[2015-04-28 14:42] mikepenz commented on #86
@ppamorim you were to fast :D just released it to maven central. please wait 10-45 minutes longer ;)

[2015-04-28 14:42] #86 closed

[2015-04-28 14:43] ppamorim commented on #86
You're fast too.
JitPack is faster than me plus you together. :3

[2015-04-28 14:47] mikepenz commented on #86
@ppamorim yeah :D

That's true, but for now i like maven central :P

[2015-04-28 15:14] mikepenz commented on #86
@ppamorim just in case :D v2.7.1 is synced to maven central and it can be used now ;)

[2015-05-10 23:04] RubyDerBoss commented on #69
As seen here: http://www.google.com/design/spec/components/dialogs.html#dialogs-simple-dialogs
Simple Dialogs like those in the library shouldn't have a explicit close button.

[2015-05-11 11:08] mikepenz commented on #69
@RubenGees thanks.

CLOSE :D

[2015-05-11 11:08] #69 closed

[2015-05-15 12:27] shayousefi opened #89 "LibsActivity memory leak"
I recently added [LeakCanary](https://github.com/square/leakcanary) to my app and it reports a leak in LibsActivity.

Here's the leak trace:
[code]

This is how I'm calling it from my MainActivity:
[code]

I can provide the heap dump as well if it's needed.

[2015-05-16 19:15] mikepenz commented on #89
@shayousefi thank you. I will try to take a deeper look and solve it. Thanks for the report

[2015-05-19 21:55] mikepenz commented on #89
@shayousefi seems to be an Android specific Memory leak. no variables or anything which could leak the context.

[2015-05-19 21:56] mikepenz commented on #89
@shayousefi if someone has a more specific info it would be great. but as far as i can say from the code side it looks fine.

[2015-05-19 21:56] mikepenz commented on #83
@alorma any real advantage of this?

[2015-05-20 07:22] alorma commented on #83
Why not? Can show the icon in a big size, or use as easter egg launcher...
:p

On Tue, May 19, 2015, 23:56 Mike Penz <notifications@github.com> wrote:

[2015-05-20 13:50] shayousefi commented on #89
@mikepenz Indeed it is a platform bug, so it can be ignored:
https://code.google.com/p/android/issues/detail?id=173789

[2015-05-20 14:05] mikepenz commented on #89
@shayousefi thank you ;)

[2015-05-20 14:05] #89 closed

[2015-05-20 16:27] #27 closed

[2015-05-20 16:28] mikepenz commented on #39
They are now deprecated. and the builder should be used.

[2015-05-20 16:28] #39 closed

[2015-05-20 17:48] mikepenz commented on #83
@alorma solved ;)

[2015-05-20 17:48] #83 closed

[2015-05-20 17:49] mikepenz commented on #80
@Rainer-Lang the padding is now lowered. It will still cut it off on smaller devices

[2015-05-20 17:49] #80 closed

[2015-05-20 18:02] #49 closed

[2015-05-20 21:44] johnjohndoe commented on #49
:+1:

[2015-05-20 21:45] johnjohndoe commented on #39
:+1:

[2015-06-10 21:41] ilmetu opened #100 "Use it in a fragment"
Hi,

in my app i use this construct to change the fragment when i pick an item from the drawer :

HomeActivity :
[code]

About Fragment class :

[code]

I try some solutions to open our fragment library without any luck, can you suggest me a way to do it ?

Thanks a lot.

[2015-06-11 06:40] mikepenz commented on #100
@ilmetu i am not sure what this has to do with the AboutLibraries project? It already is possible to create a fragment from it?

[2015-06-11 06:40] #100 closed

[2015-06-13 19:52] wKovacs64 opened #102 "Leak in RippleForegroundListener"
`RippleForegroundListener` keeps a reference to the layout view passed in to `setLayout` which keeps a reference to its context, etc. Using the view from the `onTouch` event fixes it but might break how we have to use it. Something like this...

[code]
This implementation somewhat breaks AboutLibraries, though. Ripples are only being displayed when clicking space inside the title area (excluding t

[2015-06-15 10:48] Aqua-Ye opened #103 "upload to jCenter"
Hi Mike,

Would it be possible to also upload this library to jCenter ?

Thanks.

[2015-06-15 10:57] Aqua-Ye commented on #103
Sorry, it seems to work :)

[2015-06-15 10:57] #103 closed

[2015-06-15 13:56] mikepenz commented on #103
@Aqua-Ye it's on mavenCentral and on jitpack

[2015-06-17 18:33] wKovacs64 commented on #102
Fixed leak in 3023566 and restored some flexibility in 89ccc8c.

[2015-06-17 18:33] #102 closed

[2015-06-28 23:16] stleusc opened #116 "long click listener"
It seems like there is no way to override the default long press behavior.
Also, can't the library just use the current default theme that my app uses? Why would I have to define a theme?

[2015-06-29 10:16] mikepenz commented on #116
@stleusc this are 2 different topics.

about the theme. no a library can'T just use the theme of another app. you will have to provide the specified attrs so the theme is working. if you set them in your theme it's fine. https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/styles.xml#L13
Still this is not as easy as it seems :D

[2015-06-30 21:30] #116 closed

[2015-07-01 02:03] stleusc commented on #116
Sweet... thanks!

[2015-07-12 04:36] jayakanthang opened #121 "Gradle Setup for com.fima.cardsui"
Hi , If I need to use your lib in my app, it shows error in com.fima.cardsui. This library has documentation how to include their lib in gradle. can you please advise?

Thanks.
Jaya

[2015-07-12 10:51] mikepenz commented on #121
@jayakanthang this library does not contain the com.fima.cardsui project. just the sample project.
it seems you did not setup the lib with the gradle dependency for your project?

[2015-07-12 11:50] jayakanthang commented on #121
Hi, What should I do if I want to include this lib as gradle dependency?

Sent from my iPad

[2015-07-12 13:03] mikepenz commented on #121
https://github.com/mikepenz/AboutLibraries#using-maven

[2015-07-12 13:03] #121 closed

[2015-07-17 12:18] andreaszielke opened #124 "Question: Display/include License (e.g. Apache 2.0)"
Hi Mike,

first of all - thanks for this supplying this great library :+1:

I just started to play around with it in a project using Butterknife and my first question is: you don't seem to display the actual license text to the end user. I always assumed that 4a of the Apache 2.0 license requires this - but IANAL and not a native speaker.

Does the AboutLibraries activity supply a way to display t

[2015-07-17 13:34] mikepenz commented on #124
@andreaszielke if you click on the license name inside the AboutLibraries library it will display the license text. is this false?

[2015-07-17 17:58] andreaszielke commented on #124
Hmm - I'm running the demo app on my Kitkat Device and I don't see the
license name.

@andreaszielke <https://github.com/andreaszielke> if you click on the
license name inside the AboutLibraries library it will display the license
text. is this false?

—
Reply to this email directly or view it on GitHub
<https://github.com/mikepenz/AboutLibraries/issues/124#issuecomment-122275750>
.

[2015-07-17 18:01] mikepenz commented on #124
it is a property and has to be activated separately

You can find it in the Manifest Activity

[2015-07-17 18:09] andreaszielke commented on #124
Ah, cool. Thanks for your guidance.
Am 17.07.2015 20:01 schrieb "Mike Penz" <notifications@github.com>:

[2015-07-21 12:26] Mek0n opened #125 "Proguard issue"
When manually creating library entries within values these entries appear fine if proguard is not used, if proguard is used then they do not appear.

Many thanks for a great library btw
Mek0n

[2015-07-21 12:28] mikepenz commented on #125
@Mek0n i can not automatically detect libs via the Classpath autodetector if the packagename's and classes are altered. It will work for libraries which contain the definition file in it. but this is not the case for most libraries.

So as an alternative fix you just can define which libraries to show. but you will have to do this manually.

[2015-07-21 12:28] #125 closed

[2015-07-21 12:36] Mek0n commented on #125
Thanks for the quick response, I may have not made myself clear enough...

For example I am using PDFJet within my app so I create the following in values.

<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="define_PDFJet"/>

    <string name="library_PDFJet_author">Innovatics Inc.</string>
    <string name="library_PDFJet_authorWebsite">http://pdfjet.com/</string>

    <string n

[2015-07-21 12:46] mikepenz commented on #125
@Mek0n i can't prove it but i have the feeling the empty `<string name="define_PDFJet"/>` is removed by proguard. Can you try to just add some content to it?

[2015-07-21 13:02] Mek0n commented on #125
@mikepenz  I changed it to `<string name="define_PDFJet">PDFJet</string>` and it still does not show.

[2015-07-21 13:03] mikepenz commented on #125
@Mek0n can you add it manually via code to make sure it is in and it just can't find it via the normal way?

[2015-07-21 17:05] Mek0n commented on #125
@mikepenz I tried that to no avail, however I should have thought of this front the start (so sorry about all the noise)  in adding `-keep class com.mikepenz.aboutlibraries.** { *; }` to the proguard config, that resolves my issue.

Many thanks for your help and great library.

[2015-07-21 20:00] mikepenz commented on #125
@Mek0n thanks :)

[2015-07-27 12:26] yuvraazjang commented on #124
hi Mike,
First of all thanks a lot for your library contribution for android.and for we like android learner it is really helpfull. i am trying to clone wallsplash (https://github.com/mikepenz/wallsplash-android)project but
 compile 'com.gu:option:1.3' cannot be add can you please let me know what may be the probelm?

[2015-07-27 12:30] #124 closed

[2015-07-30 09:35] JordanGout opened #126 "AboutSpecial open a website"
is it possible to open a website with AboutSpecial button ?

thanks

[2015-07-30 09:38] mikepenz commented on #126
@JordanGout you can hook in any functionality you want.

There is the LibsConfiguration which allows you to set any listener for it:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsConfiguration.java

Use it like:
[code]

You are looking for this: `onExtraClicked`. Return `false` if you have consumed the event

[2015-07-30 09:38] #126 closed

[2015-07-30 14:08] JordanGout commented on #126
I missed this event on the listener. Thank You.

[2015-07-30 21:11] mikepenz commented on #126
@JordanGout no problem ;)

[2015-08-10 10:48] barondem opened #129 "Wrong info for AppCompat"
Hi! I think there's some wrong info in AppCompat' XML file:  the library is indeed open source (in fact the author is correctly AOSP) and the source code is here: https://android.googlesource.com/platform/frameworks/support/+/master/v7/appcompat/

[2015-08-18 15:40] bauerj opened #133 "HelloCharts isn't auto detected"
Hi there,

I'm including `com.github.lecho:hellocharts-android:v1.5.5` in my app and I do use classes like `lecho.lib.hellocharts.view.LineChartView` from it.

Despite HelloCharts being supported, it is missing from the overview.

[2015-08-21 08:19] mikepenz commented on #133
@bauerj which version of the AboutLibraries do you use? Do you use proguard?

[2015-08-21 09:45] bauerj commented on #133
I'm using the current Version 5.1.1.

As I'm currently just doing development build, proguard is not yet enabled.

[2015-08-21 09:48] mikepenz commented on #133
@bauerj ah i see. this definition file was updated 9 days ago. i will publish an update later today. which will fix this issue ;)

[2015-08-21 10:03] bauerj commented on #133
Thanks you :+1:

Also thanks for this great library :smile:

[2015-08-21 10:08] mikepenz commented on #133
@bauerj latest version already published to maven central. should be available in the next 30 minutes ;)

thanks ;)

[2015-08-21 10:08] #133 closed

[2015-08-25 15:29] #129 closed

[2015-08-28 11:45] JordanGout opened #135 "Builder not available"
I would like to use the tool to build the definition file (def-builder.mikepenz.com) but your domain is expired.

[2015-08-28 12:15] JordanGout opened #136 "Some libraries are not detected"
The following libraries are not detected :

`com.google.code.gson:gson:2.3.1`
`com.squareup.picasso:picasso:2.5.2`
`com.facebook.android:facebook-android-sdk:4.0.0`
`com.crashlytics.sdk.android:crashlytics:2.4.0@aar`
`com.timehop.stickyheadersrecyclerview:library:0.4.1@aar`

What I miss ?

[2015-08-28 12:36] mikepenz commented on #135
@JordanGout thanks :D had activated auto renew. Strange that it did not inform me.

Will be live gain within a few hours (after the domain renewal was processed)

[2015-08-28 12:36] #135 closed

[2015-08-28 12:58] mikepenz commented on #136
@JordanGout do you have obfuscating activated? perhaps the class i use to check if it is there changed: https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/library_gson_strings.xml#L12 ?

[2015-08-28 12:59] mikepenz commented on #136
Will it work if you pass the fields via the builder?
[code]

[2015-08-28 13:06] JordanGout commented on #136
In development obfuscating is disable.

The Gson class didn't change (com.google.gson.Gson)

Here my class to launch AboutLibrariesActivity :

[code]

[2015-08-28 19:10] mikepenz commented on #136
@JordanGout interesting so it should understand that it's on the classpath :/. i will have to debug this issue

[2015-08-28 20:20] JordanGout commented on #136
I try to add library_XXX_strings.xml files without any change except define_int_XX become define_XX

All libraries are now present so there is a problem with detection :/
I check (Gson, Picasso, Crashlytics, StickyHeader) classpaths everything is good. I do not use the same classpath for Facebook

[2015-08-28 20:21] mikepenz commented on #136
@JordanGout without int the libraries are detected because the AboutLibraries thinks those are included in the lib itself.

hmmm i will take a clsoer look

[2015-08-28 20:29] JordanGout commented on #136
Ok, thanks.

[2015-08-29 08:00] mikepenz commented on #136
@JordanGout all of them are detected here. (can't test crashlytics as this is a different repo)

I have a small feature included which will improve performance after the first start which remembers libs found for a specific app version. Can you count up the current `versionCode` of your app?

[2015-08-29 17:16] JordanGout commented on #136
All libraries are detected with a new version code (including crashlitycs)

Thank you for this advice ;)

[2015-08-29 17:16] #136 closed

[2015-08-31 10:09] vanniktech opened #138 "Failed to resolve: com.mikepenz:aboutlibraries:5.2.1"
I can't get version `5.2.1` from the Maven. Also according to [this](http://mvnrepository.com/artifact/com.mikepenz/aboutlibraries) it seems like it's not there. Did you push it?

[2015-08-31 10:14] mikepenz commented on #138
@vanniktech you are right. i have not yet released it on maven central. have done this now. will take ~30 minutes to sync.

[2015-08-31 10:14] #138 closed

[2015-09-01 08:01] vanniktech commented on #138
Hmm I still can't see it.

[2015-09-01 08:28] mikepenz commented on #138
@vanniktech as of maven central it's there: http://search.maven.org/#artifactdetails%7Ccom.mikepenz%7Caboutlibraries%7C5.2.1%7Caar

[2015-09-01 09:04] vanniktech commented on #138
Hmm okay fair enough then mvnrepository has some sync issues. Anyway, thanks.

[2015-09-05 19:03] AngleV opened #144 "Override LibsFragment View"
Due to my needs i need to override the view of LibsFragment.
is it possible ?

[2015-09-05 19:49] AngleV commented on #144
Never mind i found another way to implement my needs

[2015-09-05 19:49] #144 closed

[2015-09-05 20:25] mikepenz commented on #144
@AngleV great

[2015-09-08 14:40] RubenGees opened #145 "Layout Issue with title"
The title is a bit cut off on one of my Libs.
Screenshot:
![screenshot_20150908-163612](https://cloud.githubusercontent.com/assets/8021265/9737662/03c979c0-5648-11e5-9120-3ce82c580ae2.png)

I'm using Version 5.2.2 and the LibsBuilder as an Activity.

[2015-09-12 20:58] randombyte-developer opened #150 "Jsoup not detected"
Hello!

I just added your lib into my app. It was super easy! But it doesn't show all defined libs, e.g. Jsoup.
How I start the AboutLibraries-Activity: https://github.com/randombyte-developer/SGLVertretungsplan/blob/master/app/src/main/java/de/randombyte/sglvertretungsplan/fragments/SettingsFragment.java#L111
My proguard rules: https://github.com/randombyte-developer/SGLVertretungsplan/blob/maste

[2015-09-12 21:00] mikepenz commented on #150
The classpath of jsoup is not complete. i will improve this. for now just manually add jsoup as library you use :D

[2015-09-12 21:16] randombyte-developer commented on #150
Thanks for replying so fast! As I can see, you fixed it right now(but it has to be pushed to maven).

[2015-09-12 21:16] #150 closed

[2015-09-12 21:17] mikepenz commented on #150
@randombyte-developer yeah i have not yet released a new version. as mentioned just add it manually at the moment via the builder.

[code]

[2015-09-12 21:19] randombyte-developer commented on #150
Yeah, I did this(also with support lib and appcompat).

[2015-09-12 21:32] mikepenz commented on #150
support and appcompat are not auto detected at the moment. they are used by most devs. i am not sure if they really need to be mentioned all the time..

[2015-09-16 03:29] bezineb5 opened #152 "AboutLibrary definition-file builder: custom library not working"
The generated code looks like this:
[code]

It should be library instead of libray. However, I'm not sure were the code for this tool is.

Thanks!

[2015-09-16 14:08] mikepenz commented on #152
@bezineb5 the online version? http://def-builder.mikepenz.com/

[2015-09-16 14:37] RubenGees opened #153 "Library with internal definition does not show up"
I released a library recently with an internal definition file for AboutLibraries. But it won't show up...
This is the definition file: https://github.com/RubenGees/Introduction/blob/master/library/src/main/res/values/library_introduction_strings.xml

I start the AboutLibraries Activity like the following:
[code]

Thank you for your help in advance!

[2015-09-16 14:47] mikepenz commented on #153
@RubenGees as far as i can see it looks fine. also you do not need this `library_introduction_classPath` for an internal lib.

the lib is used in the project, and proguard isn't messing something up?

[2015-09-16 14:56] mikepenz commented on #152
@bezineb5 ok thanks for reporting. fixed it

[2015-09-16 14:56] #152 closed

[2015-09-16 14:58] RubenGees commented on #153
Ahh I found it. I created an internal file with your generator, but I needed an external one...

[2015-09-16 15:16] mikepenz commented on #153
ah ok. haha. just saw that it looked at the fixed version of the definition file :D sure that i can't find an issue :P

[2015-09-16 15:16] #153 closed

[2015-09-16 15:17] RubenGees commented on #153
Haha sorry for this pointless Issue... :D

[2015-09-16 15:26] mikepenz commented on #145
@RubenGees interesting. on my phone it adds "..." to cut the name of the library. two lines is no option

[2015-09-16 15:53] RubenGees commented on #145
I looked a bit through the layouts, they seem to be correct. I think that might be an Android issue or something, it happens on no other device I have tested this against either. https://code.google.com/p/android/issues/detail?id=13895 maybe it's this bug?

[2015-09-16 15:55] mikepenz commented on #145
hmm could be something similar

[2015-09-17 22:16] RubenGees opened #156 "Problems with Proguard"
Thank you for your help all the time and also this time in advance!

I have the following problem: When I build my App as a debug release, all the Libs show up. But when I build a release version with Proguard there are not all Libs. I tried to investigate why this happens, but I can't find a solution. I saw that all Libs with internal declarations are there (your other libs and my own) and also S

[2015-09-17 22:51] mikepenz commented on #156
please try

[code]

[2015-09-17 23:42] RubenGees commented on #156
Doesn't work unfortunately...

[2015-09-18 00:08] mikepenz commented on #156
but adding
[code]
to the builder should do the trick at least

[2015-09-18 00:17] RubenGees commented on #156
Yeah. Really weird. You can look through the project if you want: https://github.com/RubenGees/Vocabletrainer

Maybe it's some issue with the build tools or proguard itself.

[2015-09-26 10:17] AngleV opened #159 "AboutLibraries fragment being replaced by previous fragment in stack"
I have an activity which host a PreferenceFragmentCompat.
When user taps on Credits preference item, the AboutLibraries Fragment comes in front.

[code]

So far so good but when user taps on a library the AboutLibraries Fragment detaches from Activity and being replace by Preferences fragment.

Any idea ?

[2015-09-28 14:40] DVassilev opened #160 "Add SwipeMenuListView Library"
Could you please add the following library?

[code]

[2015-09-28 17:27] mikepenz commented on #160
added will be in v5.2.4 as soon as it is released

[2015-09-28 17:27] #160 closed

[2015-09-28 17:30] mikepenz commented on #159
@AngleV i think this is no AboutLibraries issue as those just provide the fragment.

[2015-09-28 17:30] #159 closed

[2015-09-28 17:47] AngleV commented on #159
@mikepenz
Yes after more investigation i find out that its nothing to do with AboutLibraries.
But if someone implements this inside a stack fragment he will get the same effect.

The problem has to do with the Intent.ACTION_VIEW

[code]

But i can figure out how to solve it

[2015-09-29 12:44] RubenGees commented on #156
Did you found anything about that yet? I tried it with a somehow fresh project - same problems.

[2015-09-29 12:48] mikepenz commented on #156
does this fix the problem?
[code]

[2015-09-29 12:58] RubenGees commented on #156
No it doesn't. Here is a complete fresh project with minimal configuration. If you build the release, the problem occurres: https://github.com/RubenGees/AboutLibrariesTest

[2015-09-29 17:29] mikepenz commented on #156
@RubenGees ah i see. yeah makes sense that it does not work for most libs, as those devs are to lazy to include the definition file inside their lib. proguard modifies the packagename and classes so the autodetect feature is not working for libs where the definition file is included inside the AboutLibraries. It works for libs like the MaterialDrawer which has the definition file inside the lib it

[2015-09-29 17:29] #156 closed

[2015-09-29 17:45] mikepenz commented on #145
@RubenGees is this still a topic for you?

[2015-09-29 17:48] RubenGees commented on #145
Well, it was never a real problem, as it is really unlikely to happen, so i'll close this. I just wanted to show it if you maybe would have wanted to look for a solution.

[2015-09-29 17:48] #145 closed

[2015-09-29 17:50] RubenGees commented on #156
Hmm, okay I see. I'll go with the manual definition then...
How do I turn off the autodetection then (as it wastes processing power)? And does that affect the libs with definitions inside them?

[2015-09-29 18:07] mikepenz commented on #145
yeah i have not really found what could cause the problem as it works in some cases. and in your case not. really weird

[2015-09-29 18:09] mikepenz commented on #156
@RubenGees just set `withAutoDetect(false)` this will just disable the autodetection via the classpath. MaterialDrawer etc will still work

[2015-09-29 18:10] RubenGees commented on #156
Great, thank you once again!

[2015-09-29 18:11] mikepenz commented on #156
no problem. sorry that this is not possible via the autodetection. but gradle removes everything which would allow me to detect an lib.

[2015-09-29 18:12] RubenGees commented on #156
Yep. There is only the compile-time based approach left.

[2015-09-29 18:13] mikepenz commented on #156
@RubenGees yes. but i really do not have the time to do this

[2015-10-18 20:36] rubengees opened #162 "Stuttering on first display when using .fragment()"
Hi,

As the title says I experience visual stuttering when I call AboutLibraries with .fragment() and display it.
Code:
[code]

As you can see I disabled the auto detection and specified the used ilbs myself, which should be faster. The Fragment than simply replaces the current fragment, and I don't think the delay comes from there.
When I call it again, the stuttering is gone. (Although it takes

[2015-10-30 13:01] angelpinheiro opened #163 "Add User Avatar Pack Resource"
User Avatar Pack from Freepick. Not sure if that would fit because It's not exactly a library, but it's open source and requires attribution:

[code]

[2015-10-30 22:41] mikepenz commented on #162
@rubengees sorry for the late response. i've improved the initialization of the fragment and libs loading will be in v5.2.6

[2015-10-30 22:46] #162 closed

[2015-10-30 22:46] mikepenz commented on #163
added in v5.2.6 thanks

[2015-10-30 22:46] #163 closed

[2015-10-31 12:54] rubengees commented on #162
Works great, thank you!

[2015-11-01 07:22] eling13 opened #164 "Where is style="@style/CardTitle""
I used it.

[2015-11-01 10:22] georgeherby opened #165 "Toolbar colour"
Question - when I set my page up using the style of light and dark toolbar it gives me a toolbar of the same colour at my accent colour not the colorPrimary. How do I correct this?

[2015-11-01 10:23] AngleV opened #166 "latest release not working"
upgrading to latest release the lib is not working
using fragment i get an empty screen
[code]

[2015-11-01 10:32] AngleV commented on #165
@georgeherby

read this

https://github.com/mikepenz/AboutLibraries/wiki/HOWTO:-Style#colorsxml

[2015-11-01 12:46] georgeherby commented on #165
@AngleV thank you sir :) sorry for being a bit thick and not finding that!!

[2015-11-01 12:46] #165 closed

[2015-11-01 17:26] mikepenz commented on #166
@AngleV does it write out something in the log?

[2015-11-01 17:29] mikepenz commented on #164
@eling13 not sure where you used this, but this is no part of the library, only in the sample app.

The library uses the following dimension for the libraryName:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/listitem_opensource.xml#L33

[2015-11-01 17:29] #164 closed

[2015-11-02 05:51] wKovacs64 opened #167 "AsyncTask leak/crash in 5.2.6"
8acd5f1 introduced `LibraryTask` which crashes the app if an orientation change occurs while the libraries are loading. Stack trace:

[code]

[2015-11-02 08:30] AngleV commented on #166
@mikepenz
no  nothing at all !!!

[2015-11-02 08:30] AngleV opened #169 ".withAboutDescription span link listener"
i am using this

[code]

how to handle the click of url span inside the string ?

[2015-11-02 09:14] #167 closed

[2015-11-02 20:08] mikepenz commented on #169
@AngleV you can't directly access this. i will add you 2 new methods to hook into the view creation of the HeaderView and normal library card view (of the RecyclerView)

[2015-11-02 20:11] mikepenz commented on #166
@AngleV just tried your code within the sample application and it works. Could you please debug it or provide a small sample app so i can reproduce this issue?

[2015-11-02 20:11] #169 closed

[2015-11-02 21:13] MAndretti opened #170 "remove V4 Fragments"
Hi,

only a view (four percent) Apps use API Level below 11. So 96 percent of all Apps use normal fragment manager and not support fragment manager. Can you please replace the support fragment manager with normal fragment manager or create a class for that.

Thanks and regards,
Mario Adamo Andretti

[2015-11-02 21:22] mikepenz commented on #170
@MAndretti sorry but i stay with API Level 10, as many devs still support apps down to API 10.
As an additional note most apps also come with the appcompat-v7 library which has the support-v4 as dependency, so those also support the v4.Fragment.

What usecase do you have that you can't use v4 fragmet?

[2015-11-02 21:51] AngleV commented on #166
Dear @mikepenz  sorry for the inconvenience.
it was my bad. Your code works perfectly !
thanks

[2015-11-02 21:51] #166 closed

[2015-11-02 21:52] mikepenz commented on #166
@AngleV oh really? what was the issue?

[2015-11-02 21:52] AngleV commented on #169
awesome !
looking forward for the new release :D

[2015-11-02 21:53] mikepenz commented on #169
@AngleV was waiting for this release for the other issue to be fixed :D (https://github.com/mikepenz/AboutLibraries/issues/166) but as you mentioned it already works i will release now ;)

[2015-11-02 21:57] AngleV commented on #169
You rock mate !!! :+1:

[2015-11-02 21:58] mikepenz commented on #169
@AngleV i hope the listener is working for you as i hope to. But it will allow you to access the view containing the description. So you should also be able to overwrite this behavior

[2015-11-02 22:00] AngleV commented on #166
honestly...two many hours of coding was the issue :D

[2015-11-02 22:01] mikepenz commented on #166
ah ok ;)

[2015-11-02 22:04] MAndretti commented on #170
HI,

I love AboutLibraries. In the past it was easy to replace V4 Fragments with
current Fragments (v11). But since last version (async task change) i am
unable to change the source. Try to change getContext to getActivity, but
get runtime error (in both cases). All my apps use the current/v11 fragment
manager. V4 fragments are not compatible with current fragment manager. The
new code runs smooth

[2015-11-02 22:38] AngleV commented on #169
i am trying to implement it like this

[code]

and i get i NullPointerException

Build version: 1.0.1
Build date: 2015-11-03 00:36:20
Current date: 2015-11-02 17:37:58
Device: Genymotion Samsung Galaxy S3 - 4.3 - API 18 - 720x1280

Stack trace:
java.lang.NullPointerException
	at com.mikepenz.aboutlibraries.ui.LibsFragment.onCreateView(LibsFragment.java:209)
	at android.support.v4.app.Fragment.perf

[2015-11-02 22:42] mikepenz commented on #169
@AngleV no this is the wrong one. this will allow you to modify the whole ui. but the description is part of the header.

So you have to use the `LibsRecyclerViewListener` https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsConfiguration.java#L112 for the `LibsRecyclerViewAdapter.HeaderViewHolder`

Just a description why you get this except

[2015-11-02 22:43] mikepenz commented on #170
@MAndretti next update will fix it for you ;)

There is now a method `.supportFragment()` which will return the `v4` fragment,
and the `.fragment()` method which will return the normal fragment

[2015-11-02 22:43] #170 closed

[2015-11-02 22:48] AngleV commented on #169
Yeah you are right return null it gives null and nothing more :D
You mean like this ??

[code]
i think i need some sleep :|

[2015-11-02 22:53] mikepenz commented on #169
@AngleV right ;).

The `onBindViewHolder` method is called after a specific item was created inside the `Adapter` of the `RecyclerView`

The `HeaderViewHolder` has the `descriptionTextView`
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/ui/adapter/LibsRecyclerViewAdapter.java#L464

[2015-11-02 23:23] AngleV commented on #169
still cant figure out how to access the descriptionTextView  :(

[2015-11-03 07:02] MAndretti opened #171 "java.lang.NullPointerException in Version 5.3.0"
Hi Mike,

thanks for #170, but ...

[code]

my code:
[code]

Something wrong?

Regards,
Mario

[2015-11-03 07:05] mikepenz commented on #171
@MAndretti i can check in 10hours. Seems weird. Tested the `.supportFragment()` which is an exact copy just with the different fragment type and this works :/

[2015-11-03 18:03] mikepenz commented on #171
just tried it:

[code]

does not crash for me

[2015-11-03 20:23] MAndretti commented on #171
@mikepenz
i use Linux, Android Studio 1.5 and your current lib. Error. (Google image and genymotion - different API Level).
If i use Windows Android Studio 1.4 and your cuurent lib, works fine (Google image - defferent API Level).

if i use Linux, Android Studio 1.5 and your lib (old version). works fine. (Google image and genymotion - different API Level).

If i copy the latest source into my pro

[2015-11-03 20:26] mikepenz commented on #171
@MAndretti no log output? can you debug?

[2015-11-03 20:46] MAndretti commented on #171
@mikepenz

the crash log, ...

java.lang.RuntimeException: An error occured while executing doInBackground()
                                                                         at android.os.AsyncTask$3.done(AsyncTask.java:304)
                                                                         at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:355)

[2015-11-03 20:48] mikepenz commented on #171
@MAndretti i can add a `null` check. But i do not know why this field is null.

What's the device / emulator. And which Android version?

[2015-11-03 20:55] MAndretti commented on #171
@mikepenz

devices: Nexus 4, Nexus 5, Nexus 5x, Nexus 6, Nexus 7
emulator: Google and Genymotion
Android version: 5.0, 5.1, 5.1.1 and 6.0.0
Chipset: Intel
OS: Linux (not OK)
OS: Windows (OK)

The best result was an empty Fragment/View ...

[2015-11-03 21:04] MAndretti commented on #171
@mikepenz

The old version (< #170) works fine ... Always ...

Regards,
Mario

[2015-11-03 21:05] mikepenz commented on #171
@MAndretti the old version also does **not** use the `AsynchTask` to load the libs after the view was created. this will cause some lag

[2015-11-03 21:19] mikepenz commented on #171
@MAndretti i have changed some things. Could you please try to run the new source?

[2015-11-04 06:34] MAndretti commented on #171
@mikepenz

test on Android 5.0, 5.1 and 6.0 (Google-Image and Genymotion) looks good. No error :)

The animation could be a bit smoother (at first call).

[2015-11-04 08:35] mikepenz commented on #171
@MAndretti with the latest source. The animation is a normal `DefaultItemAnimator` and the list is shown after the data is loaded. No more optimization possible here.

[2015-11-04 08:35] mikepenz commented on #171
will release a new version with the fixes later today

[2015-11-04 19:34] #171 closed

[2015-11-11 20:53] georgeherby opened #173 "Wrong Fragment Type"
I am sure its something stupid but can't work out the issue. I cant put the fragment into the FragmentManager as its the wrong type. As its a LibsFragment not Fragment..

[code]

[2015-11-11 20:54] mikepenz commented on #173
@georgeherby you can either create a normal v4 fragment or a support lib fragment. For the support lib fragment you will have to use the `supportFragment()` method ;)

[2015-11-11 20:54] #173 closed

[2015-11-11 21:00] georgeherby commented on #173
@mikepenz thanks for the quick response :) A bit confused what you mean? Where should i be using the supportFragment method..?

[2015-11-11 21:02] mikepenz commented on #173
At the moment you build `LibsFragment` with the `.fragment();` method
There is a different `fragment` type provided by the support library. and you can build this one with `.supportFragment()` and this will return a `LibsSupportFragment`

https://github.com/mikepenz/AboutLibraries/blob/develop/MIGRATION.md#v526---v530

[2015-11-11 21:22] georgeherby commented on #173
Hmm.. i appear to be having a bad day.. the LibsSupportFragment and SupportFragment neither can be resolved. Im using Fragments not v4 Fragments (Sorry to be a real main in the ass)

LibsSupportFragment fragment = new LibsBuilder()
                                        .withAutoDetect(true)
                                        .withAboutIconShown(true)

[2015-11-11 21:41] mikepenz commented on #173
@georgeherby you already updated to the last version? if you do not have the latest version you probably have still the old methods

[2015-11-11 21:44] georgeherby commented on #173
@mikepenz Thanks you sir! As i said i thought it was something stupid! i was still on 5.2.6

[2015-11-11 21:52] mikepenz commented on #173
;)

[2015-11-27 03:13] manjunathc23 commented on #55
+1

[2015-12-13 23:09] manjunathc23 opened #177 "Need a way to know when the LibraryTask completes its task."
I have a requirement where I need to show progress bar till the about fragments loads completely.
Is there any way I can know when the recycler view within the lib is completes it's task.

Thanks!
Manju

[2015-12-14 21:30] mikepenz commented on #177
@manjunathc23 there was no such listener until now.

Thanks to @PDDStudio  there is now a new callback which allows you to hook in for this task

[2015-12-14 21:32] #177 closed

[2015-12-14 21:32] manjunathc23 commented on #177
Awesome!  Is it available in prod?

Thanks a lot for the all the support and help.
Thank you @mikepenz  @PDDStudio

Thanks!
Manju

[2015-12-14 21:34] mikepenz commented on #177
maven central will needs about 15 to 30 minutes to sync, afterwards it will be available ;).

The sample includes a small code snippet how to use it ;).

I hope it works, as you expect it to work ;).

Best,
Mike

[2015-12-14 21:37] manjunathc23 commented on #177
Sounds good thanks!

[2015-12-14 21:44] PDDStudio commented on #177
@manjunathc23 you're welcome! Hope it helps
@mikepenz thanks for the mention and merging my pr 😆

[2015-12-15 00:02] manjunathc23 commented on #177
Tested it works all good! Thanks @mikepenz  @PDDStudio

[2015-12-15 15:37] markusressel opened #179 "Pass Runnable to Special Buttons instead of Text only"
Awesome library, great work!

I have a feature suggestion.
I would like to be able to set my own actions when pressing an "AboutSpecial" button. I have my changelog available only on my Website and don't want to copy everything between my website and the app sourcecode all the time. So it would be great to be able to just open a webpage with the button. It would be great to pass in a runnable as b

[2015-12-15 16:36] mikepenz commented on #179
@markusressel hi. you can do this already. Just define a `listener` via the `LibsConfiguration` (in your `Activtiy`, or a Custom`Application`)

There is a sample with such a listener in the sample application. Look here:

https://github.com/mikepenz/AboutLibraries/blob/develop/sample/src/main/java/com/mikepenz/aboutlibraries/sample/FragmentActivity.java#L155

(You can implement the interface, or j

[2015-12-15 17:15] markusressel commented on #179
I will check this out in the coming days, unfortunately I don't have much time currently.
Thanks for the quick response!

[2015-12-15 17:21] #179 closed

[2015-12-15 17:21] mikepenz commented on #179
@markusressel no problem ;) let me know if you need something else.

[2015-12-16 01:43] markusressel commented on #179
Works great, thx.

Maybe you should think about updating the Wiki, I found nothing about this on the GitHub Wiki (or did I miss it?). It was also confusing that I *have* to call `.withAboutSpecial1Description("test")` with a valid text in addition to `.withAboutSpecial1("bla")` before the button was showing up. If the description is necessary IMO this should be one method call with 2 arguments or

[2015-12-16 18:40] mikepenz commented on #179
@markusressel many things are "documented" via the sample application ;). Makes far more sense for me, because it allows me to showcase things, and to test them (and document them via the app) in once.

But i see that some things could be improved ;).

In fact the requirement of the description can be eliminated. If there is a listener.
https://github.com/mikepenz/AboutLibraries/blob/develop/libra

[2015-12-21 13:24] MFlisar opened #180 "Improvement suggestion - Used other sources"
Would be nice to have a simple method to add used other sources that don't need a license but just a reference link. For example, https://icons8.com/ does need that.

Currently I added a pseudo license where everything points to the page above... And created a pseudo library that uses this library...

Things like that could be easily setup in code via the builder. A simple title, description, link

[2015-12-21 19:12] mikepenz commented on #180
@MFlisar this is already possible. You can simply add a project to the lib by creating ressources like this one:
[code]
Just replace `ItsATest` with something new per library. And it will display it ;)

[2015-12-21 19:12] #180 closed

[2015-12-22 06:44] MFlisar commented on #180
Thanks, that's a little easier... Still, having the ability to add an icon would be a nice to have.

[2015-12-28 16:32] dexion opened #182 "Android-Iconics"
Android-Iconics doesn't work in AboutActivity :(
[code]

`{faw-android}` shown like text, not icon. In other `TextView`s this alias work perfectly

[2015-12-28 16:46] mikepenz commented on #182
@dexion good idea. I'll probably add the `Iconics-core` as dependency to the AboutLibraries, so this is also possible.

[2015-12-28 17:01] Rainer-Lang commented on #182
Good idea

[2015-12-28 18:43] #182 closed

[2015-12-29 11:15] dexion commented on #182
Thanks for that! But now html markup is broken: at least `<b>` tag doesn't work (shown like regular text, not bold)

[2015-12-29 11:29] mikepenz commented on #182
@dexion ok that's a problem with `Android-Iconics` if i apply the icon fonts, i will create new spans on the text. As the `Html.fromText()` already created the spans, i will overwrite them. That will be a more complex task. will look into it.

[2015-12-29 19:03] mikepenz commented on #182
@dexion ok this issue is now also fixed in v5.3.6

[2015-12-30 20:02] dexion commented on #182
Great! Thanks!

[2016-02-09 08:16] victorlapin opened #185 "SDK 23 support library not detected"
Hello Mike, I'm using your lib to create an About activity like this:
[code]

Thing is, if I comment withLibraries clause, neither Support Library, nor AppCompat will be autodetected. They are added to the build.gradle like this:
[code]
Other libs have been detected just fine. Any tip what have I missed? Thanks in advance.

[2016-02-09 20:31] mikepenz commented on #185
@victorlapin they are excluded of the auto detection by default. this is intended. You can simply add them with the `withLibraries` as you already did.

[2016-02-09 20:31] #185 closed

[2016-02-09 21:00] victorlapin commented on #185
ok, thanks for clarifying

[2016-02-11 15:02] Aqua-Ye opened #186 "Improve RTL language support"
Title and licence don't display well on RTL devices.

[2016-02-12 10:08] mikepenz commented on #186
@Aqua-Ye could you please add a screenshot too?

[2016-02-12 14:20] Aqua-Ye commented on #186
@mikepenz here

![screenshot_ - - - - -](https://cloud.githubusercontent.com/assets/85234/13009304/0fc4d060-d19c-11e5-8c27-7b716659862b.png)

[2016-02-12 17:19] mikepenz commented on #186
@Aqua-Ye fixed in v5.5.2

[2016-02-12 17:19] #186 closed

[2016-02-13 08:08] sparkitny opened #187 "Unable to include external libraries"
Hi,

I try to include about informations of external libs I use, but I'm not able to get them shown. Here's the code snippet I used (I tried to visualize the lib "Otto" in several ways but nothing):

[code]

What am I doing wrong?

[2016-02-13 09:52] mikepenz commented on #187
@sparkitny just checked. There is a definition file for otto. and using `.withLibraries("Otto")` should work. Perhaps `.withLibraries("otto")` (if this works I have to check if everything is done case insensitiv)

Otherwhise. Do you see other libraries?

[2016-02-13 10:59] sparkitny commented on #187
Ok,

it works on my android phone. With the emulator it doesn't work. Another lib I use is https://github.com/EverythingMe/easy-content-providers. Using providers-android it unfortunately doesn't show up.

[2016-02-13 11:10] mikepenz commented on #187
@sparkitny it just doesn't show up on your emulator? ok that's weird. Shouldn't make a difference. Perhaps the built in caching of auto detected libraries gets active here.

Regarding **easy-content-providers**. There is not yet a definition file for this library.

You can easily create new **definition files** with this easy web tool:
http://def-builder.mikepenz.com/

All files are in here if you

[2016-02-14 07:20] sparkitny commented on #187
Hi,

now it works perfectly. I don't know what happened to the emulator, but after a complete restart of my pc it accepted the code changes and now shows the libraries.

Thanks for this lib,

Sebastian

[2016-02-14 07:20] #187 closed

[2016-02-14 11:33] mikepenz commented on #187
@sparkitny perhaps **instant run** issue?

[2016-02-18 12:41] sparkitny commented on #187
Perhaps,

Now it works perfectly

Thanks
Am 14.02.2016 12:33 nachm. schrieb "Mike Penz" <notifications@github.com>:

[2016-02-24 14:02] androideveloper opened #188 "Libraries file seems to be outdated"
This files seems to be outdated
https://github.com/mikepenz/AboutLibraries/wiki/Compatible-Libs

I use ckchangelog, but it can't find the library.

[2016-02-24 14:09] androideveloper commented on #188
How to include MaterialDrawer without autodetect?

[2016-02-24 15:11] mikepenz commented on #188
@androideveloper the MaterialDrawer has the definition file included within the lib:
https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/res/values/library_materialdrawer_strings.xml
The key is `materialdrawer`

As far as I see there is no ckchangelog yet as definition file:
https://github.com/mikepenz/AboutLibraries/tree/develop/library/src/main/res/values

[2016-02-24 15:11] #188 closed

[2016-02-24 15:47] androideveloper commented on #188
Ok, ok, thanks :)

[2016-02-24 16:11] mikepenz commented on #188
@androideveloper yes this is. Because auto scan just tries to detect libs which do not contain the library definition file within the library.

My libs (and some others) contain the definition file within the lib, so they are faster detected.

You can exclude them. (I assume you do not directly use the `Android-Iconics` and the `FastAdapter` those two are dependencies of the `AboutLibraries` and t

[2016-02-25 08:25] zishanj opened #190 "About description alignment"
How can I make about description to be left aligned? It's currently showing text in center. I have tried using HTML `align="left"` and `style="text-align:left"` attributes but it doesn't work.

[2016-02-25 10:29] Oyashirox opened #191 "Crash using appcompat 23.2.0 with LIGHT_DARK_TOOLBAR"
Hi, and thank you for your lib !
By updating my dependencies to appcompat 23.2.0 like this :
[code]
The app crash when I try to start an activity with LIGHT_DARK_TOOLBAR style.
Here is the stacktrace :

[code]

[2016-02-25 12:06] androideveloper commented on #188
@mikepenz Thanks! Though I haven't directly included `Android-Iconics`, but I use it besides use in `MaterialDrawer`, so I will not exclude it)) But have excluded `FastAdapter` and `materialize` ))

[2016-02-25 12:14] mikepenz commented on #191
@Oyashirox I have planned to update all my libs later today.
You might want to exclude the support libs from my libs for the moment

[2016-02-25 12:22] mikepenz commented on #188
@androideveloper it's fine ;)

[2016-02-25 23:13] mikepenz commented on #191
@Oyashirox fixed in latest version

[2016-02-25 23:13] #191 closed

[2016-02-25 23:15] mikepenz commented on #190
@zishanj you can't align the text, center is default

You could copy this layout to your project (keep the name) and change the gravity of the description to `left`
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/listheader_opensource.xml#L86

[2016-02-25 23:15] #190 closed

[2016-03-10 11:39] kprathap23 opened #192 "set textSize & textColor for header and description Dynamically"
is there any way to set textSize and textColor for header and description Dynamically

[2016-03-10 12:57] mikepenz commented on #192
@kprathap23 no there isn't you could only overwrite the layout which is used for the cards

[2016-03-10 16:59] mikepenz commented on #192
Copy this to your project https://github.com/mikepenz/AboutLibraries/blob/develop/app/src/main/res/layout/card_library.xml (keep the name) and change the text sizes

[2016-03-10 16:59] #192 closed

[2016-03-11 14:43] Montanax opened #193 "NoSuchFieldError after updating to com.android.tools.build:gradle:2.0.0-beta6 and latest AppCompat"
About libraries version: 5.5.7

Stacktrace:

[code]

[2016-03-11 17:59] mikepenz commented on #193
are you sure you used v5.5.7? because this was solved with v5.5.7

[2016-03-11 18:01] Montanax commented on #193
Apparently Android studio was bugging out or something because it works again after a full clean.

[2016-03-11 18:01] #193 closed

[2016-03-17 16:40] mikepenz commented on #55
I am open for an **PR** for this. I will close this now as it is not planned from my side.

[2016-03-17 16:40] #55 closed

[2016-03-18 14:27] rubengees opened #194 "NoSuchMethodException on API 10"

[2016-03-18 14:35] rubengees opened #195 "NoSuchMethodException on API 10"
I get the following crash when trying to show the AboutLibraries Activity at API 10:

[code]

Above the warning:

[code]

This was tested on a standard emulator. It doesn't happen on an emulator with API level 16.

This is how I start the Activity:

[code]

No Proguard involved.

[2016-03-18 15:47] mikepenz commented on #194
#195

[2016-03-18 15:47] #194 closed

[2016-03-18 15:50] rubengees commented on #195
Oops sorry about the duplicate...

[2016-03-18 17:10] #195 closed

[2016-03-18 17:12] mikepenz commented on #195
fixed in v5.6.0

[2016-03-21 17:29] andrebcmarinho opened #196 "Javadoc gradle task failing"
Hi! I'm trying to compile this library but I get an error: "Execution failed for task ':library:generateDebugJavadoc'.". I've already read that this can be related with some special characters like html tags but I don't find any method comment with html tags. Can you please point out the files which have illegal characters? Thanks a lot in advance for your help

[2016-03-21 18:28] mikepenz commented on #196
@andrebcmarinho you just checked out this project without any modifications? I can compile it and it works on my machine.

If you build the project from the terminal, just scroll up and find the lines where it states **ERROR** for the javadoc. So you can simply fix those lines there.

[2016-03-21 18:56] andrebcmarinho commented on #196
@mikepenz thanks for quick reply. In fact I was trying to use JitPack and here is the log: https://jitpack.io/com/github/mikepenz/AboutLibraries/v5.6.0/build.log

I think my problem could be the same of this user (http://stackoverflow.com/questions/26552279/gradle-build-fails-with-javadoc-nullpointerexception) but I din't find any illegal characters on your method comments. That's why I was asking

[2016-03-21 18:57] mikepenz commented on #196
@andrebcmarinho sorry I do not support jitpack. Please use the published dependency on jCenter or mavenCentral

[2016-03-21 18:57] #196 closed

[2016-03-21 18:59] andrebcmarinho commented on #196
Ok, thanks anyway.

[2016-03-21 20:37] jaredsburrows opened #197 "Basic Support Lib Detection"
Based on this issue: https://github.com/mikepenz/AboutLibraries/issues/185

@mikepenz you said:
[code]

So how do we detect these?
[code]
**Like:**

[code]

[2016-03-21 20:42] mikepenz commented on #197
@jaredsburrows at the moment there are only definition files for the play services and for the general support libraries
https://github.com/mikepenz/AboutLibraries/tree/develop/library/src/main/res/values

For the other ones we will first need to add the definition files like:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/library_googleplayservices_strings.xml

[2016-03-21 20:48] jaredsburrows commented on #197
@mikepenz Alright, I'll make a PR for the libraries that are missing. I'll just follow the exact format you have the for previous libraries?

[2016-03-21 20:49] mikepenz commented on #197
@jaredsburrows yes exactly. You can also use this tool: http://def-builder.mikepenz.com/ if you want to.

[2016-03-21 20:56] jaredsburrows commented on #197
Wow thanks. Will do!

[2016-03-22 01:07] jaredsburrows commented on #197
@mikepenz Here is my PR:https://github.com/mikepenz/AboutLibraries/pull/198

I took the time to update retrofit and okhttp.

[2016-03-22 01:12] jaredsburrows opened #199 "CI"
@mikepenz If you sign up for TravisCI, I'll make a PR to add a badge to your README and help setup TravisCI.

[2016-03-22 07:34] mikepenz commented on #199
@jaredsburrows TravisCI is already enabled for the `MaterialDrawer` and for the `FastAdapter`. I can also enable it for the `AboutLibraries ;)

[2016-03-22 14:26] jaredsburrows commented on #199
@mikepenz Thanks. Here is the PR: https://github.com/mikepenz/AboutLibraries/pull/200.

[2016-03-22 14:45] mikepenz commented on #199
merged. Thank you so much

[2016-03-22 14:45] #199 closed

[2016-03-22 15:10] jaredsburrows commented on #199
@mikepenz Your repo's default branch is `develop`, if you change it to `master`, the badge will change to "passing".

[2016-03-22 15:12] mikepenz commented on #199
@jaredsburrows should also change as soon as the master was built. I prefer the `develop` as default branch as I work with `git-flow` and I want `pull-request`s on `develop`

[2016-03-22 15:15] jaredsburrows commented on #199
@mikepenz I need to change the badge's branch to `develop`?

[2016-03-22 15:28] mikepenz commented on #199
@jaredsburrows no I think it's fine if it always shows the current `stable` branch which is the `master`

[2016-03-22 16:17] jaredsburrows commented on #197
I will add more after my first PR is in :)

[2016-03-22 16:48] #197 closed

[2016-03-22 17:04] jaredsburrows opened #201 "Add support for AppIntro, Stream and Easy Prefs"
I will make a PR for this today:

**Add new:**
[code]

**Will update:**
[code]

[2016-03-22 18:43] #201 closed

[2016-03-29 21:41] javiersantos opened #205 "AboutLibrary showing a blank activity"
I'm using this library in some of my apps, but now I'm experiencing a blank activity when the activity is shown.

[code]

The log shows `Have you missed to call withFields(R.string.class.getFields())? - autoDetect won't work -` but even adding the `withFields` method it still shows the same blank screen.

[2016-03-30 00:34] bornvanchris88 commented on #205
- [ ] i k
I

[2016-03-30 05:40] mikepenz commented on #205
@javiersantos what have you changed, as you write it was working already?

The
[code]

Part is really important.

[2016-03-30 07:57] jgindin opened #206 "Title covered by status bar"
I'm building the about screen with:
[code]

What I'm getting is the title partially obscured by the system status bar:
<img src='https://cloud.githubusercontent.com/assets/1209704/14135230/39e934dc-f611-11e5-88cc-f80518b87807.png' width='250px'>

Clearly, I'm doing something wrong, but cannot figure out what. I would appreciate any pointers.

Thanks!

[2016-03-30 09:01] javiersantos commented on #205
I've been using the library without adding `.withFields(R.string.class.getFields())` multiple times, as you can see in this examples::
https://github.com/javiersantos/MLManager/blob/master/app%2Fsrc%2Fmain%2Fjava%2Fcom%2Fjaviersantos%2Fmlmanager%2Factivities%2FLicenseActivity.java
https://github.com/javiersantos/WhatsAppBetaUpdater/blob/master/app%2Fsrc%2Fmain%2Fjava%2Fcom%2Fjaviersantos%2Fwhatsap

[2016-03-30 09:49] mikepenz commented on #206
@jgindin I assume your theme has a translucent `StatusBar` You might want to use a default `AboutLibraries` theme and just alter the `primaryColor`

[2016-03-30 09:53] mikepenz commented on #205
@javiersantos perhaps those apps don't have proguard enabled? or they do not define an `applicationId` inside the `build.gradle` (which would both block the auto detecting of the `R` class)

Also you might need to update the current versioncode of the app as the `AboutLibraries` caches the auto detected libraries for each version, after the first launch

[2016-03-30 19:22] mikepenz commented on #206
See the following for the default themes.
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/styles.xml

[2016-03-30 19:22] #206 closed

[2016-03-31 05:31] jgindin commented on #206
Thanks! All taken care of!

[2016-03-31 22:22] javiersantos commented on #205
It's working now when adding `.withFields(R.string.class.getFields())` and updating the versionCode.

[2016-04-01 06:22] #205 closed

[2016-04-03 04:21] jaredsburrows opened #208 "Proguard `IllegalArgumentException` at `valueOf()`"
**Caused by: java.lang.IllegalArgumentException: Default is not a constant in com.mikepenz.aboutlibraries.d at java.lang.Enum.valueOf(Enum.java:192) at**

Full stacktrace:
[code]

Do you think proguard is causing this?

[2016-04-03 05:45] mikepenz commented on #208
@jaredsburrows is it running in debug? (wihtout proguard?

[2016-04-03 21:14] jaredsburrows commented on #208
@mikepenz This is an error I got from the Play Store. All my apps are proguarded, I can not reproduce this issue. I'll try adding in those extra lines to my proguard file.

[2016-04-03 21:24] mikepenz commented on #208
@jaredsburrows oh weird. perhaps a device or modified android os specific issue somewhere. Hard to tell.

[2016-04-03 21:24] #208 closed

[2016-04-07 16:39] Aqua-Ye opened #209 "SmoothProgressBar is duplicated"
SmoothProgressBar / Smoothprogressbar

[2016-04-07 16:54] Aqua-Ye commented on #209
The def file is already included in the library. See https://github.com/castorflex/SmoothProgressBar/blob/master/library/src/main/res/values/about_libraries_def.xml

[2016-04-07 19:00] #209 closed

[2016-04-13 01:54] lawloretienne opened #212 "Custom font"
Is there a straightforward way to customize the font with a different Typeface then Roboto for the adapter in the LibsSupportFragment?

[2016-04-13 06:26] mikepenz commented on #212
There's no api to do so. It should be possible if you use https://github.com/chrisjenx/Calligraphy

[2016-04-13 17:50] caman9119 opened #213 "Custom onClickListener for special buttons."
Allow registering an onClickListener for one of the special buttons in the LibsBuilder, or some method of having custom button actions.

[2016-04-13 18:13] mikepenz commented on #213
@caman9119 you can via the `LibsConfiguration`
Create an instance and define a `LibsListener`
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsConfiguration.java#L34

Which allows you to listen for the `ExtraButton` click event:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/Libs

[2016-04-13 19:57] caman9119 commented on #213
Brilliant, got it working. Thanks!

[2016-04-13 19:59] #213 closed

[2016-04-14 20:42] mikepenz commented on #212
If you need complete custom style you could just use the `Libs` class and just fetch the information of the libs. Then you can fill your own `RecyclerView` with the information

[2016-04-14 20:42] #212 closed

[2016-04-15 06:18] lawloretienne commented on #212
Hey @mikepenz thanks for pointing me to you `Libs` class.  I just called the constructor
`Libs libs = new Libs(this);`
and I can see two member fields `externLibraries` and `internLibraries`.

`externLibraries` has a size of 3 and `internLibraries` has a size of 138.

How can I filter out to just get the dependencies that i have included in my `build.gradle` ?  Is the `externLibraries` accounting

[2016-04-15 06:24] mikepenz commented on #212
Just use the following method it will prepare all the library for you and return them as list:

https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/Libs.java#L146

[2016-04-15 06:50] lawloretienne commented on #212
So this seems to be returning a subset of the libraries that i have in my `build.gradle` .

[2016-04-15 07:02] mikepenz commented on #212
@lawloretienne yeah here's what the library does:

AboutLibraries builds around the concept of "defintion"-files (basically a defined naming pattern for strings split up in different files) So in general the library only knows about the libs which were added as definition file. (You can find a full list here: https://github.com/mikepenz/AboutLibraries/tree/develop/library/src/main/res/values)

The

[2016-04-15 07:10] lawloretienne commented on #212
So since there is no definition file in https://github.com/mikepenz/AboutLibraries/tree/develop/library/src/main/res/values
for some of those libraries that were not picked up, then I must include them manually?

[2016-04-15 08:08] mikepenz commented on #212
@lawloretienne so since there is no definition file, you need to create such an file (you can use the online tool for this) and add it to your project (or even better create a pull request so it will be included in the AboutLibraries)

Yes correctly. Just use the identifier of those libs:

The identifier is always the string after "define_int_" or "define_"
https://github.com/mikepenz/AboutLibrari

[2016-04-16 06:43] lawloretienne commented on #212
Thanks @mikepenz I will be creating a pull request soon to add my definition files.  I had an issue with the `prepareLibraries()` method.  There is a param that you can pass in to exclude libraries.  I have tried a couple different combinations but i can't quite exclude anything. For example I would like to exclude `Android-Iconics` and `FastAdapter`.

[2016-04-16 08:13] lawloretienne commented on #212
I also noticed that the version number for something like `Timber` is outdated
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/library_timber_strings.xml

Idk how you can keep the version numbers up to date.

[2016-04-17 02:31] Mansourali opened #214 "Return view"
Hi Mike
I just wonder if I can return view from the Lib object to use it in instantiateItem of viewpager
thanks

[2016-04-17 07:10] mikepenz commented on #214
@Mansourali you can retrieve a `Fragment`. Otherwhise you could extract the logic to get just a `Adapter` from here:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsFragmentCompat.java

[2016-04-17 11:42] Mansourali commented on #214
Thanks for you replay
If I got you right, you mean I should initiate the Lib by using `Fragment`, then I retrieve that `Fragment `inside the `instantiateItem `of the `viewpager`.

[2016-04-17 11:45] mikepenz commented on #214
@Mansourali if you can use a fragment you can just build it via the LibsBuilder. if you really need a view, you will have to check out the source of the `LibsFragmentCompat` and extract the logic to get the exact same view.

As an alternative you can use the `adapter` method of the `LibsBuilder` to get the adapter which you can then set on any `RecyclerView`
https://github.com/mikepenz/AboutLibrar

[2016-04-17 12:00] Mansourali commented on #214
I think I will go for the Recycleview, i will try my best
thanks for your help

[2016-04-17 17:36] #214 closed

[2016-04-18 16:26] austynmahoney opened #215 "License link in card should have it's own selector"
When you long press on the license text, the ripple should only happen on section that contains it. Currently the ripple fills the entire card when anything is pressed.

This makes it hard for the user to discover that long pressing on the license text will open the License dialog.

![screen-shot-2016-04-18-at-10 16 14-am](https://cloud.githubusercontent.com/assets/1133292/14611442/7a1872be-054f-1

[2016-04-18 22:12] lawloretienne commented on #212
![affix_20160418_150923](https://cloud.githubusercontent.com/assets/311187/14621456/cd3a1fa6-0577-11e6-8e5c-7b550d00a60b.png)

Thanks for you advice.  I was able to customize the UI.

[2016-04-19 09:56] mikepenz commented on #212
@lawloretienne you can't exclude libraries which have the definition inside the lib itself because it is a fact that those are included. But could probably be revisited.

If you show versions they are in most cases outdated as I can't fetch this info directly from the lib and has to be included in the definition file. Normally I choose not to display the version but the license.

Oh your change lo

[2016-04-19 18:07] lawloretienne commented on #212
Thanks again for all the help.  This is a great library btw.

[2016-04-19 18:13] mikepenz commented on #212
Thank you :)

[2016-04-22 18:47] mikepenz commented on #215
@austynmahoney you might want to open a PR for this

[2016-04-24 12:13] irobotman opened #216 "Can't not download Android Support Library 23.3.0"
I'm in China,but I couldn't download 23.3.0 support library。。。

[2016-04-24 12:41] Rainer-Lang commented on #216
@irobotman That's nothing related to this library.

[2016-04-24 13:22] #216 closed

[2016-04-24 13:23] mikepenz commented on #216
@irobotman I'm sorry for that. But not at all related to the `MaterialDrawer`.

[2016-04-25 08:52] irobotman commented on #215
I got this error:Could not find com.android.support:appcompat-v7:23.3.0. And I couldn't download Android support lib 23.3.0 by sdk manager，what should I do......

[2016-04-25 08:53] irobotman opened #217 "Could not find com.android.support:appcompat-v7:23.3.0."
I got this error:Could not find com.android.support:appcompat-v7:23.3.0. And I couldn't download Android support lib 23.3.0 by sdk manager，what should I do......

[2016-04-25 09:51] mikepenz commented on #217
https://github.com/mikepenz/AboutLibraries/issues/216

Please search for an answer on **Stackoverflow** I can not change anything regarding this.

[2016-04-25 09:51] #217 closed

[2016-04-25 10:50] irobotman commented on #217
Thx,I download the Android Support Repository v30 by SDK Manager and solve this issue.

[2016-05-06 07:37] kiezkicker opened #218 "LibsFragmentCompat libraries size is 0"
I have the problem that the static libraries in LibsFragmentCompat is not null - the list is empty and prepareLibraries and so the libraries are not initialized correctly.

In another app this problem does not occur.

Is it possible to load the libs if libraries are null or the size is 0?

Thanks in advance

[2016-05-06 10:37] mikepenz commented on #218
@kiezkicker I am not sure what your issue is? You do not have libraries and just want the upper area? Or what do you want to achieve?

Do you use proguard? Do you pass the fields from your R variable? (have you defined an applicationId in your gradle?)

[2016-05-06 12:47] kiezkicker commented on #218
@mikepenz Thanks for the fast reply!

My app should show 22 libraries but the static field 'libraries' in LibsFragmentCompat shows 0. If I debug the library I found out that the field 'libraries' is never null so the prepareLibraries-Method is never called.

I wonder how the field "libraries" is initialized. This should be the place, but in my case libraries is never null. LibsFragmentCompat:
[cod

[2016-05-06 18:49] mikepenz commented on #218
@kiezkicker if it is already size == 0 in that place you pasted here. The preparation inside the `Libs` calss resulted in 0 libraries.

That can be due to the fact that you have defined an applicationId in your build.gradle. So it is not able to automatically detect the `R` class.

If this is the case you have to provide the `R` fields here:
https://github.com/mikepenz/AboutLibraries/blob/develop/

[2016-05-08 11:53] xiaobailong24 commented on #218
Hello, I try to use it to get the fragment in Fragment, then i get an error that the method `fragment()` cannot be resolved. And I search for the `fragment` in the `LibsBuilder.java`, I cannot find that. Thank you.

[code]

[2016-05-08 12:19] xiaobailong24 opened #219 "cannot resolve method LibsBuilder().fragment() compile('com.mikepenz:aboutlibraries:5.6.5@aar')"
Hello, I try to use it to get the fragment in Fragment, then i get an error that the method fragment() cannot be resolved. And I search for the fragment in the LibsBuilder.java, I cannot find that. Thank you.
[code]
And in build.gradle
[code]

[2016-05-08 13:02] mikepenz commented on #219
@xiaobailong24 there is the method `supportFragment()`

https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsBuilder.java#L544

[2016-05-08 14:01] kiezkicker commented on #218
@mikepenz it is working with the withFields-Method! Thanks a lot!

[2016-05-08 14:01] #218 closed

[2016-05-08 15:43] #219 closed

[2016-05-10 16:09] mikepenz commented on #215
I don't have this on my TODO if you really want it four your project, I would really love to merge in a Pull Request. Thanks

[2016-05-10 16:29] austynmahoney commented on #215
@mikepenz Can you keep the issue open if you want a pull request for the feature? I'm planning on making this change, just haven't had time yet.

[2016-05-10 17:05] mikepenz commented on #215
@austynmahoney I already had a look at it a week ago, but it isn't as easy as it sounds in the first place :/

[2016-05-24 16:37] mikepenz commented on #215
I still will close this for now as it is no issue, and will might make a great addition if you find some time to provide it someday. (Going over all issues right now from my libs, have to do this to keep overview)

[2016-05-24 16:37] #215 closed

[2016-06-05 22:01] fncapps opened #220 "Issues with colors and padding"
Hi, I've just started setting up your library and some issues which I cannot solve came up:

1. In the screenshot below, I don't know why the home indicator doesn't show in white. I'm using `.withActivityStyle(Libs.ActivityStyle.LIGHT_DARK_TOOLBAR)` and any of the other options make it white.

2. Also in the screenshot you can see there is more padding in the right side than in the left side of th

[2016-06-06 06:04] mikepenz commented on #220
@fncapps do you overwrite any dimensions or any styles from the `AboutLibraries`?

[2016-06-06 07:38] fncapps commented on #220
I don't overwrite any of them to my knowledge. I'm starting the activity like this:
[code]

[2016-06-06 07:42] mikepenz commented on #220
@fncapps your `CustomTheme` also has to be correct, if this one is not with `DarkToolbar` the `ActivityStyle` can't change everything for you

[2016-06-06 07:45] fncapps commented on #220
`CustomTheme` has MaterialDrawerTheme.Light.DarkToolbar` as parent which I believe is also yours. I'll leave you the XML here:

    <style name="CustomTheme" parent="MaterialDrawerTheme.Light.DarkToolbar">

        <item name="colorPrimary">@color/color_primary</item>
        <item name="colorPrimaryDark">@color/color_primary_dark</item>
        <item name="colorAccent">@color/color_accent</item>

[2016-06-06 10:57] fncapps commented on #220
Sorry @mikepenz, was my fault. I changed that theme to:

    <style name="LicensesTheme" parent="AboutLibrariesTheme.Light.DarkToolbar">

        <item name="colorPrimary">@color/color_primary</item>
        <item name="colorPrimaryDark">@color/color_primary_dark</item>
        <item name="colorAccent">@color/color_accent</item>
        <item name="android:windowBackground">@color/view_background<

[2016-06-06 12:11] mikepenz commented on #220
@fncapps ok great at least this works.
But you explicitly set the background color so?

The padding is set here: https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/fragment_opensource.xml#L9 (the same for all sides but the bottom)
And no other padding anywhere. So it has to be the same on both sides. (As of the code)

[2016-06-06 12:17] fncapps commented on #220
I'm setting the background color with `<item name="android:windowBackground">@color/view_background</item>` as shown in the theme above. It I add `<item name="colorControlNormal">COLOR</item>` the scrollbars color will change, but so will do the arrow... is there any way I could change the scrollbars color or instead just hide them?

Ok, the padding is alright. The cards don't seem to be centered

[2016-06-06 17:32] mikepenz commented on #220
@fncapps you can hook into the ui creation with the `LibsConfiguration`

If you put the following (before) creating the `AboutLibraries` it will remove the scrollbar

[code]

[2016-06-06 17:32] #220 closed

[2016-06-06 17:52] fncapps commented on #220
@mikepenz That works great! Thanks!

[2016-06-14 12:55] amit47billion commented on #193
you are using lesser version of support library so please update support library to 'com.android.support:design:23.2.0' or higher , this error will automatically get resolved

[2016-07-22 12:18] CeJienAJPC opened #230 "LibsFragment fragment = new LibsBuilder()... not working"
My issue is similar to [this](https://github.com/mikepenz/AboutLibraries/issues/173). However, I have been using the latest 5.7.1 dependency.

the IDE highlights the

So here is the code I posted in my project.

[code]
Am I missing something?

p.s.: not posting any code related to libsListener. Simply makes this issue too big. No problems with libsListener.

Regards

[2016-07-22 12:42] CeJienAJPC opened #231 ".withActivityStyle() not working"
Due to issue #230, I continued using the

Things are working fine as expected except for `.withActivityStyle()`.

My my activities extend `AppCompatActivity` and use the parent theme `Theme.AppCompat.DayNight.NoActionBar`. I tried using the options `Libs.ActivityStyle.LIGHT_DARK_TOOLBAR` and the `Libs.ActivityStyle.DARK` for `.withActivityStyle()`. Unfortunately, the result is always displayed in

[2016-07-22 12:52] CeJienAJPC opened #232 "using onLibraryContentClicked() {} to open the URL in WebView"
Clicking the cards containing the License information triggers an Intent. Choosing the browser from the available options opens the library's corresponding URL in the browser.

Since my project already uses a WebView, I would like to know how to open the selected Library's URL in a webView. I just need to pass the URL  to the WebView's activity. Where can I get access to the URL of the library?

R

[2016-07-22 16:28] mikepenz commented on #232
You can define a `LibsListener` as shown here:
https://github.com/mikepenz/AboutLibraries/blob/72bbacaa001febf93c24199eef766b91c50834dd/app/src/main/java/com/mikepenz/aboutlibraries/sample/FragmentActivity.java#L76

Defined here:
https://github.com/mikepenz/AboutLibraries/blob/72bbacaa001febf93c24199eef766b91c50834dd/app/src/main/java/com/mikepenz/aboutlibraries/sample/FragmentActivity.java#L133

[2016-07-22 16:30] mikepenz commented on #230
@CeJienAJPC there is only the method `supportFragment()`
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsBuilder.java#L544

Do you really need the normal "non" support v4 fragment?

[2016-07-22 16:31] mikepenz commented on #230
If you want a normal `Fragment` use the following:
https://github.com/mikepenz/AboutLibraries/blob/742af897d06987e26f5903545dec0446b50b4886/library/src/main/java/com/mikepenz/aboutlibraries/LibsCompat.java

[2016-07-22 16:31] #230 closed

[2016-07-22 16:36] mikepenz commented on #231
@CeJienAJPC if you use the `fragment` from the `LibsBuilder` it doesn't use the theme as this makes no sense.

The fragment is embedded in your activity so you should define the activity style on your own.

If you can't use a `AboutLibraries` style as your activity style you should add the `AboutLibrary` style attributes to your theme:
https://github.com/mikepenz/AboutLibraries/blob/develop/librar

[2016-07-24 06:24] CeJienAJPC commented on #231
Sorry for getting back late.

my bad. Didn't try using custom Theme for the Preferences Activity. Working as expected. Thanks for the response.

Regards

[2016-07-24 06:24] #231 closed

[2016-07-24 06:55] CeJienAJPC commented on #232
Yes, i am already using the `LibsListener`. My question was where/how to get the URL of the corresponding library I clicked? My apologies, the question wasn't elaborate (didn't mention anything about using the LibsListener).

If I want to use the method `onLibraryContentClicked(View v, Library library){}` in `LibsListener` this would be code

[code]

using `putExtra` I pass the URL from Preference

[2016-07-24 08:31] CeJienAJPC commented on #230
Thank you for the response. SupportFragment is good enough

[2016-07-24 15:11] mikepenz commented on #232
Either from here from the `Library` object:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/entity/Library.java#L87

or here:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/entity/Library.java#L111

depending on which information is defined or available for a specific library.

[2016-07-24 15:11] #232 closed

[2016-07-25 11:27] SuSandiWai opened #234 "Toolbar Text Color"
Toolbar textcolor cannot change white while using following theme..
<style name="LicenseTheme" parent="AboutLibrariesTheme.Light.DarkToolbar">

    <item name="colorPrimary">@color/primary</item>
    <item name="colorPrimaryDark">@color/primary_dark</item>
    <item name="colorAccent">@color/accent</item>
    <item name="drawerArrowStyle">@style/WhiteDrawerIconStyle</item>
  </style>

[2016-07-25 12:14] mikepenz commented on #234
@SuSandiWai do you use the `AboutLibraries` as fragment? If yes, the `Toolbar` is not controlled via this theme. Toolbars need their own theme to be applied. As shown here: https://github.com/mikepenz/AboutLibraries/blob/develop/app/src/main/res/layout/activity_main.xml#L12

[2016-07-26 03:32] SuSandiWai commented on #234
Thanks for your reply!!

[2016-07-27 09:41] SuSandiWai opened #235 "How can I show github link url in cardview of list?"

[2016-07-27 14:50] mikepenz commented on #235
@SuSandiWai this is not possible.

You can either provide custom definition files for all the libs you use and include the repo link in the general description.

Or you just use the `Libs` object and it's API to build your own view showing the used libraries

[2016-07-27 17:41] #235 closed

[2016-07-28 08:18] SuSandiWai opened #236 "Cutom library.."
I tried custom library which extends your library but can only get about library for
  compile 'com.mikepenz:iconics-core:2.6.6@aar'
  compile 'com.mikepenz:fastadapter:1.6.0@aar'
above two. Can't get about for other libraries. Can you help me for this?

[2016-07-28 12:11] mikepenz commented on #236
@SuSandiWai I am not quite sure what you mean? Some libraries are not displayed or what's the issue?

Do you use proguard: https://github.com/mikepenz/AboutLibraries#proguard ?

Do you have a custom `applicationId` set or anything which may prevent the automatic `R` field detection.

You may provide the `R` fields programatically like this:
https://github.com/mikepenz/AboutLibraries/blob/develop/l

[2016-07-28 12:11] #236 closed

[2016-07-28 17:29] Jawnnypoo opened #237 "Scroll EdgeEffect color in LibsActivity always blue"
There should probably be a way to customize the scroll edge effect, since the blue may look harsh with other color schemes. Looks like this may provide a solution

http://stackoverflow.com/questions/27104521/android-lollipop-scrollview-edge-effect-color

One of the solutions there mentions how to change the edge effect programatically via reflection. Thoughts?

[2016-07-28 17:34] Jawnnypoo commented on #237
I suppose this is resolvable if you initiate the activity with a theme with the proper attributes. Just curious if this would be something worth fixing since you can presently customize the toolbar and status bar colors manually

[2016-07-28 17:42] Jawnnypoo commented on #237
Yeah, nvm, I think with the fact that you can just set this up with a theme, no need for this

[2016-07-28 17:42] #237 closed

[2016-07-29 05:59] mikepenz commented on #237
@Jawnnypoo if you still need to do something like this programatically. There is always the possibility by providing a `LibsUiListener`
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsBuilder.java#L414

Which allows you to hook into the view creation for the fragment. Allowing you to access the `RecyclerView`

[2016-07-29 06:01] Jawnnypoo commented on #237
Ahh, very nice! Thanks a bunch for answering this. Appreciate this lib!

[2016-07-29 06:02] mikepenz commented on #237
No problem ;). Thank you

[2016-07-31 14:59] Rainer-Lang opened #238 "LibsActivity leaked 61KB"
LeakCanary
- com.mikepenz.aboutlibraries.ui.LibsActivity has leaked:
- GC ROOT static android.os.UserManager.sInstance
- references android.os.UserManager.mContext
- references android.app.ContextImpl.mOuterContext
- leaks com.mikepenz.aboutlibraries.ui.LibsActivity instance

Details:
- Class android.os.UserManager

|   static DISALLOW_ADJUST_VOLUME = java.lang.String@1869326016 (0x6f6ba6c0)
|   s

[2016-08-01 05:57] mikepenz commented on #238
@Rainer-Lang what do you define in your `LibsConfiguration`?

[2016-08-01 12:19] 7172 opened #239 "Netwok"
I cant get if my apps which i use for work

[2016-08-01 12:21] mikepenz commented on #239
@7172 could you please be a bit more specific? What's the issue?

[2016-08-01 17:53] mikepenz commented on #239
Perhaps related to this: https://github.com/mikepenz/AboutLibraries/issues/236#issuecomment-235877082

[2016-08-01 17:53] #239 closed

[2016-08-01 19:38] mikepenz commented on #238
@Rainer-Lang please provide the information how you define and create your `LibsBuilder` and what you configure via the `LibsConfiguration`

[2016-08-01 20:02] Rainer-Lang commented on #238
On Wednesday when I'm back.

[2016-08-03 17:39] mikepenz commented on #238
@Rainer-Lang any updates?

[2016-08-09 18:11] ankitbatra11 opened #241 "Memory Leak Detected"
Hi,

Thanks for coming up with this useful library. I would like to report a memory leak that [LeakCanary](https://github.com/square/leakcanary) library found with AboutLibraries. Here are the details:
![screenshot_20160809-233954](https://cloud.githubusercontent.com/assets/7021351/17527838/91f69f48-5e8a-11e6-91a3-1c9c31512b0e.png)

[2016-08-09 18:31] mikepenz commented on #241
@ankitbatra11 any additional details about your setup? Do you use the `LibsConfiguration`?

[2016-08-09 18:38] ankitbatra11 commented on #241
I launch the LibsActivity using following code:

ThemeSetting themeSetting = DaggerUtils
                .getSettingsComponent(getActivity().getApplication())
                .themeSetting();
        LibsBuilder builder = new LibsBuilder()
                .withActivityStyle(Libs.ActivityStyle.LIGHT_DARK_TOOLBAR)
                .withLicenseShown(true)
                .withVersionShown(true)

[2016-08-10 17:53] mikepenz commented on #241
Seems to be related to: https://github.com/mikepenz/AboutLibraries/issues/238

[2016-08-10 17:53] #241 closed

[2016-08-10 17:55] mikepenz commented on #238
I am not able to see anything which could leak the context inside the `LibsActivity` nothing static defined neither anything else which could cause this.
The same for all other classes nothing which could hold the context is kept static.

[2016-08-10 18:04] mikepenz commented on #238
@ankitbatra11 do you use the `LibsConfiguration` too?

[2016-08-12 11:04] Namnodorel opened #242 "AboutLibraries doesn't always show the right license"
For example I use Jsoup in my Android App. AboutLibraries shows it is published under the Apache 2.0 license although it actually is published under the MIT license.

[2016-08-12 11:13] mikepenz commented on #242
@Namnodorel that can happen if the license was changed by time, or the user who added the lib choose the wrong library. Please create a pull request and update the library if it's license was changed.

https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/library_jsoup_strings.xml#L19

[2016-08-12 11:13] #242 closed

[2016-08-15 00:59] ronaldsmartin commented on #238
Hi @mikepenz, thanks for making this library. I am trying it out now and really like it so far.

I'm also encountering this leak report via LeakCanary as in issue #241. I've been able to trigger it on occasion by rotating my device a lot with the Library Activity in the foreground, which suggests to me this is a class configuration change-caused `AsyncTask` leak.

My instantiation looks like this

[2016-08-15 08:12] mikepenz commented on #238
@ronaldsmartin thank you for your closer look and research. I will try to eliminate this and make additional checks.

[2016-08-15 18:05] mikepenz commented on #238
Could you please retry with the latest version. I changed something. But I was not really able to reproduce the leak with the sample app

[2016-08-16 00:20] ronaldsmartin commented on #238
Unfortunately, I was still able to replicate the leak with v5.7.2 with rapid device rotation.

I'm working on a potential fix myself but haven't verified it yet. I'll let you know how it goes and hope to submit a pull request tonight.

[2016-08-16 07:28] mikepenz commented on #238
@ronaldsmartin hmm weird. was never able to reproduce it with the sample on my Nexus 6P :/
thank you

[2016-08-16 07:35] ronaldsmartin commented on #238
I think I've worked out a fix.

My first thought was to make `LibraryTask` static and use `WeakReferences` to prevent the task from leaking the passed-in `Context`, but unfortunately that didn't help.

Instead, I simply used the application Context instead of the activity Context from the view. When using this version, I've been unable to replicate the leak in my own app. It's a really simple chan

[2016-08-16 07:52] mikepenz commented on #238
@ronaldsmartin oh ok I see. What I don't get is, why the leak still occurs even if I set the `Context` to null, so the task does no longer reference the context there.

But fine :D If android is not happy with setting it to null. Let's go with the `ApplicationContext`.

Yes please open the PR ;). So it is visible that you found the fix ;)

[2016-08-16 08:05] mikepenz commented on #238
Should be solved thanks to @ronaldsmartin (https://github.com/mikepenz/AboutLibraries/commit/166752cfcfb9bbeb438f3bbc584ce040163d65f2) in the next release

[2016-08-16 08:08] ronaldsmartin commented on #238
If I understand correctly, even though `LibsFragmentCompat`'s reference to the context is set to null, the `LibraryTask` is still holding onto its own reference for that same context (the one set in its constructor).

These situations are inherently complex, so I might be off the mark! Hopefully this fixes the issue, though.

Thanks again for your hard work in this library and for actively working

[2016-08-16 08:14] mikepenz commented on #238
@ronaldsmartin will release the update later today.

Yeah for the `Context` I have added this: https://github.com/mikepenz/AboutLibraries/commit/d74a73b2649e48c563a5da6affe440cdddeeb221#diff-9cd1826525cb325600b1ae16c978cc2eR128 but seems to be not enough

[2016-08-17 12:22] Anty0 commented on #238
This is not leak in AboutLibraries and can't be fixed from this library, it is leak in system Android. [https://code.google.com/p/android/issues/detail?id=173789](https://code.google.com/p/android/issues/detail?id=173789)

This leaks first started activity to UserManager in system.
To fix this leak you should add this few lines to your application:

    public class ApplicationBase extends Applica

[2016-08-17 12:50] mikepenz commented on #238
@Anty0 the latest commit already improved this, but you could be right that something else is adding to this issue.

Thank you for adding this here.

[2016-08-17 12:50] #238 closed

[2016-08-18 12:31] rubengees opened #246 "Include Kotlin?"
I am currently working on a new application which I write in [Kotlin](https://kotlinlang.org/). Should we include it as a library? It is not a library, but a language, but I think it could be relevant. What do you think? If you are positive about including I could do a PR with it and some other libs I use.

[2016-08-18 12:43] Rainer-Lang commented on #246
For my understanding - no.

[2016-08-18 13:35] mikepenz commented on #246
@rubengees I don't think it needs to be added as library. But you can still create the definition file for your application and just have it displayed in your app.

[2016-08-18 13:35] #246 closed

[2016-08-20 20:07] Z3r0byte opened #249 "Bug: java.lang.AbstractMethodError"
When I start a new Library-activity, it crashes with the following stack trace:

`java.lang.AbstractMethodError: abstract method "boolean com.mikepenz.fastadapter.IExpandable.isAutoExpanding()"
 at com.mikepenz.fastadapter.FastAdapter$1.onClick(FastAdapter.java:406)
 at android.view.View.performClick(View.java:5204)
 at android.view.View$PerformClick.run(View.java:21158)
 at android.os.Handler.han

[2016-08-20 20:09] Z3r0byte commented on #249
Oops, seems to be an issue with your NavigationDrawer Library. However it started when I added this library.

[2016-08-20 20:14] Z3r0byte commented on #249
Fixed by updating the drawer library to the newest version.

[2016-08-20 20:14] #249 closed

[2016-08-21 16:47] mikepenz commented on #249
@Z3r0byte I removed some methods with the latest release as I stopped supporting minSdk 10. New minSdk is 14. As the `MaterialDrawer` is based on the `FastAdapter` it requires both to play with each other. ;)

[2016-08-21 18:08] Z3r0byte commented on #249
Oh, I see. :)

[2016-08-30 07:19] jaredsburrows opened #252 "Package proguard rules with library"
Can you put your proguard rules here: https://github.com/mikepenz/AboutLibraries#proguard in the AAR itself?

Similar to https://github.com/JakeWharton/butterknife/blob/master/butterknife/build.gradle#L11.

[2016-08-30 08:32] mikepenz commented on #252
@jaredsburrows no not really, as I don't want to force all users of the lib to go with a not obfuscated `R` class.

Those people can still use the lib without the proguard rule and define the libs manually.

[2016-08-30 08:32] #252 closed

[2016-09-02 13:36] juanlabrador opened #254 "Can I set custom font all list?"
thanks

[2016-09-03 10:24] mikepenz commented on #254
You can when using the `LibsConfiguration` and providing a `LibsUIListener` and `LibsRecyclerViewListener` which will allow you to hook into the view creation

[2016-09-03 10:24] #254 closed

[2016-09-25 12:08] mddanishansari opened #257 "Can't change toolbar and status bar color even after using withActivityColor()"
Ok the problem is I'm not able to change the colors of toolbar and status bar even after using
[code]

This is my code snippet
[code]
This is how the default toolbar and status bar looks in my app.

![screenshot_2016-09-25-17-25-51-707_com md recipedia](https://cloud.githubusercontent.com/assets/11080523/18815170/207d4a2a-8346-11e6-9f9e-c5da82fff91c.png)

If I use

[code]

![screenshot_2016-09-25-

[2016-09-25 15:49] mikepenz commented on #257
@mddanishansari the `AboutLibrary` activity will have the color you define. You can see the implementation here:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/ui/LibsActivity.java#L72

The `Colors` object takes `int` colors:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/util/Colo

[2016-09-25 15:49] #257 closed

[2016-09-25 19:40] ste23droid opened #258 ""about_libraries_window_background" not working properly"
Hi,
I can't change the background activity color even when I set "about_libraries_window_background"; it seems like that the color chosen is ignored. Here is how i'm using it:

**STARTING THE ACTIVITY**
[code]

**CUSTOM THEME**
The AppTheme is a style with

 as parent
[code]

I am using aboutlibraries:5.8.1, compileSdkVersion 24, buildToolsVersion "24.0.1".

![device-2016-09-25-213425](https://clo

[2016-09-26 05:38] mikepenz commented on #258
Yes you are right. :O

Please just use the android default way of setting the window background:

http://stackoverflow.com/a/11441392/325479

[2016-09-26 06:36] ste23droid commented on #258
Thanks, I've just tested and using this works in the style works fine :) `<item name="android:windowBackground">@color/custom_color</item>`

[2016-09-26 06:56] 7172 commented on #258
I got one ques is libraries is what what is the correct point it pol need it that why that dont make it provided easyly

Sent from my Samsung device

-------- Original message --------
From: ste23droid <notifications@github.com>
Date: 26/09/2016  14:36  (GMT+08:00)
To: mikepenz/AboutLibraries <AboutLibraries@noreply.github.com>
Subject: Re: [mikepenz/AboutLibraries] "about_libraries_window_backgro

[2016-09-26 09:24] #258 closed

[2016-10-06 13:11] 7172 commented on #258
Hi mikepenz/AboutLibrar,

I'd like to add you to my professional network on LinkedIn.

- Waqas

Confirm that you know Waqas: https://www.linkedin.com/comm/start/accept-invitation?sharedKey=Bj4jx36W&invitationId=6189783536824836099&trk=eml-guest-invite-cta&trkEmail=eml-invite_guest-null-2-null-null-0%7Eityd373s%7E6y

You received an invitation to connect. LinkedIn will use your email address to mak

[2016-10-12 10:12] 7172 commented on #258
Waqas Khan would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/comm/start/accept-invitation?sharedKey=Bj4jx36W&invitationId=6189783536824836099&trk=eml-first_guest_reminder_01-hero-121-accept_text&trkEmail=eml-first_guest_reminder_01-hero-121-accept_text-null-c1wjru%7Eiu6ew2t6%7Eaz

View Waqas Khan&#39;s profile: https://www.linkedin.com/comm/start/a

[2016-10-15 11:08] aguragorn opened #260 "How To Add Google Play Services License"
It seems that the correct way to obtain the license for google play services is through
[code]
based on:
http://stackoverflow.com/a/15112345
http://android-er.blogspot.com/2012/12/include-open-source-software-license.html

how could I include it in the cards of libraries?

[2016-10-18 15:45] mikepenz commented on #260
You can't directly add them with the above method. Either you add a `definition` file as for all other libs. Or you use just the `Adapter` of the `AboutLibs` which will allow you to add your own `LibraryItem` by manually creating one and adding it to the list

[2016-10-18 15:45] #260 closed

[2016-10-19 08:02] 7172 commented on #258
Hi ,

Waqas Khan would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/comm/start/accept-invitation?sharedKey=Bj4jx36W&invitationId=6189783536824836099&trk=eml-second_guest_reminder_01-hero-120-accept_text&trkEmail=eml-second_guest_reminder_01-hero-120-accept_text-null-c1wjru%7Eiugexm61%7Eey

View Waqas Khan&#39;s profile: https://www.linkedin.com/comm

[2016-10-24 19:47] Jawnnypoo commented on #252
I think it would be nice to make a note of this issue in the README so that others don't go about requesting or attempting to add this.

[2016-10-30 15:46] Namnodorel opened #264 "Adding libraries in-code"
Ie. I got some small libraries which I want to include in the "about" section, but don't want to add them to a fork, make a pull-request etc. for each one, that would be too much work. Now I want to add these libraries in-code, like

`ALLibrary library = new Library("My coold library")
library.setAuthor("Example author");
library.setLicense(License.MIT);
etc.`

is that possible/could you implement

[2016-10-30 15:50] Rainer-Lang commented on #264
Sure that you don't want to make a pr?

[2016-10-30 15:52] Namnodorel commented on #264
It is not about a specific case, just in general. I often add some small libraries while working, and don't want to add each of them here every time I add another one.

[2016-10-30 15:54] Namnodorel commented on #264
Also the detection doesn't always work well with the XML files. For example both ProcessPhoenix and Butterknife *should* be included automatically, but they aren't...

[2016-10-30 15:57] Rainer-Lang commented on #264
Butterknife should be, yes. Strange.
Maybe you could provide the libs which aren't detected.

[2016-10-30 16:03] Namnodorel commented on #264
I can, but that's not the point. There needs to be a way to add libraries to the local project quick and easy.

[2016-11-03 06:55] mikepenz commented on #264
@Namnodorel you can quickly and simple add libraries to your project by adding the definition file. That's the easiest thing.

The problem of those being not detected. I can only autodetect libraries which have the classPath defined in there definition file. Proguard may also prevent autodetection, which would require you to add the libraries manually.
https://github.com/mikepenz/AboutLibraries/bl

[2016-11-08 22:21] fettlaus opened #266 "Different text color in library cards and app description"
I'm using `about_libraries_text_openSource` to change the color of my app description. Unfortunately `HeaderItem` and `LibraryItem` both use this attribute to style their text color.

I need to set different colors on these texts because my Activity uses a dark background and I'd like to keep the library cards in the RecyclerView rather bright.

Is there some other way I just can't think of right

[2016-11-09 07:04] mikepenz commented on #266
The only solution would be to copy and paste the layouts for those items to your project:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/listheader_opensource.xml
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/listitem_opensource.xml

and modify the color's for these texts.

The build will automatically overwrite the layouts

[2016-11-09 07:04] #266 closed

[2016-11-09 11:22] fettlaus commented on #266
That is not possible, because the text color gets overwritten every time by
`aboutAppDescription = (TextView) headerView.findViewById(R.id.aboutDescription);
            aboutAppDescription.setTextColor(UIUtils.getThemeColorFromAttrOrRes(headerView.getContext(), R.attr.about_libraries_text_openSource, R.color.about_libraries_text_openSource));`
in HeaderItem.

[2016-11-13 11:55] #264 closed

[2016-11-15 15:28] guntherhoppe opened #270 "No libs shown when using different application id"
I have a problem when use AboutLibraries together with a different application id defined in gradle build file.

For my dev and staging environments all works fine. But for the production app it doesn't. My package as it is configured within manifest is: ch.company.android.myapp.

The application ids in gradle are defined as:
dev : ch.company.android.myapp.dev
stage: ch.company.android.myapp.stage

[2016-11-15 16:37] mikepenz commented on #270
@guntherhoppe if the library is not able to automatically (via reflection) get the `R` fields of your application it won't be able to show the libs.

You will have to pass the libs then in like this:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsBuilder.java#L81

[2016-11-15 16:37] #270 closed

[2016-11-15 16:51] guntherhoppe commented on #270
Thx - works perfect!
I tried this before, but used R.class.getFields instead of R.string.class.getFields ... My mistake. :)

[2016-11-15 18:05] mikepenz commented on #270
Awesome :)

[2016-11-23 07:36] shanno29 opened #271 "Scroll Listener"
Is it possible to observe the recyclerview in any way? I'm using your fragment variant and have a bottom bar that I would like to hide when scrolling through the list of libraries, and show when not scrolling. Excellent library by the way!

AboutLibraries/library/src/main/res/layout/fragment_opensource.xml
[code]

[2016-11-23 08:25] mikepenz commented on #271
That can be done for example with the `LibsUIListener`
https://github.com/mikepenz/AboutLibraries/blob/54abd1254c71beb856533ac68146e19c6529404b/app/src/main/java/com/mikepenz/aboutlibraries/sample/FragmentActivity.java#L121

Just hook into the view creation (so after postOnCreateView)  there you are able to access the parent view which hosts the `RecyclerView`

[code]

[2016-11-23 08:25] #271 closed

[2016-11-23 19:06] shanno29 commented on #271
Thank you very much Mike!

[2016-11-25 15:00] mmokrzycki opened #272 "Only native libs are shown in fragment"
Showing libs list is not possible when my app is with proguard enabled. When my app is in debug, all libs are shown.

What I do is:
[code]

Also I declared in proguard this:
[code]

I don't know what could be wrong.

[2016-11-25 16:02] mikepenz commented on #272
https://github.com/mikepenz/AboutLibraries/issues/270#issuecomment-260693576

[2016-11-27 16:50] mmokrzycki commented on #272
Thanks @mikepenz however I even reproduced strings like they were in `R.string.class.getFields()` and then loaded again them into `withFields(String.. fields)`. But without success.

I had to do a hack.

First I found out libs defined names (working in debug).

[code]

Then I added that names into `withLibraries` method.

[code]

[2016-11-28 14:25] mikepenz commented on #272
@mmokrzycki oh yes I missed this part (as most people just have proguard without obfuscating) the problem is auto detection either works via the xml or via a class file which it tries to find. As those class files have a different name after proguard there is no solution to automatically detect those libs, rather than just defining their identifiers.

In general the whole list can be found here on

[2016-11-28 14:25] #272 closed

[2016-11-28 15:55] DanStout opened #273 "NullPointerException when calling adapter() on LibsBuilder()"
Apologies if I've missed something obvious. Here is how I'm creating the adapter:

[code]

This throws an exception with the cause: `java.lang.NullPointerException: Attempt to invoke virtual method 'void com.mikepenz.fastadapter.FastAdapter.registerTypeInstance(com.mikepenz.fastadapter.IItem)' on a null object reference`

It seems that to me that the issue is the following in `LibsBuilder#adapter(

[2016-11-28 15:58] mikepenz commented on #273
@DanStout oh yes you are right. those two lines have to be switched. Thanks for the info. I will release an update with the change.

[2016-11-28 16:26] #273 closed

[2016-11-30 15:23] CeJienAJPC opened #275 "Memory Leak with LibsConfiguration : Solved"
Hi Mike,
I am experiencing memoryLeak in LibsConfiguration.mListener and .libsListener.

![memoryleak](https://cloud.githubusercontent.com/assets/15603039/20757711/7190a486-b73d-11e6-994f-53f7a9c89475.png)

The Configuration is pretty basic.

        `LibsSupportFragment LicensesFragment = new LibsBuilder()
                .withAboutIconShown(true)
                .withAboutAppName(getResources().

[2016-11-30 18:15] mikepenz commented on #275
@CeJienAJPC I think this would be solved if you create the listeners as static inner class within the class. or as a seperate class. if it's an annonymous inner class it will have the context which will be leaked

[2016-11-30 23:53] CeJienAJPC commented on #275
Issue Solved. Thanks

[2016-11-30 23:54] #275 closed

[2016-12-10 14:40] BRoy98 opened #276 "Not showing librarys: FIXED"
I have added AboutLibraries in my project. I followed your example project.

Here is my libSupportFragment:
[code]
and here is my aboutlibraries_description.xml:
[code]

Now when the fragment is shown, It is only showing my App logo, App name, changelog button and description text. It is not showing all the libraries I used. Can you tell me what am I doing wrong and any way to debug my issue?

###

[2016-12-10 14:56] #276 closed

[2016-12-15 10:22] marconealberto opened #278 "Truncated names on cards with long title"
This is an awesome library but I'm facing this simple issue:

Most of the libraries have their names truncated. How can I fix that? is there a way to have a multiline textfield in the cardview? or at least truncate only part of the last word?
One of the truncated titles is "Android SQLiteAssetHelper"

![schermata 2016-12-15 alle 11 13 44](https://cloud.githubusercontent.com/assets/779070/21220095/

[2016-12-15 11:00] IonutNegru87 opened #279 "Crash when starting AboutLibraries Activity"
Hello,

I encountered an crash when I'm trying to start the activity.

This is the builder I've used:
[code]
These are the logs generated:
[code]

The theme is simple:

    <style name="AppTheme" parent="Theme.AppCompat">

        <item name="colorPrimary">@color/colorPrimary</item>
        <item name="colorPrimaryDark">@color/colorPrimaryDark</item>
        <item name="colorAccent">@color/colorAc

[2016-12-15 11:04] IonutNegru87 commented on #278
I think you have to manually create the style you want and populate with the data provided by the library.

[2016-12-15 14:06] mikepenz commented on #279
@IonutNegru87 please use a theme without the `ActionBar` so either you define that it has no actionbar or you use the `Theme.AppCompat.NoActionBar` theme for the aboutLibs activity

[2016-12-15 14:08] mikepenz commented on #278
@marconealberto interesting. the text of the element itself has a weight of 5 and the lib creator name a weight of 2:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/listitem_opensource.xml#L27

You can overwrite this layout for your project if you want to change some things

[2016-12-15 14:08] mikepenz commented on #278
@IonutNegru87 thanks for answering

[2016-12-16 08:21] IonutNegru87 commented on #279
Hello @mikepenz,
This is what I did to solve this issue, but I think this can be detected by the library in order to avoid crashes like this. Until then, I think an update of the documentation can be done so that others know how to avoid this.

Thank you for the great library and for your time.

[2016-12-18 00:46] 1sm3t opened #280 "Example for modifying on...Clicked behaviours within FragmentActivity (specifically: remove on...LongClicked behaviours)?"
First of all: Big sorry for this very most likely really unnecessary question.

To make it as short as possible: How would I go about modifying the behaviours of the various onClicked events (onIconClicked, onContentLongClicked, etc. ) or even enabling them for that matter? Within the FragmentActivity libsListener is providing these events, but I can't get them to work (I am not sure what view and

[2016-12-18 07:44] mikepenz commented on #280
@1sm3t there is no solution to remove the click listener at all. You can prevent the default behaviour though.

So for this case you just use the `LibsConfiguration` and define the `Listener` then you implement all methods and return `true` (which means the event was consumed)

https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/ui/item/Library

[2016-12-18 18:55] 1sm3t commented on #280
@mikepenz Thank you very much for your quick reply. It eventually helped me realize how stupid I was. I actually already had created the libsListener (basically I took over all the code from your FragmentActivity), however, I removed the part where the Drawer is built. That in turn deleted the assignment of the libsListener and thus the methods never fired for me. Adding ".withListener(libsListene

[2016-12-18 19:01] #280 closed

[2016-12-27 08:54] #278 closed

[2017-01-06 19:14] thisisPratzz opened #281 "Custom library name ,author,version"
how to add many Custom library name ,author,version name to the list on cards in AboutActivity?

[2017-01-08 16:16] mikepenz commented on #281
@thisisPratzz what do you mean? you want to overwrite the defined values? or you want to add your own libraries?

[2017-01-08 17:55] thisisPratzz commented on #281
add names,description of libraries which where not included  in gradle

Eg.
app has  used libraries A,B but not used library C
Still add decription,name of  C aboutLibrary View

[2017-01-08 19:39] mikepenz commented on #281
you can just add your own definition files to the project to add additional projects.

[2017-01-08 19:41] mikepenz commented on #281
Like this one: https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/library_aboutlibraries_strings.xml

[2017-01-09 15:41] thisisPratzz commented on #281
Thank you :+1:

[2017-01-09 15:41] #281 closed

[2017-01-19 19:30] ItsCalebJones opened #283 "Add onExtraLongClick method?"
Any chance you'd be open to adding that?

I have a special button that directs to a Support page, would like to longClick to access a Debug menu.

[2017-01-19 19:40] ihhcarus commented on #254
Just in case someone comes across the same problem as me in the future, I needed to set a custom font to the activity's toolbar title. I managed to do it adding the `LibsUIListener ` in the code below to my `LibsBuilder`:
[code]

[2017-01-19 20:21] mikepenz commented on #283
@caman9119 you can add this one on your own :) Just add a `LibsUIListener` and hook into the view creation after it was done: https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsConfiguration.java#L131

https://github.com/mikepenz/AboutLibraries/blob/54abd1254c71beb856533ac68146e19c6529404b/library/src/main/java/com/mikepenz/aboutlibraries/

[2017-01-20 22:03] Scrounger opened #284 "Crash when using LibraryComparator"
@mikepenz:
App crash on click (open url) if using the LibraryComparator like in your Example [CustomSortActivity.java
](https://github.com/mikepenz/AboutLibraries/blob/develop/app/src/main/java/com/mikepenz/aboutlibraries/sample/CustomSortActivity.java)

[code]

Error message:
[code]

Without using the LibraryComparator all works fine.

[2017-01-20 23:05] Scrounger opened #285 "Feature: custom divider"
@mikepenz:
Can you please add the option for a custom divider style. Just define a style in style.xml that can be overridden and remove the option to set color by code? So it would be possible to use a drawable as divider

styles.xml;
[code]

[2017-01-21 10:02] Scrounger opened #286 "Please add to AboutLibraries"
@mikepenz:

Please add the apenden library files and licencse file to the rep.

[libs.zip](https://github.com/mikepenz/AboutLibraries/files/721051/libs.zip)

[2017-01-21 12:56] Rainer-Lang commented on #286
Please make a PR. Thanks.

[2017-01-21 13:41] Scrounger commented on #286
Still tried but it doesn'r work and i dont know why

[2017-01-24 20:07] NajeraP95 opened #287 "Colored NavBar"
Hello,
I tried to put a colored nav bar in the About Libraries Activity. First I put:

[code]

and it has error:

[code]

so i tried with:

[code]

and its works but now the Back Button and the AppTitle is black

I tried with:

[code]

LIGHT_DARK_TOOLBAR: Black Back Button
DARK: Both Dark
LIGHT: Both Dark

But it doesn´t work

![screenshot_20170124-135511](https://cloud.githubusercontent.com/asset

[2017-01-25 20:47] Scrounger opened #288 "Featiure: add layout_behavior to Activity"
@mikepenz:
Could you Please add google layout behaviour for hide the actionbar on scrolling.
Just change the

https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/activity_opensource.xml

[code]

[2017-01-25 21:43] mikepenz commented on #288
Just add this to your application as layout with the name `activity_opensource.xml` and it will automatically overwrite the layout included in the library

https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/activity_opensource.xml

[2017-01-25 21:45] mikepenz commented on #284
@Scrounger something is related to your code as it crashes with your activity
[code]

[2017-01-25 21:46] mikepenz commented on #286
@Rainer-Lang do you want to open a PR with the libs still missing?

[2017-01-25 21:47] mikepenz commented on #285
@Scrounger so you want to have a divider between the items? or a divider in the card?

You can already adjust the design of the card by either overwriting the xml of one item
Copy and paste this in and adjust hte xml:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/listitem_opensource.xml

or you hook into the view generation with the `LibsConfiguration` via:
ht

[2017-01-25 21:49] mikepenz commented on #287
@NajeraP95 this works in the sample app with the following code:
https://github.com/mikepenz/AboutLibraries/blob/develop/app/src/main/java/com/mikepenz/aboutlibraries/sample/FragmentActivity.java#L69

Just try it out

[2017-01-25 22:19] Rainer-Lang commented on #286
I don't know which libs are inside, but I'll have a look in the next days.

[2017-01-28 08:26] roman-ku opened #289 "Add progress indicator to activity"
On my phone it takes 3-4 seconds to load the library page (not sure why so slow tbh), I would love a simple progress circle in the middle of the page.

[2017-01-28 09:07] roman-ku commented on #289
I wanted to turn off auto detection and supply the library names myself in this fashion: https://github.com/mikepenz/AboutLibraries/issues/272#issuecomment-263132830

But it doesn't appear to work. Any ideas?

[2017-01-28 09:35] Rainer-Lang commented on #289
Try to increase versionCode or reset app data.

[2017-01-28 09:38] roman-ku commented on #258
Jesus, I spent at least half an hour with this.

What is "about_libraries_window_background" for then?

[2017-01-28 09:46] roman-ku opened #290 "Broken Links on Cards"
If you click on a card for one of the libraries below nothing happens.

* RxLifecycle
* Support AppCompat v7
* Support Design
* Support RecyclerView v7

[2017-01-28 09:51] roman-ku opened #291 "withExcludedLibraries doesn't work"
Here is how I am using it:

                new LibsBuilder()
                        .withExcludedLibraries(
                                "Android-Iconics",
                                "FastAdapter"
                        )
                        .withLicenseShown(true)
                        .withActivityTitle(getString(R.string.about_licenses))
                        .withActivityThe

[2017-01-28 18:47] mikepenz commented on #289
@roman-ku 3-4 seconds seems really long. doesn't take so long on any phone I ever tested it on :)

have you also disabled auto detection?

[2017-01-28 18:48] mikepenz commented on #291
@roman-ku the with exclude and the other methods are all case sensitive.

[2017-01-28 18:48] mikepenz commented on #290
please open a PR and update the definition files of those libs

[2017-01-29 00:03] roman-ku commented on #291
Hmm, how do I know which name to put there? Like what exact library name do I use?

[2017-01-29 00:05] roman-ku commented on #289
I am trying to disable auto detection (using `.withAutoDetect(false)`)  but it never works. Maybe there is some requirement to using that command? I'm not sure what versionCode @Rainer-Lang is referring to and I will try to reset app data but maybe later since I don't want to lose what I have saved.

[2017-01-29 10:28] mikepenz commented on #289
withAutoDetect(false) . will just not try to find libs via the class defined in the definition file. Libraries which include the definition files (Like FastAdapter, ...) will still show up.

[2017-01-29 10:32] mikepenz commented on #291
@roman-ku as for most libraries you can just find it out in its string file:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/library_circleimageview_strings.xml#L3
(the name after "define_int_") Libraries which include the definition file are not included in the values folder so you have to check out the definition for those in their ressources. (Excluding is no

[2017-01-29 10:32] #291 closed

[2017-01-29 10:43] roman-ku commented on #291
Thanks, I will take a look at that.

True. But I'm not sure why the `Android-Iconics` and `FastAdapter` libraries are showing up. I'm not using them in my app nor directly including them. I mean sure your library may be using them, but I don't think it's a legal requirement to include licenses for open source libraries which an open source library is based on or uses. That being said I'm not a law

[2017-01-29 11:02] mikepenz commented on #291
@roman-ku the `FastAdapter` is powering the list of the `AboutLibraries` as it is so lightweight I included it to simplify my live, and also to make things re-useable.

As of the Android-Iconics. I had many requests of people wanting to use icons in the descriptions and buttons of the AboutLibraries. So I included the supprot for it (just the core)

And as those 2 libs are from me anyway. :D Go ah

[2017-01-29 19:40] Rainer-Lang commented on #286
@Scrounger I made a commit.

[2017-01-29 19:59] #286 closed

[2017-01-29 20:03] Scrounger commented on #285
Overriding the layout file is easier. Just setted your diverders color to transparent and added my custom divider

[2017-01-29 20:03] #285 closed

[2017-02-02 21:01] odin- opened #294 "Add https://github.com/ArthurHub/Android-Image-Cropper"
Add https://github.com/ArthurHub/Android-Image-Cropper to the list of supported libraries.

[2017-02-02 21:02] odin- opened #295 "Possibility to change toolbar background using drawable"
I would like to be able to set the toolbar background using a drawable to match my app. Would this be possible to fix?

[2017-02-02 21:12] mikepenz commented on #295
You can hook into the view creation via the LibsConfiguration and access everything you want to

[2017-02-02 21:14] odin- commented on #295
Excellent. Thank you for a nice lib.

[2017-02-02 21:17] mikepenz commented on #295
with this listener you have access to the whole view:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsConfiguration.java#L131

Thank you

[2017-02-02 21:17] #295 closed

[2017-02-03 08:22] odin- opened #296 "Add https://mvnrepository.com/artifact/cz.msebera.android/httpclient/4.4.1.1"
Add support for https://mvnrepository.com/artifact/cz.msebera.android/httpclient/4.4.1.1

dependencies {
    compile 'cz.msebera.android:httpclient:4.4.1.1'
}

[2017-02-03 09:23] mikepenz commented on #296
@odin- you can also do a PR by adding these ;)

You can use this handy online tool to do it

http://def-builder.mikepenz.com/

everything is described in the README

[2017-02-03 19:41] odin- commented on #296
OK I'll do that for httpclient then! Thanks.

[2017-02-05 21:33] odin- commented on #295
The preOnCreateView returns the RecylerView. So to get the Toolbar is in the parents parent right?

LinearLayout contains FrameLayout contains RecylerView
The LinearLayout contains the toolbar?

[2017-02-06 08:24] mikepenz commented on #295
@odin- yeah something like this. a different solution would simply be for you to use the `Fragment` and handle the activity around on your own. Either use your own activity or base on this one:
https://github.com/mikepenz/AboutLibraries/blob/54abd1254c71beb856533ac68146e19c6529404b/library/src/main/java/com/mikepenz/aboutlibraries/ui/LibsActivity.java

[2017-02-06 08:33] odin- commented on #295
Ah of course. That's the smart thing to do :-). More clean than trying to find parent views if you happen to change something in the future.

Thanks.

[2017-02-06 14:52] Rainer-Lang commented on #294
https://github.com/mikepenz/AboutLibraries/pull/297

[2017-02-06 14:52] #294 closed

[2017-02-06 22:38] #296 closed

[2017-02-06 22:38] #288 closed

[2017-02-06 22:39] #287 closed

[2017-02-06 22:39] #283 closed

[2017-02-06 22:40] #279 closed

[2017-02-09 15:34] bematthias opened #300 "Usage of multiple instances with different content"
First, thank you for your helpful library. :)

I want to use multiple instances of the library in my app with different lists of libraries, but I can't achieve that.

What I would like to do...
... is having two AboutActivities in my app. One to show a couple of custom-defined libraries (no native and no auto-detected) and the about-descriptions. The second (called from the first one) should be us

[2017-02-09 16:03] mikepenz commented on #300
@bematthias why don't you just define libs you want to use manually in both cases? Explicit definition of libs is anyways faster

In general it was not designed to be used multiple times, and optimized for single fragment / activity usage to be faster in this case

[2017-02-09 22:06] bematthias commented on #300
@mikepenz I'm a little bit lazy in that case ;) and I wouldn't forget a library when I add a new one.

So, is it at least possible to use two fragments / activities with different LibraryItems? At the moment a LibraryItem is "lost" whenever I exclude it in a previous builded instance.

[2017-02-15 22:46] mikepenz commented on #290
I tried them and they work fine

[2017-02-15 22:46] #290 closed

[2017-02-15 22:57] #289 closed

[2017-02-15 22:57] #300 closed

[2017-02-15 23:53] rubengees opened #304 "5.9.2 shows libraries which are not used"
As the title says, the latest update shows libraries which are not used or declared in the app.

Namely for me: `ACRA`, `Android Holo ColorPicker`, `Android-Job`, `Avatar ImageView` and `Earl`.
My load line is quite simple:

[code]

I have setup a sample showcasing this [here](https://github.com/rubengees/AboutLibrariesBug).
Thanks in advance for looking into this!

[2017-02-16 00:35] Rainer-Lang commented on #304
I'll look into it...

[2017-02-16 08:39] mikepenz commented on #304
@Rainer-Lang well they miss the "_int" :P

[2017-02-16 08:49] Rainer-Lang commented on #304
@mikepenz I know I'm fixing it. :)

[2017-02-16 10:15] mikepenz commented on #304
fixed in v5.9.3

[2017-02-16 10:15] #304 closed

[2017-02-16 11:21] Rainer-Lang commented on #304
@rubengees Thanks for this issue.

[2017-02-18 12:17] guntherhoppe opened #306 "NullPointerException on activity's onStart"
I observe a sporadic NullPointerException on Android 7.1.1 (devices: Nexus 5X, Nexus 6P, Pixel XL, Pixel) when an activity is restarted after it has been moved to background since a while.
I use AboutLibraries version 5.6.8.

Stack trace:
[code]

[2017-02-18 12:23] mikepenz commented on #306
@guntherhoppe please update to the latest version and try again

[2017-02-18 12:42] guntherhoppe commented on #306
@mikepenz: I use a lesser version of the support libs in my app, which results in build errors when I update AboutLibraries to the latest version.

[2017-02-18 12:49] mikepenz commented on #306
@guntherhoppe gradle allows you to exclude dependencies of libs
http://stackoverflow.com/a/36103326/325479

[2017-02-18 12:49] #306 closed

[2017-02-18 13:04] guntherhoppe commented on #306
@mikepenz: Mhh - I will try. Thanks.
But I'm wondering why you are closing this issue now (and uncommented)? Will the latest version fix this problem for sure, or (means is it a known issue)? It did not sound like that ...

[2017-03-13 23:57] Aqua-Ye opened #311 "Any way to disable the new loader?"
Hi,

I have my own implementation for that, and would like to disable the integrated loader.
Any way to customize the loader or disable it?

[2017-03-14 08:28] mikepenz commented on #311
@Aqua-Ye no not (yet). You can stay on the previous version which didn't have the loader, only new definitions were added but no bugfixes or so

[2017-03-27 17:34] camhart opened #314 "How do I determine Library names?"
I have several libraries I need to have included.  How do I determine the name to use with the call to withLibraries?

For example, I'm using AppAuth for android.  Here's a link to the string's file: https://github.com/openid/AppAuth-Android/blob/master/app/res/values/strings.xml

However when I do the following it's not detected:

[code]

[2017-03-27 18:34] #314 closed

[2017-04-03 16:51] matmedev opened #315 "What is the proper way to add undetected libraries manually?"
Hi,
I have some libraries in my project that are not detected by your library.
Could you show me an example to add completely unknown libraries to the list (eg. with author name and description)?

Thanks!

[2017-04-03 17:41] mikepenz commented on #315
@matmedev have you looked if they are included in the lib, just not auto detected?
https://github.com/mikepenz/AboutLibraries/tree/develop/library/src/main/res/values

If they are not there. Just create a definition file like the ones already included. Here is a nice website helping you. https://def-builder.mikepenz.com/ and include it in your app.
(it would be awesome if you could then also open

[2017-04-03 17:52] matmedev commented on #315
OK. I'll try that one, Thanks!

[2017-04-03 17:52] #315 closed

[2017-04-06 14:31] #311 closed

[2017-04-06 14:36] Aqua-Ye commented on #311
👍

[2017-04-06 14:39] mikepenz commented on #311
new release is coming soon

[2017-04-10 17:41] odin- opened #317 "Add external libraries manually?"
I am using:

        LibsSupportFragment fragment = new LibsBuilder()
                .withLibraries(getResources().getStringArray(R.array.settings_libs_used))
                .withAutoDetect(false)
                .supportFragment();

        getSupportFragmentManager()
                .beginTransaction()
                .replace(R.id.framelayout, fragment)
                .commit();

Now the pro

[2017-04-10 18:42] odin- commented on #317
Worked fine. My bad. Closing issue.

[2017-04-10 18:42] #317 closed

[2017-04-26 08:47] m-rm opened #319 "No license name shown for Glide"
I'm using version 5.9.5 from jcenter in Gradle.

All libraries show up fine with "Apache Version 2.0" or "MIT License" displayed underneath. Only the Glide library shows an empty bar that is also not clickable.

[2017-04-26 09:22] #319 closed

[2017-04-26 09:23] mikepenz commented on #319
* found the issue, the license file had wrong namings. Until I pushed an update to the library you can already fix it for your project by simply adding the following to your strings.xml

[code]

[2017-04-26 09:53] m-rm commented on #319
That was fast! Thank you!

[2017-04-26 09:54] mikepenz commented on #319
@m-rm you are welcome

[2017-04-26 10:13] Javanshir commented on #319
Same problem with AndroidViewPagerIndicator, not a big issue of course, can be solved by adding:
`<string name="library_AndroidViewPagerIndicator_licenseId">apache_2_0</string>`
to the strings

[2017-04-26 10:15] mikepenz commented on #319
Thanks @Javanshir fixed it: https://github.com/mikepenz/AboutLibraries/commit/869a5d79390dbed47781df87b3b8671bb3f01b4c

[2017-04-26 14:33] m-rm opened #320 "License dialog is not shown when no license website is entered"
I added multiple custom licenses and i'm using .withLicenseDialog(true).

One license doesn't have a website. The name of the license is shown correctly but the dialog doesn't open when clicked. When a dummy website is entered for the license the dialog opens correctly.

I don't think this is intended behavior since the website isn't actually needed when using .withLicenseDialog(true)?

[2017-05-03 10:41] mikepenz commented on #320
@m-rm thanks for the report. I'll have a look

[2017-05-03 10:44] mikepenz commented on #320
@m-rm does this license have a `Description`? (Which one is it?)

As of the code it should open

[2017-05-03 11:44] m-rm commented on #320
@mikepenz  I created a simple test case:

[code]
[code]

With this no popup with "Some Text" is shown. When I instead use

[code]

The popup appears correctly.

[2017-05-03 13:19] #320 closed

[2017-05-03 13:19] mikepenz commented on #320
Thanks. Found the cause and fixed it :)

[2017-06-01 14:51] fmt-Println-MKO opened #323 "manual Libraries not used when using default Activity"
when using the default Activity manuell added libraries are not shown

looks like, that the builder is not passed and checked in activity, like it's done in the fragment

`
new LibsBuilder()
                        .withLibraries("android_job")
                        .withAutoDetect(false)
                        .withAboutIconShown(true)
                        .withAboutVersionShown(true)

[2017-06-01 15:36] mikepenz commented on #323
@fmt-Println-MKO can you please also provide the definition file you used for "android_job"?
Or what would you expect to see?

[2017-06-02 08:51] fmt-Println-MKO commented on #323
android job is included in your repo already:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/library_android_job_strings.xml

I just took this as an example.
for me, only the automatic found libs are shown, all libs added manuell are not shown.

when I checked the source code, it looks like, that in case you use a fragment, the builder (which contains the lib l

[2017-06-02 11:15] mikepenz commented on #323
@fmt-Println-MKO hmmm I can not reproduce this issue. I tried it with the sample application, and it shows up quite fine.

Is there something in your project which possibly deletes / removes these resources?

[2017-06-02 13:38] fmt-Println-MKO commented on #323
ah ok sorry, i missed the line where the builder is also passed to activity to fragment,
but I debugged, and android_job is not in the libraries list, so search by name would result null in there, als ahbottomnavigation ist not there. and as I used debug build, nothing should have removed the resources. strange....

[2017-06-02 13:42] mikepenz commented on #323
you can run and check the sample app it will show up.

It's really weird. I copy pasted your provided code, and it worked

[2017-06-05 08:35] OhhConti opened #324 "Manual libraries"
Is it possible to manually add libraries ? Thanks :)

[2017-06-05 11:03] mikepenz commented on #324
https://github.com/mikepenz/AboutLibraries/wiki/HOWTODEV:-Include-in-your-library

[2017-06-05 11:03] #324 closed

[2017-06-06 10:24] fmt-Println-MKO commented on #323
yes it is,
sure I will check out whats going wrong in may app.
thank you

[2017-06-06 10:43] mikepenz commented on #323
thanks. Please let me know if you find something.

[2017-06-12 23:00] kylealanr opened #325 "Dependency collision with MaterialDrawer"
Both libraries suggest setting transitive to true in the build.gradle, but when using both together different versions of FastAdapter are included.

[2017-06-12 23:11] mikepenz commented on #325
@kylealanr oh that's true, if the versions do not have an API change, then you simply can overwrite the version to use.

like that (adjust to the fastadapter name)
[code]

If there it's a version with API change I have to provide an update. (I am planing to do this sometimes this week)

[2017-06-27 19:48] AllanWang opened #327 "Updating wiki"
The [custom](https://github.com/mikepenz/AboutLibraries/wiki/HOWTO:-Custom) portion of the wiki may need to be updated

`Libs libs = Libs.getInstance(getActivity(), R.string.class.getFields());`

no longer exists and seems to be done with

`Libs(context)`

[2017-06-28 09:17] mikepenz commented on #327
@AllanWang you should be able to simply update it :). The wiki is very old. Maybe I just delete it otherwise :D

[2017-06-29 23:28] AllanWang commented on #327
Updated

[2017-06-29 23:28] #327 closed

[2017-07-02 12:58] mikepenz commented on #323
@fmt-Println-MKO I'll close this until further details are provided :)

[2017-07-02 12:58] #323 closed

[2017-07-02 12:58] #325 closed

[2017-07-08 07:00] AllanWang opened #331 "Minify + Shrink resources removes String resources"
Obviously this is the case, and it can be fixed by keeping the R class, but I was wondering if there is hopefully a better alternative somehow. `-keepresources` looked promising but it seems to be a dexguard feature rather than a proguard feature.

In comparison, keeping all the R classes adds around 60kb to a < 3mb app, which is somewhat significant.

[2017-07-08 11:19] rubengees commented on #331
I had success with this:

[code]
This only keeps the definitions used by `AboutLibraries` for autodetection but no other `Strings`.

[2017-07-08 16:46] mikepenz commented on #331
@rubengees but wouldn't this also remove the strings of the libs themself? So do you add them manually to your project in addition?

[2017-07-08 16:48] rubengees commented on #331
Hmm, no it works out of the box in my case. Maybe `proguard` intelligently recognize the usage by the library? I do not use `shrinkResources`, but only `proguard` itself though.

[2017-07-08 16:50] AllanWang commented on #331
Shrink resources is the issue, not proguard

[2017-07-08 16:51] mikepenz commented on #331
It can't as those are loaded during the runtime. So this means your definition still keeps the resources.

@AllanWang I do not think there is anything I can do about this, or the lib can do about it.

[2017-07-08 16:51] rubengees commented on #331
Just tried it with `shrinkResources` enabled on my project, that works.

[2017-07-08 16:52] AllanWang commented on #331
@rubengees is your project open sourced?

[2017-07-08 16:54] AllanWang commented on #331
Also since this keeps the whole R class, I'm not sure if this will be better than the original rules

[2017-07-08 17:01] rubengees commented on #331
Yes, here here are the `proguard` rules: https://github.com/proxer/ProxerAndroid/blob/master/app/proguard-rules.pro

I am not a `proguard` expert so this may be true. It did help me avoid the 65k field reference limit though,  which popped up due to another lib (I only had the rule to keep entire `R` from the README before).

[2017-07-08 17:08] rubengees commented on #331
@AllanWang

From the `proguard` documentation:

[code]

I think that means that entire R does **not** get keeped.

[2017-07-08 17:11] AllanWang commented on #331
@rubengees I think it means that it does, since the only constraint is that a class contains a define_ string and its preserving the entire class rather than just some members. I'm still waiting for travis to build so I can decompile it later. Plus I think the reason it works with define_ is because the rest of the class is kept, otherwise all your library_ strings will be gone too.

(Not a progua

[2017-07-08 17:18] mikepenz commented on #331
The only thing which can be maybe done in the future is to split up the core, and move all libraries to a different module. So you can either use the module with all the resources, or you manually add the resources you want

[2017-07-08 17:19] rubengees commented on #331
I just decompiled my app and the R file is really small. I think it works the way we want to (I could be mistaken of course).

[2017-07-08 17:20] mikepenz commented on #331
@rubengees just drag&drop the apk onto Android Studio 3.0, it has a really cool visualisation, and also shows the contained resources

[2017-07-08 17:22] AllanWang commented on #331
@mikepenz The issue still stands with all the external libraries with their strings,

Using the rules defined above definitely cleans it a fair bit though, since it seems to remove all the appcompat resources.

My R class with from 6k variables to 3k, and About library went from 3709 to ~300.

For the app, the size
- with the proguard above is 3.92
- without proguard is 3.98
- with proguard and no

[2017-07-08 17:24] mikepenz commented on #331
well I can't do anything about external libraries.

The only reason the `R` class has to be kept is for the auto-detection. You can enable proguard, don't add the rule, and just manually set which libraries needs to show up

[2017-07-08 17:26] AllanWang commented on #331
Our cases are for proguard + shrink + no auto detection. Because without this rule those strings will be gone anyways. I don't think any changes need to be done on your end since it's fine the way it is, but perhaps the proguard lines can be added to the readme for those who want to shrink their resources as much as possible and are willing to input libraries manually.

Thanks rubengees!

[code]

[2017-07-08 17:29] rubengees commented on #331
@AllanWang My pleasure :)
@mikepenz I could send a PR if you like.

[2017-07-08 17:29] mikepenz commented on #331
@rubengees already writing the README update :)

[2017-07-08 17:30] mikepenz commented on #331
https://github.com/mikepenz/AboutLibraries/blob/develop/README.md#proguard

Thank you @rubengees & @AllanWang

[2017-07-08 17:30] #331 closed

[2017-07-09 22:47] AllanWang opened #332 "[Showcase] Usage of About Libraries"
You have a section in your read me for apps using this lib, so I though I'd share my projects.

I built a kotlin library, and one of its submodules combines this lib along with Plaid's about UI. It is showcased [here](https://allanwang.github.io/KAU/about/#readme)

![About Activity Gif](https://raw.githubusercontent.com/AllanWang/Storage-Hub/master/kau/kau_about_activity.gif)

I also use my lib in

[2017-07-10 07:59] mikepenz commented on #332
@AllanWang looks really nice :). Great work

[2017-07-10 08:00] mikepenz commented on #332
@AllanWang please open a PR and add it to the list of projects using this lib :)

[2017-07-10 19:15] AllanWang commented on #332
Addressed in #333

[2017-07-10 19:15] #332 closed

[2017-07-17 14:01] zTrap opened #334 "New lib compatible with AboutLibraries"
Thanks for this great library, and now we have definitions for `AboutLibraries` in [SlideUp](https://github.com/mancj/SlideUp-Android). Just saying and nothing more :)

[2017-07-17 14:03] mikepenz commented on #334
@zTrap that'S awesome! :)

[2017-07-17 14:24] mikepenz commented on #334
It's so sad that not more devs do this.

Added your lib here:
https://github.com/mikepenz/AboutLibraries/wiki/Compatible-Libs#libs-which-are-natively-supported

[2017-07-17 14:24] #334 closed

[2017-07-19 16:23] markusressel opened #338 "Missing/Invisible AboutAppName"
Hey there, great library.
I have a small issue regarding the latest release (5.9.7) - the app name field is missing/invisible. The view is there but there is simply nothing shown:
![image](https://user-images.githubusercontent.com/14024504/28378062-284e47f6-6caf-11e7-934d-cc6c8c89ec42.png)

I have updated Iconics to 2.9.0 and everything works as expected, except this little thing.

This is the cod

[2017-07-19 17:10] mikepenz commented on #338
@markusressel and you did not have the issue in old versions?

[2017-07-19 22:04] markusressel commented on #338
Hey,

I tried to test this on older versions (down to 5.9.5 until I got ClassNotFoundExceptions) and it happened on all of them. I finally tried it on a new project and realized that it's a theming issue.
When I use my light theme it is visible as expected:
![image](https://user-images.githubusercontent.com/14024504/28391249-824330e0-6cdd-11e7-8266-901f5eeb9777.png)

In my themes I am overwriting

[2017-07-19 22:06] mikepenz commented on #338
Well this color is already themed:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/ui/item/HeaderItem.java#L273

Color id: about_libraries_text_description

Or you should also be able to use this: about_libraries_text_description and set it in your theme

[2017-07-19 22:19] markusressel commented on #338
That fixed it 👍
I was looking for the "about_libraries_title_description" value though.

![image](https://user-images.githubusercontent.com/14024504/28392009-7d7f8fba-6ce0-11e7-8fff-cc057770e4e7.png)

And (although I'm repeating myself) I'd like to mention that the wiki is outdated. If you don't want to update the information on there (which I can fully understand) at least put a disclaimer on the

[2017-07-19 22:23] mikepenz commented on #338
@markusressel yeah true. You can add this info to the wiki please. that would be really helpful.

Thank you very much :)

[2017-07-19 22:39] markusressel commented on #338
I did.

[2017-07-19 22:55] #338 closed

[2017-09-10 04:25] allowthere opened #345 "Can I use AboutLibraries if I want to target Android Oreo?"
My `build.gradle` says:

    compileSdkVersion 26
    buildToolsVersion "26.0.1"
    defaultConfig {
     ...
     targetSdkVersion 26
     ...
     }
     dependencies {
     implementation fileTree(dir: 'libs', include: ['*.jar'])
     compile 'com.android.support:appcompat-v7:26.0.1'
     compile 'com.android.support:recyclerview-v7:26.0.1'

      .....

       compile('com.mikepenz:materialdra

[2017-09-11 01:52] mikepenz commented on #345
@allowthere sure you can. just exclude the support libraries of this project. https://stackoverflow.com/a/30649660/325479

[2017-09-11 01:52] #345 closed

[2017-10-17 15:46] floschu opened #348 "Nested Scrolling"
Would it be possible to have an option to enable or disable nested scrolling for the RecyclerView of the displayed libraries cards?

[2017-10-19 20:59] mikepenz commented on #348
@floschu you can define a `LibsUIListener` on the `LibsConfiguration` accessing the views of the `AboutLibraries`:
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsConfiguration.java#L53

[2017-10-19 20:59] #348 closed

[2017-11-11 09:48] aminecmi opened #350 "Using AboutLibraries 6.0.0 with MaterialDrawer is causing build failures"
Hello (not really sure if I had to report the issue on this lib or MaterialDrawer),

I have AboutLibraries v5.9.7 and MaterialDrawer v5.9.5 on my app (working great).

I wanted to update AboutLibraries to the last version, but it was causing a build issue when assembling the app.
[code]

I tried updating the MaterialDrawer lib to v6.0.0 and v6.0.1, but it's still failing with a different issue:

[

[2017-11-11 13:01] mikepenz commented on #350
@aminecmi only AboutLibs 6.x is compatible with MaterialDrawer 6.x.

In addition you have to use the latest support libraries 27, and support libs 27 will need compile and target 27

[2017-11-11 13:01] mikepenz commented on #350
The error you show basically says that you have 2 MaterialDrawer libraries with different versions in your dependencies

[code]

should show you where

[2017-11-11 13:21] aminecmi commented on #350
@mikepenz I couldn't have two MaterialDrawer libraries at the same time, because I was updating the line of the older version.

Updating to support libraries 27 seamed to resolve the issue. Shouldn't it be added in the migration guide ?

[2017-11-11 13:23] mikepenz commented on #350
It is written in the changelog. Also the libs always try to stay on top of the support libs :)

But you can also just overwrite the used version with what you need:
https://github.com/mikepenz/AboutLibraries/blob/develop/app/build.gradle#L86

[2017-11-11 13:23] #350 closed

[2017-11-11 13:25] aminecmi commented on #350
It is said in the changelog, but I didn't know that I HAD to update my app too.

Thanks for the help.

[2017-11-11 13:26] mikepenz commented on #350
that's a general thing of the support libraries. They have to match.

as the linked thing. you can always just define which version to use

[2017-11-17 15:51] DaveMG3 opened #351 "java.lang.NoClassDefFoundError with V26"
Hi,
This issue might have already been raised but I cant find any references in search.
I guess the culprit is going to V26 and I follow the migration guide

`java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v4/animation/AnimatorCompatHelper;
                                                                            at com.mikepenz.itemanimators.BaseItemAnimator.resetAnimati

[2017-11-17 16:29] mikepenz commented on #351
@DaveMG3 you have to use the support libraries 27 with the `AboutLibraries` v6.x

In addition make sure the used `ItemAnimator` version is also up to date with the support libraries 27

[2017-11-17 17:07] DaveMG3 commented on #351
Ah ok... previously I was on 5.9.1 with V26 libraries and thus this issue.I upgraded to your latest release to check if error was gone, it means indeed to 6.0.0 which conduct also to same issue.
Is there a version  of AboutLibrary I can use with V26?tks

[2017-11-18 10:41] mikepenz commented on #351
You can use a resolution strategy to overwrite the version with whatever you like (as long as the API's I use are not different)

https://github.com/mikepenz/AboutLibraries/blob/develop/app/build.gradle#L85

[2017-11-18 10:41] #351 closed

[2017-11-30 10:52] dariobanfi opened #353 "Configure ProgressBar style"
I would like to configure the ProgressBar style and make it smaller.
I read the documentation and I didn't find any way to do that, from what I see here it's hardcoded to large style: https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/layout/listloader_opensource.xml (assuming that's the right file I'm looking at).

Is it possible in any way and if not, is a PR welcome?

[2017-11-30 11:08] mikepenz commented on #353
@dariobanfi if you want to adjust it. just copy paste this `layout` to your project and adjust it to your needs. Make sure it stays a `ProgressBar` and it's id is the same, but beside this you can adjust or style it to anything you need

[2017-11-30 11:13] dariobanfi commented on #353
Works like a charm, thanks!

[2017-11-30 11:13] #353 closed

[2017-12-07 15:19] Cilenco opened #354 "Exclude all support and play services libraries"
I would like to exclude all support and play services libraries from the about screen.
Is there a way to exclude them all at ones or do I have to do this for each library individually?

Or even better: Can I create a file with all libraries I would like to add? Then I do not have to keep the R references in my ProGuard rule.

[2017-12-07 16:31] mikepenz commented on #354
@Cilenco you can use the `exclude` function to pass in the identifiers of the support libs:

https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsBuilder.java#L120

To get them just look them up in the `definition files`

for example support-v4: https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/library_suppo

[2017-12-09 12:35] #354 closed

[2017-12-18 09:41] 10erlosh opened #355 "AndroidAnnotations not auto-detected"
Thank you for this grat library!

I'm using 6.0.1 of AboutLibraries and AndroidAnnotations does not seem to be auto-detected.

`    implementation 'org.androidannotations:androidannotations-api:4.4.0'
`

Am i missing something?
Thanks!

[2017-12-18 11:25] mikepenz commented on #355
@10erlosh the `androidannotations` definition file does not define a `Class` which can be checked for existence:

https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/library_androidannotations_strings.xml

Either open a PR to adjust this, or just use it's identifier so it shows up

[2017-12-18 11:45] 10erlosh commented on #355
how?

[2017-12-18 11:46] mikepenz commented on #355
As shown in the sample here:

https://github.com/mikepenz/AboutLibraries/blob/develop/app/src/main/java/com/mikepenz/aboutlibraries/sample/ExtendActivity.java#L19

it's id is. `androidannotations`

[2017-12-18 12:39] 10erlosh commented on #355
created a [PR](https://github.com/mikepenz/AboutLibraries/pull/356) (hopefully correct)

[2017-12-19 09:58] RJFares opened #357 "Add custom icon"
I'm using
`.withAboutIconShown(true)`

The icon loaded is not the variation of the logo that I want to use.
Can you add a fluent setter such as
`.withAboutCustomIcon(@DrawableRes int iconResource) `
or something similar?

[2017-12-19 10:08] mikepenz commented on #357
@RJFares no plans to do so :D but I am open for a PR if you love to see this feature ;)

[2017-12-31 11:53] #357 closed

[2017-12-31 11:54] mikepenz commented on #355
Oh sorry missed you PR. the classpath needs to point to a real java class. Sadly I can not detect a package name in java. it's only possible to check for the class.

[2018-01-02 19:37] nstajduhar opened #359 "Manually Adding a Library"
## About this issue

- I am trying to manually add a library that is not currently added to the repo. I was wondering if there is any way of adding it myself or will I have to go create the file and create a pull request for it?

[2018-01-02 20:53] mikepenz commented on #359
@nstajduhar just add the string resource file to your project and you are good to go.

[2018-01-03 12:57] nstajduhar commented on #359
Perfect Thank You! It Worked!

[2018-01-03 12:57] #359 closed

[2018-01-06 13:18] #355 closed

[2018-01-14 16:54] QuadTriangle opened #362 "use caching for building library info"
I am an android beginner, currently building a small application. It was very easy to use your library.
thank you for building such a great library.

I have found that every time I open 'about activity', it takes a small amount of time to load it. as it builds library info at runtime, it's okay. but I think you are not using caching at all.  isn't it possible to detect version info, build library

[2018-01-14 20:13] mikepenz commented on #362
@QuadTriangle so there is already a mechanism built in to use it via a shared preference, per version (so if you change version it will recheck) otherwise it will be used form the shared preferences.

In generell I anyways suggest to define the libraries manually (via their id) and disable the automatic detection. This will be the fastest as it does not need reflection and it will just use your li

[2018-01-15 11:35] QuadTriangle commented on #362
may be something wrong on my part
my code (with some xml definition):
[code]

I will get back to you after releasing my app.

[2018-01-15 11:37] mikepenz commented on #362
@QuadTriangle what'S the issue with this? no auto detect is done. that's correct. the adapter will load the libs via an async task to it is not blocking the ui, and when it's ready it will display (the async task in this case will finish quite fast, but still a tiny bit, just to not block the ui)

[2018-01-15 11:47] QuadTriangle commented on #362
it does not block theUI instead it shows a spinner. auto detection on and off doesn't make huge deference. it's same. If I enable auto detection it creates a file containing

[code]

so I think it spends most of the time collecting author names, licenses, website urls etc.

[2018-01-15 11:58] mikepenz commented on #362
well it is a async task. the android system defines . a lower priority for those, so it can take a short bit while until it is really starting the tasks.

For gathering the strings. I really love to have this done during compilation time as this would be the fastest, but I guess I'd need to wait for a PR for this. as I am currently really flooded with other libs.

[2018-01-15 12:20] QuadTriangle commented on #362
I guess it can be done using a plugin (like https://github.com/chaquo/chaquopy).  I am still fine with current version but compiles time information gathering will be better. I think I should close this issue and wait for a plugin.

[2018-01-15 12:20] #362 closed

[2018-01-25 02:38] EmmanuelMess opened #366 "Have direct button to header of license"
## About this issue

I notice no way to reliably obtain the license notice (what if the user cannot access the library's web page? Or there isn't a copy of the copyright notice there?).
For example, I am obligated by GNU GPL v4 section 4 (highlight added) to present a copy of the copyright notice:

receive it, in any medium, provided that you ***conspicuously*** and
appropriately publish on each c

[2018-01-25 09:08] mikepenz commented on #366
the library offers the license name + if the user clicks on it, it shows a popup with the license text

[2018-01-25 16:05] EmmanuelMess commented on #366
This is your own image:
<img src="https://raw.githubusercontent.com/mikepenz/AboutLibraries/master/DEV/screenshots/screenshot2_small.png" height="300"/>
Where is the license name? Did I miss something?

[2018-01-25 16:14] mikepenz commented on #366
@EmmanuelMess you can enable this: `.withLicenseShown(true)`

https://github.com/mikepenz/AboutLibraries/blob/develop/app/src/main/java/com/mikepenz/aboutlibraries/sample/FragmentActivity.java#L72

[2018-01-25 17:28] EmmanuelMess commented on #366
Thanks!

[2018-01-25 17:28] #366 closed

[2018-01-31 19:43] mueller-ma opened #369 "Translate descriptions?"
Hey,
Have you thought about making all strings except library_..._libraryDescription in the libary strings files non-translatable? And would you like to have the descriptions translated, maybe even use a web based translation system?

[2018-01-31 20:20] mikepenz commented on #369
I think it would cause quite some overhead. currently developer can translate it by using the strings. and have them translated in their app.

Also there are quite many files already. updating them all will be some work :D (well at least the approving part. changing to non translateable should be just a regex replace away :D)

[2018-01-31 20:26] mueller-ma commented on #369
It might cause some overhead in this libary, but one translation here is used in all apps using this libary. I use at least two apps with this libary and sending the same translation to both apps seems to me the larger work.

[2018-01-31 20:29] mikepenz commented on #369
I think with the current approach it will not be too good to have the translation in here.

we might have in the future a more advanced solution. like a web based translation system as you say. and a gradle plugin which will do more work during compilation time.

But that's not available right now. and I find no time to do it. perhaps some contributor at some time

[2018-02-01 15:45] wangpung12 commented on #369
ดีคับ

[2018-02-04 13:25] #369 closed

[2018-02-04 17:39] EmmanuelMess opened #370 "Add way to reload every lib from class (for debugging)"
Here (in the first line):

https://github.com/mikepenz/AboutLibraries/blob/34d3ce10330d22198702b60edb7951cd95fc5b95/library/src/main/java/com/mikepenz/aboutlibraries/Libs.java#L216-L232

Have an `|| isDebugging` to test new libraries even if the app version code hasn't changed.

[2018-02-04 17:42] EmmanuelMess opened #371 "Are you deleting the old SharedPrefs?"
Here:
https://github.com/mikepenz/AboutLibraries/blob/34d3ce10330d22198702b60edb7951cd95fc5b95/library/src/main/java/com/mikepenz/aboutlibraries/Libs.java#L204

You are saving a SharedPreference String for each app version, are you deleting old ones? If so where? If not, why not?

[2018-02-04 20:18] mikepenz commented on #371
@EmmanuelMess that never got implemented. As it is not too much of a size. But I would gladly take a PR to improve this ;)

Closing this. Feel free to open a PR if you wanna improve this ;)

[2018-02-04 20:18] #371 closed

[2018-02-04 20:28] #370 closed

[2018-02-06 10:16] masahiro-ikemoto opened #372 "Version 6.0.3 causes build error on LGPL2.1 document."
The error is:

[2018-02-06 10:17] mikepenz commented on #372
@masahiro-ikemoto I don't even have such a document in my library

[2018-02-06 10:17] mikepenz commented on #372
oh I do :D

[2018-02-06 10:17] mikepenz commented on #372
Sorry for the first comment. totally got confused with the other open source project :D

[2018-02-07 01:46] masahiro-ikemoto commented on #372
I found new version 6.0.4, but it seems that license_lgpl_2_1_strings.xml still includes apostrophe not preceded by backslash.

[2018-02-08 09:31] masahiro-ikemoto opened #373 "Version 6.0.3-6.0.4 causes build error on LGPL2.1 document (repost)."
I posted an issue #372, but Mike said 'Fix issues (which magically disappeared)' in releases page.
I've already add comment to Issue #372, but Mike might not see it?

So I'll repost issue, because I still have build error on version 6.0.4.

The error is:

[2018-02-08 09:37] mikepenz commented on #373
@masahiro-ikemoto oh my god. I guess the weird `caching` of the github homepage fooled me.

Sorry.

I'd definitely love to figure out where this is. As you can see I replaced all apostrophes, and surrounded it with a CDATA https://github.com/mikepenz/AboutLibraries/commit/f07cc0cca41404d98a3179d8156278e41be599e3

[2018-02-08 09:52] masahiro-ikemoto commented on #373
For example, the line 301 of
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/license_lgpl_2_1_strings.xml
have an apostrophe that not preceded by backslash.

`modification of the work for the customer's own use and reverse`

I think it shold be quoted like following:
`modification of the work for the customer\'s own use and reverse`

And there are many other alo

[2018-02-08 09:53] mikepenz commented on #373
yep found them :(. Too bad I was only looking for --> "
Sorry. Usually the build informed me when building it. Not really sure why it stopped :D

[2018-02-08 09:54] #373 closed

[2018-02-08 09:58] mikepenz commented on #373
@masahiro-ikemoto can you have a quick look at the changes :D just to be safe before I release a new version

[2018-02-08 09:59] masahiro-ikemoto commented on #373
I'll try it, wait a moment.

[2018-02-08 10:08] mikepenz commented on #373
@masahiro-ikemoto thank you. :) will do a release after that

[2018-02-08 10:27] masahiro-ikemoto commented on #373
I build latest repository clone, and replaced my ~/.gradle aar cache by created library-release.aar as a test.
Then, build of my app was succeed with no error, so all problems may have been fixed.

I wait for updating jcenter repository.
thanks a lot.

[2018-02-08 10:31] mikepenz commented on #373
Thanks for reporting :)

[2018-02-08 10:34] mikepenz commented on #372
Thanks again.

Will be fixed in v6.0.5

[2018-02-08 10:34] #372 closed

[2018-02-10 11:29] JohannesDev opened #374 "auto detecting libraries problem"
## About this issue

- A lot of libraries are not getting auto-detected although they are supported. I added the Proguard rules

and followed the wiki.

I'm using this library in a fragment but I guess this shouldn't make any difference when it comes to auto-detecting. BTW I'm also using kotlin but I assume this should neither make a difference.
[code]
I could add the libraries manually, just curi

[2018-02-10 21:10] mikepenz commented on #374
@JohannesDev kotlin actually could make a difference. Auto detection works by checking if a class which is well known is there in the app. if yes it will show up. Obfuscation or anything else which changes the possibility to detect via reflection will break it.

The recommended solution is anyways to define the libraries manually. as it is faster.
You can then also disable auto detection in genera

[2018-02-10 21:43] JohannesDev commented on #374
Well thanks for your quick answer. Makes a lot of sense. I will just add the libraries manually as you suggested.

Anyways thanks a lot for your awesome library.

[2018-02-10 21:44] #374 closed

[2018-03-05 22:31] nuhkoca opened #379 "Title style issue"
Hi Mike!

Thanks for the great lib!

So, in my project, I use the normal style for Toolbar title, but your lib seems to be bold. How do I convert it to the normal one? Thanks!

Or even better idea, how can I use a custom toolbar?

[2018-04-01 19:57] mikepenz commented on #379
@nuhkoca you can use the `ABoutLibraries` as fragment, and embed it in your activity. This will then just be the scrolling container and the rest is up to you ;)

https://github.com/mikepenz/AboutLibraries/blob/develop/app/src/main/java/com/mikepenz/aboutlibraries/sample/FragmentActivity.java

[2018-04-01 19:57] #379 closed

[2018-04-02 04:03] masahiro-ikemoto opened #382 "Version 6.0.7 apostrophe problem."
line 10 of [https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/library_jmdns.xml](url) has not escaped apostrophe, "with Apple's Bonjour".

[2018-04-02 04:56] mikepenz commented on #382
fixed it in v6.0.8. thank you very much

[2018-04-02 04:56] #382 closed

[2018-04-07 11:45] juanitobananas opened #383 "Crash on older Androids while starting LibsActivity with LibsBuilder (missing FLAG_ACTIVITY_NEW_TASK)"
## About this issue

The app crashes while trying to start the activity on older Android devices. It does *not* happen on Android 7.1 and onwards but definitely does on Android 5. What happens in between, I cannot tell.

Here is the code I use to run it:
[code]
And this is the logcat from the crash:
[code]
## Details
- Used library version: 6.0.8 (and 6.0.6)
- Used support library version: v7:27.1

[2018-04-13 06:05] juanitobananas commented on #383
Actually, I just realised that the most modern Android versions add the flag themselves:

[code]

So another option would be to just always add it instead of using the if I proposed in my previous comment.

[2018-04-13 15:06] Spettacolo83 opened #385 "Issue with different Flavor"
## About this issue

- I have problem using different flavors in build.gradle with different packages (applicationId):

[code]

- Create different flavors and you can see that in the non-default flavor there is not the libraries list.
Probably something wrong when package changes.

## Details
- [6.0.8] Used library version
- [26.0.2] Used support library version
- [3.0.1] Used gradle build tools v

[2018-04-13 15:30] mikepenz commented on #385
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/java/com/mikepenz/aboutlibraries/LibsBuilder.java#L83

[2018-04-13 15:31] mikepenz commented on #385
you have to call that method on your own then. (as the fields can not be auto resolved if the package does not match)

[2018-04-14 06:54] flocke opened #386 "Remove definitions for FABsMenu"
You can remove the included definitions for FABsMenu (https://github.com/jahirfiquitiva/FABsMenu) since it already includes the definitions in the library itself. As it is now I have two entries for it:

![](https://i.imgur.com/Pk0QUiM.png)

Btw. feel free to add my project andOTP (https://github.com/andOTP/andOTP) to the list of apps that use AboutLibraries.

[2018-04-14 21:01] mikepenz commented on #386
@flocke please open a PR :)

[2018-04-14 21:09] Spettacolo83 commented on #385
@mikepenz thank you very much for your quick reply.
May I ask you an example in order to understand which parameter needs to be passed as Field[] fields.
Thank you!

[2018-04-14 21:10] mikepenz commented on #385
as the javadoc says `R.string.class.getFields()` (with the `R` of your project)

[2018-04-14 21:24] flocke commented on #386
@mikepenz sure, will do.

[2018-04-16 15:26] Spettacolo83 commented on #385
I've just tested and it works like a charm!
Thank you very much for your help!
Great library, great support!

[2018-04-16 15:41] #385 closed

[2018-04-16 15:43] #386 closed

[2018-04-16 15:43] mikepenz commented on #386
thank you

[2018-04-18 14:46] burakozhan opened #388 "Libraries with MIT licence are not shown, although defined in AboutLibraries"
## About this issue

- Briefly describe the issue

Libraries that use MIT licence are not displayed in the list.

- How can the issue be reproduced / sample code

add following dependencies into your gradle file:
[code]

## Details
- [ 6.0.8 ] Used library version
- [ 27+ ] Used support library version
- [ Gradle 4.4 ] Used gradle build tools version
- [ 3.1.1 ] Used tooling / Android Studio versi

[2018-04-22 17:00] bkhall opened #389 "Theming not work/available for fragment"
The fragment returned from builder.supportFragment() does not respect builder.withActivityStyle(Libs.ActivityStyle.DARK).

I keep getting white cards with black text, when it should be dark grey cards with white text.

The cards look correct when calling builder.start(context), which returns an Activity instead of a fragment. In my case, I need to use a fragment.

[2018-04-22 17:15] bkhall commented on #389
Found #231

[2018-04-22 17:15] #389 closed

[2018-05-05 11:21] illuzor opened #391 "Manually added libs are not displaying in 6.0.7/6.0.8"
## About this issue

With 6.0.6 no problem.

![about_libs](https://user-images.githubusercontent.com/1530314/39662703-b66832e2-506e-11e8-94cc-ed25c48fd757.png)

My code:
[code]

My xml files - https://gist.github.com/illuzor/ab74263f6a89d9f0e726870c6b949d83

## Details
- [ 6.0.7/6.0.8] Used library version
- [ 27.1.1] Used support library version
- [ 4.5] Used gradle build tools version
- [ 3.1.2]

[2018-05-05 20:14] mikepenz commented on #391
remove the characters `int_` of the define.

like:
[code]
to
[code]

[2018-05-06 10:39] #391 closed

[2018-05-23 18:57] OmkarAmberkar opened #394 "Making LibsSupportFragment Android Navigation library friendly."
## Unable to use LibsSupportFragment via navigation graph.

- I tried using LibsSupportFragment directly into the navigation graph, the navigation was successful but since I had not passed in an instance of LibsBuilder, the adapter was not attached to recyclerview.
- Try using this in your navigation graph.
[code]

## Details
- [6.0.8] Used library version
- [28.0.0-alpha1] Used support library ve

[2018-05-23 20:41] mikepenz commented on #394
I am happy to take PRs to improve compatibility.

There are currently no plans to adjust this as the dependencies are not stable

[2018-05-27 09:56] roman-ku commented on #289
Thanks for adding the progress indicator feature!

[2018-05-31 19:48] csensen opened #395 "OutOfMemoryError"
Hi,

Crashlytics today caught the following error:
`Fatal Exception: java.lang.RuntimeException
An error occurred while executing doInBackground()
android.os.AsyncTask$3.done`

**Caused by java.lang.OutOfMemoryError
Failed to allocate a 28356 byte allocation with 19912 free bytes and 19KB until OOM**
com.mikepenz.aboutlibraries.Libs.insertVariables
`ava.lang.AbstractStringBuilder.enlargeBuffer (Ab

[2018-06-09 12:41] #383 closed

[2018-06-09 12:56] mikepenz commented on #388
@burakozhan tested and verified that at least the snackbar one works (the others may have no definition file available) .

Be aware that the ABoutLibraries caches the libs for one version to speed up loading. if you added them without changing verison they won't show up, clear app data, or adjust the version number :)

[2018-06-09 12:56] #388 closed

[2018-06-09 12:56] mikepenz commented on #394
Closing this as no action right now. If you'd like to open a PR. I am more than happy to check it out! :)

[2018-06-09 12:56] #394 closed

[2018-06-09 12:58] mikepenz commented on #395
@csensen the error looks like something else might consumed all the memory and the about libraries did not even have a tiny bit memory to replace a string.

I am pretty sure it is not related to this library as there were no other reports.

Please provide more details or more resources if it turns out to be related after all.

[2018-06-09 12:58] #395 closed

[2018-06-27 00:31] Kelvao opened #399 "Theme not changing"
## About this issue

When i use:
[code]
The theme does not change.

## Details
- [ x ] Used library version
- [ ] Used support library version
- [ ] Used gradle build tools version
- [ ] Used tooling / Android Studio version
- [ ] Other used libraries, potential conflicting libraries

## Checklist

- [x] Searched for [similar issues](https://github.com/mikepenz/AboutLibraries/issues)
- [x] Checked

[2018-07-06 04:03] Tezzeret1603 opened #402 "Not displayed on real machine"
## About this issue

- license information is not showing on real machine via Distributed APK file.
but ,debug mode on real machine is showing it.
(Icon is showing both)
There is no applicable error log and no warning log.

## Details
- [6.0.9 ] Used library version
- [27.1.1 ] Used support library version
- [3.1.3 ] Used gradle build tools version
- [3.1.3 ] Used tooling / Android Studio version

[2018-07-06 07:32] mikepenz commented on #402
Did you look at this: https://github.com/mikepenz/AboutLibraries#proguard

Also the auto detection might not work if the libraries are obfuscated as there is no way to detect them then. In this case you need to set them up by manually defining the ids of the libs you want to show

[2018-07-09 02:34] Tezzeret1603 commented on #402
Hi, solve it.
Thank you for your cooperation.

[2018-07-09 02:34] #402 closed

[2018-07-13 11:28] rfc2822 commented on #284
Have experienced this, too.

When using this fragment:

    1 -> LibsBuilder()
            .withAutoDetect(false)
            .withLicenseShown(true)
            .withLibraryComparator { o1, o2 ->
                val vip1 = vipLibraries.contains(o1.definedName)
                val vip2 = vipLibraries.contains(o2.definedName)
                if (vip1 == vip2)
                    o1.libraryName.comp

[2018-07-14 10:43] mikepenz commented on #399
You use a fragment and not the activity make sure your activity style has a proper theme and the proper theme values
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/styles.xml

[2018-07-14 10:43] #399 closed

[2018-07-14 10:46] #284 closed

[2018-07-16 06:39] jboxx opened #404 "Default Volley from google detected as Volley Plus"
## About this issue
I used `com.android.volley:volley:1.0.0` but it's detected as Volley Plus.

[code]

I though it's happen because of auto detect read that class
`<string name="library_volleyplus_classPath">com.android.volley.RequestQueue</string>`
Volley from Google used that class too and have same classpath
Volley Plus should detecting this classpath `com.android.volley.toolbox.Volley` or `co

[2018-07-16 07:07] mikepenz commented on #404
they most likely share the same classpath :/
https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/library_volleyplus_strings.xml#L17

any sourcefile which is not existing in volley from google but in volleyplus which can be used to identify?

[2018-07-17 16:41] joanpuigsanz opened #405 "withLibraries method not working"
## About this issue

I'm using Proguard and the lAboutLibraries only detects AboutLibraries, Android-Iconrics, Constraint Layou and FastAdapter, so I decided to use the ```withLibraries ``` to show the rest of the libraries. The problem is that the activity is not showing the specified libraries. Here is the code I use (Kotlin)

[code]

I've actually compiled and run the test app and I don't see t

[2018-07-17 17:00] mikepenz commented on #405
[code]

you somehow missed to add '"'  :D

try:

[code]

[2018-07-17 17:52] joanpuigsanz commented on #405
I've tried an I still have the same problem. I think you can try it using the ```CustomSortActivity``` in your test app, actually the following code is from there:

[code]

[2018-07-22 12:05] #404 closed

[2018-07-22 12:05] #405 closed

[2018-07-22 12:05] mikepenz commented on #405
Published an update to fix this problem.

Thank you very much

[2018-08-01 19:19] Kelvao opened #406 "Transition Animation"
Its possible change transition animation in intent from about activity?

[2018-08-02 08:34] skauss opened #407 "Is it possible to add additional license to the result ?"
Hi,
I have the requirement to add additional licenses into the output.

For example we use Lottie animation  (which are third party json resource's) with this license
https://www.lottiefiles.com/license https://creativecommons.org/licenses/by/4.0/

Is it possible to to add this information in an external file and the them to the output.
Regards
Stephan

[2018-08-02 08:55] mikepenz commented on #407
Licenses are defined similar to this one: https://github.com/mikepenz/AboutLibraries/blob/develop/library/src/main/res/values/licence_cc40_strings.xml

You can create a new strings resource file with that license from lottie, ensure you have a identifier for it (the above linked file uses 'cc40' as identifier)

and then you can use it similar to this library (which uses cc30 (as no lib uses cc40))

[2018-08-02 11:33] skauss commented on #407
Thanks

[2018-08-02 11:33] #407 closed

[2018-08-07 19:37] ccomeaux opened #408 "Narrate displaying with PhotoView"
## About this issue

When the PhotoView library (https://github.com/chrisbanes/PhotoView) is included as a dependency, the Narrate app (https://github.com/timothymiko/narrate-android) is displayed in the list of open source licenses. The issue appears to be an invalid class path at https://github.com/mikepenz/AboutLibraries/blob/bb4b3e7f2edbce7d2134d78e65e3651d910b61ce/library/src/main/res/values/

[2018-08-07 19:47] mikepenz commented on #408
Oh thank you very much. could you please open a PR?

[2018-08-08 01:29] ccomeaux commented on #408
I can, but it may be a while before I can get to it. I think the class path for PhotoView is incorrect - I believe it should be `com.github.chrisbanes.photoview.PhotoView`.