[2021-10-15 14:00] mikepenz commented on #678
It depends on how you configure the library.

You have the option to choose from showing a dialog, vs loading the website:
https://github.com/mikepenz/AboutLibraries/blob/develop/aboutlibraries/src/main/java/com/mikepenz/aboutlibraries/LibsBuilder.kt#L225

[2021-10-15 14:24] #678 closed

[2021-10-22 06:49] TomasRiker opened #681 "Can't set license owner and license year for custom library"
I included various custom libraries, but I can't manage to get their license to show anything other than "YEAR, OWNER".
I tried setting the strings `library_*_owner`, `library_*_year` and I also tried with the files `custom_license_year_mappings.prop` and `custom_author_mappings.prop` - still no luck, the license text never changes.
How to do this properly?

[2021-10-22 06:55] #681 closed, assigned to nobody

[2021-10-25 09:30] kiranshaw-qi opened #683 "[Android]Unable to add toolbar background color in case of Activity"
## About this issue

- I am using the activity provided by this repo. And I want to add a toolbar background color as currently it is white in color.
**.withActivityStyle(Libs.ActivityStyle.LIGHT_DARK_TOOLBAR) not working.**  taken from [here](https://github.com/mikepenz/AboutLibraries/issues/508).
Mycode:.
`  binding?.ossLayout?.setOnClickListener {
           LibsBuilder()
               .withAc

[2021-10-25 12:48] #683 closed, assigned to mikepenz

[2021-10-25 13:48] adrianlandborn opened #684 "Jetpack Compose UI?"
## About this issue

- Briefly describe the issue
The current app I am working on is built completely with **Jetpack Compose** UI components. Is there a plan to implement the Licenses UI with Compose? The reason for this would be to rely in Design tokens (theme, fonts, colors) from the Compose Theming functionality.

## Details
- [ 8.9.4] Used library version
- [ ] Used support library version
- [

[2021-10-31 11:09] mikepenz commented on #674
#675 is superseded by: https://github.com/mikepenz/AboutLibraries/pull/685

Published as v10.0.0-a01, happy to get early feedback :)

[2021-10-31 11:09] mikepenz commented on #684
v10.0.0-a01 was just pushed with an early compose module and a fully reworked plugin.

Happy to get some early feedback: https://github.com/mikepenz/AboutLibraries/pull/685

[2021-10-31 11:11] mikepenz commented on #520
v10.x.y is now in the works. I'd love to collect some early feedback on it, and potentially see which options we either have in the plugin to cover such situations.

But ultimately v10 has a larger focus on compose whereas the raw `libraries` are passed, as such any filtering / mapping / ... as needed can be done :)

Closing this one, please report any suggestions in the v10 PR :)

Thank you very

[2021-10-31 11:11] #520 closed

[2021-11-03 01:48] cdsap opened #686 "Failed to apply plugin android library when using 9.0.0.a03"
Hi, thanks for the plugin
## About this issue
I'm testing the new alpha version to get compatibility on Configuration Cache. I see something strange because I was testing in different environments, and locally was working ok, but when I execute in CI containers I get this error:
[code]
extending the stacktrace I noticed:
[code]
https://github.com/mikepenz/AboutLibraries/blob/480781f001c4ec1af24a6a

[2021-11-03 07:02] mikepenz commented on #686
@cdsap thank you very much for the report. Any differences in which command is executed possibly running into this?

Any differences in gradle local vs on CI?

[2021-11-05 16:56] mikepenz commented on #686
Could you please try again with `v10.0.0-a02`

[2021-11-05 19:48] leinardi commented on #684
Hi, I'm trying to test `v10.0.0-a02` on a Compose only project, but I can't find the `LibrariesContainer`. I'm using the artifact `com.mikepenz:aboutlibraries`, should I add something else?

[2021-11-05 19:52] mikepenz commented on #684
@leinardi you can find the new artifact with the "-compose" artifact id: https://github.com/mikepenz/AboutLibraries/pull/685/files#diff-fed24da941cbe1f924c94a8ddedaeef146bdfcf9d886bc6795dbdd57843754e4

[2021-11-05 19:55] leinardi commented on #684
Thanks!
I managed to get it to work, but I had to use the previous version, `10.0.0-a01`, because the dependency can't be solved when I use `com.mikepenz:aboutlibraries-compose:10.0.0-a02`.

![image](https://user-images.githubusercontent.com/273338/140570612-3859f088-4331-40ba-bbb8-c1076c35a414.png)

[2021-11-05 19:59] leinardi commented on #684
I just added a comment on the PR about the use of the default package (was it on purpose?):
https://github.com/mikepenz/AboutLibraries/pull/685/files#r743941700

[2021-11-05 20:27] mikepenz commented on #684
Sorry, forgot to `release` the sonatype repo before, did so now. so it should become available via maven central in the next 60 minutes.

Todays update mainly contained the version updates of compose, and improvements in the gradle plugin. Including strategies to handle situations where multiple artifacts of a single dependency exist. (E.g. aboutlibraries-core, aboutlibraries, ..)

[2021-11-06 00:55] cdsap commented on #686
HI Mike, tested again with:
<img width="452" alt="Screen Shot 2021-11-05 at 5 26 23 PM" src="https://user-images.githubusercontent.com/475733/140591490-cd033ff6-314d-4420-8240-d1e1dc3a5bc6.png">

The build is failing with the same error. I followed the stacktrace and something that called my attention is the original script that triggers the error is:
`
internal-appstore-services/xiaomi/build.grad

[2021-11-06 06:55] mikepenz commented on #686
Thank you for providing the additional log @cdsap
I'll add a flag to disable the registration during the android steps, and offer an alternative to do it manually. So it can be identified if it's during the dependency retrieval or the export step.

[2021-11-06 10:14] mikepenz commented on #686
@cdsap currently releasing v10.0.0-a03, if you could please try and see when doing the generation manually if it is also resulting in the same problem?

https://github.com/mikepenz/AboutLibraries/pull/685/commits/88870d6c8f7a6f2fee29836a2e7ac665d9d3da19#diff-51a0b488f963eb0be6c6599bf5df497313877cf5bdff3950807373912ac1cdc9R86-R89

(will take around ~60 mins to be available on maven central)

[2021-11-06 10:15] mikepenz commented on #684
@leinardi currently releasing v10.0.0-a03 with the adjustments as you had noted, including a fix to the package name.
If you could please check it out

(will take around ~60 mins to be available on maven central)

[2021-11-06 10:16] leinardi commented on #684
@mikepenz sure!

[2021-11-06 12:07] leinardi commented on #684
@mikepenz just tested, everything seems fine :+1:
![image](https://user-images.githubusercontent.com/273338/140608794-09d7d5ab-9a88-494f-b009-6bbe8bb0f43b.png)

There seems to be some issue with the the source code bundled with the library, it is not showing automatically and the on decompiled code is shown instead:
![image](https://user-images.githubusercontent.com/273338/140608870-1929acc2-2b4e-

[2021-11-06 13:12] mikepenz commented on #684
that may be due to the kotlin multiplatform module or such. thank you.
Thank you for testing.

[2021-11-06 20:29] mikepenz commented on #684
v10.0.0-a04 the first version with compose-desktop and compose on Android support.

The plugin is functional for any target and works for all gradle projects. The `core` module being fully compatible with kotlin multiplatform.

https://github.com/mikepenz/AboutLibraries/pull/685#issuecomment-962505578

[2021-11-08 18:19] cdsap commented on #686
Hi Mike, tried again and same error. If I have more time later I will try to set a test repo and see if easy to reproduce there

[2021-11-08 18:27] mikepenz commented on #686
Does it also fail if you configure: https://github.com/mikepenz/AboutLibraries/pull/685/files#diff-51a0b488f963eb0be6c6599bf5df497313877cf5bdff3950807373912ac1cdc9R85-R88

[code]

Which was added in a04?

[2021-11-08 23:01] fuomag9 commented on #684
Can anybody guide me on how to add a custom entry? The current examples are not very clear and they do not seem to work

For example, where would I need to put this?
[code]

[2021-11-08 23:35] cdsap commented on #686
🎉 using a04 and `registerAndroidTasks=false` works!

[2021-11-09 07:05] mikepenz commented on #686
Awesome. so this is surely at least a work around. Maybe even the preferred approach for enterprises, as it allows to write the generated file into a location which can be checked in. so the action won't run during compilation (on changes) for devs on the team.

Thank you for trying it out.

Still wondering though what can be done to handle this with the action being registered as part of the andr

[2021-11-09 07:07] mikepenz commented on #684
@fuomag9 I believe your comment is off-topic to this ticket. It would require more information like which used version of the library. v10 will significantly change and simplify adding additional libraries manually.
Please consider opening a separate issue, with additional information

[2021-11-09 11:58] fuomag9 opened #687 "How to add a custom license entry in aboutlibraries-compose"
## About this issue

Can anybody guide me on how to add a custom entry in `aboutlibraries-compose`? The current examples are not very clear and they do not seem to work

For example, where would I need to put this?

[code]

## Details
- [x] Used library version `com.mikepenz:aboutlibraries-compose:10.0.0-a04`
- [ ] Used support library version
- [x] Used gradle build tools version `default version

[2021-11-09 13:11] mikepenz commented on #687
@fuomag9

----
Disclaimer:

-----

if you want to add additional custom libraries to be included when generating the data via the gradle plugin there is now a simplified approach.

Configure the `config` path in the gradle plugin. E.g. in the sample app `config`.

https://github.com/mikepenz/AboutLibraries/blob/feature/remote_licenses/app/build.gradle#L90-L91
(the folder is relative to the root of

[2021-11-09 13:30] fuomag9 commented on #687
Thank you, this worked!

[2021-11-09 13:30] #687 closed

[2021-11-09 13:32] mikepenz commented on #687
Documentation and references in the repo will soon be updated when we reach beta stage of this new release.

Thank you for being an early tester, please report back in the v10 ticket with input to make v10 even better

[2021-11-12 14:34] mikepenz opened #688 "v10 Feedback"
v10 is the brand new and major upgrade to AboutLibraries. It comes with a whole new data structure, a kotlin multiplatform core, and a new kotlin multiplatform compose (desktop / android) module.

Significantly simplified and cleaned up code base.

Use the plugin to generate the dependency information
- automatically for android builds -> always new information
- partially automatic for all gradle

[2021-11-12 14:34] mikepenz commented on #686
As handled in https://github.com/mikepenz/AboutLibraries/pull/685

[2021-11-12 14:34] #686 closed

[2021-11-12 14:34] mikepenz commented on #684
Will be part of https://github.com/mikepenz/AboutLibraries/pull/685

Please also provide feedback in the big v10 ticket: https://github.com/mikepenz/AboutLibraries/issues/688

[2021-11-12 14:35] #684 closed

[2021-11-21 12:43] mikepenz commented on #674
v10 is new available as a first beta with the ability to fetch the licenses from GitHub which would include the right year.

[2021-11-21 12:43] #674 closed

[2021-12-07 23:18] mibac138 commented on #688
I've got a `StackOverflowError` with `10.0.0-b03` that wasn't present with `8.9.4`. Code: https://github.com/wulkanowy/wulkanowy
[code]

[2021-12-08 14:08] mikepenz commented on #688
@mibac138 thank you very much. looks to be happening somewhere within gradle. I'll have a look. Thanks for providing the repo, that will be super helpful. Is there a branch where you tried it? or just changed the about libs version

[2021-12-15 10:00] mikepenz commented on #688
@mibac138 it seems something is strange with `maven { url "https://developer.huawei.com/repo/" }` causing problems.
If I remove this repository it will build properly, but as soon as I add it back it somehow causes an issue within gradle.
It seems to be more of a gradle problem :/

[2021-12-22 10:11] mikepenz commented on #688
Thank you very much @zoltish

[2021-12-27 23:42] ViliusSutkus89 commented on #471
I had the same problem. Have a library with 25 native dependencies that I build from source along the main library. Initially I stuffed my POM license URL entry with copyright texts from my dependencies. It works with play-services-oss-licenses, but alternative implementations ignore my workaround.

I cannot do `define_plu` or do other similar methods because most of them are done when building th

[2021-12-29 14:48] mbiebl opened #706 "license information is not correctly shown"
Version: 8.9.4

In one of my projects, I include a third party library via a git submodule and wanted to add its library information to the about dialog. For that I created app/src/main/res/values/about_libraries.xml, containing
[code]
In app/build.gradle, I added
[code]
The resulting about info activity looks like this:
![Screenshot_1640788425](https://user-images.githubusercontent.com/3609611/14

[2021-12-29 15:58] mikepenz commented on #706
@mbiebl while this may be by a bit easier now with v10. I understand that it may not be an option right now as it will use Material 3 and is a pre-release library.

On a first look things look good what you did.

I doubt it is working if you use:

[code]
either?

Do you see the `gpl` license being properly kept in the generated files for your app? Did you also ensure and try a clean build?

[2021-12-29 16:23] mbiebl commented on #706
Yeah, unfortunately that is not really an option atm, so I would prefer if we can find a fix for 8.x

I tried that, but this didn't help.

I usually do a clean rebuild (tried even git clean -xdf), but that didn't make a difference.

Looking at the generated .apk, I see
![image](https://user-images.githubusercontent.com/3609611/147682834-7a16fa9b-6107-4052-a8e3-137f6d170c78.png)

So no gpl_3_0.txt

[2021-12-29 16:25] mbiebl commented on #706
I analyzed an older version of my app (from May 2020), where this still worked and I see

![image](https://user-images.githubusercontent.com/3609611/147683085-fc8359b7-21e6-4f33-843a-44e08e14ea12.png)

[2021-12-29 16:32] mbiebl commented on #706
[code]

[2021-12-29 16:34] mbiebl commented on #706
Tapping on library using e.g. BSD-3-Clause or BSD-2-Clause opens the website instead of showing the license text directly.

[2021-12-30 19:01] mikepenz commented on #706
Thank you for the additional details.

So it really looks like something with the `additionalLicenses` config is off.

[2021-12-30 19:03] mbiebl commented on #706
"config" meaning something I didn't configure correctly?

[2021-12-30 19:05] mikepenz commented on #706
I will look into it, sorry that I wasn't responding faster, but due to the end of the year trying to take a short break from programming as a mental refresh :)

Sorry for any inconvenience

[2021-12-30 19:10] mbiebl commented on #706
Oh, don't worry, and sorry if I come across too pushy, this wasn't my intention. There is absolutely no hurry.

[2021-12-30 20:37] mikepenz commented on #706
Oh I believe I see the problem. Most likely it's because the licenses SPDX identifier is called different:

https://github.com/mikepenz/AboutLibraries/blob/v8.9.4/plugin-build/plugin/src/main/kotlin/com/mikepenz/aboutlibraries/plugin/mapping/License.kt#L172-L173

(And the SPDX identifier is the one used to manually keep a license)

https://github.com/mikepenz/AboutLibraries/blob/v8.9.4/plugin-buil

[2021-12-31 08:08] mbiebl commented on #706
Thanks for the hint!

[code]
With this change, I get a proper license string and tapping on the license opens the spdx.org website.
While the spdx.org website is apparenly not really designed for mobile devices and a bit hard to read due to the tiny fonts, what I have now works good enough I'd say.
I'm a bit undecided, whether it's better to embed the license files or if simply referring to the sp

[2021-12-31 11:27] mikepenz commented on #706
Glad it is working for you now.

Relevant on this note. 10.x will include a copy of the license text locally, but even go one step further by pulling (if configured) the original license file from GitHub if the project is hosted there.

The current approach for licenses (with the custom copy of them within the repo) is dropped with 10.x, so in the future that won't be applicable anymore.

With v10

[2021-12-31 11:27] #706 closed

[2021-12-31 11:36] mbiebl commented on #706
Nod, makes sense. Thanks for the heads up.

Yeah, what I have now works fine enough.

Again, thanks a lot for your help.

[2022-01-01 15:52] Berki2021 commented on #688
I wanted to migrate to v10, but with this version, it seems we cannot add manual libraries? How exaclty can I migrate the following code?

[code]

[2022-01-03 07:34] mikepenz commented on #688
@Berki2021 v10 puts much more focus on the `plugin` and `core` functionality by already offering adjustment options on those API levels.

The UI module which in the past had a lot of those modifications APIs lost those functionalities in favour of the API improvements compose will bring.

As for compose you can pass in the libraries directly, normal Kotlin methods to modify the dataset should be u

[2022-01-06 10:12] AlinaPohl opened #707 "IllegalStateException: Please provide the data via the provided APIs"
## About this issue

Hey, I wrote an android module in compose, which implements this very cool library. In there I just call the LibrariesContainer like:

[code]

Everything works fine until I export my library and import it into another project. Then I get this error:

[code]

For the Export/Import a maven artifact is built and zipped and the zip goes in root/libs/name-of-lib/name-of-lib.zip. In

[2022-01-06 10:21] mikepenz commented on #707
The `compose` module for `Android` targets uses the `context` from Android to trigger the retrieval of the generated data by the plugin:

https://github.com/mikepenz/AboutLibraries/blob/develop/aboutlibraries-compose/src/androidMain/kotlin/com/mikepenz/aboutlibraries/ui/compose/Libraries.kt#L46-L49

`withContext(context)`

This is implemented in the `core` module for `Android` targets like: https:

[2022-01-06 10:26] AlinaPohl commented on #707
Ah yes, I got this in the log.

No it doesn't.

[2022-01-06 10:36] mikepenz commented on #707
@AlinaPohl that's the problem.

The `AboutLibraries` library uses the `aboutlibraries` raw resource file generated by the plugin to display the included libraries.

Could you maybe explain more on your usecase? Which dependencies do you want to display in this case?
Is there a reason for not having the `aboutlibraries` raw resource file generated by the plugin?

[2022-01-06 10:51] AlinaPohl commented on #707
Whoops, yeah right. I just totally forgot to generate this file 🤦‍♀️ It's working now, thanks a lot 👍
In general I need to display all dependencies used from the host app and of course also from the module.

[2022-01-06 10:51] #707 closed

[2022-01-06 11:27] mikepenz commented on #707
@AlinaPohl if you have the plugin in the host app that should properly resolve all transitive dependencies :)

Please let me know if there are further questions.

I'll write myself a note to expand on the error message to hopefully better assist.

[2022-01-12 23:44] ts65 commented on #688
I'm not sure this is the right place and I haven't really looked at this new version yet (sorry. One thing I would like is to be more flexible with the design/library items, the previous and current UI seem to be locked to either LibraryItem or SimpleLibraryItem implementations (with the aboutMinimalDesign property of the LibsBuilder). Would you consider something like defining an interface for li

[2022-01-13 07:00] mikepenz commented on #688
Thank you very much for the feedback @ts65

A core push from v10 is, to mark the old view based UI as legacy (and slowly phase it out over time) and offer a new experience via a compose based UI.

While this does not yet directly solve your concern, it does offer the benefits Compose brings.
The `composeables` will be significantly more lightweight, as such it's gonna be simpler to just replace th

[2022-01-25 23:10] znakeeye opened #713 "Allowed license reported as not allowed when merging"
Thanks for a fantastic library!

## About this issue
Using `10.0.0-b08`. I want to set strict mode. However, for `glide 4.12.0` the license is interpreted as "Other", producing an error. So I thought about merging the correct license information. That, however, gives a similar error for `BSD-2-Clause` - which is indeed **allowed**! What am I doing wrong?

## build.gradle

[code]

## config/librari

[2022-01-26 00:35] znakeeye commented on #713
It seems these URLs point to the same page:
[code]

Could that cause some confusion for the library?

[2022-01-26 00:40] znakeeye commented on #713
Adding `'Simplified BSD License'` to `allowedLicenses` did the trick.

Still a bit confused though. Shouldn't the `spdxId` be used?

[2022-01-26 01:16] znakeeye commented on #688
Would be nice to be able to customize the name of the `aboutlibraries.json` resource. In my case, the licenses come from different assets, so `licenses.json` would be more correct.

[2022-01-26 01:40] znakeeye opened #714 "Using wildcards in hash"
## About this issue
I want to strip the generated `aboutlibraries.json` before it lands in the `res/raw` folder of the APK. I don't want to bloat the APK with descriptions etc from hundreds of `androidx` libraries. So the apparent solution is to create a `lib_merge_androidx_XYZ.json` for all libraries... which will take the whole week.

The docs state that if `uniqueId` **overlaps** a merge will o

[2022-01-26 07:07] mikepenz commented on #714
@znakeeye that's an interesting point.

Right now it will only merge for exact matches, and add if no overlap occurs. I like the idea though of potentially allowing a more flexible merge strategy for usecases like this or for example the need to add a website for a set of libs.

But beyond that, I will think of an API to possibly strip fields you won't display generally from the generated informat

[2022-01-26 07:14] mikepenz commented on #713
Just checked the details of the glide library. they define `Simplified BSD License` as their license:
[code]

The plugin looks to match for `spdxId`s which would be `BSD-2-Clause`.

So it fails to cross reference the correct license.
There's already special handling in case to check for the url you highlighted above, but not for the other variant:

https://github.com/mikepenz/AboutLibraries/blob/d

[2022-01-26 08:14] znakeeye commented on #714
That would be awesome! E.g. `excludedAttributes = [ 'description' ]`

Good idea. Would it be possible to somehow intercept the "write final json" task using `gradle` magic?

[2022-01-26 08:18] znakeeye commented on #714
Also, it would be nice to add be able to add *extra* attributes. Like a classification. That way, you could for instance have different colors for `library`, `font`, `graphics` etc. Dependencies from `pom.xml` should have `type: "library"` and then, for custom dependencies, you could specify another type.

[2022-01-26 08:21] mikepenz commented on #714
Theoretically the following would be doable:

Disable the android task registration for the plugin:
[code]

After that you could register a custom task which will call the export task (below is just the direct cli code for reference):

[code]

That custom task would run the exporting as `dependsOn` for example, and then you modify the resulting file.

You could also just do it manually, if things

[2022-01-26 12:41] znakeeye opened #715 "Add classification (MIME?) for different types of dependencies"
It would be nice to have a classification for each "library".

## Motivation
* **For a custom UI** you might want to customize the look'n'feel of licensed items. E.g. a `library` could have a different color than a `font`.
* **During an audit** it could be helpful to search for specific types of licenses. If you are interested in the license of a PNG image, you would simply look for `mime: "image/

[2022-01-27 20:42] znakeeye commented on #713
Actually, this issue keeps popping up. I ended up not using any customized `json` files for `glide`, since it started working when I added "Simplified BSD License" to `allowedLicenses`. But now it's back.

1. Clean project
2. Rebuild (release)

I believe you should see this issue if you simply include glide in your app.

[2022-01-28 17:57] mikepenz commented on #713
@znakeeye one of the tricky parts is that you have

`fetchRemoteLicense` enabled, as such it pulls the license from GitHub https://raw.githubusercontent.com/bumptech/glide/master/LICENSE which can't be associated automatically to SPDX licenses.

The reason why you see inconsistent behavior with the fetching of remote license is, that it looks you are not providing a token: `gitHubApiToken = getLoc

[2022-01-28 18:04] mikepenz commented on #713
A partial "insecure" workaround could be to allow `noassertion` which is the SDPXId returned by the GitHub license API for this repo

[2022-01-28 18:27] mikepenz commented on #713
As you can see glide has the 2 resolved from the POM, and the `other` as returned from GitHub.

<img width="939" alt="Screenshot 2022-01-28 at 19 26 45" src="https://user-images.githubusercontent.com/1476232/151601549-2dd6e951-62d5-474d-9c07-08b675d64c31.png">

[2022-01-28 18:33] mikepenz commented on #713
I think I have an acceptable solution for such cases. Allow to provide the `url` for such special cases via the allowed licenses, as such it's an agreement that the allowance is a well understood decision.

[code]

[2022-01-28 19:24] #713 closed

[2022-01-28 19:29] mikepenz commented on #714
@znakeeye there will be a wildcard feature, could you regardless please open a ticket with the proposal on stripping specific fields from the information?

[2022-01-28 19:37] #714 closed

[2022-01-28 22:34] znakeeye opened #721 "Why does aboutlibraries-core require minSdkVersion 21?"
Why does `aboutlibraries-core` require `minSdkVersion 21`? Any new fancy APIs needed? I'm still stuck on 19 (just like most Google libraries out there), so I cannot use the library :(

[code]

[2022-01-29 10:41] mikepenz commented on #721
@znakeeye I'll have a look, possibly the min sdk version for `core` can be lower.
During the beta, it was mainly due to simplicity, as the ui modules match the same min requirement.
Due to compose being 21+ though the UI modules won't get a lower API version.

[2022-01-29 10:49] mikepenz commented on #715
Thank you @znakeeye for the proposal. after further thoughts on this, I believe `mimeType` will be miss leading. But I'll add a generic `tag` which can be used for anything like this.

This will fit not only this usecase but any other usecase people may come up with.

[2022-01-29 11:11] #715 closed

[2022-01-29 11:11] mikepenz opened #724 "Exclude fields from plugin library meta data output"
## About this issue

- offer new API which allows to exclude specific fields from being included in the meta data json

[2022-01-29 11:13] znakeeye commented on #715
I agree. Will the tag be `null` for libraries then?

[2022-01-29 11:15] znakeeye commented on #721
Perfect. Could you please create a new release soon. This is stopping me from integrating with the lib 🙁

[2022-01-29 11:16] mikepenz commented on #715
Correct.

On Sat, Jan 29, 2022, 12:13 PM znakeeye ***@***.***> wrote:

[2022-01-29 11:21] znakeeye opened #725 "Trim license before duplicate check"
I noticed that Apache 2.0 license sometimes begins with a newline character, sometimes not. This implies two 99.999% equal licenses in the output.

I believe you could trim whitespaces when performing the check for duplicates.

[2022-01-29 12:58] #721 closed

[2022-01-29 14:00] #724 closed

[2022-01-29 14:48] #725 closed

[2022-01-29 14:51] znakeeye commented on #725
This ought to be a new Github PR record. Three hours from issue report to PR merged 👍

[2022-01-29 14:52] mikepenz commented on #725
@znakeeye :D I think I did achieve 15 minutes once, but for a different library.

Triggered a release build. It will take around 1-2 hours until all things are synced with maven central after the build succeeded.

[2022-01-29 14:56] mikepenz commented on #688
@znakeeye v10.0.0-b09 will include a new API which allows you to modify the output filename.

[2022-01-29 20:06] znakeeye commented on #725
It looks to be ready now (?), but I keep getting an error when building.

**build.gradle**
[code]

**Error:**
[code]

What am I missing?

[2022-01-29 22:18] mikepenz commented on #725
@znakeeye still not available?

Should be up on maven central: https://search.maven.org/artifact/com.mikepenz/aboutlibraries-core/10.0.0-b09/

[2022-01-29 22:20] znakeeye commented on #725
Will retry in an hour. Will it work in a Java project?

[2022-01-29 23:19] mikepenz commented on #725
The core module is a plain jar with a different variant for Android with different apis specific for Android

[2022-01-29 23:26] znakeeye commented on #725
I keep getting that error. Are you able to get it working?  For the core lib, `mavenCentral()` should be enough, right?

[2022-01-30 08:25] mikepenz commented on #725
<img width="405" alt="Screenshot 2022-01-30 at 09 19 53" src="https://user-images.githubusercontent.com/1476232/151692200-e126cb45-81df-47b0-9b3d-d96d3e2011d4.png">

10.0.0-b09 loads just fine for me in an Android Application I have.

Tried it in a desktop app with the same `implementation` clause as you which worked fine too:
https://github.com/mikepenz/storyblok-mp-SDK-blog/commit/3719ac93c04759

[2022-01-30 12:17] znakeeye commented on #725
I don't get it. Could it be that the core library cannot be consumed by a `Java` project? I keep getting this warning:

![image](https://user-images.githubusercontent.com/958469/151699169-33ca364b-98a0-4ad7-ae8c-cda10d1c98e7.png)

Tried cleaning the cache and restarted the computer etc. Same error. And if I ignore it, the auto-completion will indeed make me aware of the missing library:

![image](

[2022-01-30 12:25] mikepenz commented on #725
Could you possibly create a sample app so I can reproduce it?

The core library should be found in java. Some Apis may not be fully
useable but the issue seems that your build already doesn't find the jar
which is strange.

On Sun, Jan 30, 2022, 1:18 PM znakeeye ***@***.***> wrote:

[2022-01-30 12:30] znakeeye commented on #725
Just create a new project in Android Studio, choose `Basic Activity`. Add `implementation 'com.mikepenz:aboutlibraries-core:10.0.0-b09'` and sync/compile. Same warning.

[2022-01-30 13:41] mikepenz commented on #725
Are you really certain the maven central repository is available?

[2022-01-30 13:58] znakeeye commented on #725
How can I check that? Never encountered a similar problem.

[2022-01-30 16:23] znakeeye commented on #725
So insanely frustrating... 😛 Are you able to get a simple sample project working with the core lib reference? With Bumblebee? Please show me 😛

[2022-01-31 08:05] mikepenz commented on #725
@znakeeye no idea. looks like this is behaviour of kotlin multiplatform.  Have not found real answers to a solution, or to this being the case.

Seems this is something out of my control, and you'll have to apply the kotlin plugin.

Tried it with a plain java project as you noted.

[2022-02-14 15:39] kliment-jonceski opened #732 "Changing applicationID is not compatible with the plugin"
## About this issue

- We're facing an issue when for our production app we have a different flavor (prod), where we overwrite the application id. Our package name structure is for example (com.main.app), but for production our applicationId is com.prod.app, where the plugin tries to get the class com.prod.app.R$string which is not existing at all. Can you make this somehow configurable?
- How can

[2022-02-14 16:24] mikepenz commented on #732
Hello @kliment-jonceski

In case you need to provide the fields instead you can use the `withFields` API for the builder, which is showcased here: https://github.com/mikepenz/AboutLibraries/tree/v8.9.4#fragment

With this you can directly provide the fields instead of the library relying on reflection.

[2022-02-15 10:25] kliment-jonceski commented on #732
Thanks @mikepenz, It seems that we missed that one.

[2022-02-15 10:25] #732 closed

[2022-02-15 11:03] mikepenz commented on #732
No worries.

V10 is meant to significantly simplify the complexity around these apis.

And it hit rc01. So maybe it's time 😃

[2022-02-23 08:42] leinardi commented on #688
Hi @mikepenz, first of all thanks for the great work you did on this library :)

I just have a small suggestion for the UI of the Compose version:
![image](https://user-images.githubusercontent.com/273338/155285502-e71ae39b-11b1-4f97-bcb7-4256b21af02a.png)
What about moving the OK button outside the Column so that it will be always visible?
This way will be also compliant with the Material Design

[2022-02-23 09:01] leinardi commented on #688
Another improvement would be to remove duplicate lib entries:
![image](https://user-images.githubusercontent.com/273338/155288140-43c973a3-ac8c-4916-a64d-f7b63541ebd5.png)
not sure why but your lib appear twice, despite having it added only once as dependency. If I have to guess, one is the compose lib and the second is the transient core lib. But, since they show the very same info, would make se

[2022-02-23 09:12] leinardi commented on #688
The `core` dependency should be added as `api`, not `implementation` to the `compose` library, otherwise `com.mikepenz.aboutlibraries.Libs` won't be visible.
This is needed to be able to run code like this:
[code]

As a workaround you have to add both the compose and core libs as dependencies but, if for the compose lib is exposing classes from the core as API, it should also expose the core lib i

[2022-02-23 09:23] mikepenz commented on #688
@leinardi thank you very much for the feedback.

On the first comment to have the dialog be adjusted. Absolutely, that would make a lot of sense, if you would like to do a PR, happy to review and get it in!

On your second comment: "duplicated entries". There's handling for duplication. You can configure it on the gradle plugin via the following flags:
[code]
https://github.com/mikepenz/AboutLibra

[2022-02-24 09:30] leinardi commented on #688
@mikepenz PR created! #733

[2022-03-13 10:56] ILikeYourHat opened #739 "Missing AboutLibraries dependency in collected dependencies"
## About this issue

Just like in the title, for some reason AboutLibraries is not listed as dependency in the licenses output. This happens in my free-time project, a lot is going on here, so not sure what part caused this error:
https://github.com/ILikeYourHat/Large-Scale-Android-App

AboutLibraries configuration is located in 'gradle/extension/libs/about_libraries.gradle'. Also note dependencie

[2022-03-15 16:06] mikepenz commented on #739
@ILikeYourHat would be surprised it being the typesafe project accessors, using it personally in a few projects.
Do you see any other missing dependencies beside the aboutLibraries one itself?

Do you check-in the generated `*.json` file as part of your SCM? Or do you maybe have it available?

[2022-03-15 16:35] ILikeYourHat commented on #739
@mikepenz Nope, AboutLibraries is the only one missing. Valid `*.json` file with all the other dependencies is generated in the `build` folder, only your library is missing.

I've added a direct dependency for `com.mikepenz:aboutlibraries-core` in `:app` module, but still it's missing

[2022-03-15 16:38] mikepenz commented on #739
Could you possibly attach the generated file to this ticket?

Any helpful output in the gradle log when running `./gradlew findLibraries` ?

(v10 allows the generated file to be included in the SCM for more enterprise level scenarios where re-generation may not be expected)

[2022-03-16 20:10] ILikeYourHat commented on #739
[aboutLibraries.zip](https://github.com/mikepenz/AboutLibraries/files/8272080/aboutLibraries.zip)
[findLibraries.txt](https://github.com/mikepenz/AboutLibraries/files/8272087/findLibraries.txt)

First is the content of "aboutLibraries" directory in build file, the second is the result of `findLibraries` task

[2022-03-16 20:27] ILikeYourHat commented on #739
Breaking discovery! If I declare dependency like this:
`implementation libs.aboutLibraries.core`
AboutLibraries is not listed as dependency. BUT if I declare it like this:
`debugImplementation libs.aboutLibraries.core`
then everything is working as expected 😄

[2022-03-18 08:01] mikepenz commented on #739
Just checked it with the repo and run `./gradlew findLibraries`
And it will include the aboutLibraries. Could you plese do clean builds and see if it may be caching?

[2022-03-18 21:53] ILikeYourHat commented on #739
Confirmed, this is a caching issue. Licenses are correctly generated only if `gradlew clean` and `gradle findLibraries --no-build-cache` were invoked

[2022-03-18 22:14] ILikeYourHat commented on #739
Weird: when invoking `gradlew assembleDebug` dependencies are not refreshed. But when invoking `gradlew assembleDebug --scan` (for gradle build scan), dependencies are refreshed correctly. I think that this might be some sort of race condition. You can check the scan, maybe you find something interesting here: https://scans.gradle.com/s/k7vf4wuablwjo

[2022-03-21 05:40] hvsimon commented on #688
Hi there, the theme config in Compose in this lib is hardcode with `MaterialTheme.colors.primary`

https://github.com/mikepenz/AboutLibraries/blob/8ed8f228725a8a304edc3e07b10e933724468e0a/aboutlibraries-compose/src/commonMain/kotlin/com/mikepenz/aboutlibraries/ui/compose/SharedLibraries.kt#L78

Maybe it would be bettter to provide color parameter like what material compose lib do:

[code]

Because

[2022-03-22 09:28] mikepenz commented on #688
Great suggestion @hvsimon, not sure when I'll have time to rework this part. Happy to take a PR for this too :)

[2022-03-24 05:33] hvsimon commented on #688
@mikepenz This is my first RP #740
If you have any suggestions please let me know :)

[2022-03-24 12:11] Fox2Code opened #741 "Brotli dependency Name not displayed correctly in license tab."
## About this issue

- Redirect from issue: https://github.com/Fox2Code/FoxMagiskModuleManager/issues/100
- Source code: https://github.com/Fox2Code/FoxMagiskModuleManager

Name is `${project.groupId}:${project.artifactId}` instead of `Brotli`

Helper link: https://mvnrepository.com/artifact/org.brotli/dec/0.1.2

## Details

- [X] Used library version: 10.0.0
- [X] Used gradle build tools version:

[2022-03-24 13:16] mikepenz commented on #741
Thank you for the report @Fox2Code

The library actually displays the correct information according to the `*.pom` file: https://repo1.maven.org/maven2/org/brotli/dec/0.1.2/dec-0.1.2.pom

this is an issue of `brotli` itself.

You can use the respective APIs to patch wrong information: https://github.com/mikepenz/AboutLibraries#modify-libraries--licenses

[2022-03-24 13:20] Fox2Code commented on #741
Is it possible to have a kind of built-in fallbacks when library name is not valid or non existent?

[2022-03-24 13:23] mikepenz commented on #741
I don't believe this can be done in a generic fashion so it works properly.
How would the action know if a library name is not valid?
If no value is defined various fallbacks exist though. In the case of brotli though, a name is existing in the `*.pom`

For situations like this, it is best to reach out to the maintainer of the respective library and have them fix the `*.pom` generation.
As their `

[2022-03-24 20:06] Fox2Code commented on #741
Well making app ignoring `*.pom` name if it is equal to `${project.groupId}:${project.artifactId}` should be fine.

I don't think any fallback is be worse than that.

[2022-03-25 08:11] #741 closed

[2022-03-25 08:16] mikepenz commented on #739
The steps in this build were all cached: https://scans.gradle.com/s/k7vf4wuablwjo/console-log#L29,  https://scans.gradle.com/s/k7vf4wuablwjo/console-log#L41

So for some reason: https://github.com/mikepenz/AboutLibraries/blob/develop/plugin-build/plugin/src/main/kotlin/com/mikepenz/aboutlibraries/plugin/util/DependencyCollector.kt#L41-L75 would not yet retrieve the proper full dependency tree the

[2022-03-26 10:08] mikepenz commented on #688
@hvsimon oh well. good point. I suppose it should get its own defaults. but can be a subclass of the newly introduced class.

[2022-03-30 16:23] ILikeYourHat commented on #739
Any update on this? If those tasks were cached and shouldn't be, that probably means some task inputs were declared incorectly

[2022-03-31 06:18] bartek-wesolowski commented on #657
I keep getting this error when trying to build my app with Gradle Configuration Cache. I'm using About Libraries 10.0.1 and Gradle 7.4.1. I guess this issue is still not resolved and should be reopened.

`Caused by: org.gradle.api.InvalidUserCodeException: Invocation of 'Task.project' by task ':app:collectDependencies' at execution time is unsupported.
	at org.gradle.configurationcache.initializat

[2022-04-01 08:33] mikepenz commented on #739
No update. The tricky part is that I wasn't yet able to reproduce it int he project itself. making it very difficult to debug further.

[2022-04-02 17:56] Syer10 commented on #688
Can you expose the LazyListState as a variable in the Libraries composable? I want to add a scrollbar since my app does not require a scrollwheel to use, but I cannot do that without having the LazyListState

[2022-04-04 21:15] Syer10 commented on #688
Thanks! Happy this library got Compose Multiplatform support, it works perfectly on both Desktop and Android

[2022-04-05 06:56] mikepenz commented on #739
Can't seem to find hints on how to best ensure the task is re-run for this situation.

Would appreciate any input of somebody has pointers or suggestions.

I would have an idea how this could be made working for android projects but that wouldn't work for non android environments.

[2022-04-20 11:18] koral-- commented on #688
Legacy UI seems to miss background. Note the space between cards on the recording.
At a glance, it looks like the LibsActivity may not specify its theme?

Quick workaround:
[code]

https://user-images.githubusercontent.com/3340954/164219141-d0084c44-9691-4153-b347-2b098066a6e1.mp4

[2022-04-20 11:39] mikepenz commented on #688
@koral-- thank you for the feedback.
The activity does really not specify a theme, as it's meant to pick up the application wide theme (that should have been already the case in v9)

Beyond that if you want to theme it the style should be defined for aboutLibs: https://github.com/mikepenz/AboutLibraries#style-the-aboutlibraries-%EF%B8%8F

[2022-04-21 12:36] lisa-bella97 opened #749 "Library with multiple licenses declared in json file is displayed incorrectly"
## About this issue

I use AboutLibraries Gradle Plugin in Android project with (legacy) UI-module. I added an additional library with two licenses by creating a json file in _configPath/libraries_ directory. I put two elements in "licenses" field. I expected that AboutLibraries will show two cards with different licenses, but only the one was displayed with one of the licenses. _duplicationMode_

[2022-04-22 09:55] lisa-bella97 commented on #749
Thank you for your answer.

[2022-04-22 09:55] #749 closed

[2022-05-09 21:08] Nailik opened #751 "Licence Dialoge wrong text color"
## About this issue

When the App uses Dark Mode the text on the Dialog remains black

## Details
- [10.1.0 ] Used library version

[2022-05-10 11:01] #751 closed

[2022-05-11 12:16] CarlosEsco commented on #688
For compose -

Can the alert dialog be themed to match the passed in Library Colors?

Also ability to add some padding on the badges, so the text isn't up to the edges

[2022-05-11 14:10] mikepenz commented on #688
@CarlosEsco that's are good proposals to expand theming options for these ones.

[2022-05-13 11:52] Berki2021 commented on #688
I am quite confused, after updating to v10, there is no `.adapter(context)` function anymore. Furthermore, `LibsBuilder()` can't accept a json, only `Libs.Builder()` can.

[2022-05-13 14:15] mikepenz commented on #688
Thank you for adding the additional context @Berki2021 .

Yes you are correct `withLibraryModification` was dropped in favour of `Libs` which has the information, and libraries could be altered by mapping them and adjusting to your needs. like an example:
[code]

You have different options though:
- use the configuration API within gradle, to apply the modifications you highlight above during comp

[2022-05-13 17:42] Jakree636 opened #756 "A"

[2022-05-13 18:00] #756 closed

[2022-05-14 21:00] CarlosEsco commented on #688
10.2 alert dialog theme is step in the right direction, there is one last thing missing, the OK button is not themed still.

[2022-05-23 07:43] ebc81 opened #758 "Add additional libraries - where to put json files"
## Add additional libraries - where to put json files

- This is a maybe a beginner question. Put where to put the config directory for the custom json files in the file explorer hierarchy of an android project ?

## Details
- [10.2.0 ] Used library version

## Checklist

- [ X] Searched for [similar issues](https://github.com/mikepenz/AboutLibraries/issues)
- [X ] Checked out the [sample applicat

[2022-05-23 07:47] mikepenz commented on #758
You can configure the path in your gradle file via the `aboutLibraries` block: https://github.com/mikepenz/AboutLibraries/blob/develop/app/build.gradle#L91

The path is relative to the root of your project.

So given the above configuration, the folder is discovered here: https://github.com/mikepenz/AboutLibraries/tree/develop/config

[2022-05-24 05:57] ebc81 commented on #758
Sorry but i didn't get it.
I made a clean fresh sample project.
I added the config folder with the json files. But still it is not shown in the about dialog activity.

[https://github.com/ebc81/TestAboutLibaries](https://github.com/ebc81/TestAboutLibaries)

[2022-05-24 06:01] mikepenz commented on #758
Given your sample, it looks there is no `aboutLibraries` configuration defining the path it's meant to look for these files:

https://github.com/mikepenz/AboutLibraries/blob/develop/app/build.gradle#L83-L115

[2022-05-24 06:02] ahuja-kalido opened #759 "Library details empty alert dialog"
## About this issue

- Opening empty Dialog box.
[code]

https://user-images.githubusercontent.com/102297676/169959735-55ed318e-234f-4383-b01b-250eb7eebae0.mov

## Details
- [x] Used library version - **ext.latestAboutLibsRelease = "10.2.0"**
- [x] Used gradle build tools version - **30.0.2**
- [x] Used tooling / Android Studio version - **Android Studio Bumblebee | 2021.1.1 Patch 3**

## Checklis

[2022-05-24 06:08] mikepenz commented on #759
@ahuja-kalido which library is this information from? Looks like their `.pom` file is already not complete.

If you can possibly share the generated json file of libraries from the plugin?

[2022-05-24 06:10] ebc81 commented on #758
Thanks for your patience.
But when i add the aboutlibaries section in the app build gradle i get compile errors

[https://github.com/ebc81/TestAboutLibaries/blob/master/app/build.gradle](https://github.com/ebc81/TestAboutLibaries/blob/master/app/build.gradle)

[2022-05-24 06:17] mikepenz commented on #758
Could it be the different way how the plugin is applied to the root `build.gradle`?
https://github.com/mikepenz/AboutLibraries/blob/develop/build.gradle#L20

[2022-05-24 06:30] ahuja-kalido commented on #759
here is the generated json.
[aboutlibraries.json.zip](https://github.com/mikepenz/AboutLibraries/files/8760014/aboutlibraries.json.zip)

[2022-05-24 06:37] ebc81 commented on #758
Thank you very much. Now it is working.
I just leave the config argument.

[2022-05-24 06:37] #758 closed

[2022-05-24 06:57] mikepenz commented on #759
Thank you. this will be enhanced in a future release: https://github.com/mikepenz/AboutLibraries/pull/760

[2022-05-27 11:28] #759 closed

[2022-05-27 20:15] ILikeYourHat commented on #657
@mikepenz I've got same error as above, can you reopen this issue?

[2022-06-15 08:34] zoltish opened #764 "invocation of 'Task.project' at execution time is unsupported. (Breaks configuration cache)"
## About this issue

I run into this every once in a while; Id estimate 1-3 times during 10-15 hours of coding. Building the project again works.

Im using a couple of gradle properties, Ill include them below.
[code]
## Stack trace

[code]

## Details

- [x] Used library version: 10.3.0
- [x] Used gradle build tools version: 7.4.0-alpha04
- [x] Used tooling / Android Studio version: #AI-221.3427.

[2022-06-15 13:09] KiraLinux22 opened #765 "Mikepenz"
About

[2022-06-17 09:33] zoltish commented on #764
I may have jinxed it.

Since sharing this, my builds fail roughly 30% of the time due to this. Its still faster than skipping configurationCache altogether though, just a bit frustrating!

[2022-06-20 14:28] xoif opened #766 "Core module won't compile for ios_arm64"
Hello,
I'm using your library within a kotlin multiplatform mobile project. My Android module is planed to use the separate Jetpack compose functionality directly. For iOS however I planed to access my shared kotlin multiplatform module from my Swift code, to receive a list of the libraries/licences that are used in the common/shared kotlin native business layer.
Once retrieved, I would simply pas

[2022-06-22 14:10] mikepenz commented on #766
@xoif added the additional simulator targets, if you could please check out if it works now?

[2022-06-24 07:46] mikepenz commented on #764
@zoltish yeah it definitely has been inconsistent for me too. Any help regarding configuration cache would be highly appreciated.

----

An alternative solution to faster build times:
- disable the registration of the Android related tasks
- manually execute the creation during CI build time
- include the generated libs as part of your SCM (you will see what changes over time)
- save on build time

[2022-06-24 08:48] mikepenz commented on #688
Thanks everyone for the feedback in this thread.

[2022-06-24 08:48] #688 closed

[2022-06-27 14:11] eriksquare opened #772 "Gradle task collectDependencies fails"
## About this issue

I'm trying to integrate the plugin to collect dependencies in my project, this is my setup:

in the plugins block of the project build.gradle.kts
[code]

in my app build.gradle.kts

[code]

I've tried running the plugin on a wide number of version of the plugin (10, 10.0.1, 10.1.0, 10.3.1) and everytime i get this error, while building or running only the collectDependencies t

[2022-06-27 15:03] eriksquare commented on #772
Weirdly enough after commenting all plugins and then re-adding one by one it started working. The problem now seems to exists only after enabling gradle configuration cache.

[code]

[2022-06-29 07:43] eriksquare commented on #772
I don't think so, in my pipeline it fails everytime even with configuration cache disabled...

now these are the settings i'm using:

[code]

And in my m1 mac works, x86 mac no. I've also tried to set `registerAndroidTasks = false` and invoking the command `./gradlew app:exportLibraryDefinitions -P exportPath=src/main/res/raw/` on another job in the pipeline, but it still fails.
At the very least

[2022-07-04 11:18] mikepenz commented on #764
Can you please retry with `10.4.0-b01`

[2022-07-04 12:19] mikepenz commented on #764
@zoltish you are welcome. Thanks!

Can't promise v10.4.0-b01 is solving it a 100% but it looked to be ok in local tests, otherwise a demo app will surely help to investigate further.

No worries. It will stay a beta for a bit anyways I think, depending then `compose-jb` `1.2.0` will be shipped

[2022-07-07 05:04] zoltish commented on #764
@mikepenz Im unable to depend on 10.4.0-b01 for some reason. Is it published differently to the earlier releases by any chance?

[code]

[2022-07-07 06:37] mikepenz commented on #764
hmmm should be here as usual: https://plugins.gradle.org/plugin/com.mikepenz.aboutlibraries.plugin 🤔

[2022-07-12 12:30] DevMarkz opened #777 "withLibs results in crash"
## About this issue

- Briefly describe the issue
  withLibs results in crash

[code]

- How can the issue be reproduced / sample code

[code]

## Details
- [ ] Used library version
   10.3.1
- [ ] Used support library version
- [ ] Used gradle build tools version
- [ ] Used tooling / Android Studio version
- [ ] Other used libraries, potential conflicting libraries

## Checklist

- [ Y ] Searched

[2022-07-12 12:33] mikepenz commented on #777
Without having a closer look, I suppose that there may have been too much data in the `LibsBuilder` class.

[2022-07-12 12:50] DevMarkz commented on #777
The json contains indeed a lot a data (170kb) but even if I remove all licenses and keep just 1 library (just 4 kb remaining) I still get the same error

[2022-07-12 13:06] mikepenz commented on #777
It could be something else too, it was only the first thought based on the trace. will need to dig deeper in it possibly.

[2022-07-13 14:08] mikepenz commented on #777
Oh wow, not sure how it worked when I first tested, but the problem is that the classes from `Kotlin Multiplatform` are not serializeable, which is a problem.

Going to adjust this for the legacy UI module in the upcoming release.

[2022-07-15 07:53] #777 closed

[2022-07-15 11:21] mikepenz commented on #739
@ILikeYourHat is this problem still happening? (Maybe with newer versions of this plugin / newer version of Gradle)?

[2022-07-16 18:13] ILikeYourHat commented on #739
@mikepenz Confirmed, it's still happening. AboutLibraries v10.3.1, Gradle v7.5.

Gradle 7.5 has support for "Dependency resolution results can be used as task inputs", maybe implementing it will solve this issue?

[2022-07-18 07:54] zoltish commented on #764
@mikepenz Just thought Id let you know that Ive had 0 issues since upgrading. Thank you :)

[2022-07-18 08:07] mikepenz commented on #764
@zoltish thank you so much, that's great to hear

[2022-07-18 08:08] mikepenz commented on #739
@ILikeYourHat I looked into Gradle 7.5 but sadly using that new API (based on their demo code) seems to give me quite some problems with Kotlin Multiplatform code.

[2022-07-30 05:17] wseemannroku opened #783 "Library entries for dependencies added via implementation platform are missing"
## About this issue

Hello, thank you so much for this great library! I can tell you put a lot of work into it.

If I add `implementation platform('com.google.firebase:firebase-bom:30.0.0')` in my app level build.gradle this library isn't detected in the final JSON output. The Google OSS plugin does however, here's the entry in their resulting JSON:

    {
        "group": "com.google.firebase",

[2022-07-30 07:16] mikepenz commented on #783
Thank you @wseemannroku for the report. I'll need to have a closer look on that.

----

Really appreciate your sponsor!

[2022-07-30 07:47] mikepenz commented on #783
This could possibly take more time to resolve.

It looks gradle does not resolve the module artifacts associated with the platform specification, like it would do for other artifacts. Resulting in all the child dependencies declared via the `bom` not ending up in the report.

<img width="1097" alt="Screenshot 2022-07-30 at 09 44 58" src="https://user-images.githubusercontent.com/1476232/181880474-

[2022-07-30 08:03] wseemannroku commented on #783
Not a problem, thanks for looking into this so quick! I work for Roku and I'm migrating away from the Google OSS plugin to your library. I had to do a 1:1 comparison to make sure all of the licenses generated by the OSS plugin matched in yours, the only things missing were the BOM declarations. It's worth noting that the Google OSS plugin doesn't resolve the BOM's child dependencies either. Based

[2022-07-30 08:13] mikepenz commented on #783
As an initial step yes.

I'll need to look how it's handled there, as while the plugin sees it, the related artifact files are not resolved which results in the pom.xml not being found which is required for the license and further information about it.

Will keep any findings posted here.
Sadly not around the Mac anymore today

[2022-07-31 06:59] mikepenz commented on #783
As a temporary (manual) solution if the `platform` dependencies are at a minimum, you can provide libraries/licenses which will be included: https://github.com/mikepenz/AboutLibraries#libraries

[2022-08-03 07:37] wseemannroku commented on #783
Thanks @mikepenz, I was going to to that but [this issue](https://github.com/mikepenz/AboutLibraries/issues/777) prevented me from adding them manually. I was waiting for that multiplatform fix to make it into the next release so I didn't have to use a pre-release version.

[2022-08-03 07:47] mikepenz commented on #783
Oh interesting one. So there are actually multiple aspects to that.

1.) If you provide the additional library as `.json` and configure the plugin, the plugin will automatically merge the additional library (also licenses) into the resulting definition file. (Similar if this approach is used to update data retrieved from the pom files) - In that case you would not require to modify the `withLibs`

[2022-08-03 19:45] nielsvanvelzen opened #784 "Add ability to disable "generated" timestamp"
For the app I'm working on ([jellyfin-androidtv](https://github.com/jellyfin/jellyfin-androidtv)) we want to publish builds to F-Droid. Ideally we'd use reproducible builds with that. After the reproducible builds failing for some time I found out this library causes a small issue.

The "res/iz.json" file that is generated contains a timestamp (metadata.generated) which is unique for each build. T

[2022-08-03 20:06] mikepenz commented on #784
Thank you very much for the report @nielsvanvelzen . That's a great suggestion, and makes a lot of sense.

The timestamp was introduced to offer teams who only generate new dependency exports on-demand a tool to verify when the given export was generated (to prevent potential build issues where the generation would no longer work)

I'll have a look into this, but a configuration option for the plu

[2022-08-04 16:35] mikepenz commented on #784
After a closer look, you can already achieve this right away by `excluding` the `generated` field from the target json:

[code]

[2022-08-04 17:33] nielsvanvelzen commented on #784
Awesome, it does indeed remove the field from the generated JSON. Can I expect this functionality to keep working (e.g. the field won't be required in the runtime part of the library in a later release)?

[2022-08-05 07:29] mikepenz commented on #784
There are no plans to use the field as part of the runtime, similarly most other fields are optional and can be dropped to lower size of the meta-data.

[2022-08-05 07:29] #784 closed

[2022-08-05 09:10] #783 closed

[2022-08-06 06:41] wseemannroku commented on #783
Thanks for the fix, I appreciate it!

[2022-08-06 08:10] mikepenz commented on #783
You are welcome @wseemannroku

Thank you for the report and the feature request.

[2022-08-19 10:57] wseemannroku opened #789 "SearchView text doesn't honor primary app theme text color for Theme.MaterialComponents.Light.NoActionBar"
## About this issue

If my app theme is set to `Theme.MaterialComponents.Light.NoActionBar` and I start the licenses activity with:

[code]

The text in the search view in the action bar is always white which makes the text unreadable.

I've attached a screenshot and a sample app to reproduce the issue.

## Details
- [x] Used library version - v10.4.0
- [x] Used support library version - N/A
- [x]

[2022-08-19 11:02] mikepenz commented on #789
Thank you for the report @wseemannroku

This comes from: https://github.com/mikepenz/AboutLibraries/blob/develop/aboutlibraries/src/main/java/com/mikepenz/aboutlibraries/ui/LibsActivity.kt#L72-L75

Will look to have it use theme attributes instead.

[2022-08-19 11:08] mikepenz commented on #789
Out of curiosity - What's the main decision factor to go with the view based UI instead of the compose variant? (No worries if that's not something you can speak about)

Mainly looking to see what people look for in the provided UI and what may be missing in the compose variant.

[2022-08-19 12:34] wseemannroku commented on #789
I don't mind sharing, we are actively exploring compose and integrating it into our codebase. It's just not something that everyone is familiar with or full adopted yet so we're sticking with the legacy module for the time being. Your compose version is well written, were just haven't fully adopted compose yet.

[2022-08-19 12:52] mikepenz commented on #789
Thanks for sharing.

I am looking into the color right now, and I remember why it is this way. For whatever wonderful reason the `SearchView` will happily ignore anything applied via the `style`. Theoretically it should work by applying a `theme` to the toolbar, but that would need to be done specifically and wouldn't go via the `toolbarStyle`.

I believe as a hopefully acceptable middle ground to

[2022-08-19 13:08] #789 closed

[2022-08-19 13:12] mikepenz commented on #789
Gonna release it as v10.4.1-a01 to give you a chance to test this approach
(Used the theme you outlined in the sample and it looked to work)

(will probably take ~30-60 mins to be synced to maven central)

[2022-08-24 07:53] tarun-roku opened #794 "Is it possible to ignore certain libs?"
## About this issue
I was wondering if there is support to ignore certain libraries? for example I want to ignore Android/Google fw libs
- Briefly describe the issue
- How can the issue be reproduced / sample code

## Details
- [ ] Used library version
- [ ] Used support library version
- [ ] Used gradle build tools version
- [ ] Used tooling / Android Studio version
- [ ] Other used libraries, po

[2022-08-24 07:59] mikepenz commented on #794
Good day.

Yes there is a Gradle configuration option offering to exclude certain libraries via regex:

https://github.com/mikepenz/AboutLibraries/blob/develop/plugin-build/plugin/src/main/kotlin/com/mikepenz/aboutlibraries/plugin/AboutLibrariesExtension.kt#L64-L75

[code]

(the README is not explicit about that one as I usually advice against skipping the attribution of libraries)

[2022-08-24 08:00] tarun-roku commented on #794
thanks, @mikepenz this is helpful.

[2022-08-24 08:23] #794 closed

[2022-09-09 13:42] Berki2021 opened #795 "Exclusionpatterns not working after updating from 8.9.4 to 10.4.0"
## About this issue

- **Briefly describe the issue:** The exclusion pattern is not working for me

### Build Gradle
[code]

### Fragment

[code]

## Details
- [10.4.0 ] Used library version
- [ ] Used support library version
- [X ] Used gradle build tools version
- [ ] Used tooling / Android Studio version
- [ ] Other used libraries, potential conflicting libraries

## Checklist

- [x] Searched f

[2022-09-09 14:30] mikepenz commented on #795
Looks this may be due to the change of the exclusion patterns being now on the real package identifier. And no more on the legacy format with `.` replaced by `_` (which was necessary for the `strings.xml` file) - The id is now package name and artifactId: https://github.com/mikepenz/AboutLibraries/blob/f5f95a439920bbb39dea4f7b98c7dd41cea85336/plugin-build/plugin/src/main/kotlin/com/mikepenz/aboutl

[2022-09-14 10:15] LilianaFaustinoBloco opened #796 "Crash when click on library list item [Compose 1.3.0-beta]"
## About this issue

The application crashes when I click on an item in the libraries list. I did the setup as advised in the README for compose and everything works, except this.

The crash stack trace is as follows:

[code]

## Details
- [10.4.0] Used library version
- [7.2.2] Used gradle build tools version
- [1.7.10] Kotlin version
- [1.3.0-beta02] Compose version
- [1.3.1] Compose compiler ve

[2022-09-14 11:59] mikepenz commented on #796
Looks like it could be some incompatibility between compose 1.2.0. and 1.3.0?

The library itself is currently still compiled with v1.2.0 as there has not been a stable 1.3.0 release: https://github.com/mikepenz/AboutLibraries/blob/develop/gradle/libs.versions.toml#L16

[2022-09-14 14:10] mikepenz commented on #796
@LilianaFaustinoBloco so I tried to reproduce the issue within the sample app. But couldn't.

Went ahead and upgraded the dependencies.

The problem starts to appear with Compose 1.3.0-beta02 and compileSDK 33

It does not happen within the sample with compose 1.2.0 and composeCompiler 1.3.1

[2022-09-14 14:17] mikepenz commented on #796
(with `1.3.0-beta02` compileSDK 33 is also required. Testing the compile upgrade in itself right now)

[2022-09-14 14:35] mikepenz commented on #796
Tried to upgrade all dependencies to see if that could solve the conflicting method signature: https://github.com/mikepenz/AboutLibraries/commit/69e6c1f953a4996f999c5746743c298ff95a1d01

But it looks there is no combination yet which allows that.
It's worth noting that this could be a result from `compose-jb` not yet updated to be compatible with `1.3.0-x`

[2022-09-14 17:16] LilianaFaustinoBloco commented on #796
Thanks for the effort.

I tried several combos in my dependencies and with these versions everything works:

[1.3.0-alpha03] Compose version
[0.25.1] Accompanist version - didn't mention this dependency before

[2022-09-16 10:51] #795 closed

[2022-09-20 16:59] danielbanks opened #797 "IllegalStateException during OnSaveInstanceState"
## About this issue

We are observing an IllegalStateException when OnSaveInstanceState is called.
Library version 10.4.0

**Stacktrace**
[code]

**Implementation**:

[code]

**Steps to reproduce**:

1. Turn on don't keep activities
2. Navigate to license activity
3. Click on an item
4. Background the app
5. Foreground the app

## Details
[10.4.0] Used library version
[7.2.2] Used gradle build too

[2022-09-23 09:20] Berki2021 commented on #795
What about the dependencies with two "__" like `~"com_google_android_datatransport__.*"`?

Would this be ~"com.google.android.datatransport...*"?

[2022-09-23 09:40] Berki2021 opened #798 "How to add custom dependency in ui-compose?"
## About this issue

- I would like to add a custom .aar dependency for compose. I knew how to do this with the legacy version, but I can't find any info on how to achieve this with the compose-ui
- See [this](https://github.com/mikepenz/AboutLibraries/issues/678)

## Details
- [10.4 ] Used library version
- [ ] Used support library version
- [X ] Used gradle build tools version
- [ ] Used tooling

[2022-09-23 11:27] mikepenz commented on #795
@Berki2021 this pattern is a regex. which means the `.` actually means any character. theoretically in this case we could escape it as we are actually asking for a literal `.`.

so at the end the `.*` means `.` - any character - `*` repeated one or more times.

[2022-09-23 11:29] mikepenz commented on #798
@Berki2021 if you want to add additional libraries/licenses, this is now fully handled via the plugin -> and as such via json files.

So in the sample app this is for example adding a single library: https://github.com/mikepenz/AboutLibraries/blob/develop/config/libraries/lib_first.json

This is described here: https://github.com/mikepenz/AboutLibraries#libraries
Within the expandable `Gradle Plug

[2022-09-23 11:32] mikepenz commented on #797
@danielbanks would you please be so kind to add the stacktrace.

[2022-09-24 19:34] Cailocan opened #799 "Failed to apply plugin - Compose desktop project"
## About this issue

Hello,

I would like to use AboutLibraries in a Desktop Compose only project. Here is what I got when I add the plugin:

[code]

Here are some implementation details:

[code]

It seem that the gradle plugin contains by default Android platform files. Is it possible to exclude them? Or am I doing something wrong?

## Details
- [10.4.0] Used library version
- [ ] Used support li

[2022-09-24 20:40] mikepenz commented on #799
Please see the sample compose desktop app below:

https://github.com/mikepenz/AboutLibraries/blob/develop/app-desktop/build.gradle.kts#L36

You'll need to disable the registration of the Android task which occurs automatically by default.

[2022-09-24 21:00] Cailocan commented on #799
I did see the sample desktop app and the `registerAndroidTasks` parameter but adding it to the build.gradle.kts file doesn't change anything. Intellij Idea keeps throwing the same error and doesn't recognize `aboutLibraries` parameters block.

Is Gradle able to apply a plugin and read its parameters at the same time?

[2022-09-24 21:05] mikepenz commented on #799
I'll need to have a closer look then. Possibly it behaves different if applied the way you showed versus the classpath.

Is this project open source or do you have a sample project to reproduce?

Thank you. I'll probably have some time to check it out next week

[2022-09-25 16:39] Cailocan commented on #799
My project isn't open source yet, but you can reproduce it by using the default Intellij Compose desktop template project and using kotlin jvm plugin instead of multi-platform.

[2022-09-25 21:42] Berki2021 commented on #798
What exactly do I write in the "configPath" and in which folder should I store my json file? Could you give an example?

[2022-09-26 06:31] mikepenz commented on #798
This is described here:
https://github.com/mikepenz/AboutLibraries#gradle-plugin-configuration

[code]

These files are for the plugin, as such not related to the android sources themself. for example the sample app:

https://github.com/mikepenz/AboutLibraries/blob/develop/app/build.gradle#L90-L91

Which means it picks up files within the `config` folder here:

https://github.com/mikepenz/AboutLib

[2022-09-26 09:26] danielbanks commented on #797
@mikepenz edited to include stacktrace :)

[2022-09-26 10:59] mikepenz commented on #796
Compsoe 1.3.0-beta03 nor compose-jb 1.2.0-beta01 don't resolve this yet

[2022-09-28 18:51] jumpbayern opened #800 "create .json file without content when use Android Gradle Plugin 7.3.0"
After updating the Android Gradle plugin from version 7.2.2 to 7.3.0, the .json file is created but there is no content in it.

![image](https://user-images.githubusercontent.com/763366/192864754-4063bb27-52f7-40b8-b2b9-865b4997fe1a.png)

[2022-09-29 06:51] mikepenz commented on #800
@jumpbayern can this be reproduced even after a clean build?

[2022-09-29 10:46] jumpbayern commented on #800
@mikepenz
Yes. The same behaviour exists after a clean build.

[2022-09-29 11:06] mikepenz commented on #800
@jumpbayern could you please provide a sample app to reproduce this? (The app as part of this project already uses 7.3.0 for some time and does not show this issue.)

It sounds like there may be some build cache scenario/problem, which should be resolved with a full clean build of the project.

[2022-09-29 12:24] #798 closed

[2022-09-29 13:09] #799 closed

[2022-09-29 13:11] mikepenz commented on #799
Thank you again for the report. The next version will solve this problem

[2022-09-29 13:20] #797 closed

[2022-09-29 14:29] danielbanks commented on #797
OK thanks for the fix @mikepenz

[2022-09-30 06:52] jumpbayern commented on #800
@mikepenz
I have done the following:
- clean build
- invalidate caches / restart
- make project

After I build the app again, the .json file is still created without content.

[2022-09-30 06:58] mikepenz commented on #800
Would it be possible to provide a sample app please, as it will be super hard to reproduce this without being able to reproduce.

Are there any log messages in the build? What happens if you run the export step manually with `--info` flag?

[code]

[2022-09-30 14:21] jumpbayern commented on #800
I have also just tested it with a new project. Somehow it is related to the cache. After the .json file has been generated once, it is not recreated.

Can you tell me what the problem is and how I can solve it?

[2022-09-30 15:01] mikepenz commented on #800
Given that I can't reproduce it in the projects I have at hands, I have no answer to that question.

With `new` project you reference to an android studio template?
Please provide a sample to possibly help to reproduce it and investigate more.

[2022-09-30 19:49] Cailocan commented on #799
A big thank for you work!

[2022-10-03 13:08] bishiboosh commented on #686
@mikepenz I have the same error when applying the plugin on my main module, on CI or on my computer.

Stack trace is
[code]

[2022-10-03 13:26] mikepenz commented on #686
@bishiboosh thank you for the report. could you possibly provide a sample app to reproduce this problem? It does not seem to happen on the sample or other projects I use the plugin on, as such it's very hard to trace such problems back.

[2022-10-05 15:28] wezley98 commented on #800
Just testing this plugin as a new user, I'm also seeing the same issue on AS 7.3.0.

`{"metadata":{"generated":"2022-10-05T14:22:23.919Z"},"libraries":[],"licenses":{}}`

[2022-10-05 15:41] wezley98 commented on #800
@mikepenz Hope this helps.

Android Studio Dolphin | 2021.3.1
Build #AI-213.7172.25.2113.9014738, built on August 31, 2022
Runtime version: 11.0.13+0-b1751.21-8125866 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 12.6

com.mikepenz.aboutlibraries.plugin : Version 10.5.0

`gradle.properties`
[code]

Output of task `./gradlew app:exportLibraryDefinitions -PaboutLibraries.exportPath=s

[2022-10-07 07:00] mikepenz commented on #800
@wezley98 thanks for providing these. Started a fresh application, and applied exactly your `gradle.properties` + only added the plugin. And it works normally. 🤔

[Archive.zip](https://github.com/mikepenz/AboutLibraries/files/9731380/Archive.zip)

Is there anything else in your setup which may could result in a special behaviour? Any specific build variant or build flavor setup?

If you run `./gra

[2022-10-07 13:26] jumpbayern commented on #800
@mikepenz
We have several variants or flavours in our project.
The naming is then always as follows:
<customerName>DevelopDebug or
<customerName>ProductionRelease

We do not have a flavour that is exclusively called Debug, as in your sample project from yesterday.

Is it possible that this is why it doesn't work?

[2022-10-10 11:42] Berki2021 commented on #798
Sorry to bother you again... But I don't get it... I just don't know where to exactly put this "Config" folder? Inside the resource folder? Inside the src folder? Here is my folder structure

![grafik](https://user-images.githubusercontent.com/65120636/194858566-98d69978-e063-4352-853d-abf3f7e61250.png)

[2022-10-10 12:06] mikepenz commented on #798
Please see again the answer above your message: https://github.com/mikepenz/AboutLibraries/issues/798#issuecomment-1257543896 with the example of this repo.

The repository shows where the `config` folder is located if "config" was specified as it's path: https://github.com/mikepenz/AboutLibraries/blob/develop/app/build.gradle#L90-L91

E.g. the root of the project: https://github.com/mikepenz/Abou

[2022-10-12 12:44] mikepenz commented on #796
Compose-jb 1.2.0 / Compose 1.2.1 and Compose-Compiler 1.3.2 with Kotlin 1.7.20 are compatible with each other.

I'd expect Compose-1.3.x compatible compose-jb versions to be there soon.

[2022-10-12 12:57] mikepenz commented on #800
Could you possibly provide the rough configuration you apply for those variants / flavours? so I can try these out within the sample?

[2022-10-14 08:26] svenjacobs commented on #796
I have the same crash, however I use stable versions.

AboutLibraries: `10.5.0`
Compose: `1.2.1`
Compose Compiler: `1.3.2`
Kotlin: `1.7.20`

[2022-10-15 11:10] mikepenz commented on #796
Going to remove the experimental usage of `DialogProperties` in the next update, which will fix the crash at the cost of the license dialog being slightly less wide.

[2022-10-15 11:13] #796 closed

[2022-10-16 02:29] arkon opened #809 "v10.5.1 not published to Maven Central"
## About this issue

Renovate opened an automatic PR to bump the dependency, but the artifacts weren't found from Maven Central: https://github.com/tachiyomiorg/tachiyomi/pull/8207

I can verify that 10.5.1 does not appear in https://repo1.maven.org/maven2/com/mikepenz/aboutlibraries-compose/

## Details
- Used library version: 10.5.1

## Checklist

- [x] Searched for [similar issues](https://gith

[2022-10-16 06:31] mikepenz commented on #809
Sonatype had some issues yesterday and I couldn't yet publish the artifacts. Hope today works

[2022-10-16 07:09] mikepenz commented on #809
Looks things are back to normal. Just did the release via sonatype. Should become available on maven central in the next hour

[2022-10-16 07:10] #809 closed

[2022-10-18 11:07] jumpbayern commented on #800
Hello @mikepenz,

sorry for the late reply.

I have added different ProductFlavors to your example. When you do this, .json files are created, but without content.

[TestDependencies_neu.zip](https://github.com/mikepenz/AboutLibraries/files/9809652/TestDependencies_neu.zip)

[2022-10-28 09:08] mikepenz commented on #800
Thank you for providing the project. T

here must be something different happening. Opened the project. And just pressed the run button to install it in the emulator. Which would generate the respective json file below:

[code]

Did this on MacOS Ventura (and on 12.x before).

[2022-11-23 02:45] apkelly opened #813 "Feature Request - Please add a pretty print option for the output json."
## About this issue
I'd like a pretty print option for the output json, since each time I generate a new file for inclusion in my source repository, it looks like the whole file is changed (since its just a single line of json). Whereas, if the json was "pretty", I'd be able to tell more easily which library licenses have been added/removed since the last check-in.

## Details
- [ ] Used library v

[2022-11-23 03:03] apkelly opened #814 "Feature Request - exportPath dynamic for each build variant."
## About this issue

- Briefly describe the issue
I currently use a command like this to generate my aboutlicense.json file

`./gradlew app:exportLibraryDefinitions -PaboutLibraries.exportPath=src/main/assets/ -PaboutLibraries.exportVariant=dimensionRelease`

Where `dimension` is different components of my build variant. Different variants will possibly have different included libraries e.g. a "pr

[2022-11-23 08:46] mikepenz commented on #813
Thank you for the suggestion. that's a great idea

[2022-11-23 08:53] mikepenz commented on #814
@apkelly thank you for describing your usecase.

I may need some more information to better understand the benefit.

As you describe, you are passing the `exportPath` and `exportVariant` already. E.g. you will probably have multiple such export steps for the different variants.

What would the major benefit of the exportPath internally identifying the variant specific folder? As I assume this is o

[2022-11-23 16:38] leinardi opened #816 "[Question] Any plan to support/migrate to Material 3?"
Any plan to migrate or provide a Material 3 version of the Library?

Currently all the material colors are referring to `androidx.compose.material.MaterialTheme.colors`, while to properly support M3, they should refer to `androidx.compose.material3.MaterialTheme.colorScheme`. Same for `MaterialTheme.typography`.

[2022-11-23 16:44] mikepenz commented on #816
@leinardi thank you for the report.

While I don't have a timeline. You can already use the material3 colors today by passing in the `libraryColors` you want to use: https://github.com/mikepenz/AboutLibraries/blob/develop/aboutlibraries-compose/src/androidMain/kotlin/com/mikepenz/aboutlibraries/ui/compose/Libraries.kt#L47

[2022-11-23 16:46] leinardi commented on #816
Yep, I know about the `libraryColors` (btw, I just made a PR related to it). I was just curious if the M3 migration was already planned or not :slightly_smiling_face:

[2022-11-23 17:04] mikepenz commented on #816
Thank you very much. Really appreciated.

[2022-11-24 08:44] gelhan opened #817 "Library definitions cannot be generated due to missing variant"
## About this issue

- I have three build types in my project, named "debug", "qtest" and "release".
- I have two product flavors called "standard", "device".
- When I try to build the app with the build variant "standardDebug" or "standardRelease", all libraries from the project are generated and are displayed in the app.
- Only when I try to build the app in the build variant "standardQtest", th

[2022-11-24 08:47] mikepenz commented on #817
Thank you for the report.

Do you have a sample gradle configuration I could use to try to reproduce this locally? Or reproduce as part of the sample app?

[2022-11-24 09:57] gelhan commented on #817
Sample gradle config:

`android {
    compileSdkVersion 33
    defaultConfig {
        applicationId "xxx"
        applicationIdSuffix ".yyy"

        proguardFiles getDefaultProguardFile('proguard-android-optimize.txt'), 'proguard-rules.pro'
        minSdkVersion 26
        targetSdkVersion 33

        int localVersionCode = 1000
        String systemEnvBuildNumber = System.getenv('BUILD_NUMBER')

[2022-11-24 10:10] #813 closed

[2022-11-24 10:13] mikepenz commented on #816
Explored Material 3 for compose.

It still is marked as experimental via `compose-jb` at least.

Will wait for the upgrade until it is no longer experimental.

Thanks for raising the question

[2022-11-24 10:13] #816 closed

[2022-11-24 12:44] mikepenz commented on #817
Thanks for that. It's due to the name you use for this flavour.

The plugin marks it as a `test` variant and ignores it as such :/
Will fix it as part of the next update.

[2022-11-24 12:56] #817 closed

[2022-11-24 13:22] apkelly commented on #814
The app I work on is branded for different clients, and also runs on different vendor hardware (each with their own SDKs)....its not an app for mobile phones, so we have lots of different "release" builds.

I like the idea of manually running the export command, but I wanted to see if there was a way to cut down on the configuration, so that `exportPath` could be defined in my `aboutlibraries` sec

[2022-11-24 13:29] mikepenz commented on #814
Oh I see. So it's not an Android project, as such the automatic registration for `android` build tasks won't work.

Not sure how much can be reproduced of that as part of the sample app. But it may be worth exploring to add some of these variants to the `app-desktop` sample we have, and then see if something similar like we do for Android (https://github.com/mikepenz/AboutLibraries/blob/develop/pl

[2022-11-29 19:44] arekolek opened #824 "Support for third_party_licenses files from Google Play Services libraries"
## About this issue

Can this plugin also include libraries depended upon by the Google Play services libraries, like the https://github.com/google/play-services-plugins/tree/master/oss-licenses-plugin does?

In my case `oss-licenses-plugin` included additional 17 libraries because of Google Play services, and I'd prefer not to have to maintain it semi-manually and have to keep using `oss-licenses

[2022-11-29 19:52] mikepenz commented on #824
@arekolek thank you for the report.

I've had a look into the format they use in the past, and we may not benefit from the complexity of supporting it.

It is possibly worth to identify which additional libraries were found, and why the `oss-plugin` found them. E.g. was it in the `pom` or do they some manual process which can't be generically covered?

[2022-11-29 20:02] arekolek commented on #824
Thanks for the reply

I'm pretty sure of the 17 libraries I mentioned, none was in the `pom`, although I have checked only two of my Google dependencies that had included 7 such libraries.

According to https://github.com/google/play-services-plugins/issues/217#issuecomment-1047885621 they look only at `pom` in general and `third_party_licenses.(json|txt)` files in case of Google libs.

I linked a

[2022-11-29 20:09] arekolek commented on #824
Also to make it clear: I wouldn't want to include the `third_party_licenses` and `third_party_licenses_metadata` their plugin generates. I would like the `AboutLibraries` to:

1. Open the `.aar` file like they do https://github.com/google/play-services-plugins/blob/f2944253ea767292f7e2f1e1131ddbc4111bdbe4/oss-licenses-plugin/src/main/groovy/com/google/android/gms/oss/licenses/plugin/DependencyUtil

[2022-11-29 20:14] mikepenz commented on #824
Thank you for the additional references. I will need to spend some more time to get a better overview of what the effort may be to add support to handle this.

Currently I can't give a clear answer if this is something we'll be able to offer or when we may be able to offer it.

Given your research on the matter already, possibly this is something you'd like to contribute?